[2021-06-12 17:07] #6951 closed

[2021-06-12 17:07] RadostW commented on #6859
@jakevpd I've had a busy week, sry. It seems it worked out in the end, thanks :)

[2021-06-12 20:32] kingoflolz opened #6959 "multihost xmap regression"
There seems to be a regression from jax==0.2.12, where some multihost xmap formulations which used to work did not any more.

See below for example to reproduce:

repo.sh:
[code]

pssh.sh
[code]

To reproduce:
1. Create a v3-32
2. run `./pssh.sh <tpu name> repo.sh`
3. You should see: TypeError: Axis name dp used with inconsistent sizes: 1 != 4 in ./log/*

[2021-06-12 21:36] joacorapela opened #6960 "JAX BFGS runtime problem"
This issue related to #5284. The convergence problem was indeed solved. However the runtime of JAX with JIT compilation is two orders of magnitude higher than that of scipy.optimize with autograd
The output of the code given below is (the true convergence value should be 0.0):

[code]

[2021-06-13 14:49] jakevdp commented on #6960
Here are some related issues where the runtime of `jax.scipy.optimize` is discussed:  #6568 #5993 #5876

The short answer is: JAX is a different implementation and may be slower than scipy in some cases.

[2021-06-14 06:52] kingoflolz opened #6962 "xmap regression"
Possibly related to #6959 , but there seems to be additional regressions in xmap unrelated to the multi-host case. One simplified example is provided in the colab below:
https://colab.research.google.com/drive/18nU5rz8CF7YDYPSuPqJH38Dc7HkroYOn?usp=sharing

The example works with jax == 0.2.12, but not with the latest version.

Full stack trace:
[code]

[2021-06-14 07:53] gnecula commented on #4701
Have you considered using the Flax or Haiku libraries for writing models. You will likely find more examples for how to do things with neural networks in those libraries support channels.

[2021-06-14 16:24] jacksonwb commented on #6935
We will test with the version mentioned in in #6942. Much of our development is using TPU VMs, but the code for this project relies on kubernetes support and as such we need Cloud TPUs until we can figure something out.

Is there a list of tpu_driver releases? I haven't been able to find much documentation on released versions / changes.

[2021-06-14 18:56] mganahl commented on #6935
thanks @jekbradbury, the above code works with the version you mentioned, but we get OOM errors for problem sizes that work with e.g. `'tpu_driver0.1-dev20200911'` (as we do with the nightly built version).

[2021-06-15 06:50] gnecula opened #6973 "jax2tf shape polymorphism does not work with BatchNorm"
The root cause is a code snippet of the following form:

[code]

The issue is that `jnp.mean` tries to compute and divide by the size of `x`, which is not a constant.

[2021-06-15 08:46] dionhaefner commented on #6823
FWIW, this does not occur when I do

[code]

Could this be SciPy's internal OpenMP parallelization clashing with JAX's thread parallelism?

[2021-06-15 09:13] mganahl commented on #6935
Here is a minimal example that demonstrates the OOM issues we are seeing.

[code]
I'm wondering if the OOM errors are related to the compilation. The compilation times here are quite substantial (around 15 min).

[2021-06-15 11:15] gnecula opened #6975 "jax2tf error when taking gradients of a converted Haiku ResNet model"
The following code fails with an internal error in jax2tf when taking the gradient in TF.

Error (lots of pieces replaced with `...`):
[code]

The problem seems to arise for functions that take some integer inputs and only if the converted TF function is wrapper with `tf.function`

The code:

[code]

[2021-06-15 12:25] edimetia3d opened #6976 "Is doc in FAQ "Different kinds of JAX values" wrong ?"
Hi,

I am learning/reading the doc now,  and have a question in FAQ part

In "https://github.com/google/jax/blame/master/docs/faq.rst",  line 235

[code]
The doc says

But the example doenst work in my local env, and it doen't make sense for me now. the error message is

[code]

As far as I know, `x` is a traced object during the first run, and it only holds dtype and shape info, it may be right t

[2021-06-15 12:57] #6975 closed

[2021-06-15 16:20] jakevdp commented on #6976
Good catch – I think this should be `jnp.cos` rather than `np.cos` – it was probably missed last year when we changed the docs to use `import jax.numpy as jnp` rather than `import jax.numpy as np`.

I'll submit a fix.

[2021-06-15 16:35] jakevdp commented on #4701
I'm going to close this issue – I think referring to Flax or Haiku for this sort of problem is probably the best solution.

If there are further questions along these lines, please feel free to open a [new discussion](https://github.com/google/jax/discussions/new) about the specific issue you're having. Thanks!

[2021-06-15 16:35] #4701 closed

[2021-06-15 16:53] #6976 closed

[2021-06-15 17:44] jakevdp commented on #6960
A couple notes specific to your example:

- your `minimize_jit` timing is probably measuring compilation time rather than runtime – the Python-side runtime in your benchmark as written will be basically instantaneous because of [Asynchronous dispatch](https://jax.readthedocs.io/en/latest/async_dispatch.html) - you probably want to time `result.block_until_ready()`
- in general, JAX has some small

[2021-06-15 17:44] #6960 closed

[2021-06-15 21:48] Numeri commented on #6039
That's fair, I just thought it was a bug because it was only happening to me with JAX, and not with PyTorch (I can use much, much larger models with PyTorch, but the difference is only there for convolution layers). I assumed that it was my CUDA/cuDNN install, since PyTorch comes with a prepackaged install, as far as I understand. Personally, this still feels like a bug, but you're definitely righ

[2021-06-16 10:17] apaszke commented on #6962
The colab is not accessible for me, so I can't reproduce this. Can you please post a script or open up the notebook?

[2021-06-16 14:33] kingoflolz commented on #6962
Sorry about that, should be public now

[2021-06-16 18:10] seanmor5 opened #6989 "Dilated Reduce Window SegFault with S64 input on TPU"
Running on a Cloud TPU VM, dilated reduce window operations SegFault with S64 inputs:

[code]

Traceback if it's helpful

<details>
<pre>
https://symbolize.stripped_domain/r/?trace=7f86f745aa20,7f8704cd520f,7f86f73e2c13,7f86f73e2853,7f86f73e926d,7f86f73ebee0,7f86fbac40f9,7f86fbacb36a,7f86fbac65b7,7f86fbd4a98f,7f8704c75608&map=ca1b7ab241ee28147b3d590cadb5dc1b:7f86ef130000-7f86fc162b20
*** SIGSEGV (

[2021-06-16 19:09] dimitriv opened #6992 "Expose and plumb through a reduce_scatter lax collective"
Similarly to `jax.lax.all_gather`, please consider exposing a `jax.lax.reduce_scatter` primitive.

[2021-06-17 02:25] NeilGirdhar commented on #6853
You could also use `flax.struct.dataclass` and mark `num` as `pytree_node=False`.

[2021-06-17 10:31] brochier opened #6997 "Clarification on (GPU) memory usage when jitted function"
Hi,

I've been looking in the documentation and in the issues and couldn't find a precise answer. I think its quite important to clarify this for people (like me) who don't necessarily understand everything going on in the GPU when using JAX. My question is about the way functions are jitted. Suppose a function `myFunction` takes two parameters `(params, inputs)`, where `params` is potentially qui

[2021-06-17 12:14] PhilipVinc opened #7004 "[XLA?] jnp.log1p for complex inputs looses accuracy"
I think the complex implementation of `jax.numpy.log1p` has issues.
Could someone point me to where it's implemented? I find it hard to go through the tensorflow repository to find what i'm looking for...

Anyhow, with the latest releases of jax and jaxlib:

[code]

I would expect the same result for both real and complex valued cases.

For comparison, numpy does the correct thing:
[code]

I could

[2021-06-17 13:36] hawkinsp commented on #6989
This certainly shouldn't crash, but I will mention that `int64` math isn't native on TPUs, so you'd do better to avoid it if you can (e.g., use `int32` or `float`).

[2021-06-17 13:41] hawkinsp commented on #7004
The implementation XLA is using on CPU and GPU is here:
https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/compiler/xla/service/elemental_ir_emitter.cc;l=572

It looks like the Julia implementation is certainly simpler.

[2021-06-17 13:52] PhilipVinc commented on #7004
Thanks for the link!

Looking at the implementation, `log1p(a+bi) = .5*log((a+1)^2+b^2) + i*atan2(b, a + 1)` where a is the real part and b is the imaginary part, it seems that when `b=0` this reduces to `log1p(a+0i) = .5*log((1+a)^2)` which is the non-optimized formula.

I'm not trying to push for the julia implementation, which might have issues due to the if-else statements, but the current XLA

[2021-06-17 13:59] hawkinsp commented on #7004
Let me have a go at implementing the Julia version.

[2021-06-17 14:51] seanmor5 commented on #6989
Thank you @hawkinsp! We have a pretty large test suite that was built and tested on CPU/GPU and it took awhile to figure out what the problem was when the suite was just crashing on TPU. All of our other unsupported 64-bit tests would raise a clean error. We ended up tagging these tests to be skipped on TPU anyway, but I figured it shouldn't crash. Thanks again!

[2021-06-17 17:11] jakevdp commented on #5746
Done in #6585

[2021-06-17 18:16] mjsML commented on #6887
@kaushikb11 yes ... if you remove [this line](https://github.com/google/jax/blob/main/jax/lib/xla_bridge.py#L221) it *should* work?

[2021-06-17 18:18] kaushikb11 commented on #6887
@mjsML Tried that, even did it with `cache.clear`. Unfortunately, didn't work.

[2021-06-17 19:20] hawkinsp commented on #7004
By the way, I'm not sure classic NumPy *is* doing the right thing here:
[code]

If I'm reading the right code, it's pretty similar to the current XLA one:
https://github.com/numpy/numpy/blob/623bc1fae1d47df24e7f1e29321d0c0ba2771ce0/numpy/core/src/umath/funcs.inc.src#L329

[2021-06-17 20:08] mjsML commented on #6887
@kaushikb11 a hacky workaround is to go to nuclear :
[code]

[2021-06-17 20:09] noahtren opened #7009 "jax.lax.scan for recurrent models on very long sequences: can it be done?"
I'm curious if `jax.lax.scan` can reliably deliver high speeds on GPU/TPU for long sequences, in the range of 10k+ samples. For example, multiple seconds of audio will be 30k+ samples. I want to know if we can expect recurrent-ish models written in JAX to be as fast or faster than CUDA RNNs.

I've been finding that hardware acceleration with my `scan`-based code either causes a slowdown (GPU) or m

[2021-06-17 20:10] noahtren commented on #7009
@jekbradbury

[2021-06-17 20:14] noahtren commented on #7009
Some more info:
* I found that removing a call to `jax.random.split` inside each recurrent step actually increased the speed 50%
* I reimplemented my model in TensorFlow and modeled it with `tf.function` and `tf.while_loop`, and it is slower than my model in JAX. This makes me think that custom recurrent loops are just hard to write in general?

[2021-06-17 20:16] noahtren commented on #7009
Related issue: https://github.com/google/jax/issues/2491

[2021-06-17 21:37] shoyer opened #7010 "Make the default matmul precision float32 even on TPUs"
Follow-up from https://github.com/google/jax/issues/2161:

The default low precision is a bit of a footgun, at least when doing anything that isn't implementing a neural net layer. In my opinion, it would be much safer to use "highest" precision by default (which isn't that much slower) on float32 data. Neural net libraries, of course, can default to lower precision, so this really only effects us

[2021-06-17 22:06] davmre opened #7011 "eval_shape appears to hang when tracing a large random sample"
Calling

[code]

returns `ShapeDtypeStruct(shape=(100000000000,), dtype=float32)`. I'd expect that calling

[code]

would similarly return `ShapeDtypeStruct(shape=(100000000000,100000000000), dtype=float32)` (of course, if we *actually* ran the function we'd get an OOM error).

But instead, this call seems to end up in an ~infinite loop (at least, it hangs for > 2 minutes). Reproduction here:
http

[2021-06-17 22:46] jakevdp commented on #7011
It looks like this comes from the implementation of `_random_bits`, specifically this part: https://github.com/google/jax/blob/1d0c461ea67db683206d2643a5b377f2f8ff2e84/jax/_src/random.py#L306-L312

If the number of generated numbers is larger than the largest uint32, the implementation stacks multiple calls to the underlying random number generator in a Python loop. Since these calls are required

[2021-06-17 23:15] jakevdp commented on #7011
The fix did not turn out to be so bad: see #7012

[2021-06-18 03:06] davmre commented on #7011
Thanks for looking into this! The context was that we (TFP) are using `eval_shape` and its TF equivalent to inspect properties of joint distribution models, and to test this we wrote code like the above example that's intended to work under `eval_shape` but crash if the ops are actually executed. So it was surprising when the code also didn't work under `eval_shape`. :-) Not mission critical since

[2021-06-18 12:57] avital commented on #971
@hawkinsp shared this:

[2021-06-18 13:10] hawkinsp commented on #7004
We came up with a simpler fix that seems to work, at least in this case:
[code]

It has the additional advantage of being robust to reassociation; the `z + 1 - 1` currently gets constant-folded in some cases to `z + (1 - 1)`.

[2021-06-18 13:17] hawkinsp commented on #971
Here's a slightly better thing to use: `jax.default_backend()`. JAX defaults to a GPU or TPU if you have one. So you can just check it doesn't return `"cpu"`.

[2021-06-18 14:03] sjherzog opened #7019 "Trigonometric functions different results for numpy and jax.numpy"
Dear Devs,

while porting a numerical simulation from numpy to jax.numpy i noticed that the trigonometric function of jax.numpy and numpy give different results. The error becomes smaller when using float64, but is still significant. Here is some source code where you can observe the phenomenon:

[code]

I've been able to reproduce this on two different computers with

jaxlib==0.1.67+cuda111 and j

[2021-06-18 14:13] jakevdp commented on #7019
In general I would not expect floating point computations of transendental functions to produce exactly equal results when computed on different platforms (here JAX on GPU vs. numpy on CPU). Rather than checking for exact equality, you might check for equality within floating point precision using something like `numpy.allclose`.

[2021-06-18 14:15] hawkinsp commented on #7019
On GPU, for `sin` and `cos`, XLA ultimately calls `nv_sinf` and `nv_cosf` which are accurate to 2 ULP (https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#standard-functions).

I suggest using `np.testing.assert_array_almost_equal_nulp(jnp.sin(x_jax), np.sin(x_np), nulp=2)` to compare.

I note our `tanh` is slightly less accurate; if that turns out to be a problem we can look into it.

[2021-06-18 14:26] sjherzog commented on #7019
For me, the `tanh` would indeed be the relevant one

[2021-06-18 14:31] PhilipVinc commented on #7004
This looks great, and increases precision because you are now using the real-valued log1p...

Thanks!

[2021-06-18 14:43] hawkinsp commented on #7019
@sjherzog can you say how many ulps of accuracy you need and why? Again expecting exact equality is not reasonable.

[2021-06-18 15:07] sjherzog commented on #7019
@hawkinsp Sure, I’m simulating a chaotic system to describe the electrophysiological behaviour of cardiac muscle cells. Since the system is chaotic, even the smallest errors add up to an exponentially increasing error. I would then like to use the simulation to find new patterns that allow for gentler defibrillation.

I understand that I should not expect to have the same accuracy between two arch

[2021-06-18 15:15] hawkinsp commented on #7019
@sjherzog No, even Nvidia's `tanh` is only accurate to 2 ULP. (See https://en.wikipedia.org/wiki/Unit_in_the_last_place for what ULP means, note that an ULP is a type and value dependent accuracy bound.)

For `float64` XLA calls NVidia's implementation. For `float32` XLA uses a faster and less accurate tanh on purpose, because `tanh` is a key operation for neural networks. See: https://cs.opensour

[2021-06-18 15:25] sjherzog commented on #7019
@hawkinsp ahh i misunderstood, thanks for that!

As for the comparison to a multiprecision implementation, i once compared the duration of the transient chaos that exists in the system with the duration from a fortran implementation of mine. The duration of the numpy simulation and the fortran simulation was the same, but in the jax.numpy version the errors accumulated too much and the duration of

[2021-06-18 15:25] #7019 closed

[2021-06-18 15:44] hawkinsp commented on #7004
This is now fixed at jaxlib head. Hope that helps!

[2021-06-18 15:44] #7004 closed

[2021-06-18 15:47] #7011 closed

[2021-06-18 18:11] seanmor5 opened #7020 "atan2 on TPU inconsistent result"
I apologize if this has been mentioned before - I wasn't able to find an open issue elsewhere. The result of `atan2` on TPU is inconsistent with CPU/GPU and is (maybe?) incorrect:

CPU:
[code]

TPU:
[code]

As defined I guess atan2 is supposed to be undefined at 0, but going with https://en.cppreference.com/w/cpp/numeric/math/atan2 and other definitions isn't the CPU result correct in this case?

[2021-06-18 19:39] hawkinsp commented on #7020
I filed an internal bug against the XLA folks. IEEE754-2008 explicitly specifies the behavior you describe.

[2021-06-18 20:12] jekbradbury commented on #7009
The code snippet you posted isn't self-contained enough; we'd need either your `model.apply` code (presumably a Flax neural net) or a representative replacement for it.

[2021-06-18 20:27] zhangqiaorjc commented on #6772
@jackd I'm looking into implementing this `is_ready` API now

It won't block the caller the way `block_until_ready` does, but it would still require a mutex in its implementation.

Is `is_ready` a good enough API for the kinds of async stuff you are doing?

[2021-06-18 20:32] hawkinsp commented on #6772
To add to that: it wasn't totally clear to us what you would be able to do with an `is_ready()` API if we provided one. Can you say more?

[2021-06-18 22:19] NeilGirdhar opened #7024 "Extremely slow GPU execution"
The following code is almost instantaneous (<1ms) on the CPU, but is extremely slow on the GPU (7s).  I'm trying to track down the source of the problem.  I have pared down my code from 5000 lines down to 80 lines, and I don't think I can remove any more.  I have added comments in places that I found that have surprising (to me) effects on the GPU run time.

How can I make this code run faster on

[2021-06-18 22:34] mattjj commented on #7024
Thanks for raising this, and for working so hard to minimize it!

The best tool here is to [use profiling](https://jax.readthedocs.io/en/latest/profiling.html). If you can get a profile showing a realistic workload, we can really dig in to what improvements can be made (either to your code, to JAX itself, or to XLA:GPU).

There's one effect that would explain one of your comments, though I don't t

[2021-06-18 22:38] mattjj commented on #7009
@noahtren thanks for raising this. Let's try to sort out what's going on!

The most helpful thing would be if you could [grab a profile](https://jax.readthedocs.io/en/latest/profiling.html) and share it. Does that sound feasible?

(A priori, the slicing and updating you're doing looks like the right way to write things!)

[2021-06-18 22:51] mattjj commented on #6997
Thanks for the question!

If I understand correctly, you're asking about the size of the compilation cache, since you're talking about having to recompile. Is that right?

The size of an XLA executable, e.g. backing each `batch_size`-specialized version of a function, doesn't depend on the size of its input parameters. That is, in this snippet:

[code]

I would expect the memory used by the compil

[2021-06-18 23:38] jakevdp opened #7026 "jax.numpy.transpose does not sufficiently validate inputs"
For example:
[code]

[2021-06-18 23:40] NeilGirdhar commented on #7024
Thank you so much for the lightning fast reply!

The first thing I tried was profiling, but I just couldn't make sense of all the information.  I even tried using jax.profiler.TraceAnnotation to improve the output, but it was still opaque to me.  Here's the capture from my actual program:
[tfevents.tar.gz](https://github.com/google/jax/files/6679633/tfevents.tar.gz)

Thanks for explaining that!  I

[2021-06-19 00:56] mattjj commented on #7024
Well, I wouldn't suggest using `scan`, because I'm pretty sure XLA will do that optimization for you when you make the trip count static (as you did in the example). So there's nothing additional to be gained by using `scan` I don't think.

Yes that comment is related.

[code]

For this part, because XLA:GPU is likely calling into pre-packaged CUDA kernels for the dot (unless it knows it can gener

[2021-06-19 00:58] mattjj commented on #7024
About the profile: would it be possible to share a screenshot of the TensorBoard visualization? A screenshot is easy to act on, and to show to others!

[2021-06-19 01:08] NeilGirdhar commented on #7024
Okay that explains why the speedup matches just making it static.  One benefit to scan is that it's an assertion that the iteration limit is static.  There's no `jax.assert_is_static`, right?

I considered this.  This gets inelegant very quickly, but it may be my best bet.  I could essentially change my complicated scan program into a sequence of vectorized programs that I run in sequence, like a

[2021-06-19 08:17] jackd commented on #6772
@zhangqiaorjc I believe either an `is_ready()` or `on_done(callback)` would be enough (one can be implemented in terms of the other). I would have thought `on_done` would be easier to implement since it's just `id_tap` without copying data from device to host - but that's based on zero understanding of jax internals.

@hawkinsp Ideally I'd like to coordinate different processes on multiple devices

[2021-06-19 14:19] woct0rdho opened #7029 "How to use `named_call` in jitted functions"
I'm trying to profile my code and use `named_call` to annotate some functions, but the names will not show up in the captured trace if they're inside jitted functions.

Here is my test script (`test_named_call.py`):
[code]

My environments: Ubuntu 20.04, Python 3.8.5, CUDA 11.3, jax 0.2.14, jaxlib 0.1.67+cuda111, tensorflow 2.5.0, tbp-nightly 2.5.0a20210511

![scrshot](https://user-images.githubus

[2021-06-19 16:38] #7026 closed

[2021-06-19 22:43] Zumbalamambo opened #7032 "Jax Numpy is not returning any result"
I have got the following code that warps the  bounding box

[code]

I called it using `jax.jit(jx_warp)(...)` . Unfortunately, it is not returning any values.

[2021-06-20 14:30] jakevdp commented on #7032
Hi – it's not totally clear to me what "not returning any result" means (perhaps an example of what values you're calling it with would help) but I do see one issue with your code: using statements like:
[code]
will fail with JAX arrays because they are immutable (See [JAX Sharp Bits: 🔪 In-Place Updates](https://jax.readthedocs.io/en/latest/notebooks/Common_Gotchas_in_JAX.html#in-place-updates) fo

[2021-06-20 15:28] Zumbalamambo commented on #7032
@jakevdp thank you!... here is my updated code,

[code]

but still it isn't returning any results :(

[2021-06-20 17:58] jakevdp commented on #7032
Your use of the `at` operator was a bit off. I think you want something like this:
[code]

[2021-06-20 20:35] Zumbalamambo commented on #7032
thank you!

[2021-06-20 20:35] #7032 closed

[2021-06-20 21:50] zhangqiaorjc commented on #6772
@jackd thanks for the extra context!

looks like `x.is_ready` results in busy polling while `x.on_done` avoids that

@hawkinsp if there are no hidden problems I'm not seeing, `on_done` is strictly better

[2021-06-21 04:59] jekbradbury commented on #7029
I think the core issue here is the lack of the "TensorFlow" (really TF/JAX) row on the open source profiler trace viewer for GPU. Maybe @yisitu knows if this is a known issue?

[2021-06-21 06:20] tomhennigan commented on #7029
FYI this was previously an issue (see internal bug: 183181931) but I think the jaxlib version you're using is new enough to include the appropriate fix so I'm confused.

[2021-06-21 07:45] brochier commented on #6997
Thanks for your detailed answer !  Your last sentence makes it perfectly clear. Btw, do you know any blog post or documentation that explains how a GPU works and how XLA/CUDA use them ?

[2021-06-21 08:52] remifan commented on #6853
Thanks for providing specific Flax solution, it is working.

[2021-06-21 13:03] hawkinsp commented on #7020
This issue is fixed at XLA head. I would imagine the fix would be present in the next release or nightly build of `libtpu`.

[2021-06-21 13:03] #7020 closed

[2021-06-21 13:26] JingZhang918 commented on #507
Hallo, Did you fix this problem eventually?

[2021-06-21 13:31] hawkinsp commented on #507
For Mac M1, see https://github.com/google/jax/issues/5501 . There are no Mac ARM wheels because we don't have the hardware to build them ourselves, but you can build jaxlib from source for Mac ARM.

[2021-06-21 13:33] hawkinsp commented on #5501
It seems from the `scipy` issue that they are currently targeting 1.7.1 for Mac ARM wheels.

The remaining action item on the JAX side is then (eventually) to build Mac M1 wheels as part of our release process.

[2021-06-21 14:25] j-towns commented on #7010
I would argue this is also a footgun for some neural net use cases. Both of the two times that I’ve carefully re-implemented a model in JAX, I’ve found that performance is worse than expected with the default precision and it took me some time to realise that precision was the cause.

As a (temporary) improvement on the current situation, we could at least add some information on this issue to poi

[2021-06-21 15:42] jakevdp opened #7039 "CI fails due to scipy 1.7.0"
The new scipy release causes test failures: https://github.com/google/jax/runs/2875466140

[2021-06-21 16:02] jakevdp commented on #7039
Appears to be due to https://github.com/scipy/scipy/issues/13362

[2021-06-21 20:59] #7039 closed

[2021-06-21 22:10] NeilGirdhar commented on #7024
I made your two suggested changes, and the runtime went from 0.69s down to 0.13s:

- I replaced `jax.while` with `jax.scan`, and
- I call normal once to generate all the random numbers outside the loop.

It's still much slower than running this on the CPU, and I don't understand why.

In my real code, I can unroll the `while` loop over 8000 iterations by replacing it with a while loop over 8 itera

[2021-06-21 22:27] #5325 closed

[2021-06-21 22:29] zhangqiaorjc commented on #6637
@erwincoumans thanks for the showing the workarounds! i have forwarded this issue to my coworkers in https://github.com/tensorflow/runtime since the underlying compiler errors come from TFRT and was recently introduced due to the new JAX/TFRT CPU backend I added. There's a related effort to get TFRT built on Windows in https://github.com/tensorflow/runtime/pull/60

I've also changed our build scri

[2021-06-21 22:52] AkshayRoyal opened #7046 "GPU Memory usage of jax.numpy more than the actual size of the array"
Environment Specification
OS: Fedora 33
GPU : NVIDIA GeForce RTX 2070
CUDA Cores :2304
Total Dedicated Memory : 7982MB
Platform : Jupyter notebook (Anaconda virtual env)

[code]
I check the GPU usage before running the code on jupyter notebook and then just after the execution of the above code.
The memory usage of GPU is far too much compared to the size of the array
Before Running the code : GPU

[2021-06-21 23:05] mattjj commented on #7024
By the way, `scan` has a useful `unroll` option which will do this for you, so it should be easy to experiment:

https://jax.readthedocs.io/en/latest/_autosummary/jax.lax.scan.html

(I should've mentioned that earlier!)

[2021-06-21 23:09] mattjj commented on #7024
That's right.

Basically the one that looks something like this:

![image](https://user-images.githubusercontent.com/1458824/122838407-e567f200-d2aa-11eb-946c-ff9d39b5116d.png)

I think it's called the [Trace Viewer, described here in the TensorBoard docs](https://www.tensorflow.org/tensorboard/tensorboard_profiling_keras#use_the_tensorflow_profiler_to_profile_model_training_performance).

I think

[2021-06-21 23:10] mattjj commented on #7024
There's good documentation on how to use the trace viewer, but unfortunately it looks like it's all Google-internal, and hasn't been open-sourced yet...

[2021-06-21 23:16] NeilGirdhar commented on #7024
I know that `scan` has an unroll, but `while` doesn't 😄.   I realize that unrolling a while loop can change behavior since the condition is checked less often, but it doesn't matter to me since I'm using it for finding a fixed point.  I considered proposing adding a corresponding `unroll` to `while`, but I can do it on my side, so it's not such a big deal.

[2021-06-21 23:19] jakevdp commented on #7046
Hi - thanks for the question. This is expected due to JAX's pre-allocation of GPU memory; see https://jax.readthedocs.io/en/latest/gpu_memory_allocation.html for details.

[2021-06-21 23:25] AkshayRoyal commented on #7046
Thank you @jakevdp  for your prompt response.

[2021-06-21 23:25] #7046 closed

[2021-06-22 00:57] NeilGirdhar commented on #7024
Here are the screenshots you requested.  Again, thanks for all your help!
![Trace Screenshot 1](https://user-images.githubusercontent.com/730137/122846180-4d323300-d2d3-11eb-9c5a-1cdfa9b40462.png)
![Trace Screenshot 2](https://user-images.githubusercontent.com/730137/122846181-4dcac980-d2d3-11eb-9026-9a2c2e23136b.png)

[2021-06-22 01:21] NeilGirdhar commented on #7024
I don't understand why you say that

How is that better than just generating one kernel to do both things at once?  Is this XLA generator code something I can look at?  I guess it's not [here](https://github.com/google/jax/tree/main/jaxlib)?

[2021-06-22 02:10] mattjj commented on #7024
XLA:GPU is [all open-source](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/compiler/xla)!

XLA:GPU's hands are tied here, because the way to generate the fastest GPU kernels for matmul and conv are proprietary. Only Nvidia can do it, and they release those kernels as binaries. That's what cuBLAS, cuDNN, etc are. There are many such kernels; XLA:GPU does autotuning and kernel sele

[2021-06-22 03:11] Jeevesh8 commented on #2108
Does ```jax.device(None)``` work as expected with the new Jax release?

[2021-06-22 08:27] apaszke opened #7047 "custom_vjp (and jvp) doesn't support collectives"
The following crashes (reported by @sharadmv):
[code]

Most likely this is because the `custom_vjp` gets no batching tracers as inputs, entirely skipping the batching interpreter, while it really needs to get triggered to desugar the psum over the axis name into a positional one.

[2021-06-22 11:20] gnecula opened #7048 "[call_tf] Error when applying to a TF function with unknown output shape restored from a SavedModel"
It seems that when we load a function from a SavedModel and the function has outputs of unknown shape, then `call_tf` fails with the following error:
[code]

This is the repro:
[code]

[2021-06-22 11:22] gnecula commented on #7048
It seems that the problem is the loaded function graph contains some TF ops, e.g., `PartitionedCall` which during shape inference return unknown shape even if all the input shapes are known. For a general TF graph, this can happen, because there are TF ops whose output shape is data dependent. Is this the case with the TF ops that jax2tf generates? Perhaps.

[2021-06-22 13:40] hawkinsp commented on #5581
This issue should now be fixed if you use both `jax` and `jaxlib` from head.

[2021-06-22 17:58] noahtren commented on #7009
Here's a [gist](https://gist.github.com/noahtren/fc4147105eaba38f19fb2ed4c2a0555b) of the full forward pass. I refactored the earlier code, now using Flax's lifted transformations (`nn.scan` and `nn.remat`, which saves a *lot* of memory,) but speed performance is roughly the same as before.

You'll see that I'm doing a couple dynamic slices and one dynamic update for each iteration. Besides that,

[2021-06-22 17:59] noahtren commented on #7009
Thanks! I can profile this for sure, what's the easiest way to share a profile? (I could share a path on a public cloud bucket with my TensorBoard logs, which are <1GB.)

[2021-06-22 18:21] jakevdp opened #7052 "Current JAX release incompatible with numpy 1.21"
Numpy 1.21 was released a few hours ago, and appears incompatible with the current jaxlib release.

[2021-06-22 18:39] shawwn commented on #2108
Update: as of June 2021, I'm pleased to say that you *can* do every single thing I was hoping for. E.g. every TPU has 335GB of RAM, and you can use it however you wish.

Here's an example of how to transfer grads from XLA core memory to the host VM in Jax:

https://github.com/kingoflolz/swarm-jax/blob/62cd943ba38c3aa8262b23e45f80870c7e7434f6/swarm_jax/swarm_layer.py#L49

[code]

Straightforward.

[2021-06-22 19:16] reza-amd opened #7054 "Unit test "tests/x64_context_test.py::X64ContextTests::test_near_singular_inverse" fails when the input matrix is batched"
Please apply the following patch to run the "test_near_singular_inverse" with batched inverse:

[code]
and then run the unit test as following. The test will eventually fails.
[code]
I believe this issue comes from the fact that JAX uses XLA implementation for unbatched version and internal implementation for batched version ([please look here](https://github.com/google/jax/blob/main/jax/_src/lax/

[2021-06-22 19:43] skye commented on #2108
Wow @shawwn, this is probably the longest, nicest, strangest thing anyone will ever post on the jax github tracker :heart: (Prove me wrong!) Thank you for the _many_ kind words about JAX, Cloud TPU VMs, and TRC. I feel like I should put this on my resume or something -- delighting users is passé, success is now measured in RPG-style second-person narratives inspired by one's software project.

I w

[2021-06-22 19:43] #2108 closed

[2021-06-22 19:50] skye commented on #2108
Wow @shawwn, this is probably the longest, nicest, strangest thing anyone will ever post on the jax github tracker :heart: (Prove me wrong!) Thank you for the many kind words about JAX, Cloud TPU VMs, and TRC. I feel like I should put this on my resume or something -- delighting users is passé, success is now measured in RPG-style second-person narratives inspired by one's software project.

I wan

[2021-06-22 21:47] zhangqiaorjc commented on #5337
For gpu, you may need the following changes

1. header include
#include "tensorflow/compiler/xla/pjrt/cpu_device.h"
-->
#include "tensorflow/compiler/xla/pjrt/gpu_device.h"

2. xla::GetCpuClient --> xla::GetGpuClient

3. BUILD dep change

"//tensorflow/compiler/xla/pjrt:cpu_device",
-->
"//tensorflow/compiler/xla/pjrt:gpu_device",

[2021-06-22 21:49] jakevdp commented on #7054
Hi - thanks for the report. The code you linked to is in the GPU translation rule. Just to confirm: are you running this on a GPU?

[2021-06-22 21:51] jakevdp commented on #7054
Now that I look at it, there is a similar pattern for CPU.

Can you say more about what issue this difference in implementation between batched and unbatched results is causing for you?

[2021-06-22 21:53] zhangqiaorjc commented on #5337
PJRT is the lowest level runtime API, and only advisable if one wants to avoid direct TF deps.

Otherwise, please use jax2tf and the usual TF C++ server for running a SavedModel.

https://github.com/google/jax/tree/main/jax/experimental/jax2tf

[2021-06-22 22:01] zhangqiaorjc commented on #7054
@hawkinsp maybe we need to set

tensorflow::port::ScopedFlushDenormal flush;

for Gpu PJRT?

[2021-06-22 22:11] jakevdp commented on #7054
Here's a more to-the-point demonstration of the difference in behavior between batched & unbatched inverse (run on colab CPU):
[code]

[2021-06-22 22:31] shoyer commented on #7052
https://github.com/numpy/numpy/issues/19305 is the source of one of the remaining errors.

[2021-06-22 22:32] shoyer commented on #7010
https://github.com/google/jax/pull/6143 added a config flag, so this should in principle be easier to change now.

[2021-06-22 23:04] reza-amd commented on #7054
Hi Jake,

Yes, I am running this on GPU. I have access to both AMD and Nvidia GPUs.

I am working for AMD - ML framework team. My recent project is to support JAX on ROCm stack. I first saw this issue when I tried to run X64ContextTests unit tests on ROCm and AMD GPUs. After running these tests (unbatched) on Nvidia and AMD GPUs, I found Nvidia passed the test, but AMD did not. I tried to track th

[2021-06-23 02:38] zhangqiaorjc commented on #6637
https://github.com/google/jax/pull/7045 is in

Could someone build from source again and paste the compiler error message?

[2021-06-23 06:20] msaroufim commented on #2108
So my new life goal is for someone to write about my product the same way @shawwn

[2021-06-23 08:22] apaszke opened #7063 "Loops don't track axis names correctly"
As reported by @sharadmv:
[code]

[2021-06-23 09:09] bubblingoak commented on #6637
I've just tried installing with:
- bazel 4.1.0
- cuda 11.3, cudnn 8.2.1(.32), cuda compute capabilities 8.6,
- python 3.9, numpy 1.19.5, scipy 1.6.3

With this setup and a fresh clone of main I get
[code]

[2021-06-23 12:46] #6830 closed

[2021-06-23 13:08] hawkinsp commented on #7052
I've done all I plan to do on this for now: remaining is to release a new jaxlib (in progress) and to do something to fix or work around the numpy bug.

[2021-06-23 13:10] hawkinsp commented on #6863
Unassigning myself: this issue just needs someone to send a PR I think at this point!

[2021-06-23 13:11] hawkinsp commented on #6896
Closing since there's no way we can reproduce the problem. Please feel free to reopen if you have a reproduction we can debug.

[2021-06-23 13:11] #6896 closed

[2021-06-23 15:13] HaoLi-Math opened #7069 "Random nan values from vmap and grad function"
I am using Jax 0.2.13 on CPU. When I was training a neural network, I found there is Radom Nans in the output of the gradient of the rural network. The specific problem is as follows.

I found that when I try to feed 500 inputs to the function `vmap_implicit_net_u_t`, there is `nan` in the outputs while if I feed 100 each time, the `nan` disappear. The specific parameters for function `vmap_implic

[2021-06-23 15:31] apaszke commented on #7069
Thanks for the report! This definitely looks sketchy (vmap should not influence numerics), but it will be very difficult for us to nail down the issue given a script of this size. Also, I'm sorry but we cannot run anything that depends on pickled files, as those can execute arbitrary Python code. Isolating a smaller self-contained (incl. no external data) example that exhibits incorrect behaviors

[2021-06-23 15:39] apaszke commented on #7054
@jakevdp Isn't the matrix you've specified singular? It doesn't seem like it has a well-defined inverse, so any output is equally wrong. But the original issue seems legit.

[2021-06-23 15:44] apaszke commented on #7054
Also, it looks like for the batched case we're just calling to cusolver/rocsolver, so ultimately this might just point to numerical instability inside those libraries. I think that the only thing we could do is try always using the XLA implementation (which does seem to support batching). @hawkinsp given the numerical instability, should we keep using cusolver?

[2021-06-23 16:04] jakevdp commented on #7054
Yes, it's singular. My interpretation of the issue is that it surrounds batched vs non-batched inverses using different algorithms that handle ill-posed inputs differently; my example was meant to demonstrate that more succinctly.

[2021-06-23 16:05] jakevdp commented on #7052
Alright, I'll self-assign so I can close the issue after the next jaxlib release.

[2021-06-23 16:08] hawkinsp commented on #7052
Note that we can't close it until we do something to work around the numpy problem. It could just be skipping those tests under NumPy 1.21 for now.

If you want to try running the tests before the new jaxlib lands, apply the following patch:
[code]

[2021-06-23 16:28] jakevdp commented on #7052
Part of the action item here may be to add a CI job to detect these kinds of breakages before release. @shoyer pointed out the approach that xarray uses, which is a github action that runs tests against upstream dev versions and opens a github issue in case of failure: https://github.com/pydata/xarray/blob/main/.github/workflows/upstream-dev-ci.yaml

[2021-06-23 17:01] reza-amd commented on #7054
I agree that the cusolver path with fp32 leads to numerical instability. If I run the same example with fp64, it leads to a different result compared to the fp32.
[code]

[2021-06-23 18:11] jakevdp commented on #5944
I'm going to close this since it hasn't had any activity for a while. Please let us know if you have other questions or issues!

[2021-06-23 18:11] #5944 closed

[2021-06-23 19:40] oracle3001 opened #7079 "Jaxlib 0.1.68 Fails to Build on Windows"
With Python 3.8, Cuda 11.2, Bazel 4.1, build run with the following command

`python .\build\build.py --enable_cuda --cuda_path="C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v11.2" --cudnn_path="C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v11.2" --cuda_compute_capabilities="7.5" --cuda_version="11.2" --cudnn_version="8.1.0" --noenable_rocm --noenable_tpu`

results in the following err

[2021-06-23 19:54] jakevdp commented on #6853
It looks like this question has been answered; I'm going to close the issue. Feel free to open another if you have further questions!

[2021-06-23 19:54] #6853 closed

[2021-06-23 19:57] jakevdp commented on #6553
Closing, as I think this is expected behavior.

[2021-06-23 19:57] #6553 closed

[2021-06-23 20:30] jakevdp commented on #6122
Update: this is now fixed on TPU; still waiting on a fix for XLA-CPU and XLA-GPU

[2021-06-23 20:53] lukepfister opened #7081 "Can't import jax; module 'jaxlib.cusparse' has no attribute 'gtsv2'"
After updating to 0.2.15 and 0.1.68, I'm unable to import jax.
Using CUDA 11.0, Python 3.8, and jax versions:
[code]

Here's the full traceback:
[code]

[2021-06-23 21:01] jakevdp commented on #2988
I think this has been addressed as well as it can be.

[2021-06-23 21:01] #2988 closed

[2021-06-23 21:18] zhangqiaorjc commented on #7081
There was a breaking change checked in between when i started jaxlib 0.1.68 build and pushing it pypi..

We will soon release a new jax to fix this issue.

[2021-06-23 21:32] jakevdp commented on #7079
cross-ref #6637

[2021-06-23 21:37] zhangqiaorjc commented on #7079
We didn't actually fix windows build in between 0.1.66 and 0.1.68 due to limited bandwidth, but we did add something to the build script to print out the compilation error -- the long string starting with `b"external/llvm-project...`

I can now forward the compiler error messages to my TFRT coworkers and see if they can push a fix in TFRT codebase.

[2021-06-23 21:50] zhangqiaorjc commented on #7079
the actual error is that this static_assert failed

external/tf_runtime/include\tfrt/host_context/async_value.h(455): error C2338: Unexpected size for AsyncValue

The code is
[code]

https://github.com/tensorflow/runtime/blob/master/include/tfrt/host_context/async_value.h#L455

@oracle3001 unfortunately we can't tell what values does `sizeof(AsyncValue)` and `sizeof(void*)` get. Can you tell us wh

[2021-06-23 22:10] NeilGirdhar opened #7085 "Incorrect type annotation for ndarray.real"
[code]
I believe it should be `numpy.ndarray[Any, numpy.dtype[numpy.floating[Any, Any]]]`

[2021-06-23 22:17] #7085 closed

[2021-06-23 22:17] NeilGirdhar commented on #7085
Oops, wrong repo, sorry

[2021-06-23 22:18] oracle3001 commented on #7079
I have built the runtime code. Where do I look for the sizeof(AsyncValue) and sizeof(void*) ?

[2021-06-23 22:52] lukepfister commented on #7081
Fixed on 0.2.16.  Thanks for the quick response!

[2021-06-23 22:52] #7081 closed

[2021-06-23 23:12] zhangqiaorjc commented on #7079
The new error messages are for some other reasons...you can probably do just `bazel build //:hostcontext` since JAX doesn't depend on `//tools:` and get the exact same compilation error.

There might be a simpler way to check. Can you just run this C++ program?

$ cat sc.cc
#include <cstdio>
int main() {
  printf("sizeof(void*)=%d\n", sizeof(void*));
}
$ make sc
g++     sc.cc   -o sc
$ ./sc
sizeof

[2021-06-23 23:17] zhangqiaorjc commented on #7079
Let's also wait for this PR to land: https://github.com/tensorflow/runtime/pull/60

It should fix some of those Windows build issues due to TFRT

[2021-06-24 02:21] NeilGirdhar opened #7088 "jaxpr of summation is slightly inefficient"
[code]
Produces
[code]
It would be nice to ellide the zero from the sum.  (It already seems to know to cast the zero to the array's dtype.)

[2021-06-24 04:25] jakevdp commented on #7088
Thanks for the question! The reason the jaxpr includes an addition with zero is because this is what the Python `sum` function does: it starts with an initial value (here, zero) and adds each element of the list to it.

Python's `reduce`, on the other hand, starts with the first value in the list and adds the remaining values in turn. JAX's jaxpr representation simply records the sequence of opera

[2021-06-24 05:32] NeilGirdhar commented on #7088
Oh, that's really interesting.  I didn't know about `backend.compile`!  Thanks for clarifying.  I guess I can go back to using `sum`.

[2021-06-24 05:32] #7088 closed

[2021-06-24 06:32] bytbox commented on #6671
The error appears immediately upon `import jax` with jaxlib 0.1.68 installed. Thanks!

[2021-06-24 06:42] n-gao opened #7090 "Support size and axis argument for `jnp.unique`"
Please:

- [x] Check for duplicate requests.
- [x] Describe your goal, and if possible provide a code snippet with a motivating example.

Hi,
at the moment it is not possible to have `jnp.unique` functioning in jit with `axis` being something else than `None`. While the `size` argument is supposed to make `jnp.unique` jit compatible, it doesn't work with also the `axis` argument being set.

A simp

[2021-06-24 12:09] Jeevesh8 commented on #1223
@j-towns What happened? I am dealing with loops of this kind too. And it takes me similar amounts of time too. How did you optimize(if you were able to)?

Your gratefully

[2021-06-24 12:41] gnecula opened #7093 "Array constants are generated on the host during AD"
I noticed that the function `abstract_arrays.zeros_like_shaped_array` has code like `np.broadcast_to(np.array(0, aval.dtype), aval.shape)` (using regular NumPy). These values will be computed on the host during tracing and then may be passed to the device. Is this the desired behavior?

For example, when we take gradients of constant functions:
[code]

we get
[code]

where a 10x10 array of 0s is b

[2021-06-24 12:45] j-towns commented on #1223
Basically, CPU compilation is generally significantly slower than GPU and TPU. I'm gonna close this for now because it's not really a relevant problem for me any more. @Jeevesh8 you might be able to speed up compilation by using JAX's functional control flow functions (specifically the loop ones): https://jax.readthedocs.io/en/latest/jax.lax.html#control-flow-operators.

[2021-06-24 12:45] #1223 closed

[2021-06-24 14:31] HaoLi-Math commented on #7069
I am sorry for the external data and large size script. But the problem comes up during the training process. I tried a lot but still can not make the example smaller. Is it possible to just copy paste all the parameters here instead of external data? Without that to reproduce my problem I may need to put the whole training process here , which is costly and longer. Sorry for the trouble.

[2021-06-24 14:42] oracle3001 commented on #7079
From creating the suggested test application.

"sizeof(void*)=8"

[2021-06-24 14:51] jakevdp commented on #7090
Thanks - this is being tracked in #3614

[2021-06-24 14:51] #7090 closed

[2021-06-24 15:23] bensworth opened #7097 "Provide AArch64 (ARM) Linux jaxlib wheels"
Potentially related to https://github.com/google/jax/issues/6932 or https://github.com/google/jax/issues/7052.

I am using a heterogeneous cluster with various different compute options. I got Jax and Flax installed fine on the CPU system. Then I tried using a GPU node (specifically dual socket Cavium ThunderX2 99xx 32-core processors with two NVIDIA Tesla V100 GPUs), but am unable to install jaxl

[2021-06-24 15:27] hawkinsp commented on #7097
The issue is that we don't provide Linux AArch64 wheels for jaxlib. Cavium is an ARM machine.

I suspect you may be able to build jaxlib from source on those machines: https://jax.readthedocs.io/en/latest/developer.html#building-from-source

Try it out and see how it goes?

(I'm not sure we have the resources to make ARM builds right now, but I wouldn't rule it out for the future.)

[2021-06-24 16:03] #7052 closed

[2021-06-24 16:34] bensworth commented on #7097
Ah, that makes sense. Okay, for now I switched to a single socket Xeon E3-1585L v5 4-core processors with integrated Iris Pro P580 GPU to try and get something working. Here the wheels work fine and everything installs. I loaded a cuda/11.1 module and confirmed it is installed at `/usr/local/cuda-11.1/`, `nvcc` works as expected, and I confirmed the device via `lshw -C display`, but Jax cannot fin

[2021-06-24 17:00] jakevdp opened #7098 "Reverse-mode autodiff of custom_vjp fails"
Reported in #7092. Related to the comment here: https://github.com/google/jax/blob/97a5719fcb40af7231b5f803f965063538282f8e/jax/interpreters/ad.py#L198-L200

The issue is that in the backward pass over a custom JVP rule, variables that should correspond to cotangents may be erroneously treated as undefined values.

 Compact repro:
[code]
[code]

[2021-06-24 17:12] hawkinsp commented on #7097
@bensworth Unfortunately we don't support Intel (Iris) GPUs either. Currently your hardware options are CPU, NVidia GPU, AMD GPU, or Google TPU.

So perhaps your best bet is to use CPU on that machine or build jaxlib with CUDA support on ARM.

[2021-06-24 17:16] bensworth commented on #7097
Yep, realized that a few minutes after I posted, now I am on a Nvidia GPU and have things working! Previously I mostly worked with CPUs/MPI, didn't realize GPUs were so architecture specific. This issue can be closed unless you want to leave it open for somebody who may be able to build wheels for ARM or Intel; that's outside of my area of work though.

[2021-06-24 23:04] mattjj commented on #7093
This was intended at one point, pre-lazy-sublanguage and pre-omnistaging #3300, since [there is special logic for handling broadcasted numpy constants efficiently](https://github.com/google/jax/blob/df3cc0d9801cce71a8ce66306c816b1a7813b12b/jax/lib/xla_bridge.py#L539-L571) in XLA lowering. (Hence why it's written with `np.broadcast_to`, which uses stride tricks for the broadcasted representation, u

[2021-06-25 05:18] gnecula commented on #7093
Thanks, I can also do it.

[2021-06-25 10:04] degregat commented on #5048
Do I assume correctly that this evolved into [named axes](https://jax.readthedocs.io/en/latest/notebooks/xmap_tutorial.html), or is there another module I did not find?

[2021-06-25 10:32] gnecula commented on #7093
@mattjj I have started on this on #7102. The actual change to use lax instead of np is very small, but there are interactions with jax2tf (fixed) and with numpy 3.6.13 (not yet fixed). I can continue to work on this, just FYI, so that you don't start afresh.

[2021-06-25 15:23] mattjj commented on #3730
@fedelebron noticed some typos in the "some notes on the math" note linked above, specifically a couple places where ∂g(x) was supposed to be ∂g(h(x)). Here's [an updated pdf with notes on the math](https://github.com/google/jax/files/6717197/jet.pdf). Thanks, @fedelebron!

[2021-06-25 16:23] f0uriest commented on #4493
@mrorro Yeah I haven't been able to build any version since 0.1.55 either. It looks like at some point they switched some of the compiler flags to ones that are only defined for x86-64 architectures. Bazel supposedly lets you override these but I haven't gotten it to work yet.

[2021-06-25 17:01] #6058 closed

[2021-06-25 17:04] #4094 closed

[2021-06-26 00:00] hawkinsp commented on #4493
@f0uriest If you can share the output of the build, we might be able to suggest things to change.

I'd speculate there are two or three things you'd need to do :
a) update `build.py` to pass the correct flags, if it isn't already doing so.
b) make sure XLA links in the Power LLVM backend if targeting Power. There are already cases for x86 and ARM; I don't recall if Power is included.
c) add a Powe

[2021-06-26 00:15] froystig commented on #5048
That's correct.

[2021-06-26 19:29] 8bitmp3 opened #7115 "[Sharp Bits] Add grad of pmap 🙅‍♀️"
Idea: add "grad of pmap ⛔️ because memory" to the Sharp Bits (cc @skye)

[2021-06-26 20:16] ant-pls-dev opened #7116 "In-place operations with Jax don't seem to work"
For benchmark purpose, in an attempt to evaluate numba versus jax for some snippets of code, I tried the following :

[code]

Output on my machine :
[code]

"jax sum after" was expected to be equal to "nb sum after" :
- Why is x_jax not modified in place here?
- Is there an idiomatic way of doing "inplace_func_nb" with Jax' XLA:CPU, without creating intermediary arrays/buffer, and which is competi

[2021-06-26 20:20] ant-pls-dev commented on #7116
Note : the function does very trivial computations, however the numba jitted version is very fast (much faster than numpy), especially on larger-than-cache arrays

[2021-06-27 00:05] noanabeshima opened #7118 "Error message: CUBLAS_STATUS_NOT_INITIALIZED"
`nvcc --version` yields
[code]

I installed jax with

[code]

My code is
[code]

The program output is
[code]

[2021-06-27 04:01] jakevdp commented on #7116
Hi - thanks for the clear question and reproduction! To answer your questions

JAX arrays are immutable, and cannot be modified in-place. in general Python operations of the form `x = <expression>` do not modify the contents of `x` in-place, but rather assign the result of `<expression>` to the variable `x`. This is true of numpy as well, where if you write something like `x = 2 * x` it will not r

[2021-06-27 09:19] ant-pls-dev commented on #7116
Hello,

Thank you for the confirmation. I based this experiment on these bits from "The Sharp Bits" (https://jax.readthedocs.io/en/latest/notebooks/Common_Gotchas_in_JAX.html#index-update) :

(Nitpicking : Regarding "The Sharp Bits", according to #6706, "index_update" is deprecated in favor of ".at[i].set(...)", so maybe the Sharp Bits documentation is lagging a bit. I first tried with index_updat

[2021-06-27 09:19] #7116 closed

[2021-06-27 14:55] Jeevesh8 commented on #1223
Indeed I was able to speed up compilation by using Jax primitives. As it turns out that for loops will always be unrolled fully, and then optimized, whereas we can specify the amount of unroll in ``jax.lax.scan``. Thank you @j-towns .

But I observed something interesting. So initially, the function that I was ``jit/pmap``-ing was a function that had ``jax.value_and_grad`` within it. That is, I wa

[2021-06-27 17:05] Jeevesh8 commented on #7115
Ohhh.. yes please.. just encountered this issue, myself!

[2021-06-27 17:25] pharringtonp19 commented on #7118
@noanabeshima I am experiencing the same issue. The code runs fine though when I paste it into a Google Colab and connect to a local run time. I am not sure why there is a difference.

[2021-06-28 17:10] gnecula commented on #7048
Fixed by #7119

[2021-06-28 17:10] #7048 closed

[2021-06-28 17:20] gnecula opened #7123 "[call_tf] Error when taking jax.grad for a TF function restored from a SavedModel"
The repro at the moment involves Haiku, and it is somewhat long:

[code]

The error is
[code]

[2021-06-28 18:50] juliuskunze commented on #5048
@apaszke @froystig That looks awesome! Rad choice not taking into account order of named axes and broadcast by name! That's semantically cleaner and more future-proof than I expected. (: The thing that I thought would make this impractical is that it's hard optimize misaligned dot product axes (and similar operations) where silent transposes will happen on device. I guess this is not the case, or

[2021-06-28 19:39] njunge94 opened #7125 "New pip installation instructions failing"
Please:

- [x] Check for duplicate issues.
- [x] Provide a complete example of how to reproduce the bug, wrapped in triple backticks like this:
- [x] If applicable, include full error messages/tracebacks.

On Ubuntu 20.04. I tried to bump the JAX version for some projects on my GPU machine. Pip version is `21.1.3`.

[code]
Wrapping the package name in quotes works:

[code]
I saw that quotes are us

[2021-06-28 19:45] jakevdp commented on #7125
Thanks for the report. I wonder if this is an issue with zsh treating square brackets as special characters? It works for me without the quotes in bash.

[2021-06-28 19:59] njunge94 commented on #7125
Actually that's true, escaping the square brackets makes it work. Thanks for the clarification!

Curiously, doing this seemingly makes pip disrespect the `--upgrade` flag:
[code]
(Note how Jax is still at `0.2.12` there due to a previous install).

But anyway, I think your answer hits the nail on the head. Thanks!

[2021-06-28 19:59] #7125 closed

[2021-06-28 22:22] matthewfeickert opened #7128 "jaxlib v0.1.68 causing nondeterministic segfault for only macOS on GitHub Actions and Azure Pipelines servers"
Hi. This is a bit of a strange (possible) bug report that we've held off on a for a few days until we could try to get better reporting information. Both [`pyhf`](https://github.com/scikit-hep/pyhf) and [`awkward`](https://github.com/scikit-hep/awkward-1.0) have been seeing segfaults on GitHub Actions jobs (for `pyhf`) and Azure Pipelines jobs (for `awkward`) since the release of `jaxlib` `v0.1.68

[2021-06-29 02:07] thisiscam opened #7129 "`jnp.nonzero` zero padding behavior is confusing"
I noticed that `jax.numpy.nonzero` now allows the wonderful `size` parameter which allows jitting: #6501. This is wonderful! Thanks!

However, the semantics is that missing zeros are zero-padded. This seems unworkable in some situations, consider:
[code]

There's no way to tell between these two cases.

Instead, perhaps you could consider something like `-1`-padding?
Though, performance-wise, I'm

[2021-06-29 02:20] thisiscam commented on #7129
Note that this only occurs when `size=1`.

So perhaps at least we should document this corner case since this seems like a problem that could cause unexpected program behaviors.

[2021-06-29 03:20] keepingupwithdeeplearning opened #7131 "Unable to build jaxlib on Windows10"
Building jaxlib from source on Windows10 using bazel 4.0.0 and msys2 keeps giving me the following cuda related error:

![Screenshot (54)](https://user-images.githubusercontent.com/32151860/123731823-4c555e80-d8dc-11eb-81a7-26cf3bb4ab22.png)

I used the following command to build:

python .\build\build.py --enable_cuda --cuda_path="C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v10.1" --cudnn_

[2021-06-29 09:00] nlwach opened #7134 "Qutip can't handle .jnp arrays"
I am trying to differentiate a quantum circuit which uses qutip. Whenever I try to create a `qutip.Qobj` using a `jnp.array` the created `qutip.Qobj` is empty. Somewhere the `jnp`arrays differ too much from the usual `np` arrays. The creation of `qutip.Qobj` using the standard `np.array`'s works perfectly fine.

Here the code for the `jnp` arrays:

[code]
and the output

[code]

And using `NumPy`a

[2021-06-29 14:54] jatentaki opened #7142 "Trace leak with `odeint` and `vmap`"
I am trying to rewrite [PointFlow](https://github.com/stevenygd/PointFlow) in jax, which involves backpropagation through and inside `odeint`. I am running into an issue when I get my tracers leaked when trying to `vmap` a function using `odeint` internally. I am not 100% `vmap` over a `while_loop` is supported, but I am not getting any explicit errors that it is wrong. A standalone repro is below

[2021-06-29 15:02] mattjj commented on #7142
Thanks for the report! These bugs are the worst.

This might be a Haiku interaction issue. cc @LenaMartens @tomhennigan in case anything stands out.

[2021-06-29 15:03] mattjj commented on #7142
By the way, `vmap` over `while_loop` is indeed supported. We used that to batch ODE solves for [this paper](https://arxiv.org/abs/2007.04504), and it was really useful!

[2021-06-29 15:09] jakevdp commented on #7134
Hi - thanks for the question. It appears that qtip does not support duck-typed ndarrays, as you can see in the source: https://github.com/qutip/qutip/blob/dc2abc4be6540a3a3c549ed21d8da83f3f0db5aa/qutip/qobj.py#L221-L343

JAX arrays do not meet any of the `isinstance` checks used there, so they appear to be incompatible with the package. I would suggest explicitly casting the input to numpy, i.e.
[

[2021-06-29 15:09] #7134 closed

[2021-06-29 15:10] jatentaki commented on #7142
Amazing, I think I would lose my mind if I try to implement my actual idea without vmap 😃. Thanks for your fast reply

[2021-06-29 15:18] jakevdp commented on #7129
Thanks for the question – we chose to make the padding zero because it's the natural value that falls out of the algorithm. Zero is a natural value in some applications, and any other fill value would require additional post-processing of the result. If you want to configure the fill value, you can do so with a short utility routine. For example:
[code]

[2021-06-29 16:43] LenaMartens commented on #7142
Indeed, this is a Haiku interaction issue: you're calling `odeint` on a Haiku module before hk.transforming that module, meaning this Haiku module is still side-effecting. One of the side-effects is creating the module parameters (for the `Linear` layer in this case) which are the tracers that cause this UnexpectedTracerError.

Some more context here: https://dm-haiku.readthedocs.io/en/latest/note

[2021-06-29 17:17] jakevdp commented on #7131
Thanks for the question – Windows builds are not very well supported at the moment. In case you haven't seen them, it may be worth looking through the replies on a few previous issues related to this topic: #7079 #6637 #5985

[2021-06-29 23:07] thisiscam commented on #7129
@jakevdp Thanks for the explanation and your example.
A couple questions for this overall issue:
1) Is there an alternative algorithm that can a) use arbitrary `fill_value` b) retain the same efficiency?
2) Should we document this behavior for `size=1`? I would say that we could even ban `size=1` since it produces ambiguous return value.
3) Perhaps you can add this implementation of `fill_value` p

[2021-06-29 23:53] jakevdp commented on #7129
I think the behavior for size=1 is already documented, no? The true size is zero, so the result is padded with zeros up to the requested size.

[2021-06-30 04:55] thisiscam commented on #7129
Well, sure. I'm simply thinking that we should add a note, that `size=1` will have this problem of ambiguous output.
I mean, from a user's perspective, I do hope that when I write some code with `size=1`, I can get fair amount of warning of this behavior. Maybe it's just me, but I only realized this issue after I observed unexpected output.

I can do a PR on the docs.
The only reason I haven't don

[2021-06-30 08:35] jatentaki commented on #7142
@LenaMartens thanks a lot, indeed that solves it. @mattjj should this issue be closed in that case?

[2021-06-30 08:59] Jeevesh8 opened #7144 "Allow for sharing of donated buffers between different ``pmap``-ed functions"
I wanted to have two ``pmap()``-ed function, piping one's output into another. For example, in the following way:
[code]
``parallel_train_step()`` and ``parallel_eval_step()`` are the two ``pmap()``-ed functions and ``state`` is the object being passed from one into another. The above code is adapted from [this](https://colab.research.google.com/github/huggingface/notebooks/blob/master/examples/te

[2021-06-30 08:59] Jeevesh8 opened #7145 "Describe your goal, and if possible provide a code snippet with a motivating example."

[2021-06-30 09:00] #7145 closed

[2021-06-30 09:14] iniastiniv commented on #6637
python .\build\build.py `

Python binary path: C:/Users/vinit/ml/Scripts/python.exe
Python version: 3.9
NumPy version: 1.21.0
SciPy version: 1.7.0
MKL-DNN enabled: yes
Target CPU features: release
CUDA enabled: yes
CUDA toolkit path: C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v11.2
CUDNN library path: C:/tools/cuda
CUDA compute capabilities: 7.5
CUDA version: 11.2
CUDNN version: 8.1.0
TPU

[2021-06-30 11:49] jatentaki commented on #7142
@LenaMartens sorry, I found that the issue persists. First, my code above was a bit buggy (wrong assertions etc) so I modified it slightly and applied your fix (below). Additionally, I had to subselect the last output of `odeint` along the timestep axis, since otherwise it differs from `odefunc` evaluation (did you modify that in your example?). It runs and seems to produce the right results, whic

[2021-06-30 13:07] epignatelli opened #7148 "Running gpu computation and cpu computation asynchronously?"
I am trying to run two different functions in two different processes, the former computes on the cpu, and the latter computes on the gpu, but I am getting the error below.

I also tried using different initialisation context (`forkserver` and `fork`), but I still get errors.

Is there any way this pattern could work in jax?

[code]

- [ ] If applicable, include full error messages/tracebacks.

[2021-06-30 13:32] epignatelli commented on #7148
Some more info, this is the output with `TF_CPP_MIN_LOG_LEVEL=0`:

[code]

[2021-06-30 14:22] epignatelli commented on #7148
Actually, I noticed that adding `print(jax.process_index()` in both `producer` and `consumer` removes the error.
But `jax.process_index()` is calling `get_backend(backend)`, which is in turn wrapping the call in a `threading.Lock()`.

The code is now running, but are the two calls, the one to the cpu and the one to the gpu, running asynchronously?

[2021-06-30 15:34] smartalecH commented on #4290
I was able to fix this on my slurm cluster by passing `--bind-to cores` to `mpiexec` (this obviously assumes your parallel job is using MPI).

If you are using MPI with slurm, however, make sure your flavor of MPI is [setup correctly](https://slurm.schedmd.com/mpi_guide.html) (e.g. with OpenMPI you have to use `srun` and configure with `pmix`).

[2021-06-30 15:40] mattjj commented on #7142
Thanks for the follow-ups, @LenaMartens and @jatentaki !

By the way, the leak checker can be overly sensitive and give false positives.

I'll close this issue for now if we're planning to follow up on the Haiku issue tracker, but please reopen if the situation changes!

[2021-06-30 15:40] #7142 closed

[2021-06-30 16:07] jakevdp commented on #7129
I think a `fill_value` option may be a reasonable feature to add. The reason I didn't before is that it adds a maintenance/testing burden for something that didn't have any concrete use-case to motivate it, and the relevant information (the true number of nonzeros) is straightforward to determine separately.

Can you give an example of code you might write with a configurable fill value?

[2021-06-30 17:31] ghosh-r opened #7149 "Will JAX add bf16 support soon?"
Please:

- [x] Check for duplicate requests.
- [x] Describe your goal, and if possible provide a code snippet with a motivating example.

PyTorch will soon add bf16 support on GPUs. Where is JAX on that?

Will JAX soon add support for bf16 precision on GPUs?

[2021-06-30 17:47] jakevdp commented on #7149
Hi - thanks for the question! JAX already supports bfloat16 on all backends; for example:
[code]

[2021-06-30 18:01] #7149 closed

[2021-06-30 18:45] thisiscam commented on #7129
Sure. The code I had which ran into this problem was a jittable [Schur-Transform](https://en.wikipedia.org/wiki/Lehmer–Schur_algorithm). The implementation is pretty short so I'd paste it here (note that most of it is just comments).

[code]

The test could be
[code]

[2021-06-30 19:10] mattjj commented on #7149
I think XLA:GPU very recently added support for Ampere TensorCores (for matrix multiplication and convolutions on bf16 values), but that support isn't yet included in the prebuilt jaxlib available on pypi. That is, if you want these operations on bf16 values to make use of TensorCores, you will have to [build your own jaxlib](https://jax.readthedocs.io/en/latest/developer.html#building-from-source

[2021-06-30 20:41] shawwn commented on #6962
@jekbradbury points out that https://github.com/google/jax/pull/6950 might be a potential solution. Specifically, that PR adds the ability to call `.grad()` with `reduce_axes=('batch',)`. The error only seems to happen during the backwards pass, so although I haven't confirmed that this PR definitely fixes this issue, it seems >40% likely that it could.

I'm not happy with this fix, for two reason

[2021-06-30 20:51] matthewfeickert commented on #7128
There is a standalone minimal failing example of this at https://github.com/matthewfeickert/jaxlib-gha-minimal-failing-example now

[![standalone_fail](https://user-images.githubusercontent.com/5142394/124029589-ebe91e80-d9ba-11eb-9e8a-6057073c1bea.png)](https://github.com/matthewfeickert/jaxlib-gha-minimal-failing-example/runs/2956373891)

I'm going to open up a complimentary issue with GitHub Ac

[2021-06-30 23:08] skye commented on #7128
Ah, nothing like a hard-to-repro segfault ;) Thanks for the thorough investigation and write-up. This is pretty troubling, as the repro scripts are quite basic.

My first thought was that the GHA env may have less memory, but the scripts are so small that I can't imagine that's the issue. cc @hawkinsp (who's OOO until mid next week) in case he has ideas.

If you have the time and patience, it'd be

[2021-06-30 23:18] skye commented on #7144
I'm a bit confused -- the input state buffer is donated, but then `parallel_train_step` returns a new buffer that is again assigned to `state`, so you shouldn't get that `Buffer has been deleted or donated` error. Are you able to provide a minimal repro we can run that shows the issue?

[2021-06-30 23:30] skye commented on #7148
Running your original script works for me without error, I think because I only have a single GPU. It looks like you have two GPUs, and that's somehow causing an issue. This looks like a bug to me, so thanks for reporting! JAX will always try to initialize all backends, even when only one is requested. However, the GPU backend failing to initialize in the producer process ideally shouldn't cause a

[2021-06-30 23:32] skye commented on #7131
FYI @zhangqiaorjc. The jaxlib build has been broken on Windows for a while now unfortunately, see https://github.com/google/jax/issues/7079. I'm gonna close this issue; please follow #7079, and comment there if you discover more info regarding the failure.

[2021-06-30 23:32] #7131 closed

[2021-06-30 23:34] skye commented on #7118
Can you set the environment variable `TF_CPP_MIN_LOG_LOVEL=0`, rerun, and send us the full output?

Also can you share the output of `nvidia-smi`?

[2021-07-01 01:14] matthewfeickert commented on #7128
Thanks for being responsive to this. I haven't spent a huge amount of time trying to rigorously debug yet, but I'll summarize what I've learned since opening the Issue. We've also tried in `pyhf` [to build `jaxlib` from source and then install `jax` from source](https://github.com/scikit-hep/pyhf/actions/runs/984934071/workflow) in the GHA `macos-latest` environment to make sure that there wasn't

[2021-07-01 02:14] matthewfeickert commented on #7128
Also, after just putting a print after every command in `debug_32b.py` and `debug_64b.py` I can see more strangeness of sometimes the segfault occurring before the first print of the file (on the first line)

[test_macos-latest_python-3.8_failing_before_print.log.txt](https://github.com/google/jax/files/6744823/test_macos-latest_python-3.8_failing_before_print.log.txt)

and then other times gettin

[2021-07-01 04:57] Jeevesh8 commented on #7144
I am really sorry for the confusion and trouble.
I found the source of error. You are indeed correct that the output buffer is always distinct from the input one.

[2021-07-01 04:57] #7144 closed

[2021-07-01 07:14] LUOBO123LUOBO123 opened #7153 "Installing jax[cuda101]"
I try to install jax with the following command.
pip install --upgrade pip
pip install --upgrade "jax[cuda101]" -f https://storage.googleapis.com/jax-releases/jax_releases.html

The following error occurred during installation.
ERROR: Packages installed from PyPI cannot depend on packages which are not also hosted on PyPI.
jax depends on jaxlib@ https://storage.googleapis.com/jax-releases/cuda101/

[2021-07-01 07:43] lumip commented on #7153
This is a problem with the `0.2.15` release, which seems to be what is getting installed - can you verify that is correct? If so, can you try forcing it to install v 0.2.16 (or 0.2.14):
[code]

[2021-07-01 08:38] #6098 closed

[2021-07-01 13:30] lumip opened #7155 "inner `jit` functions are re-traced (and re-compiled)"
It seems that `jit` decorators are ignored for nested functions. Consider the following example (simplified from an actual program, where `inner_fn` is slightly more complex):

[code]

**Expected behavior**: As both functions are decorated with jit, `inner_fn` should be compiled once and the result re-used by the plain for loop inside of `outer_fn`. Consequently, the output would show only one emi

[2021-07-01 13:57] epignatelli commented on #7148
Thanks @skye ! This is the stack trace of the comsumer process, which seems likely meager:
[code]

Is there a better way to catch the call stack in python?

[2021-07-01 14:18] jakevdp commented on #7153
Agreed with @lumip – I suspect the issue is that you have 0.2.15 installed locally, which has some problematic code for the cuda wheel path. You can either specify the version as recommended above, or first upgrade jax alone before installing the cuda101 wheel:
[code]

[2021-07-01 14:53] NeilGirdhar opened #7157 "Please consider updating jacfwd and jacrev to work with heterogenous pytrees containing real and complex components"
I'm trying to get [this code](https://github.com/NeilGirdhar/efax/blob/master/efax/_src/natural_parametrization.py#L125) for the Fisher information working:
[code]
where self is a dataclass of type `T`, and `log_normalizer` is a method that maps from `T` to real scalar.

This worked fine until I tried it with [the complex normal distribution](https://github.com/NeilGirdhar/efax/blob/master/efax/_s

[2021-07-01 14:55] mattjj commented on #3847
We should measure the tracing time to verify that it is really time spent in tracing. IIUC in my experiments above, tracing time was very small. (Maybe we should have better logging and instrumentation for tracing...)

[2021-07-01 15:00] mattjj commented on #7155
Thanks for observing this, and describing it so clearly!

See also #4572 (the first two comments in the thread), and #3847.

This behavior is currently intended, roughly speaking. The XLA compiler effectively inlines all code, in part to make buffer assignment easier, and that means that it can't reuse subfunction code in this way.

That said, even though XLA won't avoid recompiling these sub-func

[2021-07-01 15:03] mattjj commented on #7155
A concrete next step on our end is to add thorough logging so that these times are super easy to inspect.

[2021-07-01 15:12] epignatelli commented on #7148
I add a bit more logging to the `xla_client._get_local_backends()` function to understand what is happening, I hope this is useful:

<summary>
<details>

![image](https://user-images.githubusercontent.com/26899347/124147889-07b9f680-da87-11eb-9b8f-b5f3d73b3378.png)

</details>
</summary>

[2021-07-01 15:18] lumip commented on #7155
Thanks for the thorough response and the feedback.

I actually just did that and it's nice that it allows select the best trade-off with the unroll parameter. The problem I am facing seems to be at a different level though, because for some reason jax/XLA really doesn't want to fuse the operations in the looped operation (what is `inner_fn`  in the above): in my real code I have some bitwise opera

[2021-07-01 15:38] epignatelli commented on #7148
Sorry for the monologue - I tested the hypothesis and if the backends are initialised eagerly, the issue disappears.
https://github.com/epignatelli/jax/commit/6d4d67aa73e81dd923f0502a6c168dfe193abc4d

However, that seems quite low level, and I don't feel too confident in understanding its side effects.
Hopefully that can shed some light, though!

[2021-07-01 16:18] mattjj commented on #7155
Hrm, my very basic understanding is that XLA:GPU will codegen kernels whenever it doesn't need cuBLAS / cuDNN (as I recently commented [here](https://github.com/google/jax/issues/7024#issuecomment-864333230) and [here](https://github.com/google/jax/issues/7024#issuecomment-865466466)). But from your description of bitwise operations and array index munging, those things sound plausibly XLA-codegen

[2021-07-01 17:28] mattjj opened #7159 "vmap-of-cond leading to some inefficient downstream dots?"
Pasted here with minimal context, from a chat convo:

[code]

[2021-07-01 20:38] dbl001 opened #7163 "Support for AMD Radeon GPU"
Will there ever be support in 'Jax' for AMD's Radeon Pro 5700 XT on Big Sur via 'Metal' or Apple's machine learning framework?

plaidml can see the GPU and the GPU works with Keras backend.
[code]

[2021-07-01 21:52] skye commented on #7144
No worries, thanks for the update!

[2021-07-02 02:20] sudhakarsingh27 opened #7167 "NotImplementedError: Differentiation rule for 'pmax' not implemented"
I'm using `xmap` to do model parallel experiments. I updated the [spmd_mnist_classifier_fromscratch.py](https://github.com/google/jax/blob/main/examples/spmd_mnist_classifier_fromscratch.py) script to use `xmap` as follows:

[code]

I get the following exception/error (full exception stack attached as a text file) when I run the above script as `python <script_name.py>`:

[code]

Is this expected?

[2021-07-02 05:32] LUOBO123LUOBO123 commented on #7153
Thank you for your reply.!This method does not work. I install jax from source.

[2021-07-02 05:33] LUOBO123LUOBO123 commented on #7153
Thank you for your reply.!This method does not work. I install jax from source.
According to your method, the following error will appear.

![image](https://user-images.githubusercontent.com/27794678/124225449-0d244900-db3a-11eb-9bb1-e922d7e60199.png)

[2021-07-02 11:47] lumip commented on #7153
You are having a connection issue with the jax release package index there. The final error message seem to come from pip falling back to the default (PyPI), after the (remaining) retry count hit 0. That one does not have cuda versions.
I'm not sure how to fix it, but maybe it was a temporary issue and works now if you try again. Or maybe @jakevdp knows something about this.

[2021-07-02 14:41] lumip opened #7174 "Constraints for jaxlib version during jax installation"
In v0.2.11 jax added the nice optional installation targets `cpu`, `cudaXXX` and `tpu` which install jaxlib for the desired platform. Currently, the setup script guarantees that the installed version of jaxlib is compatible by constraining the version number from below to the earliest known compatible version. However, no similar constraint is put for a maximum compatible version number. Given tha

[2021-07-02 14:50] lumip commented on #7155
Looking into my problem a bit further, I don't think it is a jax issue so I don't want to open another thread for it. It seems we are just hitting some built-in thresholds upon which XLA prefers to split operations into several kernels which are then executed sequentially. I would like to force it to not do that but this seems hard-coded. I'm not 100% sure that this is what happens, because changi

[2021-07-02 15:12] jakevdp commented on #7174
Thanks for the report – I believe we do pin jaxlib to the current version at the time of the given JAX release; see the source here: https://github.com/google/jax/blob/c97d63dec33845a13c9243a8f821a7d093ff5cfa/setup.py#L43-L60

That said, pip's behavior surrounding extra requirements and version specifications has surprised me before, so it may be that pip doesn't respect these version pinnings dur

[2021-07-02 15:16] jakevdp commented on #7153
Is it possible you have a firewall that is preventing your system from accessing https://storage.googleapis.com/jax-releases/jax_releases.html?

[2021-07-02 15:56] jakevdp commented on #7174
A potential TODO is to pin the extra requirements for cpu to `jaxlib==_current_jaxlib_version` rather than `jaxlib>=_minimum_jaxlib_version`.

[2021-07-02 16:02] derrickxli opened #7175 "Common Loss Functions written natively in JAX?"
Could we create a new subpackage (or find somewhere to put this) for native loss functions written in JAX? The issue is that when I try to use loss functions from say `sk_metrics`, the function will not be able to take advantage of autodiff from `jax.grad` because of the incompatibility of tracing device arrays through vanilla numpy functions.

If there were a suite of common native written loss f

[2021-07-02 16:13] jakevdp commented on #7175
Thanks for the question! I don't know of any centralized effort at that yet, but one example where something like this exists is within the optax project: https://github.com/deepmind/optax/blob/master/optax/_src/loss.py

[2021-07-02 16:22] lumip commented on #7174
Ah, I was apparently focussing only on the `cpu` target and didn't notice that for GPU and TPU this is indeed pinned. The todo you suggest would prevent the incompatibility problem I was worrying about, at the (small?) cost of also preventing users from benefitting from updates to jaxlib that would still be compatible to the version of jax they are installing. But I think this latter point is some

[2021-07-02 16:24] jakevdp commented on #7174
Sounds good - are you interested in sending a PR? If not I'm happy to take care of it.

[2021-07-02 16:24] lumip commented on #7174
I don't have the time right now, so please go ahead :)

[2021-07-02 17:44] mattjj commented on #7155
For custom kernels, take a look at [dfm/extending-jax](https://github.com/dfm/extending-jax) too!

Amazing spelunking! But if you want some more info, and maybe even some improvements, from real live XLA:GPU team members about this, we just have to give them a repro to poke at :)

[2021-07-02 18:18] shoyer commented on #3847
It looks like things have improved a little bit since I last tried this. Running my example above from https://github.com/google/jax/issues/3847#issuecomment-702845696 on a TPU, here are the profiling results I see:

![image](https://user-images.githubusercontent.com/1217238/124313994-8c0f8680-db26-11eb-8936-aca6100702b9.png)

![image](https://user-images.githubusercontent.com/1217238/124314010-93

[2021-07-02 20:22] #7174 closed

[2021-07-02 23:00] alexwongdl commented on #7118
Have you solved this problem. I meet the same problem.

[2021-07-03 03:34] mattjj commented on #3847
@shoyer you are the best!

jaxpr_subcomp is where we translate from a jaxpr to HLO, i.e. we walk the jaxpr and make calls into the XLA builder API. The same caching that would speed up trace_to_jaxpr_final would also speed up jaxpr_subcomp (because if we produce the same jaxpr objects, by object id, in the first step, then we can cache the subcomputation building in the second step).

[2021-07-03 10:16] jatentaki opened #7182 "Trace leak with `odeint`"
# Bug
This is a follow-up to #7142: I have since moved from `haiku` to `stax` to avoid the statefulness and transforms, but I am still trying to backpropagate through `jax.experimental.ode.odeint`. My actual code runs fine until we try to take a gradient, in which case it fails due to leaked tracers. When I set the `JAX_CHECK_TRACER_LEAKS=1` flag, all my test cases involving `odeint` (and not just

[2021-07-03 16:12] NeilGirdhar opened #7183 "How do I easily calculate the determinant of the Jacobian when it's a pytree of pytrees?"
I would like to test that the determinant of the Fisher information of an exponential family is positive, but it's not easy to do that since the Jacobian returns a pytree of pytrees.  As it is, `jacfwd` and `jacrev` already calculate the Jacobian as an array before "unravelling" it into the pytree of pytrees.

I'm not sure what the best design is, but these seem reasonable?

- I could try to flatt

[2021-07-03 22:14] vegabook opened #7186 "Doesn't compile on Nvidia Jetson Nano"

[2021-07-05 03:57] reshinthadithyan commented on #5501
Hello, @hawkinsp. Is there any rough timeline onto when the next release is?

[2021-07-05 10:57] lumip commented on #7155
Alright, I tried to boil it down to the essence in the following. So basically I have this piece of code which repeatedly applies a vector-valued-function ( `col_fn` ) on all columns and (some form of) diagonals of a (4x4) matrix (this realised by `inner_fn` and the repeated application as a loop in `outer_fn`). My basic approach for `inner_fn` was to first `vmap` the function `col_fn` over column

[2021-07-06 08:00] cloudhan commented on #7079
I have successfully produce a jaxlib whl with local tensorflow repo] of commit [8557ca660](https://github.com/tensorflow/tensorflow/tree/8557ca660aa7b1d5853d3a1f2fe19cae5be4b589)

[2021-07-06 12:01] PhilipVinc opened #7198 "Segfaults on MacOs Github Actions with jaxlib 0.1.68"
I started seeing a few weeks ago a spurious (~25-50% of the time) CI failure in GithubActions on MacOs runners.
I have been unable to reproduce it on my local (Mac) computer.

I have been able to pinpoint this to `jaxlib==0.1.68`. Downgrading to `jaxlib==0.1.67` with current jax==0.2.16` makes the issue disappear.

I have been able to produce the following MWE:
[code]

though in interactive mode i

[2021-07-06 14:54] pfuxs opened #7199 "Primitive to sequentially execute a function inside a vmapped function"
I am writing some longer algorithms which I like to vmap. I stumbled over some problems when combining vmap with the `host_callback` module and the `lax.cond` function:

1. vmap of cond does not work when the branches are not side-effect-free
2. vmap of cond of can be very ineffective if one branch is much longer but only called rarely
3. There is no trivial batching rule for the `host_callback.ca

[2021-07-06 16:01] patrickvonplaten commented on #6587
Any updates on this? :-)

[2021-07-06 17:13] lukepfister commented on #6288
On `jax=0.2.16, jaxlib=0.1.68` this is no longer an issue.  Not sure what commit resolved it, but no complaints here!

[2021-07-06 17:13] #6288 closed

[2021-07-06 23:09] matthewfeickert commented on #7128
@skye The GitHub Actions virtual-environments team has this interesting update from studies they've performed https://github.com/actions/virtual-environments/issues/3679#issuecomment-875097182

I'm not sure if this information on the core number on the VM is helpful or not.

[2021-07-07 03:28] dsantiago commented on #1961
Sadly it will still copy even when using asarray(), tried this `np.array(jax_array, copy=False, subok=True)` but still generating new ids on each call... maybe just have to live with that for now

[2021-07-07 11:56] gehring commented on #6482
I don't really have time to follow up on this and some of my nan problems seem to have gone away in newer versions. Given I wasn't able to generate any reproducible example, I'm going to close this issue. I'll open a new one if I ever encounter this again.

[2021-07-07 11:56] #6482 closed

[2021-07-07 14:21] hawkinsp commented on #6989
This issue is now fixed with current versions of XLA. (That probably means "in a reasonably recent nightly cloud TPU VM" at the moment.)

[2021-07-07 14:21] #6989 closed

[2021-07-07 15:17] hawkinsp commented on #7128
It looks like this is related to the alignment of an AVX instruction:
[code]

I think `vmovaps` requires 32-byte alignment, but `0x...b0` is only 16-byte aligned.

This problem only appears to reproduce under the newer TFRT runtime. If you use `jax` from head, you can set `JAX_CPU_BACKEND_VARIANT=stream_executor` which works around the problem.

I'll keep debugging, this is most odd.

[2021-07-07 15:32] hawkinsp commented on #7128
I think the bug is here: https://github.com/tensorflow/runtime/blob/61159ea26738e8ab5e45457bbb85fa2659a058d8/third_party/concurrent_work_queue/lib/event_count.h#L192

`Waiter` objects are marked as being 128-byte aligned. I think that is giving `clang` license to generate AVX instructions to initialize the structure. But they are allocated in a `std::vector`, which promises no such thing. I suspec

[2021-07-07 15:37] hawkinsp commented on #7198
Duplicate of #7128

There's a workaround in https://github.com/google/jax/issues/7128#issuecomment-875693010

[2021-07-07 15:37] #7198 closed

[2021-07-07 15:38] hawkinsp commented on #7198
(Thanks for the tip about ssh-ing into the action, by the way, I didn't know that was possible and it made it much easier to identify the problem.)

[2021-07-07 15:45] hawkinsp commented on #7163
We support AMD GPUs already via AMD's ROCm framework, but I believe ROCm does not support Mac OS.

Targeting Metal would require either adding Metal support to XLA, or plugging an alternative compiler into JAX. One candidate is IREE, which does not yet support Metal but does have it on its road map.

We have no plans to work on this at the moment, but would welcome contributions.

[2021-07-07 15:49] romanngg opened #7204 "jnp.ndarray unpacking yields onp.ndarray results"
Example:
[code]
[code]

But if we do:
[code]
We get
[code]
[code]
https://colab.research.google.com/gist/romanngg/bc4197d71a404f28224914a2b0dc4481/jnp-np-coversion-when-unpacking.ipynb

[2021-07-07 15:52] PhilipVinc commented on #7198
Ops. Sorry I missed the previous issue.

[2021-07-07 15:55] hawkinsp commented on #7118
@alexwongdl Can you share the output of `nvidia-smi` and your CUDA toolkit version (e.g., `nvcc --version`?) My guess is your NVidia driver is too old for your CUDA toolkit version.

[2021-07-07 16:01] hawkinsp commented on #7186
There's no action we can take here without more information, given we don't have access to such a device. What happens when you try? Can you share the logs from the build?

[2021-07-07 16:03] hawkinsp commented on #7167
It's much like it says on the tin: differentiation for `pmax`, which is used inside `logsumexp` is just not implemented yet.

[2021-07-07 16:05] jakevdp commented on #7204
Hi - thanks for the issue! I think this is a duplicate of #1583, which has a potential fix in #3821

I can't quite recall why that fix stalled – but I recall there were some subtle aspects of this that made it a tricky fix.

[2021-07-07 16:06] jakevdp commented on #7204
I'll assign this to @mattjj as a light ping on the issue :grin:

[2021-07-07 16:11] jakevdp commented on #1961
Hi @dsantiago - `copy=False` should result in no-copy device transfers if you're on a CPU backend (note that `subok` is not relevant here, becuase JAX arrays are not a subtype of numpy arrays). For more information on this, see the discussion in #4486, and particularly this comment: https://github.com/google/jax/issues/4486#issuecomment-736703827

[2021-07-07 16:25] dsantiago commented on #1961
Agree but there's lot of nuances to not make a copy(copy=False to work), as the dtypes must match, etc, etc...

Here is a good explanation about it:
https://stackoverflow.com/questions/14415741/what-is-the-difference-between-numpys-array-and-asarray-functions

[2021-07-07 16:30] jakevdp commented on #1961
It would not be possible for `id(jax_array)` to be equal to `id(np_array)`, because `jax_array` must be of type `jnp.DeviceArray` and `np_array` must be of type `np.ndarray`. The best we can do here is ensure that the buffers are shared when that is possible, and this is what `np.asarray(jax_array)` does.

[2021-07-07 16:35] jakevdp commented on #1961
Reading the StackOverflow question you linked to, it seems like your question is coming from the assumption that `jnp.DeviceArray` is a subclass of `np.ndarray`, but for various good reasons it is not. If you're interested, I may be able to dig up some discussion about why this design choice was made.

[2021-07-07 16:46] dsantiago commented on #1961
Ohh i see your point Jake. If i try this:

[code]
last 2 preserves the same id but of course not equal the original id of x(DeviceArray), like you mentioned. So i still think, in the end, we can use np.asarray or np.arrary interchangeably for converting from one type to another.

[2021-07-07 17:03] jakevdp commented on #1961
No, not quite: `np.array` will always copy the underlying buffer, while `np.asarray` will use the existing buffer when possible. For example, on a CPU backend:
[code]

[2021-07-07 17:32] philastrophist opened #7205 "Autograd always nan with gradient when function is ok"
I am trying to differentiate a function that approximates the fraction of a gaussian that is contained within 2 limits (a truncated gaussian) given a shifted mean.
`jnp.grad` does not let me differentiate adding up boolean filters (the commented line) so I've had to improvise with a sigmoid instead.

However, now the the gradient is always nan when the truncation boundary is high and I don't under

[2021-07-07 17:56] dsantiago commented on #1961
Ohh i was just watching the surface results so.... Thanks for clarifying it, makes more sense for me and probably others that somehow drop off in this topic.!

[2021-07-07 19:20] jakevdp commented on #7205
Hi - thanks for the question!

It looks like the issue is in the gradient of your `below_upper` function. Here's a shorter repro:
[code]
You can understand where the `nan` is coming from by printing the jaxpr and following the logic (comments are mine):
[code]
Basically, you've created a function that multiplies a very large number by a very small number. If we were working with real arithmetic, i

[2021-07-07 19:25] jakevdp commented on #7205
Actually, one more recommendation: an option is to express sigmoid in a more numerically stable way:
[code]
this prevents the `NaN` problem even for large values of `x` and `scale`.

[2021-07-07 19:42] philastrophist commented on #7205
Ah that's great! And thanks for the heads up about `jax.make_jaxpr` that will be useful!
About my original intention: I'm guessing that autograd can't handle functions with discontinuities in it at all? Or am I missing something? Either way, my problem has been solved with tanh!

[2021-07-07 19:58] jakevdp commented on #7205
In the original version, I think you're right that the discontinuity causes the gradient to evaluate to zero. You're effectively evaluating a function that looks like this:
[code]
And this function has zero gradient everywhere, with the possible exception of `x = 0.0` depending on how you define the derivative.

[2021-07-07 20:53] jakevdp opened #7208 "Run test suite with jax_numpy_rank_promotion=raise"
This setting is currently not always useful because the JAX source itself often generates rank promotion errors. We should fix existing issues and change the test suite to run with this setting enabled.

xref #7147

[2021-07-07 20:59] jakevdp commented on #7183
Thanks for the question - I'm having trouble understanding the context in which you're seeing jacobians return a pytree of pytrees. Can you show a concise example?

[2021-07-07 21:03] jakevdp commented on #7182
Thanks for the report & clear repro, @jatentaki. Hopefully someone will be able to take a closer look soon.

[2021-07-07 21:21] NeilGirdhar commented on #7183
@jakevdp I don't know how concise this is, but my application is simply to find the Fisher information [here](https://github.com/NeilGirdhar/efax/blob/master/efax/_src/natural_parametrization.py#L125), which is just
[code]
where `log_normalizer` is a scalar method of a distribution like [this one](https://github.com/NeilGirdhar/efax/blob/master/efax/_src/distributions/multivariate_normal/arbitrary

[2021-07-07 21:29] jakevdp commented on #7183
Ah, I see. The issue is that you're computing the jacobian with respect to your dataclass type (`self` here). If you want to compute the jacobian with respect to an array, then you should pass `jacfwd` a function which takes that array as an argument, rather than a function that takes your dataclass as an argument. Does that make sense?

[2021-07-07 21:31] NeilGirdhar commented on #7183
@jakevdp Thank you, yes.  However, I don't just want the Fisher information of the individual parameters (which are the arrays).  I want the Fisher information of all of the parameters.  I think that's a reasonable thing to calculate.

[2021-07-07 21:35] NeilGirdhar commented on #7183
Although I think you just gave me an idea of how to work around this problem.  I already have functions to flatten and unflatten the structure.  I could define a `log_normalizer_flat` that works on the flattened version and calculate the Hessian of that.  Then, I would get the Fisher information as a matrix as desired.  So I guess that solves my problem !

[2021-07-07 21:38] jakevdp commented on #7183
I guess I'm still not understanding what's happening. For example, here is a simple version of compuing the forward jacobian of a pytree, and I get a pytree of results:
[code]
Can you modify this example so that it results in the pytree-of-pytrees that you're seeing?

[2021-07-07 21:39] NeilGirdhar commented on #7183
@jakevdp I think what you've missed is that I'm calculating the Jacobian of the gradient?

[2021-07-07 21:43] jakevdp commented on #7183
Ah, I missed that, thanks.

What if you did something like this? Does the non-nested version give you the result you're interested in?
[code]

[2021-07-07 21:47] NeilGirdhar commented on #7183
I think your idea is along the lines of flattening and then taking the Hessian of the flattened structure.  However, in what you wrote `grad` is only taking the gradient of `x` since it defaults to taking the gradient of the first argument only.

[2021-07-07 21:48] jakevdp commented on #7183
You can pass `argnums=(0, 1)` if you want to take the gradient with respect to the first two arguments

[2021-07-07 21:49] NeilGirdhar commented on #7183
Yes, but then but then you'll have some kind of non-array structure again, right?

[2021-07-07 21:52] jakevdp commented on #7183
Right - computing the jacobian with respect to two parameters will give you a tuple of the two jacobians.

[2021-07-07 21:53] NeilGirdhar commented on #7183
It's just a shame because I know that the array I want is being calculated in `jacfwd` and `jacrev`.  But I should be able to get this working by flattening first and we can close this 😄   Thanks for your help.

[2021-07-07 21:55] jakevdp commented on #7183
Can you write down mathematically what you're hoping to compute? I'm not certain I've entirely grasped that yet.

[2021-07-07 21:57] NeilGirdhar commented on #7183
@jakevdp It's the Fisher information of an exponential family, which is equal to the Hessian of the log-normalizer.  If you look [here](https://github.com/NeilGirdhar/efax/blob/master/expfam.pdf), it's equations 53–56.

[2021-07-07 22:21] zhangqiaorjc commented on #7128
Now that the fix is in. I'm building a new jaxlib release.

[2021-07-07 22:36] matthewfeickert commented on #7128
Thanks @zhangqiaorjc!

[2021-07-07 22:40] jakevdp commented on #7183
Ah, I see. Am I right in interpreting that $\eta$ in that equation is the vector of relevant parameters, which in your case would contain both the mean and the variance?

[2021-07-07 22:41] matthewfeickert commented on #7198
Ah, sorry about that @hawkinsp. I should have drawn your attention to `tmate` in my comment on my original Issue https://github.com/scikit-hep/pyhf/issues/1501#issuecomment-870071961.

[2021-07-07 23:15] NeilGirdhar commented on #7183
@jakevdp Yes, you got it!

[2021-07-07 23:30] jakevdp commented on #7183
Ah, great!

In that case I'd recommend something along these lines:
[code]
Since you're interested in the hessian with respect to the full parameter vector, you can compute your gradients from a function that accepts that vector.

[2021-07-07 23:38] NeilGirdhar commented on #7183
Yup, that makes sense!  Let's close this then.  Thank you for your help.

[2021-07-07 23:38] #7183 closed

[2021-07-08 11:53] gnecula opened #7213 "Improve error message when forgetting the polymorphic_shapes parameter for jax2tf.convert"
From a chat discussion:

I suspect that you got this error if you passed `tf.TensorSpec((1, None)) to tf.function(jax2tf.convert(...))`, without specifying the `polymorphic_shapes` parameter to `convert`. It should be easy to improve the error message for that case.

`ValueError: PolyShape 'None' in axis 1 must contain a shape variable for unknown dimension in argument shape (1, None)`

[2021-07-08 12:31] oracle3001 opened #7214 "v0.1.69 Build - Warning Get Tensorflow RT 404 Not Found"
When attempting to build latest Jaxlib, I get the following warning about being unable to download the Tensorflow RT.

[code]

And also the same for LLVM

`WARNING: Download from https://storage.googleapis.com/mirror.tensorflow.org/github.com/llvm/llvm-project/archive/d0fe294729a2ac45625ed45a5619c8405a14db49.tar.gz failed: class com.google.devtools.build.lib.bazel.repository.downloader.Unrecoverab

[2021-07-08 14:01] oracle3001 commented on #7079
FYI, jaxlib 0.1.69 now builds out the box for me.

[2021-07-08 17:22] MatejHl commented on #1325
Hi @hawkinsp,

It seems that I'm facing similar issue as @jlebar using simple pmap and two GPUs with different types with jaxlib 0.1.67. Has something changed since 0.1.44 or am I missing something?
Thanks.
- jaxlib version:  0.1.67+cuda111
- python version: 3.8.0
- jax version: 0.2.14
- CUDA version: 11.2

[code]
And I'm getting this RuntimeError:
[code]

[2021-07-08 17:35] hawkinsp commented on #1325
We don't intend to support `pmap` across heterogenous GPUs at this time. I admit the error isn't great, thoug.

[2021-07-08 17:43] MatejHl commented on #1325
Thanks for the super quick reply.

I found the error message quite informative, I just could not find that this is expected behavior (and there is no intention to support this). Maybe there can be a small note in the docs for `pmap`.

[2021-07-08 17:51] hawkinsp commented on #7214
That's a (benign) warning. The source of truth for most of these upstream repositories is github, but we mirror them so we can still build if Github is down, as well as to share the load. However, the mirrors aren't always up to date, particularly when building from git head or close to it. At some point they will catch up at and the warning should go away. The warning should be harmless, though,

[2021-07-08 17:51] #7214 closed

[2021-07-08 21:46] mattjj opened #7222 "improve IndexError error message from abstracted values"
This message could be improved to point to the specific reason (jit, pmap, fori_loop, etc) and user source line which caused the problematic tracing: "IndexError: Array slice indices must have static start/stop/step to be used with NumPy indexing syntax. To index a statically sized array at a dynamic position, try lax.dynamic_slice/dynamic_update_slice (JAX does not support dynamically sized array

[2021-07-08 22:39] JavierTG97 commented on #438
As a begginer myself with wsl2 and linux, is there a sort of step-by-step tutorial that shows how to get jax up and running?

[2021-07-09 12:51] tamaranorman opened #7225 "pjit issue when the axis_resources are a single entry which is a list"
[code]

Error message
[code]

Expected that this would work as expected.

[2021-07-09 19:00] zhangqiaorjc opened #7229 "Incorrect results on jaxlib-0.1.68 CPU"
jaxlib-0.1.68 has defaulted to a new CPU backend; we recently noticed it produced incorrect results only in open source, and narrowed it down to undefined behavior that shows up in gcc (open source build) and not in clang (Google)

a simple repro looks like

[code]

This bug will be fixed in the next release in a day or two.

[2021-07-09 19:01] zhangqiaorjc commented on #7128
The next jaxlib release (very soon) will also include fix for https://github.com/google/jax/issues/7229

Another bug causing incorrect results for jaxlib-0.1.68 for CPU

[2021-07-09 20:20] zhangqiaorjc commented on #7229
Fixed in https://github.com/tensorflow/tensorflow/commit/8cc3ffa8d8e4dd659c1534849cf5984ef4ec3532

New jaxlib release started.

[2021-07-09 21:36] matthewfeickert commented on #7128
Awesome. Thanks very much for the update @zhangqiaorjc &mdash; this is super appreciated! :pray:

[2021-07-09 21:51] hawkinsp commented on #7229
jax 0.2.17 has been released, and it uses the older (correct) runtime for jaxlib 0.1.68.

[2021-07-10 00:03] softworkz commented on #7079
@oracle3001 - How?

Which versions of python, CUDA cuDNN, bazel?
Which command line?

Thanks

[2021-07-10 00:14] oracle3001 commented on #7079
Python 3.8, Cuda 11.2, cuDNN 8.1.0, Bazel 4.1

Run with the following build command.

`python .\build\build.py --enable_cuda --cuda_path="C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v11.2" --cudnn_path="C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v11.2" --cuda_compute_capabilities="7.5" --cuda_version="11.2" --cudnn_version="8.1.0" --noenable_rocm --noenable_tpu`

[2021-07-10 00:34] softworkz commented on #7079
Thanks. I tried so many combinations, but here it always fails when trying to download a non-existing TF archive:

`UnrecoverableHttpException GET returned 404 Not Found`

followed by

`ERROR: An error occurred during the fetch of repository 'local_config_cuda':`

[code]

[2021-07-10 01:24] hawkinsp commented on #7079
The TF archive download failure is a warning and benign. Ignore it.

The issue is probably related to not finding your CUDA toolkit, which is the fatal error above.

[2021-07-10 01:44] softworkz commented on #7079
Thanks @hawkinsp, I figured it out: I've been re-using an existing MSYS2 installation which seems to have some conflicting configuration. Installed a fresh MSYS2 and it's building now!

Thanks a lot for your assistance (to both of you)!

[2021-07-10 04:20] zhangqiaorjc commented on #7128
@matthewfeickert jaxlib-v0.1.69 has been released, please try and see if the bug is fixed for you. Thanks!

[2021-07-10 04:20] zhangqiaorjc commented on #7229
jaxlib-v0.1.69 has been released

[2021-07-10 04:20] #7229 closed

[2021-07-10 04:54] #7128 closed

[2021-07-10 04:56] matthewfeickert commented on #7128
We're good to go! Thank you so much for all of your hard work on this @skye, @hawkinsp, and @zhangqiaorjc! It is super appreciated.

[2021-07-10 12:59] dcxSt opened #7237 "Import Jax fails on Mac with m1 chip"
In python 3.8.8 and using the new mac air (with the m1 chip), in jupyter notebooks and in python terminal, `import jax` raises this error

[code]

I suspect it occurs because of the m1 chip.

I tried using jax with pip install jax, then I built it from source as suggested by the error message by cloning their repository and following the instructions given [here](https://jax.readthedocs.io/en/late

[2021-07-10 13:55] NeilGirdhar commented on #7157
Not sure if you noticed, but I took the liberty of fixing this in #7158, which is awaiting review.

[2021-07-10 14:47] jakevdp commented on #7237
Thanks for the question! Pre-built jaxlib wheels for M1 are not yet available – for building jaxlib on M1, you may find this discussion useful: #5501

[2021-07-10 17:11] Sam131112 opened #7239 "Ipython and jupyter notebook keep failing while testing jax"
python version 3.6.10
cuda version 11
jax version '0.2.17'
gcc 7.3.0

[code]

Error obtained

2021-07-10 19:06:52.914859: W external/org_tensorflow/tensorflow/stream_executor/gpu/asm_compiler.cc:77] Couldn't get ptxas version string: Internal: Couldn't invoke ptxas --version
2021-07-10 19:06:52.915444: F external/org_tensorflow/tensorflow/compiler/xla/service/gpu/nvptx_compiler.cc:480] ptxas retur

[2021-07-10 18:03] hawkinsp commented on #7237
To add to what Jake says, the x86 wheels won't work on Mac M1 under emulation because they require AVX support, but Rosetta does not emulate AVX. So your options are to build a Mac M1 wheel from source, or to build an x86 wheel from source without AVX support and run it under emulation.

Mac M1 ARM wheels are tracked in #5501.

Hope that helps!

[2021-07-10 18:03] #7237 closed

[2021-07-10 18:15] hawkinsp commented on #7239
This means that JAX could not find `ptxas`, which is part of the CUDA toolkit. Is it in your path? If it's in your `PATH` jax should find it.

[2021-07-10 18:15] #7239 closed

[2021-07-10 20:21] gcusso commented on #7079
@oracle3001 Could you upload the jaxlib.whl file from you last successful build?

Thanks!

[2021-07-10 23:19] gchhablani commented on #5201
I agree with @cleichner. It is very hard to understand what it means and what is to be done in case this error appears.

[2021-07-11 10:47] PhilipVinc commented on #6863
Closed by #7141

[2021-07-11 10:47] #6863 closed

[2021-07-11 10:48] #3221 closed

[2021-07-11 10:48] PhilipVinc commented on #3221
Closed by http://mpi4jax.readthedocs.io

[2021-07-11 13:53] vegabook commented on #7186
Actually, I got it working!

https://forums.developer.nvidia.com/t/jax-on-jetson-nano/182593/9?u=thomas33

Main problem with the Jetsons is that they're very slow on updating their Ubuntu version so they're still on 18.04 and so Python 3.6. By the way these are great devices (RPi on steroids basically) and I think they have a great future. The linked instructions above should also work on the high

[2021-07-11 13:55] vegabook commented on #7186
**INSTRUCTIONS FOR INSTALLING GOOGLE JAX ML ON 4GB JETSON NANO WITH SSD**

SORTING OUT SWAP SPACE

Before you do any compiling of Jax, It’s really important to have plenty of swap space, because the Jetson’s 4GB is not nearly enough. Even 5GB of swap space is not enough, because gcc got killed for out of memory. I’ve gone with 10GB. For this reason you will almost certainly have to be running your

[2021-07-11 20:55] isaaccorley opened #7242 "jax.nn.initializers.constant implementation"
Please:

- [X] Check for duplicate requests.
- [X] Describe your goal, and if possible provide a code snippet with a motivating example.

There doesn't seem to be a `jax.nn.initializers.constant` function. I would like to gauge the interest of adding this in a PR.

I have an example implementation below from another [project](https://github.com/isaaccorley/jax-enhance) of mine which simply initial

[2021-07-12 09:29] dcxSt commented on #7237
Thanks for the quick reply!

[2021-07-12 10:23] PhilipVinc opened #7245 "Adding `jax.nn.activations.log_cosh`"
Would you accept new activation functions such as `log_cosh` ?
Tensorflow/keras/pytorch all have it.
The implementation is not trivial (though simple enough) if one wants to have good numerical precision.

If you'd accept it i'll open a PR

[code]

[2021-07-12 10:56] giganttheo opened #7247 "Jax import issue with TPU vm"
Hi! I'm working with a TPU-VM for the huggingface/flax/jax community week, and I have this error when I'm importing jax :

[code]

Do you have any idea how to fix this?
Thank you

[2021-07-12 11:43] giganttheo commented on #7247
`pip install "jax[tpu]>=0.2.16" -f https://storage.googleapis.com/jax-releases/libtpu_releases.html` works to solve this

[2021-07-12 11:43] #7247 closed

[2021-07-12 12:15] #7205 closed

[2021-07-12 12:44] hawkinsp commented on #7242
The obvious question is: does this function pay for itself? An alternative might be to simply call `jnp.full`.

[2021-07-12 12:47] hawkinsp commented on #7245
Keras version: https://www.tensorflow.org/api_docs/python/tf/keras/losses/log_cosh (N.B. it appears to be a loss function?)
I couldn't see a PyTorch version?

[2021-07-12 12:52] hawkinsp commented on #7186
Awesome!

Let us know if there's something we could do to improve our documentation.

I think the things we could improve here might be: (a) to support cross-compilation so you can build jaxlib on some other beefier machine but target it for the Jetson device, and (b) look into the long delay on first computation. (a) might work right now — we've never tried. For (b), if you had a Python profile o

[2021-07-12 13:28] isaaccorley commented on #7242
Thanks for pointing this out. I wasn't aware of jnp.full and that seems to be what I was looking for.

[2021-07-12 13:44] isaaccorley commented on #7242
I would still recommending adding this jax.nn.initializers. There are jax.nn.initializers.ones and jax.nn.initializers.zeros which simply wrap jnp.ones and jnp.zeros, respectively.

[2021-07-12 21:00] zhangqiaorjc commented on #7214
@oracle3001 thanks for trying to build jaxlib on Windows. Let us know if v0.1.69 builds successfully on Windows. Thanks!

[2021-07-12 21:05] oracle3001 commented on #7214
Yes it does, thank you.

[2021-07-12 21:12] terhorst opened #7256 "jax.scipy.stats.gamma.pdf(x, a=1.) handles x=0 incorrectly"
[code]

[2021-07-12 21:14] terhorst commented on #7256
It's probably a simple matter of not using `xlogy` in the implementation, I can look later.

[2021-07-13 01:12] hawkinsp commented on #5501
#7254 allows us to cross-compile Mac ARM wheels on an x86 Mac machine. Unfortunately we have no way to test them, not having any Mac ARM hardware of our own or any way to emulate it, so while we can certainly release the resulting wheels as a service to the community, there will be no guarantees that they will work in any given release. We'd have to rely on the community to try them out and report

[2021-07-13 04:28] jekbradbury commented on #7186
In other frameworks this is PTX jit-compilation for kernels that weren't compiled for the right GPU architecture, but JAX uses its own JIT and doesn't ship many precompiled kernels at all. Maybe NCCL (which contains the vast majority of CUDA code that JAX compiles from source) was built for the wrong set of compute capabilities?

[2021-07-13 07:39] GMCobraz commented on #7131
Hi @keepingupwithdeeplearning,

May I know how how you manage to run those commands in anaconda prompt?
I installed bazel v5 and also mysys2.
Before that, I cannot install realpath using mysys2, did you face this issues?

When I try to run the commands,
python .\build\build.py `
  --enable_cuda `
  --cuda_path='C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v10.1' `
  --cudnn_path='C:/Program

[2021-07-13 08:10] keepingupwithdeeplearning commented on #7131
Hey,
You don't need to install realpath separately. It's in mysys2 bin folder. Just make sure you set the path to mysys2 bin folder. I had issues with bazel v5 (they have removed couple of functions from the newer versions). So I tried with bazel v4.0 and bazel 4.1.

Hope this helps. Please do let me know if you manage to build jaxlib. The newer version of jaxlib doesn't help either.

[2021-07-13 10:04] vegabook commented on #7186
Yeah I thought the documentation was pretty good actually and the bazel-based build worked really smoothly. Certainly not always the case when building other libraries on Nvidia's Jetson family because they are "quirky" in some respects. Yes not sure why the warmup takes so long and I haven't played around enough with it in the last few days but as soon as I get more insight I'll post it here, wit

[2021-07-13 12:48] #7256 closed

[2021-07-13 13:16] hawkinsp commented on #7186
#7267 adds an option to disable NCCL, which will help if @jekbradbury 's guess is correct.

NCCL probably isn't that useful on a Jetson device.

Closing since there's no further action for us to take here.

[2021-07-13 13:16] #7186 closed

[2021-07-13 14:56] ibraheem-moosa opened #7269 "Support reverse time integration with ODE."
We are trying to implement the Neural ODE paper as part of the [JAX/FLAX Community Week at Hugging Face](https://discuss.huggingface.co/t/open-to-the-community-community-week-using-jax-flax-for-nlp-cv/7104). While trying to implement the Continuous Normalizing Flow part of the paper we realized we have to run the ODE solver reversed in time.

This feature is not supported by the current `odeint` i

[2021-07-13 15:17] mattjj commented on #7269
Good idea!

You might be able to use the same trick used in the vjp rule, where to integrate xdot = f(x) from 0 to -1, you instead integrate [xdot = -f(-x)](https://github.com/google/jax/blob/208dd1ac3f5c4835bc3e3986427ec703e5699e73/jax/experimental/ode.py#L229) from [0 to 1](https://github.com/google/jax/blob/208dd1ac3f5c4835bc3e3986427ec703e5699e73/jax/experimental/ode.py#L245). I think that's e

[2021-07-13 15:32] mattjj commented on #7269
More concretely, I think `odeint(f, x0, t)`, where t has monotonically decreasing values, would produce the same values as `odeint(lambda x, t: -f(x, -t), x0, -t)`, where in this call the time values are monotonically increasing. I didn't work out the change-of-variable argument, so that claim may be buggy, but something like that should work.

[2021-07-13 17:36] reza-amd opened #7271 "Tagging unit test failures to be skipped for ROCm"
Hi JAX developers,
We are trying to setup our CI builds for JAX and ROCm to help supporting JAX on AMD GPUs.

To track issues effectively, we need a way to filter the known unit tests failures to be excluded from the CI builds (similar to "no_rocm" tag in bazel and "is_built_with_rocm()" in tf.test).

These are the features we are trying to achieve:

- Excluding a whole test file from testing
- Ex

[2021-07-13 22:25] romanodev opened #7276 "convolve2D not supporting "boundary=wrap""
Hi JAX developers,

I am trying to filter periodic images with jax.scipy.signal.convolve2d, but it seems that the flag boundary='wrap' is not supported, although it was mentioned in the doc.

Here a MVE:

[code]

Here is the error:
raise NotImplementedError("convolve2d() only supports boundary='fill', fillvalue=0")
NotImplementedError: convolve2d() only supports boundary='fill', fillvalue=0

Thank

[2021-07-13 22:34] jakevdp commented on #7276
Hi - thanks for the report! This is a known issue, though is not tracked anywhere (aside from the explicit `NotImplementedError` you found in the code).

Regarding the documentation, the reason it's mentioned there is because the docstring is copied verbatim from `scipy.signal.convolve`, as is the custom with JAX wrapped numpy/scipy functions. In many cases if you dig hard enough you'll find unimp

[2021-07-13 22:40] jakevdp commented on #7276
One more thing: the reason this has not yet been implemented is because convolutions are computed via XLA's [ConvWithGeneralPadding](https://www.tensorflow.org/xla/operation_semantics#convwithgeneralpadding_convolution), and I'm not certain whether its able to compute the equivalent of scipy's wrapped convolutions.

[2021-07-13 22:43] hawkinsp commented on #7276
The best way to implement this is probably to explicitly form the padding values as part of the input to the convolution. Note that `jnp.pad` supports wrapping padding modes, so perhaps the implementation is as simple as composing the two?

[2021-07-13 23:22] romanodev commented on #7276
@hawkinsp , great call.

Here is a working example:

[code]

[2021-07-14 00:38] keepingupwithdeeplearning commented on #7131
The path should be C:\Users\Aries\msys64\usr\bin

[2021-07-14 01:04] hawkinsp commented on #7276
@romanodev Awesome! Would you be interested in contributing a PR that adds support for `boundary="wrap"` to `convolve2d`? The implementation is here: https://github.com/google/jax/blob/9450b8f8f96cb4d57b3f6337dcc18d3d104ecf6b/jax/_src/scipy/signal.py#L73

[2021-07-14 08:37] davidlee321 opened #7279 "ImportError: cannot import name 'flags' from 'jax.config' (/usr/local/lib/python3.7/dist-packages/jax/config.py)"
Has anyone encountered this error?

Running this:
[code]

gives:

[code]

[2021-07-14 09:52] kngwyu commented on #5723
I encountered this problem on an HPC of which I'm not an admin, and I set `XLA_FLAGS=--xla_gpu_force_compilation_parallelism=1` to suppress this error.
I think it can be a problem with singularity, but just want to share my experience here.

[2021-07-14 11:15] dcxSt commented on #5501
Hi, I'm using a device with the M1 chip and have been following this thread very attentively although my understanding is very basic. I've been relentlessly trying to import Jax for a few days now, most recently I switched to @hawkinsp 's PR #7254 and attempted to build jaxlib with python `build/build.py` (using python 3.8.8, and having uninstalled bazel) however it didn't work,  this is the outpu

[2021-07-14 11:31] apaszke commented on #7279
Have you tried upgrading to the newest version of JAX? I'm not sure what could be causing this, but this looks definitely fixed in our `main` branch.

[2021-07-14 11:31] apaszke commented on #7279
Or were you running on a public colab instance?

[2021-07-14 12:36] akbir commented on #5501
Hi @dcxSt!

So a couple of thing's I'd note, if you want to build Jax on your m1.

1) Your python interpreter is using rosetta (it thinks its running on intel `x86` as opposed to the m1  `arm64`). I'm not sure how you installed it but you'll need the native `m1` version. This can be easily done using brew. I'm not well versed using anaconda but i'm sure theres a channel somewhere for it.

2) You'r

[2021-07-14 13:29] jatentaki commented on #7269
@ibraheem-moosa is your code available somewhere? I was recently trying to implement CNFs as well and ran into #7142. Are you seeing any issues there?

[2021-07-14 13:56] aymgal opened #7284 "Implementation of ndimage.filters.gaussian_filter"
Hi, can we expect to have the fast [gaussian_filter](https://docs.scipy.org/doc/scipy/reference/generated/scipy.ndimage.gaussian_filter.html) method from scipy implemented in JAX? Or are their fundamentals limitations that prevent its implementation?

[2021-07-14 14:17] ibraheem-moosa commented on #7269
@jatentaki You can find my code [here](https://github.com/ibraheem-moosa/neural-ode-in-jax/blob/master/examples/cnf.py) and [here](https://github.com/ibraheem-moosa/neural-ode-in-jax/blob/master/examples/cnf_jax.py). It is really a WIP. I'm not sure how  helpful it would be. I have been struggling with this for the past few days.

[2021-07-14 15:44] #5201 closed

[2021-07-14 16:15] GMCobraz commented on #7131
Hi @keepingupwithdeeplearning ,
Even I set the path, I still get the same error, mentioned that no such file or directory.
Please help

Thank you very much.

[2021-07-14 16:24] GMCobraz opened #7285 "Build jaxlib from source Windows"
(base) C:\Users\Aries>conda activate pymc3

(pymc3) C:\Users\Aries>bazel version
Build label: 4.0.0
Build target: bazel-out/x64_windows-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Thu Jan 21 07:39:16 2021 (1611214756)
Build timestamp: 1611214756
Build timestamp as int: 1611214756

(pymc3) C:\Users\Aries>gcc --version
gcc (Rev5, Built by MSYS2 projec

[2021-07-14 16:31] hawkinsp commented on #7285
You need to build from within a git checkout of the JAX source tree.

[2021-07-14 16:31] #7285 closed

[2021-07-14 17:28] GMCobraz commented on #7285
Hi @hawkinsp,

(pymc3) C:\Users\Aries\jax>set PATH=%PATH%; C:\Users\Aries\bazel

(pymc3) C:\Users\Aries\jax>set PATH=%PATH%; C:\Users\Aries\msys64\usr\bin

(pymc3) C:\Users\Aries\jax>python .\build\build.py --enable_cuda --cuda_path="C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v10.1" --cudnn_path="C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v10.1" --cuda_compute_capabilities="5.0" --

[2021-07-14 17:57] shoyer commented on #7284
It looks like scipy implements a N-D Gaussian filter via N separate 1D filters over each dimension, which are in turn implemented via 1D convolutions.

JAX has all of these building blocks already, so a Gaussian filter should be straightforward to implement with similar code to what SciPy uses.

One limitation is that it won't be very efficient for large radius blurs, because JAX doesn't (yet) imp

[2021-07-14 18:14] zhangqiaorjc commented on #7279
Would this work?
[code]

[2021-07-14 18:50] skye commented on #7279
Are you running in a TPU colab? I suggest using the following, which takes care of updating these configs for you:
[code]
Run that before the rest of your jax code.

See https://github.com/google/jax/tree/main/cloud_tpu_colabs for a bunch of example colabs that use this.

[2021-07-14 20:14] mblondel commented on #7175
We also have some here https://github.com/google/jaxopt/blob/main/jaxopt/_src/loss.py

[2021-07-14 22:10] romanodev commented on #7276
@hawkinsp , I can definitely take a look at that. While the above case is for mode='full', I guess it must be implemented for all modes, as required in https://github.com/google/jax/blob/main/tests/scipy_signal_test.py#L50

[2021-07-14 22:45] lukepfister opened #7287 "ravel, flatten don't return copies of 1D arrays"
The docstring for ravel states:
[code]

But this isn't true if the array is already flattened:
[code]
Why does this matter? It probably doesn't, but the behavior doesn't match the documentation.

[2021-07-15 01:38] keepingupwithdeeplearning commented on #7131
Save bazel.exe in a folder  (eg: bazel_folder) and set the path to the folder:

C:\Users\Aries\bazel_folder

[2021-07-15 13:16] GMCobraz commented on #7131
Hi @keepingupwithdeeplearning,

Thanks for the replied.
I did run the jax but still failed to build the jaxlib. I faced similar errors as yours.

I saw in post #7079, someone claimed that they are succefully build the jaxlib with python 3.8, cuda v11.2, cudnn v8.1.

I suspect this is due to the gcc version from msys2.
If we check the gcc version from msys2 or cmd. We found out that the gcc version

[2021-07-15 13:21] GMCobraz commented on #7079
Hi guys,

I saw @oracle3001 succefully build the jaxlib with python 3.8, cuda v11.2, cudnn v8.1.

I suspect this is due to the gcc and g++ version from msys2.
If we check the gcc version from msys2 or cmd. We found out that the gcc version show is v10.

I tried install cuda in ubuntu too, with cuda v10.1, cudnn v7.6.5.
**I remember the gcc and g++ version must be v8.**
It will have error when gcc

[2021-07-15 14:07] hawkinsp commented on #7284
Another option would be to contribute these functions to a library like `dm_pix`, which was recently opensourced: https://github.com/deepmind/dm_pix

Happy either way.

[2021-07-15 14:09] hawkinsp commented on #5501
@dcxSt @akbir is correct. You are building on a Python x86-64 interpreter. You have two choices:
* install an ARM Python interpreter and use that (probably preferable).
* keep using an x86-64 interpreter, but pass `--target_cpu_features=default` to `build.py` to build without AVX.

I recommend using a native version if you can!

[2021-07-15 15:03] hawkinsp commented on #7271
We already have `jax.test_util.skip_on_devices()`. Currently it knows about `"cpu"`, `"gpu"`, and `"tpu"`. Perhaps it suffice to teach that function about `rocm` as well? I'd be tempted to leave `"gpu"` meaning "all gpus" and have `"cuda"` and `"rocm"` mean NVidia and AMD GPUs specifically.

I'd be tempted to expose the necessary information as a property on `Device` objects, if it isn't already e

[2021-07-15 15:54] GMCobraz commented on #7079
Hi @oracle3001 ,

May I know did you solved the failed to build error at the end?

Thank you very much

[2021-07-15 16:00] hawkinsp commented on #7079
@GMCobraz can you share the complete logs from your build?

Note that gcc versions are irrelevant on Windows; JAX should be built with MSVC, per the instructions (https://jax.readthedocs.io/en/latest/developer.html#additional-notes-for-building-jaxlib-from-source-on-windows).

[2021-07-15 19:14] GMCobraz commented on #7079
Hi @hawkinsp ,
Good day.
Here attached with my error log.
![image](https://user-images.githubusercontent.com/63672255/125844253-088ae598-92ac-43b0-a10e-4917ff8301ad.png)
![image](https://user-images.githubusercontent.com/63672255/125844413-8349b766-fb64-4c22-b12f-71c259b880bf.png)

I built JAX with MSVC, but not sure why it still fail
Please help. thanks.

[2021-07-15 21:42] daskol opened #7301 "Abnormal Memory Allocation on Array Printing"
In the snippet below we create a random array of 32M elements and then print it with python built-in. The issue is that printing causes enormous memory consumption which is larger that size of the array. As the result OOM killer kills Jupyter kernel. I guess that the issue is in implementation of `__str__` or `__repr__` for array-like objetcs.
[code]
Version of `jax` and `jaxlib` are `0.2.17` and

[2021-07-16 00:43] keepingupwithdeeplearning commented on #7131
Thank you! I'll try upgrading and see if it works.

[2021-07-16 04:13] buwantaiji opened #7302 "Custom jvp of dominant eigensolver yields wrong vjp behavior"
I'm using jax to test the AD of dominant eigensolver. As an example, the function `symeig` below returns only the lowest eigenvalue and corresponding eigenvector of a real symmetric matrix.

[code]
This function is itself differentiable, since it just wraps the full diagonalization routine `jax.scipy.linalg.eigh`. Nevertheless, I manually implemented the jvp rule, which is well known as the standa

[2021-07-16 07:31] reza-amd commented on #7271
Thanks for the comment.
I tried to follow your suggestion in [this](https://github.com/tensorflow/tensorflow/pull/50799) PR for TensorFlow.

If I understood you correctly, based on your suggestion, we can use the ```jax.test_util.skip_on_devices()``` for skipping test cases and the ```device_vendor``` property (will be enabled by the mentioned PR) to modify the test case for AMD devices.

[2021-07-16 10:12] dcxSt commented on #5501
Hallelujah it works! Thank you @akbir thank you @hawkinsp you are my saviours!

For others, here's what I did:
Installed python for arm64 (first uninstall anaconda with `brew uninstall anaconda`)
[code]
Build jaxlib from source by cloning the jax repository, and install bazel 4
[code]
Then enter the jax directory `cd jax` and build jaxlib from source, this takes a while to run (~8 mins)
[code]
The

[2021-07-16 10:29] j-towns commented on #7010
As @juliuskunze just pointed out to me, this is the only difference in semantics (that we can think of) between the GPU, CPU and TPU backends. 'Backend transparency' is an valuable property in mine and Julius's opinion, and given how close JAX is to achieving it (if this really is the only case where semantics differ significantly), it's surely worth changing the TPU default for all matmul-like op

[2021-07-16 16:38] sw32-seo commented on #7269
@jatentaki Does Flax have the same interaction issue with odeint as haiku does?
I think I have a similar problem in [here](https://github.com/sw32-seo/neuralODE/blob/CNF/train_cnf.py)
I use -f(x, -t) with t =[10, 0] as @mattjj mentioned. Then, I compared trace at [line 85](https://github.com/sw32-seo/neuralODE/blob/1dff4e38c5c8827cf74e9a81d954d825ea72a99c/train_cnf.py#L85) to [original code](https

[2021-07-17 00:03] deasmhumhna opened #7312 "jax.mask: "UndefinedPoly: Polynomial comparison t == 0 is inconclusive""
I understand that `jax.mask` has been scrapped in favor of something new, but @mattjj mentioned in #5000 that users raising issues may still be helpful for the redesign.

It looks like masking for ragged inputs requires a feasible zero-length case, which isn't always possible. I don't know if this was intentional, but it does limit the kind of functions that can be masked if the zero-length case n

[2021-07-18 17:48] botev commented on #6779
I think the main goal here when we discussed this with Matt was indeed check "from within" which to allows us to raise an error if a user tries to stage something, that we as developers are clear would lead to weird behaviour and they should not be doing.

[2021-07-19 04:20] cloudhan commented on #7079
@GMCobraz Windows is not an officially supported platform (at least currently), so you should not expect support from them. This [PR](https://github.com/google/jax/pull/7319) should resolve you problem.

[2021-07-19 04:46] reza-amd opened #7323 "[ROCm] running unit test in parallel"
Hi all,
I wanted to know you recommendation on running unit tests in parallel (for a multi-GPU machine), but not running more than one test on each GPU. For example, in a machine with 8 GPUs, I want to run 8 tests in parallel.
In TensorFlow, you use bazel "run_under" argument with [this](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/gpu_build/parallel_gpu_execute.s

[2021-07-19 12:51] hawkinsp commented on #7323
Internally we run tests under Bazel, but we didn't want to force opensource users to have to do that, since it's not very Pythonic. One option is that we can opensource and support a Bazel-based approach to testing, and perhaps we should do that.

The other option is to use `pytest-xdist`, which is what we usually recommend since `pytest` is more familiar to the opensource community.

It's possibl

[2021-07-19 13:05] hawkinsp commented on #7301
I think this is actually a NumPy bug.

Here's a reproduction without JAX:
[code]

(JAX uses NumPy to format arrays, which is why you see the issue from JAX.)

[2021-07-19 13:07] hawkinsp commented on #7301
By the way, did you really want to create an array of 25 dimensions? I suspect most array libraries aren't going to handle that well; many will have algorithms that scale poorly with the number of dimensions.

[2021-07-19 13:23] daskol commented on #7301
Should I create an issue in NumPy repo or it is better to be you?

Yes, I definitely needs large number of modes. It could be useful if one are trying to solve "exactly" small discrete systems. This is actually my case. In fact, I

[2021-07-19 13:40] hawkinsp commented on #7301
I filed a NumPy issue (https://github.com/numpy/numpy/issues/19515).

[2021-07-19 13:43] daskol opened #7324 "Buggy Subscript Parsing in einsum Function"
There is an incompatibility between `jax.numpy` and `numpy` in `einsum()` implementation. JAX allows digits and other characters like underscore `_` in subscript but NumPy does not. Here is a snippet to demonstrate.
[code]
Version of jax and jaxlib are 0.2.17 and 0.1.68 correspondently.

[2021-07-19 13:46] hawkinsp commented on #7324
In general we don't want to promise exact API compatibility with NumPy. In this case, it seems the behavior of JAX is a superset of NumPy's behavior. That seems fine to me?

FWIW, JAX's einsum parser is actually from `opt_einsum`, and this issue probably means that `opt_einsum` is more permissive than NumPy. But I'm not sure that's something we actually want to fix.

[2021-07-19 13:51] hawkinsp commented on #7287
#7325 clarifies the documentation to state that JAX *may* return a copy, as opposed to *will* return a copy.

[2021-07-19 13:52] hawkinsp commented on #7279
Closing due to lack of activity. Please feel free to reopen if the suggestions above didn't work!

[2021-07-19 13:52] #7279 closed

[2021-07-19 13:57] daskol commented on #7324
Totally agreed.

It turns out that `opt_einsum` is much more permissive (even digit means axis).

[2021-07-19 13:57] #7324 closed

[2021-07-19 15:14] #7287 closed

[2021-07-19 16:12] cloudhan commented on #7079
I was trying to set up third party CI for windows build, but lack for compute resource now.

The following are try-out builds last weekend, manually.

#### CUDA 10.1

*contains fix from the previously mentioned PR*

https://whls.blob.core.windows.net/cuda101/jaxlib-0.1.70+cuda101-cp37-none-win_amd64.whl
https://whls.blob.core.windows.net/cuda101/jaxlib-0.1.70+cuda101-cp38-none-win_amd64.whl
https:

[2021-07-19 16:19] charlesm93 opened #7326 "No error message when `odeint` fails"
Please:

- [x] Check for duplicate issues.
- [x] Provide a complete example of how to reproduce the bug, wrapped in triple backticks.
- [ ] If applicable, include full error messages/tracebacks.

When `odeint` fails to meet the target precision, as determined by the relative and absolute tolerance, no error or warning message is issued. Here's a toy example demonstrating the problem:

[code]
With

[2021-07-19 17:10] froystig commented on #7302
cc @j-towns and @shoyer, who have thought about `eigh` autodiff before. Also cc @mblondel, who has mentioned (in conversation) an issue before about transpose-of-jvp giving unexpected results.

[2021-07-19 17:47] shoyer commented on #7302
This seems like something that definitely _should_ work -- these partial eigenvalue solvers are quite useful for large scale problems.

I tried decreasing N and switching to `np.testing.assert_allclose` (to show the size of errors). It's clear that there's a large discrepancy here, though.

It might be worth looking at JAX's own test suite for eigh grads to see if that is more informative, e.g., s

[2021-07-19 18:43] shoyer opened #7329 "Boolean indexing/masking with the wrong shape should fail"
This example results in an error with NumPy but not jax.numpy:
[code]

It looks like JAX converts the boolean indexer array into an integer array for indexing without checking the shape.

We should raise an error in this case: indexing an array of shape (4,) with a boolean array of shape (2,) is never valid.

[2021-07-19 18:51] reza-amd commented on #7323
Thanks for the patch. We have `HIP_VISIBLE_DEVICES` to adopt it for ROCm. However, I also think the bazel-based solution would be ideal as we can test our changes similar to you and it makes our future communication much easier. If this is the case, when do you think it will happen?

[2021-07-19 22:13] FelipeMartins96 opened #7332 "Unused variable in "Training a Simple Neural Network Advanced Jax Tutorial Notebooks""
On both https://github.com/google/jax/blob/main/docs/notebooks/Neural_Network_and_Data_Loading.ipynb and https://github.com/google/jax/blob/main/docs/notebooks/neural_network_with_tfds_data.ipynb notebooks, which are part of the Advanced JAX Tutorials, there is the usage of impure functions.

The step size value which is used on the jitted update function is a global value.

Also, the network init

[2021-07-20 01:45] hawkinsp commented on #7332
This is really a question of how you define a "pure function".

Yes, in both notebooks, `step_size` is a global variable that is referred to by `update`. So you could argue that by any structural definition of purity it is not pure. It is technically true that if `step_size` were to change, then the behavior of `update` (in the absence of `jit`, etc.) would change, i.e., `update` is not in the str

[2021-07-20 01:55] FelipeMartins96 commented on #7332
Got it! Thank you for the explanation.

Sure, I'll create a PR right away.

[2021-07-20 07:54] GMCobraz commented on #7079
Hi @cloudhan ,

Thanks for the reply.
Once I downloaded the .whl file, I can proceed with numpyro v0.7.1 installation right?

May I have the jaxlib-0.1.62+cuda101-cp37-none-win_amd64.whl?
Cause I will need it to install with numypro v0.6.0 and jax v0.2.10.
Thank you very much

[2021-07-20 09:24] cloudhan commented on #7079
You can try it out, that is, new version `jaxlib` + old version `jax`, not sure will it works.

[2021-07-20 10:02] epignatelli commented on #7148
While this moves forwards, the workaround I found is to explicitly call `xla_bridge.backends()` at the initialisation of any process. This should initialise all backends as soon as the process starts, i.e.:
[code]

[2021-07-20 11:18] paramjeet2021 commented on #6962
I am also facing the same error but to resolve this I moved to Jax = 0.2.12 but unable to import jax

[code]
import jax product this output and abort command.

[2021-07-20 13:37] paramjeet2021 opened #7334 "Jax older version as newer version does not work within my code"
I installed jax == 0.2.12 because my code specifically works with this version. When I import then it generated below error:
[code]
If I used 0.2.15 onwards, then import jax works fine but my code does not works.

How can I setup Jax==0.2.12 to make import jax work?

[2021-07-20 16:11] botev opened #7336 "jax.experimental.enable_x64 does not work under jax.jit"
The following code:
[code]
Throws out the following error:
[code]
It is unclear at the moment how to use the `enable_x64` contest when using `jax.jit`.

[2021-07-20 16:45] grisaitis commented on #2164
@zqwei did you ever find a way to implement this? i'm also interested in NNLS

[2021-07-20 17:27] shoyer commented on #7302
In an attempt to narrow this down, I wrote a third version using `jnp.linalg.solve` instead of `cg`:
[code]

Interesting, this function now fails the JVP test, too!

Looking at the calculation more carefully, I don't think your JVP rule is correct. The problem is that Aprime is a not full rank, so the linear solve is not well defined. It's been a while since I looked into this carefully, but as I

[2021-07-20 21:42] skye commented on #7334
I take it you're running JAX on a Cloud TPU VM? Can you say more about what doesn't work with jax >= 0.2.15? (e.g. what error do you get?)

If you must use jax 0.2.12, try creating a fresh TPU VM, and install jax like this: `pip install jax==0.2.12`. However, this is a pretty brittle setup and may break in the future, so I suggest figuring out how to get your code to run with new jax versions, whi

[2021-07-20 22:36] NeilGirdhar opened #7340 "concrete_aval cannot handle ad_util.Zero causing crash in id_tap"
Sorry for not having a MWE.  I spent about half an hour on trying to build one, but I'll need more time to figure it out if it's necessary.  In the off chance that a stack trace is enough, here's what I have:

[code]

In this case, `zz` is:
[code]
If I remove either half of the tuple, the error doesn't happen.

Please let me know if you need me to invest the time in making a MWE.

@gnecula

[2021-07-21 06:37] paramjeet2021 commented on #7334
I have installed jax== 2.16 on my TPU VM and executing repo https://github.com/kingoflolz/mesh-transformer-jax

In this code base, I have to train a custom ML model followed by  colab_demo file to generate content.   Everything worked with jax 2.16 but I am stuck in colab_demo.ipynb and people are recommending Jax=2.12 works and this issue will not arise. You can look more into the below error and

[2021-07-21 13:15] sygi opened #7344 "jax2tf polymorphic_shapes with structured input"
I'm trying to use polymorphic shapes in jax2tf. From the docs it seems that structured inputs are supported:

`It should be a Python object with the same pytree structure as, or a prefix of, the tuple of arguments to the function, but with a shape specification corresponding to each argument.`

yet when I was trying to use it with a NamedTuple I got the error:
`InconclusiveDimensionOperation: Dime

[2021-07-21 13:40] buwantaiji commented on #7302
@shoyer Thanks for the response! As you have noticed, the linear system involved in jvp version 2 is low-rank. The point, however, is that the linear system can be unambiguously specified.

For the eigenvalue problem A v_i = lambda_i v_i of a real symmetric matrix A, the jvp rule can be derived from perturbation theory and reads (assuming no degeneracy):
![jvp perturbation](https://user-images.git

[2021-07-21 14:51] wangleiphy commented on #7302
Yes. @buwantaiji's math is correct. Also see https://math.mit.edu/~stevenj/18.336/adjoint.pdf: texts above eq. (6) and footnote 7.

[2021-07-21 15:35] james-martens commented on #7336
I have an example of using float64 in Jax to compute more precise inner products that seems to work, but has a bunch of reasonable variants which don't work (presumably due to bugs). These variants are described in the comments of the code block below:
[code]

[2021-07-21 17:20] shoyer commented on #7302
OK, well regardless for debugging it would be helpful to make a version of this custom JVP rule that does not use `cg`. The would help narrow whether the issue is with `custom_jvp` or the custom autodiff machinery used inside `cg` itself (via `lax.custom_linear_solve`). It may also be JAX's rule for transposed linear solves implicitly assumes full rank, even if you don't need that to correctly cal

[2021-07-21 19:44] lukepfister opened #7348 "update host_callback documentation regarding read-only arrays"
The argument inside of a function that is executed using `host_callback.call` is  read-only when using `jaxlib == 0.1.69`, but it was writeable in previous versions of jaxlib.  Here's a simple illustration

[code]

On `jax == 0.2.17` and  `jaxlib <= 0.1.68`, the printed values are
[code]

Using the same version of `jax` and `jaxlib==0.1.69`, we get
[code]
Note that `OWNDATA` and `WRITEABLE` are di

[2021-07-21 19:54] james-martens commented on #7336
Here's a simple example of counter-intuitive behavior with float64. Not sure if it's working as intended.
[code]

[2021-07-21 20:46] shoyer commented on #7326
I think the best we could do here is return `NaN` instead of a valid answer, since it isn't possible to raise errors from within XLA.

[2021-07-21 20:48] joelberkeley commented on #2861
I created [an issue](https://github.com/tensorflow/tensorflow/issues/50681) for this on the tensorflow github

[2021-07-21 22:11] skye commented on #7336
@mattjj are you a good person to look at this given Jake's out? Can you triage if not?

[2021-07-22 04:23] buwantaiji commented on #7302
I made the following version of jvp rule using matrix pseudo-inverse `jnp.linalg.pinv`. It passes both tests `test_jvp` and `test_grad`.
[code]
The issue seems to be attributed to transpose of iterative solvers like `cg`.

[2021-07-22 04:52] shoyer commented on #7302
This is very helpful, thank you!

On Wed, Jul 21, 2021 at 9:23 PM Hao Xie ***@***.***> wrote:

[2021-07-22 07:57] sygi commented on #7344
After playing with this example a bit I realised that the problem wasn't with the structured input, as I assumed, but with indexing the polymorphic shape. I don't care about this; the example above was an unfortunate attempt at extracting the problem that I have into a small example. Let me give more context and rephrase my question:

I have some complex jax function `arbitrary_fn`. I would like t

[2021-07-22 09:40] mandelbrot-walker commented on #7269
@jatentaki you can find a working CNF [here](https://huggingface.co/flax-community/NeuralODE_SDE) by @sw32-seo .

[2021-07-22 09:55] apaszke opened #7351 "Use psum_scatter to implement transpose for all_gather"
At the moment we work around the lack of this collective by using `all_to_all` and a local sum, but `psum_scatter` (added in #7322) is a perfect fit for the task.

[2021-07-22 12:26] gnecula commented on #7344
The first bug you encountered was because the current version of jax2tf does not support indexing a polymorphic dimension. This ought to be fixed in the upcoming PR #7317.

In general, you cannot expect an arbitrary JAX program to be shape polymorphic, e.g., if it does a conditional on the value of the unknown dimension. The [documentation](https://github.com/google/jax/tree/9f8fb243f9d709d9351e12

[2021-07-22 12:35] gnecula commented on #7348
One thing that has changed in jaxlib 0.1.69 is that we have a new mechanism for host_callback on CPU, using CustomCall instead of outfeed. This new mechanism passes the arrays without a copy, and must thus pass them as read only. If the callback code wants to write into the array, it should make a copy. This ought to be documented.

[2021-07-22 12:46] gnecula commented on #7340
I looked at these stack traces and I am not sure what the problem is. It seems to be in presence of `vjp` with integer values, but there is also custom_vjp involved. It is likely that I have not tested `id_tap` with `vjp` with integer values.

I do not understand your comment about removing either half of the tuple.

[2021-07-22 12:51] gnecula commented on #7340
Actually, I looked and there is a test for `id_tap` with `vjp` with integer values. Is there `vmap` involved also?

[2021-07-22 15:35] bhushan-borole commented on #70
Hello @hawkinsp
I am willing to take up `np.insert`.
Is someone else working on it?

[2021-07-22 16:44] njzjz commented on #6046
I had a same error when I built TensorFlow. Have you resolved this problem? Thank you!

[2021-07-22 17:14] sygi commented on #7344
Sorry for bothering again. After spending more time on this, I managed to reduce my code to:

[code]

Did you, in your message, meant that using `tf.placeholder` is not supported at all? Any idea about the situations in which `tf.placeholder` may work and `tf.TensorSpec` will fail? Or ones where `fn(regular)` and `jax.vmap(fn)(extended)` will run, but `tf_one(one_spec)` won't? Similarly, what coul

[2021-07-22 17:58] holl- commented on #6046
Unfortunately not with CUDA 11.0. If there is a fix, I would be interested, too.

[2021-07-22 20:08] NeilGirdhar commented on #7340
I mean that it works if I do this:
[code]
Perhaps there's a test for integers, but not for a pytree containing integers?

Yes, you got it, a `vmap` is involved in the backward pass of the custom VJP.

Let me know if you would like access to my repo.  😄

[2021-07-22 21:21] charlesm93 commented on #7326
Returning `NaN` would certainly be an improvement.

I do find warning and error messages extremely helpful, especially when writing intricate code. Specifying a model with TensorFlow Probability built on JAX becomes quite challenging when I need to hunt down where in the code the `NaN` comes from. By contrast, a language such as Stan provides detailed information about what caused the issue (e.g.

[2021-07-22 22:29] shoyer commented on #7326
Well, we can certainly imagine passing status codes around explicitly. We just can't use "exceptions", since those don't exist in XLA HLO.

[2021-07-23 00:38] proutrc commented on #4493
@f0uriest @mrorro

Did you all happen to make progress with this issue? We are looking to build JAX on Summit and I happened upon this issue/discussion.

[2021-07-23 00:58] feifzhou commented on #4493
Nothing so far. Would love to see if you can solve it on Summit.

On Thu, Jul 22, 2021 at 5:38 PM proutrc ***@***.***> wrote:

[2021-07-23 02:10] f0uriest commented on #4493
I also haven't made any progress but haven't had much time to work on it either. We've been using 0.1.55 for a while, though I'm hoping to upgrade later this summer

[2021-07-23 04:42] skye commented on #6962
@kingoflolz thanks for the repro and @shawwn thanks for the verbal explanation, they're both very helpful. Thanks @paramjeet2021 for reminding us to think about this :)

If I'm understanding correctly, you're basically implementing the same behavior as pmap: shard one value across the 8 devices, replicate one value across devices, and get a sharded result out. You're doing this with xmap by creati

[2021-07-23 06:29] gnecula commented on #7340
I asked about the `vmap` not because of the error `TypeError: Value Zero(ShapedArray(void[2])) with type <class 'jax._src.ad_util.Zero'> is not a valid JAX type`. I cannot understand how this error relates to the workaround of breaking up the pair.

In your previous comment you say that `zz` is:
[code]

Can the problem be with the `Generator` somehow? `id_print` should work on pytrees, e.g., tuple

[2021-07-23 06:48] njzjz commented on #6046
It should be caused by a non-empty braced-init-list. (https://stackoverflow.com/q/26947704/9567349) Using `std::make_tuple` instead works to me. Here's the patch:
[code]

[2021-07-23 07:10] gnecula commented on #7344
`tf.placeholder` is a TF1-only concept. Is TF1 a requirement for you? We have not tested `jax2tf` with TF1 and I don't actually know TF1.

Focussing on the TF2-compatible parts of your code (remove all the stuff with placeholders), I am having trouble running your code. First, I add `regular = np.array([0., 1.])` (perhaps the errors are different depending on what you used for `regular`.)

Then, I

[2021-07-23 07:24] zgbkdlm opened #7355 "Chaining JVPs results in infinite recursion"
Hello,
I am currently rewriting the code of my [paper](https://ieeexplore.ieee.org/document/9308966) on continuous-discrete filtering in JAX to make it more efficient and readable (at the moment it relies on SymPy to compote the chain rule...)

In order to to this, I essentially need to compute a chain of JVP evaluated at the same tangents everytime, informally: `jvp(jvp(jvp(...,v), v), v)` where

[2021-07-23 07:30] NeilGirdhar commented on #7340
Okay, I added you, I'll add a branch called id_crash.  You can run it by typing
[code]

[2021-07-23 08:06] gnecula commented on #7344
I have made some improvements to the error checking and reporting for bad polymorphic_shapes in PR #7356.

[2021-07-23 08:26] sygi commented on #7344
Thanks for taking a look. I'm sorry I didn't make it clear enough, but the example above was not meant to be run. What I am saying there is that I have a function where if I extend the shapes of all the inputs by 'b' (correctly, so eg. I have "(b, 76, 48, 3)" as a shape (which is not super easy due to how tree works)) and vmap the function, I get the `InconclusiveDimensionOperation`. When I map `b

[2021-07-23 11:10] remifan opened #7357 "A sensible default setting for complex-valued optimisation"
## motivation
I have seen an emerging interest in optimizing complex variables: [TF](https://github.com/tensorflow/tensorflow/issues/38541), [Pytorch](https://github.com/pytorch/pytorch/issues/59998), [Optax](https://github.com/deepmind/optax/issues/144).

In Jax, for some reasons[#4891](https://github.com/google/jax/issues/4891), the convention of the gradient on complex number given map `f: ℂ→ℝ`

[2021-07-23 12:42] hawkinsp commented on #7355
This isn't a JAX bug. The issue is that your Python program has infinite recursion.

Try:
[code]

[2021-07-23 12:42] #7355 closed

[2021-07-23 12:51] Edenhofer opened #7363 "Export `jax._src.scipy.optimize.line_search.line_search`"
Is it sensible to export `jax._src.scipy.optimize.line_search.line_search` maybe even as `jax.scipy.optimize.line_search`? From its syntax it is highly similar to [SciPy's implementation](https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.line_search.html) (except of course for the `fprime` part). The two implementations are not equivalent (see [this inline comment](https://github

[2021-07-23 13:17] zgbkdlm commented on #7355
Thank you!

[2021-07-23 13:56] asedova commented on #4493
@hawkinsp on Summit, after fixing compiler flags, we are also getting the download error:
`WARNING: Download from http://mirror.tensorflow.org/github.com/tensorflow/runtime/archive/d29d1ef0a65a8f9c23e1f88067ce4205d3085e87.tar.gz failed: class com.google.devtools.build.lib.bazel.repository.downloader.UnrecoverableHttpException GET returned 404 Not Found`

[2021-07-23 14:34] hawkinsp commented on #4493
@asedova That is a benign warning, you can ignore it.

[2021-07-23 14:44] hawkinsp commented on #4493
I was able to cross-compile a ppc64le wheel on an x86-64 machine by following the instructions in #7365. I can't easily test the resulting wheel, though.

I would imagine that building natively on a ppc64le machine requires nothing other than following the standard instructions once the changes in #7365 are merged.

[2021-07-23 14:53] asedova commented on #4493
Thanks

[2021-07-23 15:37] asedova commented on #4493
Thanks @hawkinsp we are eagerly awaiting this merge

[2021-07-23 15:41] mattjj commented on #7357
Thanks for the suggestion, and the clear explanation!

This line of thinking makes sense to me. I like how you factored out `complex_handler`. And I'm glad to hear that the extension turned out to be straightforward!

However, we're not really developing `jax.experimental.optimizers` more. From the [`jax.experimental` README](https://github.com/google/jax/tree/main/jax/experimental#mini-libraries)

[2021-07-23 15:41] hawkinsp commented on #4493
One thing I'd like to double check: what does:
[code]

print on your PPC machine?

And is it little endian?

[2021-07-23 15:45] mattjj commented on #7363
Thanks for raising this!

Without looking in great detail, this sounds reasonable to me. We'd need to find someone willing to own the effort though.

@shoyer can you say more about your reservations about the line search implementation? (I'll assign this issue to you until you respond, but then feel free to either keep it or assign it back to me!)

[2021-07-23 15:47] f0uriest commented on #4493
On my system I get

[2021-07-23 15:48] f0uriest commented on #4493
On my system I get
[code]
It is little-endian

[2021-07-23 15:56] asedova commented on #4493
yes we are LE also

[2021-07-23 15:56] asedova commented on #4493
@f0uriest you guys are on Sierra?

[2021-07-23 15:57] feifzhou commented on #4493
On Lassen

On Fri, Jul 23, 2021 at 8:56 AM asedova ***@***.***> wrote:

[2021-07-23 15:59] f0uriest commented on #4493
@asedova Traverse at PPPL

[2021-07-23 16:03] jonbarron commented on #7010
My team shot itself in the foot last week for the ~fourth time due to matmult defaulting to bfloat16. This issue continues to be my biggest/only grievance with JAX.

[2021-07-23 16:09] hawkinsp commented on #4493
#7365 is merged. Please try building jaxlib from git head. If it doesn't work, please post logs so I can try to debug it.

I could also share the cross-compiled wheel I made for Python 3.9; but I have no idea if it actually works. So it's probably best if you make sure it builds for you.

[2021-07-23 16:45] shoyer commented on #7363
The accuracy concerns may be resolved by https://github.com/google/jax/pull/6785

I think this would _probably_ make more sense in JAXopt (https://github.com/google/jaxopt), where we have a bit more flexibility with regards to function signatures & API choices. We've actually been talking about moving over most of jax.scipy.optimize to jaxopt for this reason.

CC @mblondel

[2021-07-23 17:02] proutrc commented on #4493
@hawkinsp Here is what I see on initial attempt: [summit_jaxlib.log](https://gist.github.com/proutrc/59ae1eb419f047ee2514793e997204d7)

Just for record, I have tried various  versions of GCC (6.4.0, 7.4.0, 8.1.1)

Notable errors:

`gcc: error: unrecognized command line option '-std=c++14'`

`ERROR: /tmp/_bazel_rprout/b2ebe10a0ad0f6175e81a930563cb9d3/external/com_google_protobuf/BUILD:155:11: Compi

[2021-07-23 17:19] hawkinsp commented on #4493
You need a C++14 compiler to build JAX.

Something seem surprising here, though. gcc 6.1 and newer apparently support C++14: https://gcc.gnu.org/projects/cxx-status.html#cxx14

Note the documentation is quite clear that `-std=c++14` is a flag gcc accepts! So this seems like something you need to figure out about your gcc installation.

[2021-07-23 17:35] proutrc commented on #4493
@hawkinsp  Apologies, I could have goofed that one actually. I _thought_ had GCC loaded...

Here is a run with GCC 7.4.0:[summit_jaxlib-gcc7.4.0.log]( https://gist.github.com/proutrc/8e19c6456a1a63ca70cc7fdb53b58d07)

[2021-07-23 17:45] hawkinsp commented on #4493
@proutrc The issue here is that bazel hermeticity checking is upset that you appear to be reading header files outside what it considers to be the standard system paths.

I think your best fix here might be to write a small custom Bazel toolchain. As it happens, I show an example of how to do that in a comment in #7365. It's not that bad, you should be able to just modify my example. You would nee

[2021-07-23 17:49] proutrc commented on #4493
@hawkinsp sorry for my ignorance.. but, is the mentioned `toolchain` directory from the top of the jax repp or in the build directory? My familiarity with bazel and its setup is limited, unfortunately. I am happy to work on this though, just want to make sure I am setup properly.

[2021-07-23 17:51] hawkinsp commented on #4493
@proutrc In the example I gave, it's at the root of the JAX repository. (It doesn't matter a whole lot, so long as all the paths agree, and in my command line, etc. I refer to it as `//toolchain`, which is at the root of the repository.)

[2021-07-23 19:58] proutrc commented on #4493
@hawkinsp

I seem to still run into similar issues. Is there anything else I am missing, besides an update to those paths for the tools and the `cxx_builtin_include_directories`? I am also putting the realpath in the `cxx_builtin_include_directories` list, but I see it has the non-realpath in the error output. Sometimes it does have the realpath though, oddly. I appreciate your help.

[code]
Error

[2021-07-23 20:02] hawkinsp commented on #4493
@proutc Try with `--bazel_options=--cpu=ppc`.

[2021-07-23 20:06] proutrc commented on #4493
@hawkinsp

[code]

[2021-07-23 20:08] hawkinsp commented on #4493
Try putting the `/sw/...` paths in the `cxx_builtin_include_directories`. Or put try putting both.

[2021-07-23 20:25] proutrc commented on #4493
Unfortunately, I have tried all as well:

Error:

[code]

`cxx_builtin_include_directories` list:

[code]

[2021-07-23 20:29] NeilGirdhar commented on #7340
My guess is that JAX's VJP framework produces these zero objects when None is returned from a custom derivative.  These objects end up in the leaves of a pytree.  Anything that ends up in the leaves of a pytree should be a JAX type.  It's probably an oversight in JAX tree registration--and not a bug with id_tap at all.

[2021-07-23 20:50] proutrc commented on #4493
@hawkinsp perhaps relative to here?

 https://github.com/bazelbuild/bazel/issues/9451

[2021-07-23 21:05] NeilGirdhar commented on #7340
@gnecula Okay, I found the problem and fixed it in https://github.com/google/jax/pull/7366

[2021-07-23 21:36] asedova commented on #4493
@f0uriest you said you got a previous version to build?

[2021-07-23 21:44] feifzhou commented on #4493
Not me..

On Fri, Jul 23, 2021 at 2:36 PM asedova ***@***.***> wrote:

[2021-07-23 22:13] NeilGirdhar opened #7367 "Crash in failed lax_numpy promotion of int to float"
Given that `divisor` is a
[code]
Calling `jnp.where(where, divisor, 1.0)` gives:
[code]

[2021-07-23 22:20] mattjj commented on #7367
Thanks for raising this! Could you share a repro? The tangent value there is of a placeholder dtype that seems to be leaking where it shouldn't be.

[2021-07-23 22:27] mattjj opened #7368 "consider adding a jax_numpy_dtype_promotion option"
A user observed that they had an unintentional and silent bfloat16 to float32 promotion which was hard to track down. This kind of promotion is [intended for jax.numpy operations](https://jax.readthedocs.io/en/latest/type_promotion.html) (including infix operators like `*`). But it can be undesirable.

[code]

This is like the situation with unexpected float64 promotions, for which we have the opt

[2021-07-23 22:47] NeilGirdhar commented on #7367
@mattjj I've been trying to build one.  Can I just give you access to my repo?  You can probably build a MWE much faster than I can.  I wish I knew how to build a `JVPTrace`.  If that's okay, then this should work:

I'm using Python 3.9, so you may have to create a virtual environment.  You can then run it by typing
[code]

[2021-07-23 22:48] NeilGirdhar commented on #7367
By the way, this may be related to my fix in https://github.com/google/jax/pull/7366, which I needed to get to this point.

[2021-07-23 22:51] NeilGirdhar commented on #7367
Also, not sure if this is intentional, but `jnp.zeros((), dtype=jax.float0)` doesn't work, but `np.zeros((), dtype=jax.float0)`

[2021-07-23 23:00] shoyer commented on #7368
Another way to this might be to make alternative versions of dtypes that don't implement type promotion, e.g., `jnp.strict_bfloat16` which works exactly like `jnp.bfloat16` but doesn't participate in type promotion. Or you could even put this in the metadata custom NumPy dtypes, e.g., `np.dtype(np.float32, metadata={'strict': True})` (NumPy itself doesn't propagate metadata in operations, but JAX

[2021-07-23 23:28] moellenh commented on #5501
Thanks to the above instruction, I have also managed to build jaxlib on M1.

But when importing jax, I get the following strange error (importing jaxlib seems to work fine).

[code]

Any ideas what could be the issue here?

[2021-07-23 23:39] hawkinsp commented on #5501
It looks like you ended up building an x86 wheel. Can you share a
description of how you built it?

On Fri, Jul 23, 2021, 7:29 PM Thomas Möllenhoff ***@***.***>
wrote:

[2021-07-23 23:45] moellenh commented on #5501
Strange. I built it exactly as in dcxSt's post above and running the build script mentions "arm64" as a target.  Perhaps there was some issue that I ran things accidentally in a Rosetta terminal, will double check this.

[code]

[2021-07-24 02:54] remifan commented on #7357
@mattjj Thanks for clarifying your purpose! Actually, I really like how `jax.experimental.optimizers` is composed in such an essential way that restrains from encompassing incremental enhancements, indeed, I'm benefiting much from this design to shape my own optimizer as you expect!

I suppose the proposed feature may serve as a bare-bones example to extend to complex domain with minimal efforts a

[2021-07-24 06:28] PeterZhizhin commented on #7153
I'm having the same problem:
[code]

I can access both URLs https://storage.googleapis.com/jax-releases/jax_releases.html
Looking in links: https://storage.googleapis.com/jax-releases/jax_releases.html and https://storage.googleapis.com/jax-releases/cuda111/jaxlib-0.1.67+cuda111-cp38-none-manylinux2010_x86_64.whl

[2021-07-24 15:37] gnecula commented on #7340
Hi,

I installed python 3.9 and followed the steps but I am stuck when running
`cmm gui geometry`.  My plan is to run the code in a debugger.  Is there
some build step I need to run before running `cmm`?

On Fri, Jul 23, 2021 at 10:30 AM Neil Girdhar ***@***.***>
wrote:

[2021-07-24 18:15] Edenhofer commented on #7363
Personally I think API compatibility with NumPy and SciPy is a major advantage of JAX. #6785 nicely exemplifies that SciPy is the de-facto standard library to which this implementation shall be compared with and which API is desired (e.g. [this line_searcher.py comment](https://github.com/google/jax/blob/5b3d203/jax/_src/scipy/optimize/line_search.py#L262) is quite telling). Different function sig

[2021-07-24 19:41] NeilGirdhar commented on #7340
@gnecula It should run normally.  You probably don't even need to run the GUI. Maybe `cmm_demo geometry display` will work too?

[2021-07-24 19:52] proutrc commented on #4493
@hawkinsp it looks like I was abot to get around the `undeclared inclusion(s)` by adding this to a CROSSTOOL file, in the `toolchain/` directory. This is in addition to the `cc_toolchain_config.bzl` and `BUILD` file we altered from your example.

[code]

Here we are now: [summit-jaxlib.log](https://gist.github.com/proutrc/a4213af07897d521512d9d652b5ed0ad)

[2021-07-25 06:21] kingoflolz commented on #6962
Thanks for the detailed response @skye !

I'm still not sure how to totally resolve this issue though in the actual code though. For some more background, a 2d mesh is necessary to implement both model and data parallelism, so the simple fix of changing to a 1d mesh would not work.

The behavior for fully specifying the output sharding is also not particularly clear, as ideally I would like to tel

[2021-07-25 07:20] gnecula commented on #7123
This bug was fixed in TensorFlow. Added a test in PR #7376.

[2021-07-25 07:20] #7123 closed

[2021-07-25 07:42] gnecula commented on #7340
Re:

This is true. However, the zero objects should never be exposed to the user. They are an internal detail of JAX.

Re:

This now works, I can reproduce the bug. I will look at it.

[2021-07-25 07:56] NeilGirdhar commented on #7340
Okay, interesting.  I just assumed that the `Zero` objects might be produced by the backwards of a custom VJP returning `None` for some elements.  In that case, wouldn't they be visible in the outer layer of a nested custom VJP?  Sorry, I just can't help but be inquisitive :smile:.

Great, thanks a lot for your help!

[2021-07-25 10:30] proutrc commented on #4493
It actually looks like this CROSSTOOL file addition is _not_ they key. The real key seems to be throttling Bazel wih this addition to my `~/.bazelrc` file:

[code]
It looks like you want to throttle Bazel if you use NFS at all. Summit's provided software tree (/sw) is on NFS. I had forgotten I added the above throttling in all this.  As soon as I removed it though, from my `~/.bazelrc` file, the `

[2021-07-25 11:28] shawwn opened #7377 "tree_util.treedef_tuple fails to set num_leaves on the returned treedef"
Please:

- [x] Check for duplicate issues.
- [x] Provide a complete example of how to reproduce the bug, wrapped in triple backticks like this:

[code]

Notice `td.num_leaves` is `6`, but `td2.num_leaves` is `0`.

[2021-07-25 12:10] gnecula commented on #7344
It is very possible for code traced with a dimension variable to produce `InconclusiveDimensionOperation` even when the code works when replacing the dimension variable with a constant. This means that your code (or some code inside JAX) tries to compute something that is not supported for dimension variables. This [part of the documentation](https://github.com/google/jax/tree/9f8fb243f9d709d9351e

[2021-07-25 12:28] gnecula commented on #7340
I think that #7378 fixes your bug. The internals of host_callback were leaking `ad.Zero` in presence of gradients of functions with integer arguments, only if using `result=...`.

[2021-07-25 18:26] jekbradbury commented on #6962
If a named axis is reduced over (e.g. with a psum, or for now a psum_id_rev
because psum doesn’t have the right autodiff behavior), then xmap should be
fine with returning it without turning that named axis into a positional
axis. Perhaps your psum_id_rev primitive (if you’re using one) doesn’t
remove the named axis from the aval of its output (see the upstream psum or
the psum_id_rev we added in

[2021-07-25 18:45] NeilGirdhar commented on #7340
Nice find, and thank you so much for putting in time over the weekend to sort it out. 😄

[2021-07-25 19:00] NeilGirdhar commented on #7340
I just tested your fix.  It does work with my `id_crash` branch, but if you advance one step to the `lax_convert_problem` branch, it raises:
[code]

[2021-07-25 20:49] kingoflolz commented on #6962
Assuming this is the code you are talking about?

https://github.com/google/jax/blob/d25f4b34b8f5cc4d4e068c024569523175016379/tests/xmap_test.py#L1320-L1333

I don't see anything in particular that would do anything special to the avals, and it appears like the code which does that is here?

https://github.com/google/jax/blob/64510bd5b69933cb6bec62f63b9b7ba2f1eff3fc/jax/_src/lax/parallel.py#L630-L

[2021-07-25 21:11] shawwn commented on #6962
By the way, I'd like to request that this github issue be kept open, even if someone figures out the "right way" to write the code. There's a bug here -- I'm almost certain of it. There's no reason xmap should be throwing an error, but the colab notebook shows an error. That's a bug, and the current discussion is sweeping that bug under the rug.

I've been looking into it, and I have a few things

[2021-07-25 21:13] shawwn commented on #6962
A simpler way to phrase this: remember, this issue is showing something that *used to work* in jax 0.2.12. The code was valid as written, and it produced a correct result on an actual TPU. So the latest jax is throwing an error that isn't really an error, which is worrisome, and it seems important for someone to track down exactly what's going on before the issue gets closed.

[2021-07-25 21:17] shawwn commented on #6962
Oh, sorry for spamming, but I thought of another maybe-persuasive point: Notice that @kingoflolz xmap regression works for the forward pass, but errors on the backwards pass. If @skye's explanation were the whole story, then the error should be happening in both the forward pass and the backwards pass, I think. But only erroring in the backwards pass seems to hint at a deeper problem.

I encourage

[2021-07-26 01:34] shawwn commented on #6962
Uh... So, after saying all of that, I think I should sheepishly come back with hat in hand and say that there's no bug here. @skye's explanation was correct in every detail. In fact, it got me thinking about the real problem, which turned out to give the real solution.

@kingoflolz Here's your notebook's code:

[code]

The solution is to change `out_axes=["shard", ...],` to `out_axes=["batch", "sh

[2021-07-26 08:31] gnecula commented on #7340
I can reproduce this also :-( I need to think more about how to handle id_tap_dep primitive.

It seems that you can avoid this problem if instead of using `id_tap(f, x, result=x)`, you just do `id_tap(f, x)`, since the result is the same as the argument of the tap. One difference that you will see is that under VJP you will now see actual cotangents, but otherwise it should work for you.

[2021-07-26 08:45] aymgal commented on #7284
Thank you both for the suggestions. The option proposed by @shoyer looks like the way to go, it seems more efficient compared to what's currently in `dm_pix`. Unfortunately I have currently no time to get my hands dirty and implement this (in a proper way) to `jax` anytime soon... Do we keep this issue open?

[2021-07-26 09:38] NeilGirdhar commented on #7340
Okay, thanks a lot, I'll look into it later today 😄

[2021-07-26 09:50] sygi commented on #7344
I ran the code you suggested (with concretization) in tf2 and got the same behavior as in tf1: when running with an extra `(1,` dimension, it runs fine, when running with `(b` it gives the same error. I include stacktrace since entering `lax.scan` below.

I'm slightly confused by your question "why do you think your code is shape polymorphic". Isn't this property guaranteed (over the first dimensi

[2021-07-26 10:07] gnecula commented on #7340
I have updated PR #7378 with a better fix. Can you give it a try?

[2021-07-26 10:47] NeilGirdhar commented on #7340
@gnecula It works!  Thanks so much for unblocking my debugging!

[2021-07-26 10:47] gnecula commented on #7344
I asked "why do you think your code is shape polymorphic" because I did not not remember that your function is the result of `jax.vmap`. In that case we aim to extend JAX to recognise that shape polymorphism. It is possible that we are not there yet, as you seem to be encountering.

From the stack trace, it seems that the problem is in the invocation of `lax.dynamic_slice` (line 888). Can you get

[2021-07-26 10:47] #7367 closed

[2021-07-26 10:48] NeilGirdhar commented on #7367
Fixed by @gnecula in https://github.com/google/jax/pull/7378.  Sorry for the second issue.  I really thought this was a separate issue, and was a bit too eager to unblock myself.

[2021-07-26 10:49] gnecula commented on #7344
I strongly suspect that fixing this requires merging PR #7317.

[2021-07-26 11:17] sygi commented on #7344
The sapes entering `dynamic slice` are:
[code]

Do you know whether is there an easy way for me to patch this PR internally?

[2021-07-26 11:54] gnecula commented on #7344
I was able to reproduce your use case, and indeed PR #7317 should solve this issue.

I think that you should be able to patch this PR locally if you clone the JAX sources, then patch the PR  and then run `pip install -e .` in the JAX directory.

[2021-07-26 11:56] #7340 closed

[2021-07-26 13:36] hawkinsp commented on #4493
@proutrc I'm wondering if that's related to building with gcc 7. See this similar looking issue for PyTorch: https://github.com/pytorch/pytorch/pull/50640

You might be able to work around the problem by sending a pull request to Eigen that adds similar fallback definitions of the missing vector intrinsics.

[2021-07-26 13:50] proutrc commented on #4493
@hawkinsp I did indeed go that route, using 8.1.1 over the weekend and this morning.

Oddly, the `undeclared inclusion(s)` comes back! Seemingly further though:

https://gist.github.com/proutrc/d4bc637555d3624d8aa4ccf6a65f348f

[2021-07-26 13:53] hawkinsp commented on #4493
@proutrc Can you share the toolchain .bzl and BUILD files you are using in another gist?

[2021-07-26 14:19] proutrc commented on #4493
@hawkinsp
BUILD: https://gist.github.com/proutrc/ba20b7f5d2c4b6ae7e26cfe4afdea44e
cc_toolchain: https://gist.github.com/proutrc/4cb2bd0a3a4f804243e8134295079906

[2021-07-26 14:28] hawkinsp commented on #4493
I'd include both the `/autofs` and `/sw` paths just to make sure it doesn't help. (Including more paths should only help, not hurt.)

[2021-07-26 15:05] proutrc commented on #4493
Thanks @hawkinsp, I will play with this more. I have added both /sw and /autofs paths before, but am going to try that again and will report back.

I have been setting these for cache, etc.. then clearing them every run (off NFS):

`startup --output_user_root=/gpfs/alpine/stf007/scratch/rprout/bazel-build-cache/user-root`
`build --disk_cache=/gpfs/alpine/stf007/scratch/rprout/bazel-cache/`
`export

[2021-07-26 15:09] hawkinsp commented on #4493
Is it possible to use non-NFS temporary and cache directories? I don't know if it will help, but it might.

[2021-07-26 15:10] proutrc commented on #4493
I _think_ that is what I am doing with these settings:

`startup --output_user_root=/gpfs/alpine/stf007/scratch/rprout/bazel-build-cache/user-root`
`build --disk_cache=/gpfs/alpine/stf007/scratch/rprout/bazel-cache/`
`export TEST_TMPDIR=/gpfs/alpine/stf007/scratch/rprout/bazel-tmp/`

[2021-07-26 16:18] sygi commented on #7344
Thanks for preparing a fix. I tested it like this:

[code]
and can confirm it runs in tf2. However, in tf1 I get the following error (when calling on `expanded_three`), suggesting that, despite marking shapes polymorphic and concretinizing the function with (None, .., the resulting function considers its inputs to be of shape (1,...:

[code]

I get the same error when using tf.placeholders. I trie

[2021-07-26 16:41] proutrc commented on #4493
@hawkinsp I can confirm I don't cache anything on NFS.

I also added the /sw and /autofs paths:

[code]

It is strange too, because it is obviously able to compile things leading up to the `inclusion` failure:

[code]

[2021-07-26 17:30] proutrc commented on #4493
@hawkinsp is our toolchain not being used everywhere by chance?

[code]

Are there different "rules" or something? `undeclared inclusion(s) in rule '@org_tensorflow//tensorflow/core/platform:path':`

[2021-07-26 18:51] yallup opened #7390 "Debug infs and logsumexp"
I've found a difference in behavior between the latest versions and a (recent) previous version of the library I was using. I found this trying to debug a larger issue on an hpc application being build using jax but when trying to debug that, this was thrown which might point to the root cause of the larger issue.

I wanted to clarify if the following is expected:

Specifically it appears that whe

[2021-07-26 19:09] #7093 closed

[2021-07-26 20:45] proutrc commented on #4493
@hawkinsp I did some digging around in my build-cache, here: `/gpfs/alpine/stf007/scratch/rprout/bazel-build-cache/user-root/b2ebe10a0ad0f6175e81a930563cb9d3/execroot/__main__/external/`

It looks like these external packages setup their own `.bazelrc` and possibly don't get our toolchain config. Is there a guarantee that what we set as the toolchain config in JAX makes it to these external packag

[2021-07-26 23:16] f0uriest commented on #4493
I was able to build from main on Traverse without having to do any toolchain modifications, though I did have to manually specify the cuda/cudnn paths.

```python build/build.py --enable_cuda --cuda_path /usr/local/cuda-11.3 --cuda_version=11.3 --cudnn_version=8.2.0 --cudnn_path /usr/local/cudnn/cuda-11.3/8.2.0  --noenable_mkl_dnn --cuda_compute_capabilities 7.0 --bazel_path /usr/bin/bazel --targe

[2021-07-26 23:26] proutrc commented on #4493
@f0uriest few questions:

What compiler and version are you using?
Is it installed in /usr/bin?

[2021-07-26 23:53] f0uriest commented on #4493
```gcc version 8.3.1 20191121 (Red Hat 8.3.1-5) (GCC) ```
installed in `/usr/bin`

[2021-07-27 01:07] proutrc commented on #4493
Thanks, it looks like we needed to add the patch referenced in this issue: https://github.com/tensorflow/tensorflow/issues/33975

Otherwise, TF does not pick up the proper inclusion paths for the compiler outside /usr/bin.

Specifically to `bazel-jax/external/org_tensorflow/third_party/gpus/cuda_configure.bzl`, which was in the build-cache.

That got us passed the inclusion errors.

[2021-07-27 11:42] proutrc commented on #4493
@hawkinsp if you have any insight into this next issue we are hitting, that would be great. This one seems odd. The`mlir-tblgen` either fails or seems to target improper dialects. For instance, I have seen it fail targeting ArmSVE dialect and AMX dialect. Not sure what causes the different attempts.

Here is the most recent generic failure though:

[code]

Separately, at the top, when I first run

[2021-07-27 12:08] proutrc commented on #4493
It appears these are saying we need a GCC 4.9:

[code]

[2021-07-27 12:45] gnecula commented on #7344
PR #7317 has been merged. Please try it out.

[2021-07-27 12:47] sygi commented on #7344
Thank you! As I said above (I patched it in before it was merged), it indeed works in tf2, but fails in tf1.

[2021-07-27 12:47] gnecula commented on #7344
I am sorry, but I am very reluctant to start debugging TF1. We don't really intend to support TF1 for jax2tf, but I would be happy to take in contributions.

[2021-07-27 12:49] gnecula commented on #7344
Perhaps I could debug this if you prepare a branch in your repo with a pytest that fails. I could then try to setup a virtualenv with your dependencies and see if I can reproduce it.

[2021-07-27 12:51] sygi commented on #7344
That's fair, thanks a lot for taking a look. Did I understand correctly that for testing this, you were able to reproduce the issue I had with a small example? Would you be able to provide that for our own investigations? I was trying to play with different combinations of while/scan, etc. but everything simple that I got worked fine. I also investigated the graph and indeed it had some nodes wher

[2021-07-27 16:11] froystig commented on #6415
#7369 improves the heuristic within `closure_convert` to hoist fewer values. I can't verify the fix without a reproducing example. @ahoenselaar: with #7369 merged now, is your large constant matrix still hoisted or do we successfully avoid it?

[2021-07-27 16:17] #7213 closed

[2021-07-27 17:13] AnkitSiva commented on #6312
Hey folks, tacking on some interesting performance issues I'm seeing with `vmap` here as well since the issue title fit nicely.
I was trying out the auto vectorization to move some of our hand batched code. The intent of the code block below is to multiply k-size (here 3) subsets of the n columns of a dataset and sum them to see what proportion of those datasets are all ones in those k columns.
[c

[2021-07-27 17:23] elchorro commented on #375
I am also experiencing this issue.

Python 3.9.6 (tags/v3.9.6:db3ff76, Jun 28 2021, 15:26:21) [MSC v.1929 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

'1.7.0'

'0.29.24'

[2021-07-27 18:05] gnecula commented on #7344
I recognized from the stack trace that the issue had to do with just dynamic_slice when passed a list of indices as argument. The test case is [this](https://github.com/google/jax/blob/main/jax/experimental/jax2tf/tests/shape_poly_test.py#L1326-L1338)

[2021-07-28 10:46] gnecula opened #7397 "jax2tf shape polymorphism does not support einsum with more than 1 contraction"
Example error message:
[code]

[2021-07-28 12:40] proutrc commented on #4493
@hawkinsp

Just to follow up more - we made it further, but we seem to be hitting similar issues with other packages that assume the location of GCC. My guess is that this will happen at various steps, the first being Tensorflow and now llvm-project.

Recent error within `external\llvm-project/mlir`

[code]

Note, it appears our `env` looks empty (I don't see `LD_LIBRARY_PATH` or anything).  Not s

[2021-07-28 12:44] hawkinsp commented on #4493
I think what that means is that mlir-tblgen was built by Bazel, but the result does not run. This indicates either something misconfigured with the toolchain or a dynamic linker path problem. It's probably the former.

One thing I might try is a non-CUDA build and see if it works. CUDA requires that TF do some trickery with toolchains to support the CUDA compilers.

Another option might be to cros

[2021-07-28 13:02] pharringtonp19 commented on #5159
Is the code used to produce `memory_ratio` available? That looks helpful too.

[2021-07-28 13:42] donthomasitos commented on #5795
I compiled the latest main-branch jaxlib on Windows with surprisingly no problems at all.

- Bazel 4.1
- Python 3.9.6
- CUDA 11.4

[2021-07-28 14:08] sygi commented on #7344
Thank you. I managed to reduce the breaking example to:
[code]

[2021-07-28 15:23] proutrc commented on #4493
We also got it to work _without_ the toolchain modifications on a smaller test ppc system of ours, which has RHEL8 and GCC 8.3 in /usr/bin.

On Summit, we don't yet have RHEL8 and have GCC 4.8 in /usr/bin. We just can't seem get the GCC 8.x compiler, provided from our module system (i.e /sw/summit/gcc/8.1.1), known to all the Bazel build recipes.

[2021-07-28 16:21] sygi opened #7398 "jax2tf polymorphic shapes don't work with rng keys"
While related to my previous issue (#7344), this one manifests itself in tf2.

[code]

Error:
[code]
(`size` is `b*5`, which multiplies with `bit_width` but fails to divide by 32).

Trying to pass the key batched doesn't help, as it's assumed that the key is always `(2,)`:
[code]
gives:
[code]

[2021-07-29 05:05] qingyuanzhang3 opened #7401 "Hessian of odeint"
Hi Jax team,

We want to calculate hessians of a likelihood function involving an ode integration so that we can do variational inference. We are running into an issue with `custom_vjp`, which we don't understand how to fix. We have the impression that it is not implemented for `odeint`. Our package is called ticktack, which is distributed on PyPI. The dataset miyake12.csv is hosted on GitHub [her

[2021-07-29 08:04] gnecula commented on #7344
I actually do not see any error, whether or not I comment out the line. In both cases the output shape of concrete is [None, 1, 5], which is as expected.

What error are you seeing?

BTW, I am using tf-nightly.

[2021-07-29 09:15] sygi commented on #7344
I shared a colab with you. The error I'm seeing is:
[code]

I believe what I was missing in the example is a call to `tf_v2.disable_v2_behavior()`.

[2021-07-29 10:15] gnecula commented on #7398
I can reproduce this, there are two bugs. One is to handle "b*5 * bit_width / 32" for DimPolynomial. I will fix this first.

Unfortunately, it seems that this will not be enough to get you unstuck, because the PRNG does all sorts of computations with shapes that are not yet compatible with shape polymorphism. I'll need to think some more how to handle this.

[2021-07-29 12:00] pharringtonp19 opened #7404 "vmap - jit - svd"
### Basic Set-up

Using `vmap`, I train multiple small networks in parallel. That is I have `train_fn` (which I `jit`) that defines the entire training loop. By applying `vmap` over this function,  I can train multiple networks by passing in different random seeds: `vmap(train_fn)(seeds)`.

### The Issue
During the forward pass of my model, I compute the least squares coefficient and this leads to

[2021-07-29 12:40] hawkinsp commented on #7401
The issue is that odeint has a custom VJP, but functions with custom VJPs cannot be used in forward-mode autodiff.

We have ideas about a custom transpose feature that would allow this.

Here's a possible workaround Hessian is defined using forward-over-reverse Jacobians:
[code]

There's no fundamental reason we need to use forward-mode autodiff here, but it is usually the more efficient choice.

[2021-07-29 13:01] benjaminpope commented on #7401
Great point, should just do 2x jacrev for now. We don't have truly enormous matrices and only have to call it a couple of times for basic variational inference, so that might solve it for the moment.

But I wonder - there are definitely good reasons to be able to do forwards-mode autodiff for an ode. For instance, you might want to calculate the high-dimensional derivative of the whole output time

[2021-07-29 14:40] gnecula commented on #7398
This is partially fixed by #7406. However, it will only work when the size of the desired shape is even for all values of the shape variables. This in practice means that the product of the known dimensions should be even.

The reason is that the jax.random internals do `if size % 2 == 0` in the process of computing _random_bits. If size is a polynomial that is not obviously even, e.g., `5*b`, the

[2021-07-29 14:41] gnecula commented on #7398
I am going to close this for now, please feel free to reopen if you find other issued with shape polymorphism and lax.random.

[2021-07-29 14:41] #7398 closed

[2021-07-29 15:22] FelipeMartins96 commented on #2075
Hey @jekbradbury, so those initializers which uses 'fans' are not useful for bias initialization? not best practices?

I thought it was a "bug", as a ran into this problem trying to initialize biases using lecun_normal to mimic the DDPG networks, I wasn't sure if it applies only to weights, but thought it did since pytorch seems to initialize the bias weights using the same initializer.

[2021-07-29 15:35] #5636 closed

[2021-07-29 17:32] mattjj opened #7411 "num replicas not correctly detected with `lax.switch` / `lax.cond`"
Thanks to @LenaMartens for the repro!

[code]

[code]

The issue was in `core.traverse_jaxpr_params`, which assumed that all subjaxprs appear as values in the params dict, while `lax.switch` (aka `lax.cond`) actually has a param value which is a _tuple_ of jaxprs. Those tuple elements were being ignored!

I'm going to make a quick fix which just flattens params to one level, but I think a better a

[2021-07-29 19:49] #7411 closed

[2021-07-29 19:51] daskol opened #7413 "Performance Issue in `jax.numpy.einsum` of Many Operands"
I was benchmarking effect of reusing `einsum` contraction path with `opt_einsum` package which is used internally in JAX (see [code][gist]).  There are three cases in the benchmark.  The first one case uses `jax.numpy.einsum` directly (`default`).  The second one case uses `opt_einsum.contract_expression` to make a reusable JIT-compiled contraction function (`reuse`).  The third one case is simila

[2021-07-29 21:47] froystig commented on #7199
The "sequential_vmap" concept seems like it would be easy to implement given a more general custom batching interface, which is something that @mattjj and I have considered before.

Short of that, it might be worth considering offering the special case, by writing a single higher-order primitive whose batching rule is essentially a call to `lax.map`.

[2021-07-29 22:44] froystig commented on #7401
Indeed, we agree.

Nothing fundamental – just a limitation of `custom_vjp`'s implementation today. As @hawkinsp mentioned, we hope to upgrade this once we've introduced machinery for custom transposition (and possibly custom partial evaluation). In the meantime, there's also the possible workaround of creating an explicit `odeint` primitive and defining JVP, transposition, and partial evaluation r

[2021-07-29 22:45] benjaminpope commented on #7401
Cool, awesome. I think for now we'll give it a go with `jacrev` but love to know if `odeint` gets an upgrade. I'm really excited by the stuff you're doing.

[2021-07-29 23:41] froystig commented on #7404
We will need a more self-contained and minimal example. If the behavior is unexpected, can you reproduce it using only jax's `vmap`, `jit`, `random`, and `numpy` (`lstsq`, etc.)? Consider generating arrays of the shape that your application produces.

[2021-07-30 01:53] pharringtonp19 commented on #7404
Sorry about that -- here is something more self-contained. The code runs without any issues if `train_fn` returns `coef2` and produces a `RuntimeError: Resource exhausted` if when it returns `coef1`

[code]

### Error
[code]

[2021-07-30 02:52] froystig commented on #7404
Thanks for minimizing. I believe this is working as expected.

The "builtin solve" to compute `coef2` in this example calls `lstsq` with two 1x1 arrays, whereas `coef1` calls `lstsq` with two 5000x1 arrays instead. The `lstsq` implementation calls `svd`, which produces a 5000x5000 matrix of left-singular vectors of its operand. When this is all vmapped over 10000 instances, you end up with an inte

[2021-07-30 11:16] gnecula commented on #7344
I can reproduce this with (explicitly forcing TF1 behavior):
[code]

Both lines are important in my installation.

I will fix this soon.

[2021-07-30 11:37] pharringtonp19 commented on #7404
Thanks for the explanation -- so the high level takeaway is that when thinking about `vmap` and  memory usage, we should keep in mind the most memory intensive part of the computation and remember that we are adding an extra dimension to this. -- happy to close this now if you want

[2021-07-30 14:42] #7344 closed

[2021-07-30 17:09] mgrankin opened #7421 "sm3 optimizer doesnt work with scalar data"
This is almost tutorial code, it doesnt work with sm3 because of scalar data

[code]

The issue is in this line of code in sm3 optimizer
[code]

If x0 is scalar then it will generate an empty array. Its possible to fix that with something like this
[code]

but it will lead to the output with 1-element arrays instead of scalars.

[2021-07-30 17:57] froystig commented on #7404
Sure thing, and yes, that's essentially correct. When combining with `jit`, compiler optimizations might sometimes improve bottlenecks, but here we see that they aren't able to do much in this example.

[2021-07-30 17:57] #7404 closed

[2021-07-31 01:05] deasmhumhna opened #7426 "issue composing jax.checkpoint with jax.jit on function with (concrete) bool parameter"
This last line presents a workaround but I encountered this error originally using `flax.linen` where the user doesn't have transparent access to the (sub)function that is being checkpointed i.e. when using a lifted transformation on a submodule constructed in a `__call__` method with the `compact` decorator. The error happens while trying to construct a `ConcretizationTypeError`.

[code]

[code]

[2021-07-31 17:03] cisprague opened #7430 "How to `vmap` over a batch of trees or dictionaries?"
**Issue**
I want to `vmap` a function over a batch of trees or dictionaries.
However, I am not sure what the appropriate way to pass such a batch is (see the example below).

**Related**
#2367 dealt with passing dictionaries to `vmap`ed functions that do not `vmap` over dictionary entries.
#3161 dealt with `vmap`ing over dictionary entries.
This issue is different because it deals with `vmap`ing o

[2021-07-31 18:24] wdphy16 commented on #5312
Hello @froystig . I agree that there is no consensus on how to generalize `jax.random.uniform` and `truncated_normal` to complex numbers (while `normal` is already done in #4805), and I'd suggest to implement complex variance scaling initializers in `jax.nn.initializers` (and `flax.nn.initializers` just imports them).

The generalization of `glorot_normal` to complex numbers is discussed in, e.g.,

[2021-07-31 19:00] pharringtonp19 commented on #7430
I think the following should work:

[code]

[2021-07-31 20:20] cisprague commented on #7430
@pharringtonp19 Thanks. It seems like this solution would work like in #3161.
I'd need to assemble a new dictionary from my batch of dictionaries, which I guess is easy since they have the same keys.
But, it would be convenient if I could just do it like I showed in case 3 in my example.
Maybe it can be a new feature?

[2021-07-31 20:31] pharringtonp19 commented on #7430
You have probably already considered this, but depending on how you construct your dictionary, you could let `vmap` do the work for you. That is, you could create` {'a': jnp.array([3, 3]), 'b': jnp.array([4, 4])} `by applying `vmap` to the function that `returns dict(a=3, b=4)`

[code]

[2021-08-01 01:49] benjaminpope commented on #3993
Just commenting on this - did anything happen here? We are integrating a simple ODE (22-dimensional linear homogeneous with a 4-parameter inhomogeneous term) and finding that the jitted model takes about 5 ms, the gradient about 600, and the jacrev(jacrev(fun)) hessian takes about a full minute. It would be awesome to know how we could speed up the gradients.

[2021-08-01 05:36] msaroufim opened #7431 "jnp.float16 hangs matmul"
I'm not sure if this is a bug or expected behavior but couldn't find a similar issue here so thought I'd post

Repro

The below code just runs seemingly forever where the `float32` and `bfloat16` variants run just fine. Is `float16` supported? I tried both a GPU and TPU in collab and noticed the same issue.

[code]

`x = random.normal(key, (size, size), dtype=jnp.float32)` runs just fine

[2021-08-01 07:59] tomhennigan commented on #7430
As @pharringtonp19 points out, you might be able to achieve this by `vmap`-ing the `init` function from Haiku. Here is an example of doing that:

https://colab.research.google.com/gist/tomhennigan/d6ef50139547afa7b8e7631c209c8672/example-of-initializing-and-apply-an-ensemble-of-nets.ipynb

You may prefer to not initialize via vmap, in that case you would have a list of parameters that you would wa

[2021-08-01 08:43] gerdm commented on #5501
I tried to install it using @dcxSt's instructions, but I get the following error:

[code]

I'm not sure if this error is because of the 404:

[code]

Any idea why?

[2021-08-01 13:58] HGangloff opened #7434 "Invalid value (nan) encountered in broadcast_in_dim with logsumexp and scan"
Hello,

I am stuck with an error message, it seems to involve logsumexp and scan functions that lead to NaN values appearing. I have shortened the code to a minimal example to reproduce. Am I doing something wrong ?

[code]

Here is a shortened error message:
[code]

Thanks

[2021-08-01 14:45] cisprague commented on #7430
@tomhennigan thanks for the example and Colab notebook! This seems like a reasonable solution.
Maybe this could be a new end-user feature in Haiku, since pytrees is intended for JAX [internal users](https://jax.readthedocs.io/en/latest/pytrees.html#developer-information).

[2021-08-01 15:01] #7430 closed

[2021-08-01 17:30] tomhennigan commented on #7430
Hi @cisprague , utilities like `jax.tree_map(..)` often appear in user code, so I would personally (although I am not a JAX core team member) consider this part of the public API. I suspect the docs discussing how pytrees work (e.g. the treedef etc) are what are intended to be "implementation details" which you should only consider if developing extensions (new tree types).

I'd be happy for this

[2021-08-02 01:41] pharringtonp19 commented on #1007
@shoyer Is there a workaround for situations where masking doesn't apply? My end goal here it to define a train/test split function that is `jit`-able and which I could apply `vmap` over.

[2021-08-02 02:41] LouisDesdoigts opened #7437 "jnp.indices returns numpy.ndarray read-only arrays"
Hey Jax team!

I have found that jax.numpy.indices() actually returns an un-writeable numpy array, rather than a DeviceArray.
I found a work around for the problem, but I doubt this is the intended behavior.

This was found using:
jax 0.1.77
jaxlib 0.1.57
which I know are not the current stable release, but I am working with a package that has not been patched to work with 0.2+.

[code]