[2022-04-27 03:41] C-J-Cundy commented on #10445
Ok, I will definitely do so when I get the chance. That might be a while as the A5000s are under high usage by my group in the run-up to neurips.

[2022-04-27 08:46] yoziru commented on #7097
☝️ this indicates you're running out of memory, especially since the 0.3.x release, you need pretty much the entire 16GB available.

I managed to build manylinux aarch64 wheels on M1, you can get them here: https://github.com/yoziru/jax/releases/tag/jaxlib-v0.3.5

Here is the Dockerfile for reproducing these wheels (run from the root of this repo after cloning):
[code]

[2022-04-27 10:43] pnkraemer commented on #10450
Oh wow, it seems that I haven't noticed that scipy's mode=r and numpy's mode=r return differently shaped arrays!
Thank you for clarifying this :)

From my perspective, the issue can be closed now :)

[2022-04-27 11:19] gnecula commented on #5934
Inside a vmap computation you will see a single call to the host, with the
entire batch. You'd have to write your host function to split the data into
batches and run it in several threads.

On Tue, Apr 26, 2022, 16:28 Evan Walters ***@***.***> wrote:

[2022-04-27 12:42] ranzenTom opened #10461 "NCCL error when trying xmap on 4 T4 GPUs"
Hi,
First, thank you for making this library available, I love it!

I tried to reproduce the example from the xmap documentation (https://jax.readthedocs.io/en/latest/notebooks/xmap_tutorial.html) on a VM with 4 T4 GPUs.

I am using conda and the requirements used are:
[code]

I launched this snippet of code (taken from the documentation):

[code]
I got the following output:

[code]

If I change t

[2022-04-27 17:35] jakevdp commented on #10450
Thanks!

[2022-04-27 17:35] #10450 closed

[2022-04-27 19:23] markpaskin opened #10465 "Unhelpful error messages related to pmap leading dimension requirements"
`pmap` splits work based on the leading dimension of its arguments, which must be equal and cannot be larger than the number of devices. As a JAX n00b, I wasn't initially aware of this, thinking that `pmap` would internally split along the leading dimension. This led me to encounter some unhelpful error messages, one of which was triggered by using keyword arguments.  Repro details below:

[code]

[2022-04-27 20:41] jakevdp commented on #10465
Hi, thanks for the report. Can I ask what version of JAX you're using? On the most recent version I see this error:
[code]
[code]
If you're using a recent JAX version, perhaps I'm misinterpreting what code you're running. Could you include the exact function call that's leading to the unhelpful error?

[2022-04-27 20:49] markpaskin commented on #10465
Hi Jake.  My JAX version is 0.3.8.  I've shared an internal Colab with you that reproduces the issue.

[2022-04-27 21:01] jakevdp commented on #10465
I see, thanks. It looks like the helpful error message is somehow missed when the arguments are passed by keyword rather than by position.

[2022-04-27 21:11] jakevdp commented on #10465
It looks like the problem is when there are multiple keyword arguments passed to `pmap`, the shape checking logic fails this assertion: https://github.com/google/jax/blob/7c6a55033382f465a910fa2b71a2a9555f94edfd/jax/_src/api.py#L1513

This is definitely a bug; it looks like the code was added by @mattjj in #5387. I'm going to assign the issue to him. Matt - feel free to bounce it back to me if you

[2022-04-27 21:13] jakevdp commented on #10465
It looks like removing that assertion is enough to make this raise a helpful message. I don't understand well enough the intent of that code to know if it's the right fix.

[2022-04-27 22:09] hawkinsp commented on #9399
I realized I never followed up on this bug. It should be fixed in the current jax/jaxlib release.

(This became a long and interesting exercise in tracking down some incorrect assumptions in the XLA buffer aliasing logic.)

[2022-04-27 22:09] #9399 closed

[2022-04-27 22:57] mrahtz commented on #5155
@hawkinsp Is the current status of this that we're still waiting for a JAX developer to implement the necessary changes? (Or is the bottleneck XLA itself, as suggested by https://github.com/google/jax/discussions/9688?)

The ability to spoof multiple hosts would be _super_ helpful for some of the stuff we're using JAX for at DeepMind - running tests for multi-host code otherwise requires spinning

[2022-04-28 09:08] cloudhan opened #10474 "jaxlib windows build runtime breaks due to incompatible `np.array` dtype with `ir.IndexType`"
The following code is reduced from https://github.com/cloudhan/jax-windows-builder/issues/12 and https://stackoverflow.com/questions/71977751/jax-linear-solve-issues/71991833?noredirect=1 . Open the link to see the context.

[code]

causes
[code]

The reason is simple that on windows
[code]

while on linux
[code]

[2022-04-28 13:35] JeppeKlitgaard opened #10476 "[Proposal] Define static arguments using typing annotations"
I am really enjoying `jax`, but have found the ergonomics of declaring function arguments as static for use in `jit`, `pjit`, and `pmap` to be a little cumbersome and error-prone when refactoring.

In many (but not necessarily all) cases it is useful and intuitive to declare some arguments as static at the point of function declaration rather than later when mapping or jitting the function. This c

[2022-04-28 18:08] C-J-Cundy commented on #4493
@proutrc @feifzhou Have you had any success on this issue since last year? I am trying to install JAX on the Lassen PPC system and having a lot of difficulties. I am able to get around most of the undeclared dependency issues by making toolchain files as described above and installing [following these commands](https://gist.github.com/C-J-Cundy/3d1fef140d7485f214dec83204e67479), but end up getting

[2022-04-28 20:21] jakevdp opened #10485 "lax.linalg.qr fails for empty matrices"
It should instead return empty `q` and `r` matrices. This arose in #10458

[code]

[2022-04-28 21:01] jakevdp commented on #10485
It looks like the problem is the LDA argument to GEQRF is being set to `M`, when it must be of `size > max(0, M)`. So when `M` is zero, the argument is invalid. I'm trying to figure out exactly where this is set...

[2022-04-28 22:44] JeppeKlitgaard commented on #10476
I would be happy to do the implementation and documentation for this if I get a few pointers in the right direction. `typing_extensions` is already a dependency, so there shouldn't be any additional dependencies needed.

Other libraries have seen great success with adopting the new type hinting language features (`pydantic`, `fastapi`, ...). It should be noted that the `Annotated` 'pass-through'-s

[2022-04-28 23:36] jakevdp commented on #10485
Maybe @hawkinsp has ideas?

[2022-04-29 01:03] hawkinsp commented on #10485
I'd probably just avoid calling the LAPACK implementation if `m == 0`, if it is unhappy when that happens.

We do something similar for SVD already:
https://github.com/google/jax/blob/cdd11670959b930e01d23199fadb32b183f03ca5/jax/_src/lax/linalg.py#L1392

[2022-04-29 01:31] jakevdp commented on #10485
Thanks for the tip - I'll work on a fix.

[2022-04-29 02:00] Waterkin commented on #6046
Me too.
~/anaconda3/lib/python3.8/site-packages/jax/_src/random.py in PRNGKey(seed)
    123   """
    124   impl = default_prng_impl()
--> 125   key = prng.seed_with_impl(impl, seed)
    126   return _return_prng_keys(True, key)
    127

~/anaconda3/lib/python3.8/site-packages/jax/_src/prng.py in seed_with_impl(impl, seed)
    232
    233 def seed_with_impl(impl: PRNGImpl, seed: int) -> PRNGKeyArr

[2022-04-29 09:28] mrorro commented on #4493
@C-J-Cundy did you try the [jaxlib anaconda package for linux-ppc64le](https://anaconda.org/search?q=platform%3Alinux-ppc64le+jax)?

[2022-04-29 13:38] PhilipVinc opened #10491 "jnp.promote_dtype does not preserve weak types"
Assuming the type promotion lattice presented in the [great documentation](https://jax.readthedocs.io/en/latest/type_promotion.html) by @jakevdp, I'd assume that the promotion of two python-native `float*` would be a new `float*`.
This is confirmed by the table  in the same page.

However,
[code]

I do understand that there might be internal reasons why this is useful. I guess that internally jax

[2022-04-29 13:56] jakevdp commented on #10491
Thanks for the question - this is due to an implementation detail. `jnp.promote_types` is JAX's implementation of numpy's `np.promote_types`, which returns a dtype. A dtype cannot be weak – `weak_type` is a property of JAX arrays, not of dtypes, and so there's no way for `jnp.promote_types` to return a weak type. It's not allowed by the API, which is defined by numpy, not by JAX.

Nevertheless, in

[2022-04-29 14:05] PhilipVinc commented on #10491
Ah, I see.
That's unfortunate.

I'm essentially trying to implement something like:

[code]

And I wish this behaved (at least within the boundaries of my API) as a jax array, propagating weak and strong dtypes of the input `mat1` and `mat2`.
But I see that it's impossible to do that within the realms of only using `dtype`. I'll have to find a new solution...

[2022-04-29 14:16] jakevdp commented on #10491
There are APIs within `jax.dtypes` that return `dtype, weak_type` pairs for type promotion. That's essentially what JAX uses to implement binary type promotion.

[2022-04-29 14:24] PhilipVinc commented on #10491
In short, what I am saying is that it would be useful if jax stabilised the `weak_dtype` interface by

 - recognising a field `.weak_type` in objects much like it recognises `.dtype` to the extent of type promotion
 - exposeed `jax._src.dtypes._lattice_result_type` as a public API, or a similar function that returns both the resulting dtype and the `weak_dtype` boolean flag.

[2022-04-29 15:35] jakevdp commented on #10491
Thanks, I agree we should have some pulic API for dtype promotion that preserves weak types. What would you think about adding  keyword to `jax.dtypes.promote_types` that would allow it to return a `(dtype, weak_type)` pair?

Regarding the second request ("recognizing a field `.weak_type` in objects") can you say more? I'm not sure I understand exactly what you have in mind. What functions should

[2022-04-29 15:47] mattjj opened #10493 "improve error when vmapped array passed as axes argument"
[code]

[code]

Maybe we can say more here, e.g. mentioning the function name `jnp.sum` and saying more about _why_ it's not "known statically".

[2022-04-29 16:03] PhilipVinc commented on #10491
I would very much like that, yes.

Right now jax and numpy `(j)np.result_type` works with arbitrary types, as long as they expose a `CustomType.dtype` attribute (see the example above, with the custom type `Test`.
I would propose that `jax.dtypes.promote_types` should define a similar protocol, where it will check for the attribute `CustomType.weak_type` to determine if an object has a weak type,

[2022-04-29 17:15] tlu7 commented on #10052
The PR on qdwh-svd solver (https://github.com/google/jax/pull/10473) is ready to merge. Hope this will address your concern on TPU performance.

[2022-04-29 17:15] jakevdp commented on #10491
Hmm, at first glance, I'm not sure I like the idea of cementing a `weak_type` attribute into the public JAX API. While it's true that jax arrays have a `weak_type` attribute at the moment, that is an implementation detail rather than something that is intended to be a load-bearing API. For example, we've talked about moving JAX to its own dtype system where weak dtypes are actual dtypes, and the `

[2022-04-29 17:18] PhilipVinc commented on #10491
I think that's the best option.
You can add some API that can be used to customise how `_is_weakly_typed` behaves with custom types for now.
Eventually you can even deprecate it  if you move to tax-specific dtypes (which I agree would be the most elegant solution).

[2022-04-29 17:31] jakevdp commented on #10491
One more comment here: in my opinion this is a misuse of the `promote_dtypes` API. The docstring specifies that the inputs should be a "dtype or dtype specifier". The fact that this happens to accept arbitrary objects that have a `dtype` attribute is unintended, I think, and you probably shouldn't rely on that. perhaps `result_type` would be a better API to use in this case, and it would make more

[2022-04-29 18:16] choltz95 commented on #10255
Yes- so that's one thing. It's mainly an issue for poorly conditioned matrices. I guess typical and correct use cases
wont suffer from this problem.

But the main thing is the inconsistency we see between cg on gpu and cg on cpu. Is there any reason
that running cg on different devices leads to different results despite the _same input_?

I guess my question is less about finding a solution (altho

[2022-04-29 18:31] tlu7 commented on #10255
Looks like the input is symmetric positive definite.  I have checked
`np.all(np.linalg.eigvals(A.todense()) > 0)` and
`np.allclose(A_dense, A_dense.T.conj(), rtol=rtol, atol=atol)`

Have you tried using float64?

[2022-04-29 19:07] jakevdp commented on #10491
Just to be explicit, since I'm not sure from your reply if you saw it: JAX does already expose `jnp.result_type`, which is, I think, the correct API for type promotion of arbitrary objects, and calls `dtypes.is_weakly_typed` on those objects. We'd just need to add a way for custom objects to tell `is_weakly_typed` what to return.

[2022-04-29 21:23] #10485 closed

[2022-04-29 22:20] #10491 closed

[2022-04-29 23:11] tlu7 commented on #10255
The nondeterministic behavior may come from multithreading.

[2022-04-30 02:05] C-J-Cundy commented on #4493
@mrorro Yes, when trying that I get the erorr
`ImportError: /lib64/ld64.so.2: version `GLIBC_2.22' not found (required by /g/g92/cundy2/.conda/envs/rljax/lib/python3.8/site-packages/jaxlib/xla_extension.so)`
It seems like the conda version is built against glibc_2.22, which isn't present on my system (and building it myself breaks everything else on the RHEL7 system)

[2022-04-30 02:14] samuela commented on #476
Any updates on the compile cache for GPU? Is it still TPU-only?

[2022-04-30 02:15] samuela commented on #1566
Note that this does seem to be experimentally supported on TPUs now: https://github.com/google/jax/issues/476#issuecomment-1015773039. tbd on CPU/GPU support

[2022-04-30 10:35] xloem commented on #476
It seems additional dev effort is needed here. Another missing component is colab notebooks, which use a different TPU interface without support for this.

[2022-04-30 17:28] patrick-kidger commented on #10476
It's not exactly the same, but the [Equinox](https://github.com/patrick-kidger/equinox) project offers something very similar to what you're requesting.

Equinox offers a few "filtered transformations", that take a rule for determining how the arguments should be partitioned, and then uses that instead of the manually-specified approach used at the moment. (Equinox also implements some neural netw

[2022-04-30 22:55] xidulu commented on #9591
@hawkinsp Do you have any updates on this issue.?

[2022-05-01 09:59] YOUSIKI commented on #9767
Is there any progress on this problem?
I encountered this issue, too. But I was running JAX on GPUs (NVIDIA A100) rather than TPUs. After training for about 2 hours, my program just hung and GPU-Util dropped to 0%. I got a similar stack trace from gdb:
[code]

I'm using `tf.data` to load data and `clu.metric_writers` to write metrics, which may create child process.

[2022-05-02 02:58] avinashsai commented on #10493
@mattjj I can take this up. Can you please provide bit more context on how the errors should be?

[2022-05-02 05:56] polvalente opened #10515 "Possible bug for jax.numpy.abs complex-input grad"
Please:

- [x] Check for duplicate issues. (tried my best to find a duplicate on this)
- [x] Provide a complete example of how to reproduce the bug, wrapped in triple backticks like this:

[code]

In the code sequence above, we can compare the grad of basically the same input as a float tensor and as a complex tensor.
The problem I have (and for which I could not find any references) is that when

[2022-05-02 10:43] JeppeKlitgaard commented on #10476
I really like the look of Equinox, which seems to have a lot of improvements to the ergonomics of JAX – `eqx.Module` seems similar in spirit to the idea of a dataclass that is also automatically a PyTree, which seems to be a highly requested feature (cf.: #9662, #1808, #2371)

Some of these discussions predate wider adoption of PEP 593.

I think my attempt at trying to coin a phrase might need som

[2022-05-02 18:56] andyehrenberg commented on #9452
Would this be as simple as having

`def extend_argnums_from_argnames(fun, argnums, argnames) -> Tuple[int, ...]:
    argnums, argnames = _infer_argnums_and_argnames(fun, argnums, argnames)
    if not argnames:
        return argnums
    else:
        try:
            signature = inspect.signature(fun)
        except ValueError:
            parameters: Mapping[str, inspect.Parameter] = {}
        e

[2022-05-02 18:59] andyehrenberg commented on #9452
Would this be as simple as having

[code]

And then within pjit, adding static_argnames as an argument and doing:

`static_argnums = extend_argnums_from_argnames(fun, static_argnums, static_argnames)`

Happy to write a PR if this seems like a reasonable approach!

[2022-05-02 20:22] YouJiacheng commented on #10515
`|z|` doesn't have a well defined gradient at `0`, even if we consider the 2d-input gradient instead of the complex derivative which requires holomorphicity.
This is because `sqrt(x * x + y * y)` is not differentiable at `(0, 0)`.

[2022-05-02 20:31] sschoenholz opened #10527 "Possible bug in `eigh` derivative (for non-degenerate eigenvalues)."
We stumbled across an error in the gradient when using `eigh` without any degenerate eigenvalues. Here is a simple repro (tested in Google colab with JAX version 0.3.4).

[code]

[2022-05-02 20:44] jakevdp commented on #10527
Hi - this looks like it does have degenerate eigenvalues (the eigenvalues are `[0, 0, 1.4]`) I think that in this case is not well defined - see the discussion in #669

[2022-05-02 20:45] polvalente commented on #10515
@YouJiacheng Thanks :) The main source of confusion here isn't the definition itself, but the definition used being different for when 0 is represented as a complex or as a float. Shouldn't those at least be the same?

[2022-05-02 20:51] YouJiacheng commented on #10515
Okay I might get your point, `|x|` is not differentiable at `0` as well, but it has `1` gradient while `|z|` has `0` gradient.

[2022-05-02 20:52] sschoenholz commented on #10527
Oops you're right! Hmm, back to the repro drawing board... this case is definitely degenerate.

[2022-05-02 20:52] #10527 closed

[2022-05-02 20:56] polvalente commented on #10515
@YouJiacheng exactly that. The issue is that the same number is differentiating differently even though only the datatype changed, not the number itself.

I just continue to be unsure if this is a decision or just a side-effect of how it was implemented, which is the main reason on why I opened this issue.

[2022-05-02 21:10] YouJiacheng commented on #10515
Let's wait for an explanation from JAX team👀.

[2022-05-02 21:12] YouJiacheng commented on #10476
Sounds Great!❤️

[2022-05-02 22:03] jakevdp opened #10530 "Segfault in `jax.scipy.linalg.schur` for 16-bit floats"
Reported in #10490
[code]

[2022-05-02 22:04] jakevdp commented on #10530
cc/ @SaturdayGenfo, who added this code in #8033

[2022-05-02 22:15] jakevdp commented on #10530
The issue is here: https://github.com/google/jax/blob/939233e7691bb005cf64efe572a2eae8003e0e85/jaxlib/lapack.py#L699

The code assumes that the inputs are either 32-bit or 64-bit; we should raise an error if this is not the case.

[2022-05-02 23:25] skye commented on #476
No updates yet unfortunately. There are internal discussions happening around both the GPU and TPU Colab runtimes, which both need to be updated to new interfaces before we can support executable serialization (so it goes), but still no timelines.

[2022-05-03 00:25] skye commented on #10192
Hey @ayaka14732, sorry for the delay! I was hiking in Nepal :mountain_snow:

Just to make sure I understand, is the issue that `/tmp/libtpu_lockfile` sometimes exists even when no process is using the TPU? I'm not sure what "works" and "not works" means in your comment above.

[2022-05-03 00:26] skye commented on #10016
Hey sorry, I was on a long vacation! Is this still an issue?

[2022-05-03 02:06] ayaka14732 commented on #10192
@skye Haven't seen you on GitHub for a long time. I miss you so much!

Yes!

"works" means can access TPU (prints `TpuDevice`), otherwise it prints `CpuDevice`.

[2022-05-03 02:12] skye commented on #10192
This is strange. The lockfile should be automatically deleted when the Python process exits. Can you rerun the same set of commands again, but make sure the lockfile doesn't exist at the beginning? (i.e. `ls -l /tmp/libtpu_lockfile` should say the file doesn't exist)

[2022-05-03 02:21] ayaka14732 commented on #10192
Sometimes the Python process was aborted, and therefore the file is not removed. For example,

[code]

The set of commands above was an explanation that `/tmp/libtpu_lockfile` is indeed the cause of the problem.

[2022-05-03 13:40] PhilipVinc opened #10539 "Add `jax.jit(donate_argnames=...)`"
`static_argnames` is much less error prone than `static_argnums`, and easily works with keyword arguments.
It would be useful to have the same syntax for `donate_***`.

[2022-05-03 14:43] gerdm opened #10540 "Unexpected behaviour in `jnp.unravel_index`"
I'm getting erroneous values for `jnp.unravel_index`. For an index of `0`, some  shapes give different results than the expected `(0,0)`. Some examples:

[code]

I'm using Jax version `0.3.6`.

[2022-05-03 15:39] carlosgmartin opened #10541 "Implement numpy.partition and numpy.argpartition"
Implement [numpy.partition](https://numpy.org/doc/stable/reference/generated/numpy.partition.html) and [numpy.argpartition](https://numpy.org/doc/stable/reference/generated/numpy.argpartition.html) (currently [in the docs](https://jax.readthedocs.io/en/latest/jax.numpy.html#jaxlib.xla_extension.DeviceArray.argpartition) but unimplemented). Among other things, this allows for efficient computation

[2022-05-03 16:06] carlosgmartin opened #10542 "Add public API for computation cost analysis (flops, memory use, etc.)"
Add a public API for analyzing the cost of a computation, including [flops](https://en.wikipedia.org/wiki/FLOPS), memory use, etc.

https://github.com/google/flax/issues/512 accesses the internal [jax.lib](https://jax.readthedocs.io/en/latest/jax.lib.html) package:

[code]

[code]

[2022-05-03 16:18] jakevdp commented on #10540
Agreed with that synopsis, but I wonder if we could make the implementation safer with respect to potential integer overflow? After all, neither the inputs nor the expected outputs in this case are out of range.

[2022-05-03 16:22] jakevdp commented on #10540
Another potential improvement: in the common case of a static `shape` argument, we should be able to warn or error at trace time if there is not enough range to represent the output.

[2022-05-03 16:33] jakevdp commented on #10541
Thanks for the request - this enhancement is already tracked in #70 and #2079. Unfortunately it's not easy to add, becuause XLA doesn't have an partial sorting primitive.

I'm going to close this issue as a duplicate.

[2022-05-03 16:33] #10541 closed

[2022-05-03 20:47] #10530 closed

[2022-05-03 23:43] nikhilmishra000 opened #10550 "Unexpected slowness from jitted function"
I seem to be getting unexpected slowness from a jitted function.

Inspired by https://github.com/google/jax/issues/2521, I tried to implement a better version of `bucket_jit`. My idea was to:
* Pad the input up to the next biggest power of two (rather than a fixed size like in #2521).
* Keep multiple versions of the jitted function, and call the right one depending on the input size.

Here is my c

[2022-05-04 00:46] evanatyourservice commented on #9053
Getting this error when using `host_callback.call` in colab. Works with colab cpu or gpu, and elsewhere outside of colab, so I think it's a colab TPU specific problem. Kind of annoying since colab is nice for testing or even training TPU stuff, but `call` is an important part of my program. To reproduce:

[code]

Full stack trace:

[code]

[2022-05-04 01:33] evanatyourservice commented on #9053
@zhangqiaorjc I ran your linked example notebook and got the exact same error I pasted above.

[2022-05-04 09:56] apaszke commented on #9452
That looks approximately right, although I do think that it would be better to reuse [`_infer_argnums_and_argnames`](https://github.com/google/jax/blob/5c838d2f6ff26dbdf62055ad52ec84551957a3f1/jax/_src/api.py#L191) to be consistent with `jit`. If you have the time, PRs are definitely welcome!

[2022-05-04 12:27] gnecula commented on #5927
@zhangqiaorjc This seems to be a TPU runtime issue. Do you know who we can ask to help?

[2022-05-04 15:09] Mv77 opened #10562 "Implement scipy.stats.multivariate_normal.cdf"
Hi,

Some of the distributions from `scipy` that you have implemented (laplace, logistic, norm) support their `.cdf` method for evaluating the cumulative distribution function. One that does not is [`jax.random.multivariate_normal`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.multivariate_normal.html). It would be great if you could add support for the multivariate normal CDF.

[2022-05-04 16:43] brettkoonce commented on #2012
@reza-amd I have made a little bit of progress with ViT and am having some issues with numerical precision on the w6800.  The wx6800 is able to train models using a batchsize of 128 but I get reduced accuracy compared to a reference run on a TPU.

w6800 results:

[code]

TPU-v2, batch size of 128 (all other code identical):

[code]

Second run with different TPU, same code config:

[code]

I had s

[2022-05-04 17:50] hawkinsp commented on #2012
@brettkoonce When comparing against TPU, a key thing to be careful of is that the default matmul and convolution precision on TPU is `bfloat16` inputs with `float32` accumulation. Try setting `jax_default_matmul_precision` to `float32`, which although slower should give numerics closer to typical GPUs. Just because the AMD GPU loss is worse, doesn't mean that it's necessarily that the AMD GPU impl

[2022-05-04 19:14] brettkoonce commented on #2012
@hawkinsp I am using the scenic vit demo in float32 mode (set like so for [data](https://github.com/google-research/scenic/blob/463534c4f207e8eb09de954d0a3b367b37d83e8a/scenic/projects/baselines/configs/imagenet/imagenet_vit_config.py#L57) / [model](https://github.com/google-research/scenic/blob/463534c4f207e8eb09de954d0a3b367b37d83e8a/scenic/projects/baselines/configs/imagenet/imagenet_vit_config

[2022-05-04 21:37] #10540 closed

[2022-05-05 05:02] tlu7 commented on #5816
@tlu7

[2022-05-05 06:36] YouJiacheng opened #10585 "Don't convert large device_array_constant to numpy in ir_constants"
https://github.com/google/jax/blob/24eb7d8b272b07908e67316cb5659db99bbc5ece/jax/interpreters/mlir.py#L282-L284
For small constant, compiler may use the value in optimization. But for large constant, it is too expensive to fetch the value.
I think JAX should do zero copy for large constant, i.e. share the buffer by pointer.
Moreover, JAX should not inline large array in executable as well, which wi

[2022-05-05 09:08] tomhennigan opened #10586 "tape.gradients returned in wrong order when using jax2tf+tf.Module"
Originally reported in deepmind/dm-haiku#389.

A minimal reproducer can be found in this Colab: https://colab.research.google.com/gist/tomhennigan/144e75ca79627cfd0edd98113a90e1c0/jax2tf.ipynb.

I've found that you can "fix" the issue by removing `tf.Module` as the base class of `JaxModule`.

My hypothesis for why this fixes things: `tf.Module` inherits from `Checkpointable`. This means that (desp

[2022-05-05 14:22] lucagrementieri opened #10588 "Wrong values in tensors for JAX function executed in C++ as xla::HloModule"
I am following the guide published at https://github.com/google/jax/issues/5337 to run a JAX program in C++.

The published example (https://github.com/google/jax/tree/main/examples/jax_cpp) works as expected, but if in the exported function I define a new tensor whose size exceeds 10, then I get gibberish numbers.

I have added to `prog.py` the following test functions.

[code]

The functions tak

[2022-05-05 15:12] hawkinsp commented on #507
@zoobot Please open a new issue with details of your problem and how to reproduce it.

[2022-05-06 02:17] xinyuxiao113 opened #10596 "Extremely slow when I jit compile a function on GPU."
When I use jit for a function with fft operation on GPU  as follows (Note that I use a global variable pulse here). It takes more than 10s to jit compile on GPU while 0.1s on CPU. I can not figure out the reason. Can you explain what happend ?

[code]

![截屏2022-05-06 上午10 06 15](https://user-images.githubusercontent.com/55077744/167055137-aaff804f-05a6-45f1-997c-9f2a82d07912.png)

Surprisingly,  w

[2022-05-06 02:22] xinyuxiao113 commented on #10596
Here is my environments.
cuda-11.4.2-gcc-11.2.0-rxy4qhm
cudnn-8.2.4.15-11.4-gcc-11.2.0-a6q32ad
gcc/11.2.0
jax                                0.2.17
jaxlib                             0.1.68

[2022-05-06 12:58] YouJiacheng commented on #10596
This is related to constant-folding IMO.
[code]

[2022-05-06 13:48] xinyuxiao113 commented on #10596
Thank you for your reply, by the way, do you have any good ideas to avoid the long time constant folding ?   Or is there any  programing principles to keep my code away this trap.

[2022-05-06 13:54] YouJiacheng commented on #10596
I think we can make sure all large constants are passed as argument to jitted function, or created inside jitted function. It is okay to have large constants created inside jitted function and captured by closure as well.
[code]

[2022-05-06 14:24] YouJiacheng commented on #10596
`np.random.rand(8000)` is compiling-time constant as well.
You might try:
[code]
BUT... it fails again
[code]
Hmmmm.

[2022-05-06 14:40] YouJiacheng commented on #10596
`np` array will be treated as compile-time constant. So constant-folding again.
`large_constant = jax.random.uniform(jax.random.PRNGKey(0), (8000,))` is not compile-time constant by default, unless
[code]

[2022-05-06 14:43] hawkinsp commented on #10585
A few observations:
a) sometimes users *do* want to hand large model weights to XLA and bake them into their program. The canonical example of this is neural network inference: you might prebake the weights into the program and allow XLA to do things like transpose them into the perfect layout.
b) the excessive memory use should show up in `live_executables()`.
c) we cannot be zero-copy on platfor

[2022-05-06 14:44] xinyuxiao113 commented on #10596
Okay, I get your point.  I am confusing about the reason why constant folding takes such long time when I use fft on np.random.rand numbers. When I take other operations such as inverse of matrix instead of fft,  this problem disappear.

![截屏2022-05-06 下午10 44 23](https://user-images.githubusercontent.com/55077744/167156330-1e467c28-e4c0-4a12-874d-1c12cab85575.png)

[2022-05-06 14:47] hawkinsp commented on #10596
Fundamentally: if you capture a constant value in a `jit`, you are telling JAX "the compiler may see this value, must bake it into the program, and may perform optimizations using its value".

If you do not want that behavior, the fix is what you discovered: pass the value as a parameter instead! That is exactly the distinction between parameters and captured values.

(I suspect the reason you don

[2022-05-06 14:49] YouJiacheng commented on #10596
@xinyuxiao113 Not all op has constant folding rule, IIUC.

[2022-05-06 14:55] xinyuxiao113 commented on #10596
Thank you again. I think I have understand this problem.

[2022-05-06 14:56] xinyuxiao113 commented on #10596
Thank you again. I think I have understand this problem.

[2022-05-06 15:03] YouJiacheng commented on #10585
Thanks for nice explanation! I agree your points!
BTW, pass as parameter(i.e. compiler doesn't see the value) can achieve zero-copy, right?
We cannot be zero-copy only when compiler(runs on CPU) need to see the value, is my understanding correct?

Could we have some helper function like `jax.closure_convert` to mark some of captured values as parameters? It is cumbersome to pass constant through n

[2022-05-06 15:22] YouJiacheng commented on #10585
I do something like:
[code]

[2022-05-06 15:33] JeppeKlitgaard opened #10601 "`jit` input validation can lead to silently dynamic variables"
`jax.jit` (and presumable other similar transformations) currently does not validate `static_argnames` and `static_argnums`, which leads to silent failures in some cases. These can be particularly frustrating to debug and the additional input validation can be done with relatively little overhead.

A particularly headache inducing example of this could be when used in combination with positional-o

[2022-05-06 15:50] hawkinsp commented on #10601
It seems reasonable to me that if we can determine an accurate signature for the wrapped function that we error if the named arguments certainly do not exist. (You may not know, e.g., if the implementation uses `**kwargs`.)

[2022-05-06 15:51] YouJiacheng commented on #10585
Finally:
[code]

[2022-05-06 15:52] #10585 closed

[2022-05-06 15:54] mattjj opened #10602 "remat abstraction provenance"
Applying `remat` to a function can raise the abstraction level of its arguments. There's an easy recourse (e.g. use `partial`) but without a good error message it can be hard to figure out what's going wrong.

In some cases we have good provenance information for abstraction error messages, but I think `remat` is lacking it.

[2022-05-06 16:16] JeppeKlitgaard commented on #10601
Would this not also apply to `argnums`?

I am working on argnum validation right now, and I think it already spotted an error in JAX source: https://github.com/google/jax/blob/ab7a60b3abdc1e4aec210d79926824b85082d2d7/jax/_src/lax/qdwh.py#L68

[code]

I assume (and believe to recall) `static_argnums` is zero-indexed, so making `argnum=3` will never make sense.

Could you confirm this, @hawkinsp?

[2022-05-06 16:22] JeppeKlitgaard commented on #10601
My current approach to validation is to count the number of `POSITIONAL_ONLY` and `POSITIONAL_OR_KEYWORD` arguments and use that count. If we have a `VAR_POSITIONAL` (`*args`), then any number of argnums is allowed as expected.

[2022-05-06 16:24] FlorianH-1QBit commented on #10206
Looks similar to https://github.com/google/jax/issues/10159, which was however fixed with jaxlib 0.3.5. Both of the above issues are still present with jaxlib 0.3.7 and jaxlib 0.3.10.

[2022-05-06 16:35] hawkinsp commented on #10206
Thanks, you are right, this looks like another complex-number bug in the MHLO canonicalizer. I reported it to the folks who can fix it.

[2022-05-06 17:03] JeppeKlitgaard commented on #10601
Similarly there seems to be a bug here:
https://github.com/google/jax/blob/562e27d72d6cac7c9e3fb07801d246f935712d0f/jax/_src/scipy/linalg.py#L149-L150

(`overwrite_b` and `overwrite_a` mismatch?)

[2022-05-06 17:07] hawkinsp commented on #10601
For the `qdwh` code, it should be `(1, 2)`.

I agree the `lu_solve` is a mismatch.

[2022-05-06 17:08] gnecula commented on #10586
The problem comes from the fact that `jax.tree_util.flatten` behaves somewhat differently than `tf.nest.flatten` on a `DictWrapper`. I will think if there is a clean solution or simply we should give an error in that case.

The same would happen if the argument contains a type for which either JAX or TensorFlow register custom pytree handlers. In that case probably the best thing to do is to give

[2022-05-06 17:08] JeppeKlitgaard commented on #10601
Those two cases nicely motivate stricter input validation, I think!

I will make a PR with the additional validation.

[2022-05-06 18:31] suvadityamuk opened #10605 "Importing `jax.numpy` leads to Partially Initialised module error"
Please:

- [x] Check for duplicate issues.

I am running `JAX` on a `Fedora 35` system, with `CUDA 11.6`, `CuDNN 8.2`, `Driver version 510.60.02`

[I installed `CuDNN` based on the `RHEL8` instructions [here](https://docs.nvidia.com/deeplearning/cudnn/install-guide/index.html), since `Fedora 35` doesn't seem to officially get the builds for it]
I installed `JAX` by following the instructions prese

[2022-05-06 19:20] jakevdp commented on #10605
Thanks for the report - I suspect this has to do with version skew between the `jax` and `jaxlib` packages. Can you tell us which versions of jax and jaxlib you have installed? For example, if you use `pip` to install packages you can run:
[code]
using the appropriate Python executable.

[2022-05-06 19:56] JeppeKlitgaard commented on #10539
I might be interested in implementing this following #10603 and #10476

[2022-05-06 20:26] jakevdp commented on #1567
In case anyone comes across this, there is now a section in the FAQ addressing jit compilation of methods: https://jax.readthedocs.io/en/latest/faq.html#how-to-use-jit-with-methods

[2022-05-06 20:26] jakevdp commented on #5595
In case anyone comes across this, there is now a section in the FAQ addressing jit compilation of methods: https://jax.readthedocs.io/en/latest/faq.html#how-to-use-jit-with-methods

[2022-05-06 20:26] jakevdp commented on #9672
FYI, there is now a section in the FAQ addressing jit compilation of methods: https://jax.readthedocs.io/en/latest/faq.html#how-to-use-jit-with-methods

[2022-05-06 20:54] #10586 closed

[2022-05-06 21:01] JeppeKlitgaard commented on #10539
Having had a look at this, I think an ideal solution which supports both positional-only and keyword-only arguments (as well as anything in between) would require changes to `xla.xla_call`, which would be beyond what I could do.

A simpler solution that would work in cases except keyword-only could be done quite easily with `inspect`.

[2022-05-06 21:51] #10474 closed

[2022-05-06 22:36] JeppeKlitgaard commented on #10046
I only just found this, so I realise I made a duplicate issue over in #10601.

This issue is fixed by #10603. See PR for comments on `*args`, and `**kwargs` cases.

[2022-05-06 23:43] JeppeKlitgaard opened #10614 "[Proposal] Consistent `argnums` and `argnames` parameters for transformations"
Hey JAX team,

I have been trying to wrap my head around 'argument annotation` in JAX for a bit in the hopes of finding a more intuitive/consistent implementation, which has lead me to the big block of text below. I would be super keen to hear your thoughts as I try to dive deeper into the inner workings of JAX.

Lately there have been a number of issues requesting improvements to `*_argnums` and

[2022-05-07 03:04] tlh24 commented on #1918
I'm also trying to efficiently calculate pairwise distances with large matrices.  The problem now, however, is that JAX seems to always run out of memory.

`import jax
import jax.numpy as jnp

def distance(x, siz):
	@jax.jit
	def l2_dist2(m, ai, bi):
		return jax.lax.fori_loop(0, siz, \
			lambda i,c: c+(m[ai,i]-m[bi,i])**2, 0.0)
	def l2_dist_cond(m, ai, bi):
		return jax.lax.cond(bi > ai, l2_dist

[2022-05-07 04:20] YouJiacheng opened #10615 "DOC: FAQ "jit decorated function is very slow to compile" need supplement"
Have a large compile-time constant can be a main reason of slowness as well, currently the FAQ only mention the python-control-flow unrolling.
#10596
#10585
#10551
In addition, it will be better to remind user to warm up JAX backend before measuring time for compiling.

[2022-05-07 06:43] #10046 closed

[2022-05-07 06:48] suvadityamuk commented on #10605
Right, I tried that, this is the result I get

![image](https://user-images.githubusercontent.com/70141886/167242464-629a422e-adb3-4691-ba76-299d38192b4f.png)

[2022-05-07 09:10] NeilGirdhar commented on #9672
@jakevdp Looks great!  The documentation is really improving.  I agree with the documentation that "strategy 3 (jitting the unbound method) is the most flexible approach".  However, you may want to warn users against "strategy 4" in which the JIT is applied to bound methods.

[2022-05-07 10:23] JeppeKlitgaard opened #10618 "`static_argnames` of `jax.jit` does not correctly infer `argnums`"
This is most easily shown by accessing `_infer_argnums_and_argnames` directly:

[code]

[2022-05-07 10:23] JeppeKlitgaard commented on #10618
I will add some tests for `_infer_argnums_and_argnames` and see if I can fix it in a PR.

[2022-05-07 13:55] YouJiacheng commented on #10618
isn't this behavior is intended?

[2022-05-07 14:16] JeppeKlitgaard commented on #10618
I guess if one reads the docstring very literally, this is expected behaviour, but I would argue that it is not intended and is confusing for the end-user.

Personally I would expect and want the following:
- Any arguments marked as static by EITHER `static_argnames` OR `static_argnums` will be static no matter how the parameter is given (keyword, positional, keyword-only, etc...)

To me it is rea

[2022-05-07 14:19] YouJiacheng commented on #10618
I Agreed. I prefer to have a simple&consistent&less-corner-case behavior as well!

[2022-05-07 16:54] YouJiacheng opened #10621 "Strange behavior of scan unroll + nested scan + vmap"
[code]

[code]
If `n=1` or `m>=96`, everything is fine.
I am sorry that I can't get a smaller reproduce.

[2022-05-08 11:16] johnryan465 opened #10623 "Discrepancy between scipy.special.lpmn and jax.special.scipy.lpmn"
There is a discrepancy between the values return for the derivatives in both functions, the magnitude of the difference is significant in the first row of the output. Have included a minimum example, additionally enabled 64 bit precision to ensure that is not the cause of the issue. I am unsure whether jax or scipy is correct in this case.

[code]

[code]

[2022-05-08 12:14] abn commented on #5410
Just a drive by comment on this coming from https://github.com/python-poetry/poetry/issues/5516. We have implmented single page support in https://github.com/python-poetry/poetry/pull/5517. However, for tools like Poetry, since metadata is important when resolving a project's universal dependencies, having package checksums (described in [PEP 503](https://peps.python.org/pep-0503/)) and [PEP 658](

[2022-05-08 19:21] xloem commented on #8482
It looks like automating this "properly" might mean adding a dependency of https://github.com/robbmcleod/cpufeature or https://github.com/flababah/cpuid.py

[2022-05-09 14:54] ajbrock opened #10630 "PR 10453 breaks negative-valued `argnums` in `jax.grad"
https://github.com/google/jax/pull/10453 breaks the ability to use negative-values (a la negative indexing) for the argnums arg in `jax.grad`, resulting in a TypeError about positional arguments.

Here is a minimal repro (yay!) that mirrors the way I use this in practice.
[code]

yields this stack trace:
[code]

[2022-05-09 15:49] tlu7 commented on #10623
I will look into this.

[2022-05-09 16:05] jakevdp commented on #10630
Thanks for the report – I'm not sure negative indices for argnums were ever intentionally supported; at least, we never mention this in the docs or cover it in tests (let me know if I'm mistaken on that)

My inclination here is to "fix" this by adding assertions that `argnums` be positive – what do you think?

Paging @mattjj for input here.

[2022-05-09 16:07] JeppeKlitgaard commented on #10630
@jakevdp I'm working on argument 'annotation' validation for `jax.jit` now (with the intention of expanding to other places where argument annotation is used later). @hawkinsp has kindly provided feedback over in #10603

[2022-05-09 16:20] ngam opened #10632 "`jupytext --sync docs/jax-101/*` fails because of an rst file"
`jupytext --sync docs/jax-101/*` ([as here](https://jax.readthedocs.io/en/latest/developer.html#update-notebooks)) fails because of an rst file

[code]

The fix is to run `jupytext --sync docs/jax-101/*.md` and then `jupytext --sync docs/jax-101/*.ipynb` (not sure why more wildcards didn't work, e.g. `jupytext --sync docs/jax-101/*.{ipynb,md}` or maybe I was doing something wrong locally)

_Origin

[2022-05-09 16:29] jakevdp commented on #10605
Thanks for the additional information. I was not able to reproduce this on an Ubuntu system with jax 0.3.10 and jaxlib 0.3.10, running Python 3.10. Can you try to isolate this error further? Without a local reproduction, it's hard to debug.

[2022-05-09 16:32] ngam opened #10633 "minor display issue in rendered docs"
Please:

- [x] Check for duplicate requests.
- [x] Describe your goal, and if possible provide a code snippet with a motivating example.

Split the `print(...)` statements into different cells in the notebooks so that they're better rendered in .md. If not split, they are usually rendered on separate cells. For example, the [following cell](https://jax.readthedocs.io/en/latest/notebooks/autodiff_c

[2022-05-09 16:38] PhilipVinc opened #10634 "Are `jax.custom_transpose` and `jax.custom_vmap` public?"
They are in the public namespace, but there are no docstrings and they do not show up in the generated documentation.
If they are public, they should also be documented...

[2022-05-09 16:39] ngam commented on #10633
I first noticed this issue when I was trying to figure out [this part of the docs](https://jax.readthedocs.io/en/latest/notebooks/autodiff_cookbook.html#hessian-vector-products-using-both-forward-and-reverse-mode):

[code]

[code]

[code]

[code]

[code]

[2022-05-09 16:54] jakevdp commented on #10632
Thanks! Should be addressed in #10636

[2022-05-09 17:15] josephrocca commented on #9659
Hey @marcvanzee, @gnecula, just thinking about whether I should try another route to unblock myself here (specifically trying to get Google's [LiT](https://github.com/google-research/vision_transformer/tree/main#lit-models) gradients working in the browser at this point, since it seems better than CLIP for my use case), and so I was wondering if this is likely/unlikely to be fixed any time soon (e

[2022-05-09 18:07] #10632 closed

[2022-05-09 20:53] oliverdutton commented on #9659
Do you know the line in the code where the scatter add occurs?

[2022-05-10 02:07] tlu7 commented on #10623
Thanks for catching it. This [PR] (https://github.com/google/jax/pull/10643) should be a fix.

[2022-05-10 05:42] YouJiacheng commented on #10634
IIRC, `custom_tranpose` is WIP: https://github.com/google/jax/issues/9129

[2022-05-10 10:06] gnecula commented on #9659
@josephrocca Implementing the `XlaScatter` support with `enable_xla=False` means implementing the functionality of scatter using core TF ops. An example for gather is [here](https://github.com/google/jax/blob/68dbe74225af951762934f84a7e026cb8aa173da/jax/experimental/jax2tf/impl_no_xla.py#L702). Both scatter and gather are complicated, so the strategy is to implement the most common use cases first

[2022-05-10 12:06] jakevdp commented on #10623
It looks like there's another inconsistency here – the scipy function requires `z` to be a scalar, while the JAX function requires `z` to be a length-1 array. Could we also address that, so that the two versions of the function have a consistent call signature?

[2022-05-10 12:40] josephrocca commented on #9659
@oliverdutton I believe the scatter add is generated by `jax.grad`. If you're curious, [here's a notebook](https://colab.research.google.com/drive/1d0ll1yniQxDavGPFB31LVz49MDGO62o8) that minimally replicates the error for the LiT model. You can just click `Runtime > Run all` to generate the error (or just scroll down and read the error that I've saved saved from a previous run).

One workaround th

[2022-05-10 17:12] froystig commented on #10634
Both are work in progress. We'll consider them part of the public API when they are documented and announced in the changelog. Watch #9129 for progress on custom transposition and #9073 for custom batching.

[2022-05-10 17:18] josephrocca commented on #9659
@gnecula It's more likely that I'm missing something here, but to summarise: The problem is that `jax2tf.convert(f)` works fine, but `jax2tf.convert(jax.grad(f))` doesn't due to lack of scatter add conversion. So my idea was to do `jax2tf.convert(f)`, and then get the gradient using TensorFlow's `GradientTape`, and then convert to SavedModel from there. Would the latter approach still require a sc

[2022-05-10 17:42] patrick-kidger commented on #10614
This is totally doable `inspect.signature`. For example:
[code]
which canonicalises args and kwargs based on the signature of the function.

Then if necessary do the same thing to the actual `args` and `kwargs` passed at runtime, and match them up.

(And yes, this is exactly how Equinox handles `filter_{jit,grad,vmap,pmap,value_and_grad}`!)

[2022-05-10 18:39] oliverdutton commented on #9659
I have implemented a subset of xla-free scatter which covers your case.

Adding
[code]
to your colab does now run and checking with
[code]
does match with a max abs diff 0.0001213 which seems within tolerance

This doesn't solve the serving problem which is separate from this, I'd take a look at https://blog.tensorflow.org/2021/03/a-tour-of-savedmodel-signatures.html

[2022-05-10 18:42] zero0o0o opened #10656 "jax.linalg error"
Hey guys!
I hope you are doing great. I faced an error while working with jax.linalg which I don't understand how to fix or which part it's related to. I mentioned the error and the details in the other issue in the neural tangents repo which I'm referencing here again.
Can you please what can I do?
Thanks!

Another avenue to investigate is to try running this python program
[code]
to see if the i

[2022-05-10 19:00] tlu7 commented on #10623
Thanks for bringing it out, Jake. I will look into the consistent call signature after submitting this change.

[2022-05-10 19:04] jakevdp commented on #10656
Hi - given the errors in the linked comments (and the fact that the filepaths are windows-like) I'm going to guess that this is a windows jaxlib build issue. The JAX team doesn't maintain any windows releases, so your best bet would probably be to report this error to the maintainers of the windows jaxlib builds that you are using.

[2022-05-10 20:59] jakevdp commented on #10656
Possible duplicate of https://github.com/google/jax/issues/10474?

[2022-05-10 22:51] jakevdp commented on #8505
Here's a hack that can be used to work around this:
[code]
One thing we could do to fix this (though it's kind of terrible) is to set this attribute of `builtins` when jax is imported.

[2022-05-11 08:17] oliverdutton commented on #9659
@josephrocca  https://colab.research.google.com/drive/1ePrAXbnL4QhtHVCJKHC9VHZsXzngIZXR?usp=sharing has a serving signature so converts successfully to tflite.

Notes:
- The input shape is concrete, I set the batch dimension to 4
- The `lit_variables` have been kept as a function input even in the tf version
- To make the `lit_variables` a valid tf input they've been flattened, with names based on

[2022-05-11 08:28] c608345 opened #10661 "documentation format not correct"
https://jax.readthedocs.io/en/latest/notebooks/Common_Gotchas_in_JAX.html#:~:text=int32%2C%20weak_type%3DTrue)-,Summary,-%23

summary format not correct.
![3598734593485](https://user-images.githubusercontent.com/37238933/167804363-8ee6fec3-0bcf-4bc4-be0c-76bb7750a33e.png)

[2022-05-11 09:51] josephrocca commented on #9659
@oliverdutton This is brilliant! Thank you! I'm checking the validity of the tflite file now. It seems a bit unusual that the .tflite file is >120mb, given that (unless I'm misunderstanding), the parameters aren't saved in it. IIUC, I'll need to save the parameters as a separate file and then load them and feed them in as the first argument during inference. 120mb seems too small to contain the ac

[2022-05-11 09:57] onnoeberhard opened #10662 "`jnp.array` is much slower than `np.array` when called on a nested list"
Consider the following example (I am using JAX version 0.3.10):
[code]

NumPy is orders of magnitude faster than JAX here. A similar problem for non-nested lists (#2919) was addressed in PR #3350.

[2022-05-11 10:05] jecampagne commented on #1400
Ho what a great thread !
I was playing with jaxopt.SciBoundedMinimize with "L-BFGS-B" method and faced some problem as this scipy-wraper deals with `jnp_to_onp` conversion. So, reading this thread may be is the solution, where to find the how-to-do with jax 0.3.10? Thanks

[2022-05-11 10:54] oliverdutton commented on #9659
File size
- Parameters shouldn't be saved in it, beyond those for config of the network
- I could believe it being huge, have a look at the difference in lengths of jax_pr between score and grad(score) with jax.make_jaxpr to get a sense for this.

To confirm, the grads here are against the 400 separate parameters of the model, not against the image. Is this what was intended?

Where to document:
-

[2022-05-11 13:42] hawkinsp commented on #8632
This has been in jaxlib (and therefore fixed) for a while! Closing...

[2022-05-11 13:42] #8632 closed

[2022-05-11 16:29] jakevdp commented on #10662
This was the result of a performance-vs-correctness tradeoff that we made in the implementation of `jnp.array`; we chose correctness at the expense of performance. If you are converting a large list of scalar values to a JAX array and performance is more important to you than correctness, I'd suggest `jnp.array(np.array(values))`

[2022-05-11 16:41] jakevdp commented on #10662
I'll note also that even the previous "fast path" that you reference in that PR would slow down by orders of magnitude once jit-compiled, and in many cases would return different results between jit and non-jit execution, which both are behaviors we try to avoid.

[2022-05-11 17:37] onnoeberhard commented on #10662
Interesting, thanks for the reply! I assume the additional overhead of converting the NumPy array to JAX is negligible if they are on the same device?

It might be a good idea to mention this difference in the documentation (maybe [here](https://jax.readthedocs.io/en/latest/notebooks/Common_Gotchas_in_JAX.html#non-array-inputs-numpy-vs-jax)). I only noticed this in my project due to profiling and

[2022-05-11 17:50] jakevdp commented on #10662
Regarding the overhead of converting numpy to jax – yes, it should be negligible on the same device. And if you're using an accelerated backend, there's not really any way around it: your list of integers (or whatever) lives on CPU. You can either serialize each of those integers individually and push each one to the device and then run a `concat` operation on them, or you can wrap them in a numpy

[2022-05-11 17:50] shoyer commented on #1565
JAX has `__array_module__`, but I don't think NEP 37 is ever going to be accepted. [NEP 47](https://numpy.org/neps/nep-0047-array-api-standard.html) (`__array_namespace__` / array API standard) has much more momentum behind it, e.g., a PyTorch implementation.

[2022-05-11 19:08] C-J-Cundy commented on #10445
I've been unable to reproduce this when I got a chance. The same script that previously caused the GPUs to hang now compiles and runs fine. I haven't changed the version of jax or anything, so this is a bit odd, but I'm not complaining.

[2022-05-11 19:08] #10445 closed

[2022-05-11 19:10] jakevdp commented on #2632
A question about design here: where should the deep-copied / unpickled device arrays live? Should they be on the same device as the original? The default device?

This is maybe harder to answer for pickle, because the pickle serialization and de-serialization may happen in entirely different environments.

The easiest behavior would be to strip any device information on serialization, and then de-

[2022-05-11 19:35] JeppeKlitgaard commented on #2632
My expectation would be that deepcopy stores the copied array on the same device. Alternatively/additionally one could add a `DeviceArray.deepcopy` method that features a `to` argument:

[code]

For pickling, I think it would make sense to place the array on the default device always.

[2022-05-11 19:44] JeppeKlitgaard commented on #10614
@patrick-kidger I think a native JAX solution might even be able to just lean on the existing `argnames_partial`/`argnums_partial` functions. This way the only changes needed would be to generate the extra entries in `argnums` and `argnames` at the beginning of methods like `jit`, `grad`, ... The lookup logic would then also work for `nodiff` and `donate` type arguments.

[2022-05-11 19:46] JeppeKlitgaard commented on #10614
From #10669 it appears that negative `argnums` should also be made valid for `static_argnums`, in which case I think that convention should be carried across to `nodiff`, `argnums`, etc.

This will require some addition work on #10603.

Could @mattjj weigh in?

[2022-05-11 19:51] jakevdp commented on #2632
I don't think arrays need a `deepcopy()` method; they already have a `copy()` method. We've so far resisted having device specifiers on the jax.numpy API (for example, in functions like `jnp.array` and `jnp.asarray`) but we could revisit that decision.

I don't think the optional argument idea is a good solution here though, because neither `pickle` nor `copy.deepcopy` offer any option to specify

[2022-05-11 20:06] onnoeberhard commented on #10662
I see, that makes sense.

I just noticed another interesting performance difference between JAX and numpy which may or may not be related to the above:
[code]

[2022-05-11 20:15] mattjj commented on #10614
Supporting negative indices everywhere SGTM. (Sorry, haven't had time to reply to the broader proposal in more detail...)

[2022-05-11 20:43] JeppeKlitgaard commented on #2632
I guess since JAX arrays never contain mutable objects (as far as I am aware?), you're right that `deepcopy` would always be the same as `copy`.

One of the use-cases where a "to" copy would be nice is when doing compute on an array on a GPU which is sufficiently large that storing a whole extra copy in VRAM would not be possible (therefore `device_get(arr.copy())` wouldn't work, as far as I can t

[2022-05-11 21:01] jakevdp commented on #2632
Remote device transfer is a much deeper issue than a question of keywords to `jax.numpy` operations. We'd first have to get a stable implementation at the low level. There is some functionality for this (see e.g. https://github.com/google/jax/blob/main/tests/remote_transfer_test.py) but it's not stable on all backends.

In any case, I think we'd probably keep this at a lower level even if/when it

[2022-05-11 21:07] jakevdp commented on #10662
This discrepancy is different - it's because the jax operation is not JIT compiled (if you JIT compile it, it is about 100x faster)

If you're interested in microbenchmark comparisons between JAX and NumPy, I'd start with https://jax.readthedocs.io/en/latest/faq.html#is-jax-faster-than-numpy

[2022-05-12 00:49] hawkinsp commented on #10445
If it happens again, please grab a stack trace! Thanks for the report.

[2022-05-12 05:59] samuela commented on #4823
What is the meaning of `--xla_gpu_autotune_level=0` vs `--xla_gpu_autotune_level=1` vs `--xla_gpu_autotune_level=2`? Are there other values? Are there docs for these options?

[2022-05-12 10:45] inoryy commented on #7010
+1 to setting default to f32.

Having had the pleasure of shooting both my feet with either performance gotchas and numerics gotchas, I'd wholeheartedly prefer debugging the performance ones as they're much easier to spot.

[2022-05-12 12:24] josephrocca commented on #9659
@oliverdutton Thanks again for your help and investigations! I've filed an issue [here](https://github.com/tensorflow/tensorflow/issues/56075) about the unusual tflite size and they've replicated and are looking into it. I've also filed an issue [here](https://github.com/tensorflow/tfjs/issues/6403) about the tflite file not loading with `tfjs-tflite` (the web runtime for tflite).

Regarding docum

[2022-05-12 14:48] #10630 closed

[2022-05-12 14:50] #10596 closed

[2022-05-12 15:45] froystig commented on #9073
A rough update on where the implementation is at present:

* Batching, forward-mode AD (e.g. `jvp`, `jacfwd`), and compilation are all supported.
* Reverse-mode AD (specifically linearization by partial evaluation, and transposition) are a work in progress.
* The underlying primitive currently stages out the custom-batched function eagerly. We may want to move to a delayed tracing approach.

We're

[2022-05-12 17:47] YouJiacheng commented on #10465
`tree, leaf = treedef_children(tree)` decompose args treedef to positional-args treedef and kwargs treedef, only remove this assertion seems to raise an error with empty message?

[2022-05-12 18:04] YouJiacheng commented on #10493
Hmmm, this error message can be triggered by a much simpler and runnable w/o vmap example...
[code]

[2022-05-12 18:20] quantshah commented on #3402
@geraschenko and @mattjj Thanks for all the explanations. I am still trying to wrap my head around it all. But I have to say that the situation where one may want to differentiate a function defined between R -> C may come up in quantum physics / quantum information. A simple case is differentiating a quantum operation ``f(a) = U(a) @ z`` where `a` is a set of real numbers defining a Unitary matri

[2022-05-12 18:58] #10661 closed

[2022-05-12 20:55] oliverdutton commented on #9659
The users needs to be aware that their input signature has changed to something flat, and ideally they need to name it in a way that makes sense. They just define the model and a way to pass args to it, which can be tricky when you’re using it in a number of platforms/languages.

There could be a utility function left around though, which people are advised to use.

[2022-05-12 21:46] froystig commented on #10542
We've discussed maybe adding a feature of this sort to the ahead-of-time APIs (cf. #7733)

[2022-05-13 00:35] sharadmv commented on #10562
FWIW a general MVN CDF is pretty difficult to compute (see [this TFP issue](https://github.com/tensorflow/probability/issues/422) for reference). A Monte Carlo approximation (as suggested in that issue) could be a good approximation if you need something right now.

Alternatively if you know your MVN has a diagonal covariance, you can use a product of independent normal CDFs instead.

[2022-05-13 00:57] sharadmv commented on #10550
I think the additional overhead in your measurements is coming from the pad and slice. The more expensive the function you're JIT-ting is, the less that overhead will be. Alternatively, you could measure your time after you call `jnp.pad` and before you do `y_pad[:b]`.

The reason you are seeing different behavior when `perturb_size = True` is that the [`jnp.pad` itself is JIT-ted](https://github.

[2022-05-13 05:23] evanatyourservice commented on #10192
I ran into this today, this thread was very helpful. Not exactly sure why the lockfile wasn't deleted, but I was running my program in screen, sometimes wandb hangs indefinitely when it finishes in screen, might be a cause.

[2022-05-13 05:58] cloudhan opened #10687 "Jax windows building failure due to dependent on tpu_initializer_helper"
Currently, building jaxlib from latest main branch results in the following error:
[code]
---
[code]

shows (a linear dep visualized from svg graph)
[code]

The edge from `tpu_client` to `tpu_initializer_helper` is introduced in https://github.com/tensorflow/tensorflow/commit/8c78a5a5f6d6e510f5bbc327b2efaeeaea4f3796

[2022-05-13 06:23] josephrocca commented on #9659
@oliverdutton I see, so it's just a fundamental problem of TensorFlow not allowing nested inputs. Is it also the case that it's not possible to solve this "behind the scenes" in jax2tf if we're talking about params stored in the `_variables` property of the `tf.Module`, rather than params passed as inputs to the model? It does seem kinda strange from my newbie perspective that SavedModel can't han

[2022-05-13 07:24] oliverdutton commented on #9659
It's not a fundamental problem of tensorflow, it's due to the design decision in tensorflow serving signatures. If you run jax2tf then call the fn in tensorflow with the variables still not nested it will function fine. It's saving with a serving signature that hits you.  See https://www.tensorflow.org/tfx/serving/signature_defs.

I am currently working on a fix that stops that `scatter-add` from

[2022-05-13 07:36] onnoeberhard commented on #10662
@jakevdp Thanks for the explanation. I am now trying to write about why lists are not automatically converted to numpy arrays first. I don't completely understand what you mean by "correctness" above. Can you give an example where `jnp.array(list)` returns a different (and "more correct") result than `jnp.array(np.array(list))`?

[2022-05-13 07:43] oliverdutton commented on #9659
Looked at CLIP, it's a great case to have, I hadn't considered when the update was scalar I'll add to the tests.

It's actually just a trivial update, [0.] -> [1.] by indexing at [0].

[code]

[2022-05-13 12:24] jakevdp commented on #10662
Sure, one important reason we can't just call `np.array` when the argument is a list is that JAX transforms inject tracers in place of values, so `np.array` will result in an error:
[code]

Another more subtle example is when you have a list with a mix of dtypes where type promotion behavior differs between numpy and jax:
[code]
JAX treats unspecified python scalars as "weakly-typed", in that they

[2022-05-13 13:19] hawkinsp commented on #10687
I think the easiest fix would be to not even build the TPU support at all on Windows, because there are no Windows machines with TPUs. Currently the support gets built but cannot be used, which is somewhat pointless.

[2022-05-13 15:14] mattbarrett98 opened #10692 "inconsistent behaviour for jax.numpy.power"
Running
[code]
gives `[1]`, yet
[code]
gives `0`. Why does simply changing the shapes of `x` and `y` impact the value of the result?

[2022-05-13 15:44] jakevdp commented on #10692
The reason is that in the first case, the implementation is via `lax.pow`, while in the second case, since the input is a concrete integer, it is computed via an integer power optimization. Apparently the two approaches have different overflow characteristics.

[2022-05-13 15:47] jakevdp commented on #10692
Assigning to @hawkinsp who has put the most thought into these algorithms.

[2022-05-13 16:42] hawkinsp commented on #10692
This is working as intended: if you cause integer overflow, the behavior is implementation-defined. If that's a problem then... don't do that :-)

As to why they differ, I suspect it's because `lax.integer_pow`'s copy of the algorithm runs for a known number of iterations that depends on the right-hand side, whereas `jnp.power` runs for a fixed number (6 times) irrespective of the value of the rig

[2022-05-13 16:42] #10692 closed

[2022-05-13 17:23] YouJiacheng commented on #10614
@patrick-kidger It seems that your example has some typos, and `bind_partial` need `static_args` and `static_kwargs` doesn't overlap, so `static_args = tuple(True if i in static_argnums else False for i in range(static_argnums))` seems wrong(and `range(static_argnums)` should be a typo I think).
I'll have a look at `Equinox`.

[2022-05-13 17:58] ngam opened #10696 "`--config=cuda` overrides explicit options, instead of augmenting them"
Please:

- [x] Check for duplicate issues.
- [x] Provide a complete example of how to reproduce the bug, wrapped in triple backticks like this:

[code]

- [x] If applicable, include full error messages/tracebacks.

---

I am trying to build cuda-enabled jaxlib on conda-forge. I am running into a problem where the `--config=cuda` flag replaces the custom toolchain. I understand this is outside the

[2022-05-13 18:14] patrick-kidger commented on #10614
If `static_args` and `static_kwargs` overlap then that's a user error, analogous to `def f(a) ... f(1, a=2)`.

Indeed it should be `range(len(static_argnums)).

This was typed out without testing. If in doubt use the Equinox version, that definitely works ;)

[2022-05-13 18:29] YouJiacheng commented on #10614
@patrick-kidger It is not a user error since `static_args = tuple(True if i in static_argnums else False for i in range(static_argnums))` generate a full set args. And I doubt that it should be `range(max(static_argnums))`.

[2022-05-13 18:34] patrick-kidger commented on #10614
Ah! I see what you're saying. Sorry, yes, being a bit slow today. JAX uses an index-based way of selecting arguments and I was thinking of a mask-based way.

The basic principle holds, but you're right that the parsing would be a bit more involved.

[2022-05-13 18:36] YouJiacheng commented on #10614
I have tried to implement it leveraging `bind_partial`, and finally I found that it might be better to manually parse it using `inspect`, similar to what JAX currently do.

[2022-05-13 18:39] YouJiacheng commented on #10614
[code]

[2022-05-13 19:22] ngam commented on #10696
I believe I have managed to patch it successfully, but I will keep this open for now. I will update the conda-forge PR with details.

[2022-05-13 19:28] ozencgungor opened #10699 "jaxlib v.0.3.10 build failure on linux"
Please:

- [X] Check for duplicate issues.
- [X] Provide a complete example of how to reproduce the bug, wrapped in triple backticks like this:

I've been trying to build jaxlib v.0.3.10 from source on a new cluster with cuda 11.3.1 and cudnn 8.2.1 but it seems
to be that the bazel builder is having issues with fetching `llvm-raw` as its returning an input/output error.

- Operating system RHEL 8

[2022-05-14 00:43] nikhilmishra000 commented on #10550
I see, thank you for the explanation (that makes sense)! Do you have any ideas what a workaround might look like? Or is it not possible yet to accomplish this with Jax?

[2022-05-14 01:35] sharadmv commented on #10550
You could potentially pre-cache the `jnp.pad` function like this:
[code]

Or you could use `lax.pad`, which is not JIT-compiled:
[code]

[2022-05-14 02:37] Waterkin commented on #4920
under cuda 11.2 install cudnn>8.2
https://stackoverflow.com/questions/55256671/how-to-install-latest-cudnn-to-conda

[2022-05-14 05:20] josephrocca commented on #9659
@oliverdutton Thanks again for your guidance and fixes! Looking forward to those PRs landing.

@marcvanzee Thanks for your comments Marc! Replies below.

I think Oliver understands this better than me, but from his comments my understanding is that there were three issues: (1) Lack of some necessary scatter support (#10653). (2) Some scatters being introduced where they weren't actually necessary

[2022-05-14 07:03] oliverdutton commented on #6872
As confirmation, edd107a6e4a02f5102588e8a2c928b1cf5df602a from #10682 does lower the numpy indexing to the same jaxpr and performance. I've wrapped things in compile_time_eval to simplify the constants in the jaxpr.

[code]

[2022-05-14 07:35] josephrocca commented on #1472
Some notes on this:

* @JonathanSum PyTorch has a CPU backend, and until we get WebGPU plus a CUDA-to-WGSL transpiler (or similar), the best bet would be to at least start with a Wasm port of the CPU backend. There are people working on this (e.g. [see here](https://github.com/pyscript/pyscript/issues/85#issuecomment-1114287186)). I think it would be the same for JAX - i.e. just start with the CPU

[2022-05-14 12:36] ngam opened #10708 "cuda-enabled jaxlib is coming to conda-forge!"
We've built jaxlib 0.3.7 on conda-forge with cuda: https://github.com/conda-forge/jaxlib-feedstock/pull/97

I am opening this issue for viz but also for testing/confirmation all is good. Could someone from the team here have a look with us? Easy things to check, we get something like ~11000 actions/cycles of bazel compilation (compared to ~7500 for non-cuda) and the size of our artifact is similar

[2022-05-14 12:43] ngam commented on #189
Please see #10708 for deets, this is should be ready very soon (pending more reviews)

[2022-05-14 13:38] gnecula commented on #9659
We thank you for your interest and patience.

[2022-05-14 13:41] gnecula commented on #1472
Currently the best way to run JAX "in the browser" is by way of Colab. Porting the JAX backend to the browser seems like la large project that is not currently staffed. I can leave this open.

[2022-05-14 14:22] wolfv commented on #1472
Hi @josephrocca thanks for the mention! I would be happy to support such an effort. We're workign on emscripten-forge to package a number of `python` packages in a familiar way (similar to `conda-forge`), and we're making them installable / usable in the browser.
I do not know what's needed for JAX. Especially when it comes to code-generation, things might be more tricky.

PS: https://github.com/c

[2022-05-14 14:36] ozencgungor commented on #10699
I was able to build successfully using a different compiler. Turns out it was `GCC v10.3.0` causing the issue, when I used `Clang v10.1.0` built against `GCC v9.3.0` the build finished successfully.

If others are running into similar issues with GCC, maybe it would be a good idea to update the docs about building from source?

[2022-05-14 15:23] mattjj commented on #10699
@yashk2810 could you take a look?

[2022-05-14 15:24] mattjj commented on #10696
@yashk2810 could you take a look?

[2022-05-14 15:43] awf opened #10710 "PyTree tree_map of multi-arg function rejects compatible tree types"
Please:

- [x] Check for duplicate issues.
- [x] Provide a complete example of how to reproduce the bug, wrapped in triple backticks like this:

[code]

It feels as if the above check, in `PyTreeDef::FlattenUpTo`, is overly strict -- there should be no reason to reject the above code?  Replacing `ParamsDict` with `dict` works as hoped:
[code]

- [x] If applicable, include full error messages/trace

[2022-05-14 15:56] yashk2810 commented on #10699
Yeah we were also hitting this. But now its fixed at Head.

Try bumping up the TF commit in the WORKSPACE file and build again.

I’ll also send a PR to update that file at head.

[2022-05-14 16:05] yashk2810 commented on #10696
What command did you use to build jaxlib?

[2022-05-14 16:34] oliverdutton commented on #9659
Summary:
[[jax2tf] NotImplementedError: Call to scatter add cannot be converted with enable_xla=False](https://github.com/google/jax/issues/9659#) began as supporting XLA free scatters.

XLA free scatters now supported, so this ticket is theoretically closed. However the root issue was the ability to run tflite models with the grad of LiT and CLIP.

The way the scatters ended up in these models pr

[2022-05-14 16:41] ozencgungor commented on #10699
Will try that and try building with GCC v10.3.0 and/or clang built against GCC v10.3.0. Just as a test, i ran into the same issue when trying to build tensorflow from source with GCC v10.3.0.

[2022-05-14 16:55] ngam commented on #10696
something like:
[code]

More verbosely,

[code]

with the various expansions:

[code]

see recipe/build.sh in the above PR: https://github.com/conda-forge/jaxlib-feedstock/blob/009b2fe3f774570476da47fac0479d05c9ded67a/recipe/build.sh

[2022-05-14 17:02] ngam commented on #10696
Here how I see it:
- `--enable_cuda` triggers `--config=cuda` in build.py
- `--config=cuda` is passed as command-line arg to bazel
- in bazelrc, `--config=cuda` sets a toolchain for the nvcc compilation
- that in turn results in this: `WARNING: option '--config=cuda' (source command line options) was expanded and now overrides the explicit option --crosstool_top=//bazel_toolchain:toolchain with --

[2022-05-14 17:04] ngam commented on #10696
The breaking point imo is that `--crosstool_top=@local_config_cuda//crosstool:toolchain` should be augmented (since it is only for the nvcc compilation anyway) and not completely override what the user wants. I have no idea if this is something that's set here or elsewhere, but it is worth looking into, especially vis-a-vis tensorflow build.

[2022-05-14 20:09] proleu commented on #189
@ngam incredible, looking forward to testing this

[2022-05-15 08:08] oliverdutton commented on #9659
CLIP grads working correctly here [notebook](https://drive.google.com/file/d/1elQpDL1ysaOMncMnnuHEalnh4HAAeC53/view?usp=sharing), though I've used a matching image size straight away. Please experiment with it and see if the resize steps are whats causing the issues.

[2022-05-15 13:22] oliverdutton commented on #6872
I reran the benchmark on jax 0.3.7 and found identical speeds. Looks like XLA optimises the gathers better now.
[code]

[2022-05-15 17:13] riven314 commented on #10562
@sharadmv @jakevdp
I am interested in this ticket but I would like to have more clarity on how I should implement this.

From scipy source code, I see that `jax.random.multivariate_normal` internally triggers helper functions from `scipy.stats.mvndst.f` (it's not written in Python) for monte carlo sampling, and the script (`mvndst.f`) is an implementation of [this paper](http://www.math.wsu.edu/fa

[2022-05-15 17:55] riven314 commented on #10375
Hi @JeppeKlitgaard
I would love to work on this ticket but I am a beginner contributor. Would you mind giving me some guidance to get started?

As I looked through the related source code in scipy, my plan is to break down the ticket into 2 steps, see if you think it makes sense:
1. implement helper functions `_bootstrap_resample`, `_bca_interval` and `_percentile_along_axis` in JAX (`scipy.stats.

[2022-05-15 18:46] oliverdutton opened #10715 "MHLO doesn't contain same transformations as HLO"
More a question than a bug about whether this behaviour is desired.
Currently, the MHLO from compiler_ir is taking the jaxpr and writing it in the MHLO dialect. It doesn't seem to have the simplification passes that HLO does. See a gather below, the HLO and compiled HLO both transform the gather into a slice operation while MHLO does not.

[code]

One could produce the MHLO simplified from the xla

[2022-05-15 19:59] PRISHIta123 opened #10717 "AttributeError: module 'jaxlib.xla_extension' has no attribute 'PmapFunction'"
I am getting the above error after installing the latest version of jax and trying to import it for some computations:
[code]
[code]

It would be helpful if someone could please look into this ASAP. This is a new error I received when running my code within the past hour and had no problem with this earlier.

[2022-05-15 20:07] PRISHIta123 commented on #10717
@yashk2810 please check your latest commit

[2022-05-15 20:17] yashk2810 commented on #10717
Which version were you running with previously?

Any latest commit would not affect you since you are installing an already built version.

[2022-05-15 20:20] PRISHIta123 commented on #10717
This fetches the latest version right?
[code]

[2022-05-15 20:20] PRISHIta123 commented on #10717
How should I specify the previous version while installing?

[2022-05-15 20:29] PRISHIta123 commented on #10717
This fetches the latest version right?
[code]

[2022-05-15 20:48] PRISHIta123 commented on #10717
I downgraded using this which I found on StackOverflow:
[code]
It would be helpful if this could be mentioned on the README page as it becomes difficult to revert back to older versions with only the general installation command that is provided, when newer versions are released.

[2022-05-15 23:22] yashk2810 commented on #10717
We'll release with the fix again! Sorry for the breakage.

[2022-05-16 00:43] #10717 closed

[2022-05-16 00:50] PRISHIta123 commented on #10717
No worries!

[2022-05-16 00:59] yashk2810 commented on #10717
We released jax 0.3.12: https://pypi.org/project/jax/0.3.12/ with the fix.

[2022-05-16 01:13] PRISHIta123 commented on #10717
Ok, thanks for addressing this.

[2022-05-16 11:36] YouJiacheng commented on #10710
The problem is caused by the overly strict `tree_unflatten`.
`jax.tree_flatten(self.params)` will produce `aux_data = PyTreeDef({'a': *})` for `e`, and `aux_data = PyTreeDef({'a': (*, *)})` for `e1`.
Thus, `e` and `e1` have different structures, just like `(0, 1)` and `(0, 1, 2)`.

[2022-05-16 12:01] hawkinsp commented on #10715
The compilation flow of JAX looks like this, roughly: Python -> jaxpr -> MHLO -> optimized MHLO -> HLO -> optimized HLO.

`mhlo` in your script above corresponds to "MHLO" above, i.e., before any optimization has been done.
`hlo` in your script corresponds to "HLO". We still go via MHLO and MHLO optimizations to get here! And any optimization that has been done was done by an MHLO rewrite: the con

[2022-05-16 12:01] #10715 closed

[2022-05-16 13:03] hawkinsp commented on #10715
With https://github.com/google/jax/pull/10723 you can run the canonicalizer from Python, which might help if you want to play around with this:

[code]

[2022-05-16 13:23] marcvanzee commented on #9659
@oliverdutton @josephrocca I feel that we are having multiple conversation on this issue and it is a bit difficult for me to keep track. I think we can separate the following four issues:

1. Add support for scatter when `enable_xla=False`. Main discussion in this issue.
    * ==> Suggestion: close this issue once @oliverdutton's PR is in.
2. Converting LiT to TFLite when `enable_xla=False`.
    *

[2022-05-16 13:30] marcvanzee opened #10725 "[jax2tf] Error when converting function wrapped in jax.grad to SavedModel format"
When trying to convert models in #9659, an issue was uncovered with converting to SavedModel format. Copying @oliverdutton's remark from there:

"The users needs to be aware that their input signature has changed to something flat, and ideally they need to name it in a way that makes sense. They just define the model and a way to pass args to it, which can be tricky when you’re using it in a numbe

[2022-05-16 13:37] marcvanzee commented on #10725
@josephrocca I have tried isolating your issue from #9659, but could you help me by providing a somewhat minimal example of when you encounter the issue and what error message you got exactly?

[2022-05-16 13:39] marcvanzee commented on #9659
Thanks @oliverdutton. Why are you hazy about 4? I first like to understand better why we would need the flattening logic (hopefully we don't need this at all!). I filed an issue #10725.

Also, why wouldn't you recommend the path that uses jax2tf?

[2022-05-16 13:55] oliverdutton commented on #9659
4. I did a quick fix which worked, but I spent little time thinking about it before moving onto `tflite.experimental_from_jax`. I think it may be just if you want it a serving function, but I don't use tensorflow serving/related things ever so I just don't know.

[2022-05-16 17:26] jakevdp commented on #10375
Hi - that sounds like a good plan for implementation. Regarding `BootstrapResult` – I think it's just a simple dataclass or named tuple, you could create a similar container for the results in a JAX implementation, I'd lean toward NamedTuple because you get pytree flattening for free.

Regarding the return shape: it looks like it only depends on static properties of the inputs, so it should be fin

[2022-05-16 17:41] josephrocca commented on #10725
I think might be a bug/issue with `tf.lite.TFLiteConverter.from_saved_model` and `tf.lite.TFLiteConverter.from_concrete_function` rather than `jax2tf`, but I'm not sure. The error occurs when trying to convert a `SavedModel` (that was created via `jax2tf` + `tf.saved_model.save(...)`) to tflite.

Originally it seemed like it had something to do with nesting of the inputs to the function that was s

[2022-05-16 17:44] jakevdp commented on #8355
Re-opening and assigning to @mattjj in case we want to add more info (cf. https://github.com/google/jax/pull/10700#pullrequestreview-973028228)

[2022-05-16 18:15] oliverdutton commented on #6872
I checked the optimised HLO. This seems to now get constant folded (at least on CPU). So the issue can be closed?

[code]

[2022-05-16 18:52] lyuxingjian opened #10729 "Suspected bug in jax.lax.conv_general_dilated_patches"
Trying to implement the solution [here](https://github.com/google/jax/discussions/5968) but ran into the following bug:

[code]
but i found the following error:
[code]

The error looks very cryptic cannot figure out what it means. Is it an XLA / Jax bug? Thanks!

Environment: TPU-VM v3-8 with software version tf.2.8.0
[code]

[2022-05-16 19:12] josephrocca commented on #9659
@oliverdutton Thanks for the CLIP grads notebook and for making me aware of the tflite converter's `experimental_from_jax`! I'm looking into this now.

This might be going too far off topic on an already complicated/meandering issue, but I just wanted to note that `tf2onnx` has added tflite-to-onnx conversion last year, so if tflite's `experimental_from_jax` route is quite robust, then the questio

[2022-05-16 19:40] hawkinsp commented on #10729
The issue is that `padding` should be a list of pairs, one for each dimension. e.g., this works:

[code]

We are apparently missing some input validation that would have caught this sooner. I'll fix that!

[2022-05-16 20:00] #2322 closed

[2022-05-16 20:05] ngam commented on #10708
Thanks @hawkinsp, dropping 11.0 and lower.

Seems like unvendoring nccl is as simple as setting an env variable, let's see if this reduces the build time significantly enough to fit in the 6-hour limit....
https://github.com/tensorflow/tensorflow/blob/5dcfc51118817f27fad5246812d83e5dccdc5f72/third_party/nccl/nccl_configure.bzl#L5

[2022-05-16 22:24] shoyer commented on #6872
Yes, optimized HLO for my test cases here seems to be indistinguishable now.

I still see performance differences when used inside VJP calculations for my wave equation PDE demo. I'll see if I can make a shareable version of that...

[2022-05-17 00:46] hawkinsp commented on #10206
https://github.com/tensorflow/tensorflow/commit/39ad00812718c41546cc7a61250f12febb95b1ee fixed this, so the fix should be in the next jaxlib release.

[2022-05-17 00:46] #10206 closed

[2022-05-17 06:10] qiyang-ustc opened #10734 "Reverse mode AD for jax.numpy.linalg.eigh failed on CPU"
A Minimal Work Example

[code]

Error Logs:
[code]

[2022-05-17 07:00] qiyang-ustc commented on #10734
In addition, this test for GPU also failed if we change the size of mat to (100,100).

[2022-05-17 09:41] dumanah commented on #7401
For those who is interested in this problem, i would suggest to have a look at [diffrax](https://github.com/patrick-kidger/diffrax). Not only forward-mode differentiation can be applied its ode solver, it also has many different type of ode solver's as euler, heun, dopri5, runga-kutta etc.

[2022-05-17 13:00] Edenhofer commented on #10734
Your example does not reproduce on my machine with `jax==0.3.13` and `jaxlib==0.3.10` nor with the current HEAD of JAX at `268b4be21b7`. Maybe this has already been fixed. At least I remember a similar issue revolving about transpositions in JAX some time ago which unfortunately I wasn't able to find again :|

[2022-05-17 14:19] qiyang-ustc commented on #10734
After updated the version to `jax==0.3.13` and `jaxlib==0.3.10`, the result is still the same and the gradient check still failed on my machine. Maybe more details should be included to debug this problem but I do not have a clear idea about it.

[2022-05-17 14:45] qiyang-ustc commented on #10734
The problem is check_grad is not suitable for eigh.  See. https://github.com/HIPS/autograd/pull/527

[2022-05-17 14:45] #10734 closed

[2022-05-17 16:23] yashk2810 commented on #10699
I updated the WORSPACE file. Please reopen if its still not fixed.

[2022-05-17 16:23] #10699 closed

[2022-05-17 18:48] ozencgungor commented on #10699
Haven't tried with GCC yet but TF at head was building with 10.3.0. Thanks for all the help.

[2022-05-17 18:52] oliverdutton commented on #10142
Original issue closed. The idea of an unsigned int accepting gather would be a separate issue which I don’t intend to file.

Thank you.

[2022-05-17 18:52] #10142 closed

[2022-05-17 19:09] nestordemeure opened #10741 "xmap doesn't preserve static argnums"
`xmap` appears to turn static arguments into traced shapearrays. This can cause problems when one needs an argument to be static for a test.

The following code demonstrate the issue, first using `vmap` (no problem) then replacing it with `xmap` which fails (`Abstract tracer value encountered where concrete value is expected`) when testing the value of `cond` at the very beginning of the `func` fu

[2022-05-17 19:32] #10687 closed

[2022-05-17 21:24] hawkinsp commented on #10687
I think this is fixed at head: just don't pass `--enable_tpu` when building.

[2022-05-17 21:39] JeppeKlitgaard commented on #10741
I believe the changes I am working on related to #10614 would fix this.

[2022-05-17 22:19] #4617 closed

[2022-05-17 22:20] #4337 closed

[2022-05-17 22:20] JeppeKlitgaard commented on #10375
Would be super neat if @riven314 would implement this. Otherwise I have a WIP that I will probably get around to finishing eventually.

[2022-05-17 22:20] #2459 closed

[2022-05-17 22:31] mattjj commented on #4337
@trevorcai you closing these issues makes me 😢

Come back and open some more someday!

[2022-05-18 04:17] riven314 commented on #10375
@JeppeKlitgaard
I am working on this
if you have some WIP code for this ticket, would also be great to share this with me!

[2022-05-18 05:33] shashank2000 commented on #10192
I'm having the exact same issue - but deleting the lockfile doesn't seem to fix it. Any pointers would be super appreciated!

[2022-05-18 10:28] Ph03n1xdust opened #10750 "Using ```grad``` on ```vmap``` on ```map``` on function containing ```sinc``` results in error"
Hi,

I ran into an error while trying to take the ```grad``` of a ```vmap``` on a ```map``` on a function, which contains ```sinc```.  The following code reproduces the error:

[code]

- Error: ```JaxStackTraceBeforeTransformation: TypeError: broadcast_in_dim broadcast_dimensions must have length equal to operand ndim; got broadcast_dimensions () for operand ndim 1.```
- Jax version: 0.3.13

I sus

[2022-05-18 13:28] brettkoonce commented on #2012
Here is the result when using Nvidia hardware (4x3060) with the same configuration:

[code]

[2022-05-18 15:02] hawkinsp commented on #2012
@brettkoonce Perhaps move this to a new bug? But my suggestion would be: can you minimize it to a small self-contained test case? That's what I would do, if I had access to the hardware and were debugging it. You might consider comparing the results of a single training step between CPU and GPU, or between the two GPUs.

[2022-05-18 16:30] jakevdp commented on #10750
Thanks for the report. I'll look into the issue – Can you say more about the issue you see in the `sinc` documentation?

[2022-05-18 20:14] sousaw commented on #10750
I am afraid I am the nitpicking colleague (unexpectedly) mentioned in the report :-). My comment was actually more closely related to the part of the docstring inherited from numpy, specifically the sentence "the sinc function is sin(pi*x)/(pi*x)". Since the analytic character of sinc is important both for its applications and for the actual implementation at x=0, I would suggest defining it, for

[2022-05-18 20:17] jakevdp commented on #10750
Thanks - as you said, that part of the docstring is drawn directly from `numpy.sinc`, so the tweak would have to be contributed to the numpy package itself.

[2022-05-18 20:18] sdenton4 commented on #1408
+1.
This is also potentially very useful for testing that pmap'ed functions act as expected in CPU-based test environments.

[2022-05-18 20:58] mattjj commented on #10750
This is a fantastic bug! Thanks for raising it. (And thanks for the tip about the docstring too.)

I think the best fix may be to add a `full_like` primitive. (Alternatives include: defensively batching more outputs of `custom_jvp` functions, or probing custom JVP rules' vmap data dependence, but neither of those seem as good.)

A quick fix, which is basically the same thing, is to replace [these

[2022-05-18 21:00] tavin commented on #2926
Why do I get this warning when I'm not using `jit` at all?
I have a `fori_loop` on a function that calls the `pmap`'d function -- is that why?

[2022-05-18 21:13] mattjj commented on #10750
If we don't want to require users' `custom_jvp` functions to respect the data dependence invariant mentioned above, then we should go with solution 2, i.e. defensively batching more outputs. But that might have issues with `jacfwd` where we don't want primals to be batched but we do want tangents to be batched...

[2022-05-18 21:16] mattjj commented on #2926
@tavin Yes, that's why! The control flow combinators like `fori_loop` basically `jit` themselves.

[2022-05-18 21:37] tavin commented on #2926
@mattjj Ok good to know! The pmap man page is quite vocal about automatically jitting, but the fori_loop man page doesn't mention it. Thanks for the confirmation.

[2022-05-18 21:59] jakevdp commented on #2926
Good idea - I updated some of the documentation in #10757

[2022-05-18 22:13] mattjj commented on #10750
Say we have

[code]

A sufficient requirement for correctness here, which the original implementation of `sinc` violated (because `_sinc_maclaurin` was specializing its output to a particular input _point_) is that for all `x` we have

[code]

where `≈` means close as functions of `t` for all `t` in some region around 0. In particular, we want the derivatives to be the same at `t=0`.

This require

[2022-05-19 03:38] brettkoonce opened #10761 "vit imagenet training precision issues with amd w6800 gpu + rocm 5.0"
per discussion in #2012, breaking this out into a stand-alone issue.

[code]

The local python install will need a tweak at line 688 in ~/.local/lib/python3.8/site-packages/scenic/model_lib/base_models/model_utils.py

[code]

After that, set the batch size to 128 in scenic/projects/baselines/configs/imagenet/imagenet_vit_config.py

[code]

Per discussion in that thread, Nvidia/TPU devices converge

[2022-05-19 08:35] yunlongxu-numagic commented on #1032
# First quick and dirty experiment

## Steps
- [ ] run with casadi backend to extract the sparsity pattern for the jacobian and the hessian, store them in binaries
- [ ] run experiment with sparsejac, load the stored jacobian structure from the binaries, and time execution (and jit!)

[2022-05-19 10:30] Ph03n1xdust commented on #10750
Thank you for the quick fix, and also for the detailed explanation.
With those changes it works perfectly.

And thanks again for your work on jax!

[2022-05-19 13:13] hawkinsp commented on #10761
@reza-amd

On the assumption that this is a numerical bug, I think the obvious debugging step would be to compare the numerical outputs of a single training step and see if they diverge significantly between AMD GPU and a reference implementation. If so, I would try to minimize the computation to a small reproducer.

(I unfortunately cannot help you with this myself, since I don't have access to t

[2022-05-19 13:18] hawkinsp commented on #10696
The arguments to `bazel` are ordering sensitive. I'm wonder if the fix would be to reorder the arguments here:
https://github.com/google/jax/blob/7d4d15e260e24c54f9fbc1685a45d910edb61e43/build/build.py#L493

so that the user-provide `--bazel_options` override `--config=cuda` (i.e., come later), rather than the other way around?

[2022-05-19 14:33] aarmey commented on #9929
I am also seeing a segmentation fault in backend_compile using python 3.10, but only when running the code across multiple processes. This doesn't occur with Jax v0.2.28 and jaxlib v0.1.76, but does with the most recent release and the couple other versions I tried among the v0.3 releases.

[2022-05-19 15:33] lucagrementieri commented on #5337
Thank you for the script, it's very useful!
Here, at the end of the script the result is printed, instead I would like to convert it to a `Eigen::Matrix` object to use it.

Do you know how to cast a `xla::Literal` to `Eigen::Matrix`?
Reading the header file for `xla::Literal` I have found no specific function to do it, but maybe I missed the relevant piece of code.

[2022-05-19 16:24] ngam commented on #10696
I attempted a version of this and it didn't work, but there is a good chance I did it badly/wrongly...

[2022-05-19 16:31] yashk2810 commented on #10696
Another thing you can try is to add things at the end to `.jax_configure.bazelrc` (Make sure you are adding your custom things at the end of the file -- not the python file but the .jax_configure.bazelrc file.)

[2022-05-19 17:39] #10601 closed

[2022-05-19 19:24] bwohlberg commented on #6805
@mattjj: A reminder on the request to allow the no-GPU warning to be suppressed *independently* of forcing use of the CPU. For our [usage case](https://github.com/lanl/scico) case, at least, we would like to be able write code that transparently runs on a GPU when one is available, but otherwise reverts to CPU. The coupling of the warning and the device selection mechanism makes it very difficult

[2022-05-19 19:53] yunlongxu-numagic commented on #1032
@mfschubert thanks for the `sparsejac` work, I'm so glad that I found it! I tried it and it did bring some significant improvement in certain cases.

Do you know what would it take to make the interface more similar to JAX's `jacfwd` and `jacrev`? One thing in particular I find missing is the ability to pass in more than one inputs, but only take derivatives with one, eg:
[code]

I wonder (only a

[2022-05-19 21:14] JeppeKlitgaard commented on #10375
@riven314 I never got to a point that would be of much use to you, I'm afraid. I dislike the the way the original `scipy` code is written to such an extent that I wouldn't want to mirror that implementation, but rather see if it is possible to get the same API using a different approach behind the scenes.

[2022-05-19 21:17] froystig commented on #10741
Assigned @apaszke for xmap and @JeppeKlitgaard based on the previous comment (https://github.com/google/jax/issues/10741#issuecomment-1129341709).

[2022-05-19 21:49] JeppeKlitgaard commented on #10614
Idea:

Don't use `*_argnums` and `*_argnames` at all, just a `*_args` parameter of type `Sequence[str | int]` where integers are taken as positions and strings are taken as argument names.

This is not only more succinct, but also allows us to maintain full backwards compatibility: `argnums` and `argnames` would continue to work as they currently do, but would give rise to a deprecation warning fo

[2022-05-19 21:52] JeppeKlitgaard commented on #10614
@mattjj I would love to hear some more thoughts from the JAX team. Could I get you to ping people that might be interested in this? @hawkinsp was really helpful in getting #10603 merged.

[2022-05-20 07:36] YouJiacheng commented on #10750
Just curious, why `lax.full_like(x, constant)` doesn't model the data dependency correctly? Shouldn't it be equivalent to `x * 0 + constant`?

[2022-05-20 11:43] danieldanciu commented on #5723
In my case, making sure that `nvcc --version` and `nvidia-smi` were both at the same version (11.4 in my case) fixed the problem.

When `nvcc --version` was at 11.7:
[code]
and `nvidia-smi` was showing cuda version 11.4:
[code]
I was getting the error above, and I could only work around it by setting
`export XLA_FLAGS --xla_gpu_force_compilation_parallelism=1`. Note however that this disables para

[2022-05-20 15:56] mattjj commented on #10750
@YouJiacheng great question, as always. As a Python function we would say `lax.full_like(x, constant)` has a data dependence on `x`. But as you know, JAX doesn't "see" Python functions directly: instead JAX _specializes_ Python functions while tracing. In this case, `jit` specializes on the shape and dtype of `x`, so these two are allindistinguishable from one another:

[code]

Notice that `g`, wh

[2022-05-20 16:51] YouJiacheng commented on #10750
@mattjj Thanks for nice explanation, now I know why "I think the best fix may be to add a `full_like` primitive."
Since `vmap` operate on shapes, could it become easier to model data dependence(i.e. IIUC, preserve BatchTracer) by "propagating" tracer to shape for `BatchTracer.shape`? Hmmm.
[code]

[2022-05-20 18:57] danijar commented on #5273
An idea for a syntax that makes control flow faster to write/edit/read while keeping it clear to the user what's happening:

[code]

[code]

[code]

Without JIT compilation, the new functions `lax.inline_cond()`, `lax.inline_scan()`, `lax.inline_stack()`, `lax.inline_while()` have trivial implementations.

[2022-05-20 19:27] shoyer commented on #5273
@danijar how do you imagine implementing these helper functions? would this still need some form of AST or byte-code rewrite?

[2022-05-20 20:08] danijar commented on #5273
Yes exactly, we'll need to look at the AST like autograph does.

Maybe this should be an explicit function transformation in JAX? I'm still quite new to JAX so I don't know what the best way to make this available to users is.

[2022-05-20 22:48] sudhakarsingh27 commented on #2731
@hawkinsp @zhangqiaorjc
Multinode (or multiprocess) doesn't seem to work with the following jax(lib) versions:
[code]
Ran [the attached](https://github.com/google/jax/files/8744863/jax_multi_node_experiment.zip) minimal code on single node with 8 V100 GPUs as follows (2 processes with 4 GPUs each):

[code]

[2022-05-21 02:53] mattjj commented on #4352
I think @skye has nearly landed this feature in #9118.

[2022-05-21 07:03] nalzok opened #10790 ""Very slow compile" of dm-haiku training step"
Please:

- [X] Check for duplicate issues.
- [X] Provide a complete example of how to reproduce the bug, wrapped in triple backticks like this:

[code]

- [X] If applicable, include full error messages/tracebacks.

[code]

Here is the content of `/tmp/slow_operation_dump`: [slow_operation_dump.zip](https://github.com/google/jax/files/8747119/slow_operation_dump.zip). Additionally, here is the Pipe

[2022-05-21 07:19] nalzok commented on #10790
Okay, after waiting for ~10 minutes the JIT compilation appears to be successful, and the loss is dropping rapidly! However, the backpropagation is very slow (each iteration takes several seconds), so I suspect there are still some problems.

[code]

Three additional files appeared in `/tmp/slow_operation_dump`, but somehow I cannot upload them to GitHub directly. Let me know if they are important

[2022-05-21 11:10] tomhennigan commented on #10790
`ResNet152` is a fairly compute intensive model (forward pass is ~12GFLOPs) so I'm not surprised that the step time to train it in full precision on CPU is in the order of a second or two. You would probably be better of training this on a GPU or TPU (or using a smaller ResNet model like ResNet50)?

The XLA:GPU and XLA:TPU compilers are also better optimized (vs. XLA:CPU) and so compilation will a

[2022-05-21 16:45] nalzok commented on #10790
Thanks for the reply, @tomhennigan. I wonder why we should JIT the `initial_state` function, though. This function is called once, so I'm not sure if it's worth the compilation overhead.

[2022-05-21 20:35] tomhennigan commented on #10790
The way JAX works is that when you execute a single op eagerly (e.g. `a + b`) JAX will just in time compile a program to add two tensors of the given shape/dtype. So If you don't `jit` your `initial_state` function JAX will actually just in time compile hundreds of small kernels anyway, one for each op.

I would suspect that compilation of 100s of small programs vs. compilation of one program with

[2022-05-21 22:54] regevs opened #10794 "`lax.scan` on `map_coordinates` slower on GPU than on CPU?"
I am running the following (simplified for demonstration) code:

[code]

When running on a CPU, I get:
[code]

But on a GPU, I get:
[code]

How come? What could I do to speed it on a GPU? Happy for any other jax tips. Many thanks.

[2022-05-22 01:18] nalzok commented on #10790
Thank you, @tomhennigan. That is extremely helpful!

[2022-05-22 01:18] #10790 closed

[2022-05-23 09:00] lucagrementieri commented on #10588
The export of `return_11_almost_zeros ` generates the textual IR
[code]
so it's clear that the program cannot know the values in `constant.3`.

Reading the source code of `https://github.com/google/jax/blob/main/examples/jax_cpp/main.cc` I discovered that the textual representation is there only for debug purposes, so I tried the binary `pb` output and the results are the expected ones.

Therefore

[2022-05-23 12:26] hawkinsp commented on #10588
This is mostly about the code that generates the HLO. By default, the textual representation of HLO elides large constants. It can be changed not to do that: it's an option when printing the HLO as a string.

I'm not sure whether that's appropriate in this particular case or not: here the option is explicitly labeled as debug output. But perhaps it would be less confusing if it didn't elide consta

[2022-05-23 16:30] mattjj commented on #9604
This still repros! I used @soraros 's code, with these imports and print statements:

[code]

[2022-05-23 16:34] jakevdp commented on #765
I'll close this; you can follow progress in `jax.experimental.sparse`

[2022-05-23 16:34] #765 closed

[2022-05-23 16:34] #2632 closed

[2022-05-23 16:45] jakevdp commented on #5746
Remaining TODO: remove deprecated `tree_multimap` function after July 1, 2022, in accordance with the [API Compatibility Policy](https://jax.readthedocs.io/en/latest/api_compatibility.html).

[2022-05-23 16:48] jakevdp commented on #6033
I'm going to close this, as it looks like the question was answered. If you have additional questions along these lines, feel free to open a new discussion here: https://github.com/google/jax/discussions/new

[2022-05-23 16:48] #6033 closed

[2022-05-23 16:56] jakevdp commented on #9604
Internal tracking bug: b/130349807

[2022-05-23 17:27] #10400 closed

[2022-05-23 17:34] patrick-kidger commented on #10794
I'd also be curious to know about host sync! I've heard this on the grapevine a few times and would love to know more.

[2022-05-23 17:53] jakevdp commented on #10794
@hawkinsp might be able to enlighten us here.

[2022-05-23 18:02] skye commented on #10192
@shashank2000 that error message is only triggered by the presence of the lockfile. Please doublecheck that the lockfile isn't there and that you're getting the exact error message?

[2022-05-23 19:52] jakevdp commented on #9604
Internal tracking: b/233647273

[2022-05-23 19:56] mattjj commented on #10750
Fixed by #10756!

[2022-05-23 19:56] #10750 closed

[2022-05-23 20:25] mattjj commented on #10515
Thanks for the question!

As you've already discussed, the observation which started this issue comes down to this:

[code]

Also as already discussed, the mathematical function being represented here (complex absolute value and its restriction to real numbers) isn't differentiable at the point we're evaluating the gradient. So we could return a `nan` here to represent the non-differentiability. B

[2022-05-23 20:50] mattjj commented on #9042
Since @sharadmv has landed the new `named_call` implementation, I don't think making these jaxprs transposable is important.

[2022-05-23 20:50] #9042 closed

[2022-05-23 20:51] mattjj commented on #8893
I'm not sure what I meant by this issue; we already have `jax.grad(jax.numpy.sqrt)(0.) == jnp.inf`.

[2022-05-23 20:51] #8893 closed

[2022-05-23 21:04] #8355 closed

[2022-05-23 23:08] nestordemeure commented on #5506
I am currently instrumenting a large numerical codebase with JAX (we are evaluating several options and writing a paper on their applicability to this usecase) and I ran into this issue using the latest JAX version (`0.3.13`).
A lot of our code is vectorised with `vmap` and we want to cover both the single GPU and multicore CPU usecases with a single codebase (making `pmap` a bad fit). JAX CPU par

[2022-05-24 00:08] mattjj commented on #8239
Finally getting back to this!

The right solution is to use `jax.checkpoint` as you are.

The issue here is that:
1. the gradient of a `cond` produces one `cond` for the forward pass and one `cond` for the backward pass, where as usual the forward pass computation (without `jax.checkpoint`) computes "residual" values during the forward pass which are consumed by the backward pass;
2. `jax.lax.cond

[2022-05-24 00:08] #8239 closed

[2022-05-24 00:31] FedericoV opened #10805 "Custom gradients via IFT for lstsq"
Currently, gradients through lstsq are quite brittle because there is no custom derivative attached - this is described in the code since it was first implemented by @jakevdp here: https://github.com/google/jax/blob/ffe881cd5862480a4110a6f9076bd89dc995f012/jax/_src/numpy/linalg.py#L549

The easiest possible gradient would be to use the implicit function theorem to derive the gradient.  For a syste

[2022-05-24 07:38] patrick-kidger commented on #8239
Sounds good! Thank you for the write-up. (Crossing my fingers for the glorious dynamic-shape future.)

[2022-05-24 12:12] clemisch commented on #10805
Do you mean something like this? https://github.com/google/jax/pull/2220

[2022-05-24 14:37] ngam commented on #10708
Closing as the PR was reviewed and merged, we opted to release only cuda 11.2+ as recommended here.

One note: We have a tricky constraint to avoid polluting people's environments with large cuda binaries when unneeded, so one would need to override this constraint if on a machine with a GPU, but would still like to get the cuda-enabled jax (e.g. on a login node of an HPC):

[code]

Feel free to r

[2022-05-24 14:37] #10708 closed

[2022-05-24 14:56] FedericoV commented on #10805
Yes, that’s exactly it.  I was hit by a NaN when backpropagating through a
least square solution and noticed the older comment string so I assume it
was a low hanging fruit that still needed fixing.

My bad for opening this issue: I think the previous issue didn’t mention
leastsq exactly so I missed it when searching for related issues.

The only suggestion I have is let’s remove the old stranded

[2022-05-24 18:53] ngam commented on #189
Should be already up on anaconda.org, try installing `jaxlib==0.3.10=*cuda*` from conda-forge. Jax team, this issue is now resolved :)

(note `CONDA_OVERRIDE_CUDA="11.2"` is necessary only if you're on a machine without a GPU)

[code]

[2022-05-24 21:07] jakevdp opened #10813 "[x64] Reductions are too eager to promote to 64-bit"
[code]

The root cause is this line: https://github.com/google/jax/blob/d849f495193c69e8c133d0c6a424ba80d72938cb/jax/_src/numpy/reductions.py#L81

It's not an issue for floating-point types, because numpy does not promote those in most cases

[2022-05-24 21:39] coursekevin opened #10815 "Incorrect cholesky jacobians?"
I'm computing jacobians of the following equation with respect to B,
a = B<sup>-1</sup>c,
where a, c &in; R<sup> n</sup> and B &in; R<sup> n x n</sup> is SPD.

The jacobian should be,
da/dvec(B) = -(a^{T} &otimes; B <sup>-1</sup>),
where &otimes; indicates the Kronecker product.

If I compute a = jnp.dot(inv(B), c) and then compute the jacobian with respect to B, I get what I would expect. If I co

[2022-05-24 22:30] mattjj commented on #10815
Thanks for raising this!

I wouldn't quite call this a bug, but rather a subtle issue in writing a Python function which corresponds to the mathematical function we want. Indeed there are multiple reasonable mathematical functions we might want here!

The mathematical question has to do with whether we want to consider asymmetric perturbations to the input matrix. Is the input tangent space the sp

[2022-05-24 23:06] mattjj commented on #10815
By the way, to get the symmetric "manual" version, just write this:

[code]

[2022-05-24 23:08] ilemhadri commented on #189
Looks good!

TLDR: `conda create -n <name_your_conda_env> jaxlib=*=*cuda* jax -c conda-forge` creates a functional conda environment.

[2022-05-24 23:54] coursekevin commented on #10815
Thanks for your very thoughtful response, this was really helpful! Your explanation makes total sense.  Definitely not a bug, this was my mistake.

[2022-05-24 23:54] #10815 closed

[2022-05-25 00:37] samuela commented on #5417
Oof just ran into this as well (since flax rehydrates weights as numpy arrays, as opposed to jax.numpy arrays), and it really stumped me and @PythonNut for a minute. Turns out that the magic number is 31: any JAX array with length 31 or smaller throws the error, and works otherwise.

[2022-05-25 01:04] tavin commented on #2469
I can't say why it works, but I'm using `while_loop` with `jacrev`. Nevertheless I would like to see this enhancement, as it's a bit of a pain to take care of this in the loop state and cond/body functions.

[2022-05-25 05:40] romanngg opened #10818 "Type error in reverse-mode AD of `lax.dot_general` with `preferred_element_type`"
Colab:
https://colab.research.google.com/gist/romanngg/64bae6efa7d4d364c68cd341f1be8c85/reverse_mode_dot_general_fail.ipynb

[code]
causes
[code]
whereas forward pass and forward-mode AD work.

[2022-05-25 11:50] marcvanzee opened #10819 "[jax2tf] Converting jax.grad(ViT) with enable_xla=False fails"
Converting a ViT model with `enable_xla=False` fails if we wrap the apply function with `jax.grad`.

Without wrapping it with `jax.grad` things work fine:

[code]

But when we wrap `apply` with `jax.grad` it fails:

[code]
[code]

To address this we should first find the problematic op in ViT and then see where the bug is in our conversion code in [impl_no_xla.py](https://github.com/google/jax/blo

[2022-05-25 11:53] marcvanzee commented on #9659
Hello all! Given that @oliverdutton's PR #10653 is merged and we now have initial support for the scatter op, I am closing this issue.

Two closing remarks:

@josephrocca

Hmm you are right. Indeed it seems that when we wrap the function in `jax.grad` it doesn't include the parameters. I think the reason is that we still have a bug in the conversion of `jax.grad`, which results in the TFLite model

[2022-05-25 11:53] #9659 closed

[2022-05-25 11:59] marcvanzee commented on #10725
Hi @josephrocca, I believe the small filesize is due to the fact that there is a bug in the jax2tf conversion of `jax.grad` with `enable_xla=False`, which causes all outputs to be zero, so TFLite optimizes this by removing the params (which are simply unused constants then). (see #10819).

I would argue that when converting to TFLite you should really not have to create a `SavedModel` at all. If y

[2022-05-25 13:24] theovincent opened #10820 "jax.numpy.round not working when the result is printed"
When printed under brackets, jax.numpy.round is not behaving as expected:

[code]

The same goes for jax.numpy.around.

I am using jax version 0.3.13.

[2022-05-25 13:57] marcvanzee opened #10821 "[jax2tf] Add example demonstrating JAX --> TFLite with shape polymorphism"
It is quite common to use shape polymorphism in TFLite (for instance when processing audio), yet our [mnist example](https://github.com/google/jax/tree/main/jax/experimental/jax2tf/examples/tflite/mnist) does not demonstrate this, and it seems that the conversion path we recommend there also doesn't allow this. This is quite confusing for users.

TFLite provides two relevant ways of converting fro

[2022-05-25 13:57] marcvanzee commented on #9659
Another update: I think I was actually wrong in saying that you should always convert JAX --> TFLite through `from_concrete_function`. I think the main use case for going through a `SavedModel` is to be able to support shape polymorphism. This doesn't seem to work when using `from_concrete_function` because the signature looks quite odd, and I think it only supports a single shape. Moreover, TFLit

[2022-05-25 15:18] hawkinsp commented on #10805
I think the issue is still open, i.e., we need a custom gradient for least-squares? Differentiating through the SVD is problematic. If it were possible to express that gradient as a custom linear solve, that would probably be a good idea.

We would welcome a PR!

[2022-05-25 15:30] theovincent commented on #10820
Great thank you @jakevdp!

[2022-05-25 19:15] Joshuaalbert opened #10825 "JAX cholesky failed, while numpy succeeded"
When I use `jax.linalg.cholesky` on a particular (large) covariance matrix of shape (37k,37k) jax is returning `nan`'s while numpy is successfully returning a decomposition. I expected that jax mimics numpy in it's linear algebra operations. Note, we have set jax to 64-bit.

## how to reproduce it

Get covariance matrix ~ 11GB from @Joshuaalbert (ssh or google drive are acceptable). It's very expe

[2022-05-25 20:33] mattjj commented on #2072
I think this issue is resolved, though there's still tooling we want to add, e.g. to make it easy to inspect cache state and clear caches. (`f_jit._cache_clear()` now exists, but what if we want to delete all cache entries system-wide, as in #10826?)

Let's open more focused feature requests for things we want to add!

[2022-05-25 20:33] #2072 closed

[2022-05-25 20:47] kach opened #10828 "Add mechanism to clear full compilation cache"
There is currently no way to clear the full compilation class in JAX — something like `f._clear_cache()`, but which applies to _all_ JIT-ted functions that have been compiled so far. This would be useful in situations where multiple high-memory-usage tasks need to be done sequentially. See discussion in https://github.com/google/jax/discussions/10826

[2022-05-25 21:13] hawkinsp commented on #10825
What hardware platform is this?

Is it possible this is a cousin of https://github.com/google/jax/issues/10420 ?

On CPU, the kernel we call is `dpotrf` from LAPACK. You can call it directly via `scipy.linalg.lapack`. Does it succeed or fail?

[2022-05-25 21:40] ilemhadri opened #10830 "Handle GridEngine GPU allocation in CUDA"
I am not sure to which extent this is a `jax` issue or a `cuda` issue, but I am hitting failures on a machine with 4 V100 GPUs as follows:

[code]

This failure only occurs if the allocation is for a GPU > 0. Everything suceeds for
[code]

On the other hand, setting `CUDA_VISIBLE_DEVICES` doesn't help:
[code]
`CUDA_9c74391b` appears to relate to the GridEngine that schedules GPU allocations.

[2022-05-26 01:52] romanngg opened #10833 "`ZeroDivisionError` in `lax.conv_general_dilated_local` with empty output"
https://colab.research.google.com/gist/romanngg/943f464a76aa9fd4b93ac8fcac99d746/reverse_mode_conv_fail.ipynb

[code]
Gives an error in `jacrev`:
[code]
raises
[code]

[2022-05-26 02:14] ngam commented on #10633
beautifully addressed by @ahtik in #10785, closing :)

[2022-05-26 02:14] #10633 closed

[2022-05-26 02:23] romanngg opened #10834 "`lax.reduce_window` and its derivatives fail on scalar inputs"
Colab with sample failures:
https://colab.research.google.com/gist/romanngg/94958b35643ec9648ef40e04c7501d37/reverse_mode_conv_fail.ipynb

[code]

I've tried to fix it naively in https://github.com/google/jax/pull/10274, but I've ran into `Fatal Python error: Aborted` errors that I'm not sure how to tackle, so posting the issue here in case if anyone has better ideas how to fix it, thanks!

[2022-05-26 07:24] riven314 commented on #10375
hi @jakevdp @JeppeKlitgaard
I have made a draft in my fork repo but I found that I couldn't raise any PR here
so I just post my draft here: https://github.com/google/jax/compare/main...riven314:impl-jax-bootstrap

Would you mind helping me to do a prior review on my draft to see if it is in the right direction? (e.g. approach, coding style)
Pending work for me is to do inputs validation and unit t

[2022-05-26 11:19] patrick-kidger commented on #10825
I'm just some passing observer, but your numpy example adds `1e-6` on the diagonal whilst the JAX example adds `1e6`, so they're not doing the same thing.

[2022-05-26 11:22] patrick-kidger commented on #10828
Whilst we're at it -- JAX caches a lot of things (e.g. jaxprs) and I've found that this can also contribute to OOM on limited memory machines. (Such as GitHub Actions runners, for running tests.) Ways to clean these up would also be desirable.

FWIW my hugely hacky approach so far has been
[code]
(which in the context of tests is wrapped in a `@pytest.fixture(autouse=True)`.)

[2022-05-26 15:25] ilemhadri commented on #10830
turns out this `CUDA_9c74391b` is at the GPU driver level, and is internal. closing for now.

[2022-05-26 18:39] Joshuaalbert commented on #10825
@hawkinsp This is on CPU.

[code]

Thanks @patrick-kidger that was a minor typo when transcribing. The problem is still unchanged.

[2022-05-26 18:45] jakevdp commented on #10825
What if you call `jnp.linalg.cholexky` with `symmetrize_input=False`?

[2022-05-26 18:47] Joshuaalbert commented on #10825
`jnp.linalg.cholesky(cov,symmetrize_input=False)` gives me a `cholesky() got an unexpected keyword argument 'symmetrize_input'`.

[2022-05-26 18:47] jakevdp commented on #10825
You need to use `lax.linalg.cholesky` to control `symmetrize_input`

[2022-05-26 18:50] jakevdp commented on #10825
Looking at the `np.linalg.cholesky` and `jnp.linalg.cholesky` implementations, it seems the main difference is that numpy assumes your input is hermitian and proceeds, while jax.numpy symmetrizes your input before proceeding (via `lax.linalg.cholesky`). So if there are differences in outputs, I'd look into whether your input is actually hermitian, and whether JAX's symmetrization step is causing p

[2022-05-26 18:50] Joshuaalbert commented on #10825
`L = lax_cholesky(cov,symmetrize_input=False)` gives nans too.

[2022-05-26 18:54] jakevdp commented on #10825
Well, those are my best guesses. Without a way to reproduce the issue myself, I don't have any other ideas. Best of luck!

[2022-05-26 19:05] Joshuaalbert commented on #10825
Well, one second there. It seems to me this information can already be used to rule out some things.

Numpy's cholesky succeeds. Therefore the matrix is pos-def AND numerically stable.

Therefore, perhaps it makes sense to consider #10420. To that end, I can see if slicing to less than (32767,32767) solves it. One sec.

[2022-05-26 20:58] mattjj commented on #1646
@blakehechtman recently took a look at this problem, and tried these approaches:

[code]

It seems the first one is best on TPU.

[2022-05-26 21:44] sschoenholz opened #10844 "Gradient Bug (Possibly to do with `eigh`)."
We've been working on some code to simulate rigid bodies using JAX and came across a gradient bug (in the sense that `jax.check_grads` fails. Unfortunately, it was fairly difficult to minimize the repro so it's a bit long. I'm happy to iterate to try to narrow down the problem if it would be helpful.

Thanks very much for any help!

Here's the code, run using the most recent version of JAX (v 0.3.

[2022-05-26 23:52] jakevdp commented on #10844
Thanks - if the gradient issue is with `eigh`, can we reproduce by calling `check_grads` on `transform_to_diagonal_frame`? That would pretty significantly reduce the size of the repro.

[2022-05-27 01:26] rborder commented on #5022
+1 Seeing this across multiple machines, multiple operating systems. Even simple ops like `jax.numpy.dot` run on a single core.

[2022-05-27 01:52] sschoenholz commented on #10844
Ah, good point, it does! However, the reason I had earlier thought the error didn't show up with `transform_to_diagonal_frame` is that I had been testing on GPU. It seems like this bug might only show up on the CPU backend.

Here's the repro only with `transform_to_diagonal_frame`:

[code]

[2022-05-27 02:55] Joshuaalbert commented on #10825
Regarding understand if it's related to #10420, the same thing happens on a smaller slice of the matrix.

[code]

[2022-05-27 04:15] nestordemeure commented on #5022
Note that I explored further and discovered that, at least in my case, it seems linked to some worst case consequences of [issue 5506](https://github.com/google/jax/issues/5506).

[2022-05-27 16:53] hawkinsp commented on #10825
I think at this point the best thing you could do is share the matrix with us so we can reproduce the problem.

[2022-05-27 17:40] YouJiacheng commented on #10844
Hmm, I can't repro on CPU...

[2022-05-27 18:19] jakevdp commented on #10844
Thanks @sschoenholz for the more concise version! This repros for me on a Colab CPU runtime, as well as on my own macbook.

[2022-05-27 20:03] Joshuaalbert commented on #10825
Ok, this was a false alarm. It was due to 64-bit mode not being turned on properly. In my testing setup I import jax earlier and run a jax primative (which set the 32bit), and then later when this test is run try to set 64bit (which doesn't work). So the tests were an unfair comparison between numpy in 64bit and jax in 32bit. Sorry about the time consumed on this one.

[2022-05-27 20:09] Xin-yang-Liu opened #10860 "GPU not found in ipython"
Jax cannot find GPU device in ipython.

To reproduce, run the following code in ipython:
[code]
Jax output:
[code]
I tried PyTorch in the same ipython environment and it can find the GPU device.

environment:
- OS: Ubuntu 20.04.4 LTS, Linux kernel 5.14
- CUDA: 11.6
- cuDNN: 8.4,
- GPU: NVIDIA GeForce RTX 3070
- jax: 0.3.13, installed via pip
- jaxlib: 0.3.10+cuda11.cudnn82
- python: 3.10.4

[2022-05-27 20:39] Xin-yang-Liu commented on #10860
I tested this problem in several ways and it turns out very weird.

In the same terminal
1. I tested it in the REPL python environment and get the same results.
2. I saved the command as a .py file and run it. GPU is not found either.

When I opened another terminal and run the same thing in ipython, REPL python and python script. In all cases, jax used GPU. So I guess in the first terminal there

[2022-05-27 20:39] #10860 closed

[2022-05-27 21:06] Xin-yang-Liu opened #10864 "jax.random.split uses extra memory before preallocated memory is used up"
I monitored the gpu memory usage via ```nvidia-smi```.
I find when run the command
[code]
Jax will always use more memory even if the preallocated memory is not used at all. This issue keeps raising OOM errors since Jax has already preallocated 90% memory by default.

[2022-05-27 21:29] hawkinsp commented on #10708
BTW, we have some tentative plans to split up `jaxlib` into submodules:
* `jaxlib`: contains common infrastructure and the CPU platform
* `jaxlib-cuda`: contains the CUDA platform. Depends on `jaxlib`.
etc.

i.e., the CUDA wheel would be an extension to the CPU wheel, not an independent build. I think that may resolve the "tricky constraint" above.

[2022-05-27 23:00] hawkinsp commented on #10825
Happy it worked out!

[2022-05-27 23:00] #10825 closed

[2022-05-27 23:00] hawkinsp commented on #10825
Happy it worked out!

[2022-05-27 23:09] danijar opened #10867 "Detect whether an output symbolically depends on an input"
Currently, `jax.grad()` returns zero tensors for gradients where the output does not depend on the input. However, this typically scenario indicates a user error that can be difficult to detect and should not be silently ignored. TensorFlow returns `None` for gradients of outputs with respect to inputs when there is no symbolic path (without stop_gradient on the way) between the input and the outp

[2022-05-27 23:27] mattjj commented on #10867
Thanks for the clear feature request! This does sound useful, though we probably wouldn't build it into `grad` by default.

Here's a way to do it **using JAX-internal APIs which might break without warning in the future**:

[code]

[2022-05-27 23:47] danijar commented on #10867
Having it as a separate function sounds like a good idea, as long as it can still be used to catch errors at JIT compile time without slowing down training time of the model later on?

[2022-05-28 00:13] mattjj commented on #10867
That's right, it won't slow down any `jit`ted function executions.

[2022-05-28 06:39] riven314 commented on #10375
Hi @jakevdp @JeppeKlitgaard
I created a PR now, though it's still WIP (pending inputs validation, unit test)
is it ok to give me a prior review to see if my direction looks good?

[2022-05-28 15:19] riven314 commented on #9954
Hi @jakevdp
I would like to contribute to this ticket.

I will break down this ticket by the following, see if it makes sense:
1. refactor some helper functions from `take_along_axis` that can be shared with `put_along_axis`
2. implement `put_along_axis` in JAX
3. default its argument `inplace` to `True` and raise an error for changing array in place)

[2022-05-28 17:13] erdmann commented on #3171
In case it's helpful to anyone coming here and looking for a jitted moving window into a 1D array, something like this works (also without padding logic):

[code]

[code]

[2022-05-28 20:29] carlosgmartin opened #10875 "random.gnormal - Generalized normal distribution"
Add a function that samples from the [generalized normal distribution](https://en.wikipedia.org/wiki/Generalized_normal_distribution#Version_1). (See [scipy.stats.gennorm](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.gennorm.html).) Example implementation:
[code]
[code]

[2022-05-28 21:22] carlosgmartin opened #10876 "random.ball - Sample uniformly from Lp ball"
Add a function that samples uniformly from the [Lp](https://en.wikipedia.org/wiki/Lp_space) [ball](https://en.wikipedia.org/wiki/Ball_(mathematics)). This is used in zeroth-order optimization, among other things. Example implementation (uses the `gnormal` function proposed in #10875):
[code]
<img src="https://user-images.githubusercontent.com/8883917/170843069-eec6ca9b-25d9-433c-8917-21b192e375cb.

[2022-05-29 04:02] llan-ml commented on #4310
Hi @jekbradbury @skye any updates on this?

[2022-05-29 05:19] falconair commented on #189
If this is a done deal, can the installation instructions on the readme.md be updated?

[2022-05-29 16:32] rafael-fuente opened #10877 "Eigh gradients can be wrong"
In a lot of cases, eigh doesn't return the correct gradients.
I attached a very simple example, comparing JAX gradients (incorrect ones) with autograd gradients (correct ones),

JAX gradients computation:
[code]
JAX Output:  (incorrect)

[[-0.33112606  0.32743236 -0.18718082  0.643335   -0.30847853]
 [ 0.32743236  0.5745873  -0.07279176 -0.0815831  -0.50257957]
 [-0.18718082 -0.07279176 -0.4819119

[2022-05-29 16:35] xinyuxiao113 opened #10878 "GPU Memory Leak when I use numpy under a jitted fucntion."
[code]
I use pprof tool to visualize the GPU memory.
https://jax.readthedocs.io/en/latest/device_memory_profiling.html#debugging-memory-leaks
[code]
![mem](https://user-images.githubusercontent.com/55077744/170880313-68b4df61-9633-4dae-b3d5-2879f99065dd.png)

We can see that the executable memory is increasing as for loop go on. So we can deduce that the jitted code on GPU is not free in time when

[2022-05-29 16:39] rafael-fuente commented on #10844
It's likely that in this example the bug is related with eigh. I open a new issue proving that eigh gradients can be wrong: https://github.com/google/jax/issues/10877

[2022-05-29 16:54] xinyuxiao113 commented on #10878
Is there any method to free jit compile memory in GPU ?

[2022-05-30 00:46] RylanSchaeffer commented on #9248
@mattjj  I just hit this error - thanks for opening this issue! I don't conceptually understand the problem here though. Why is jax struggling here?

[2022-05-30 06:09] xinyuxiao113 commented on #10878
#10838
There is a way to solve this problem.

[2022-05-30 06:24] xinyuxiao113 commented on #10878
In addition.   Use  f._clear_cache() is useless.

[2022-05-30 22:26] ngam commented on #189
This is up to the jax team. I personally do not feel comfortable proposing a readme.md edit (it is unclear to me if the jax team want this publicized).

I believe they may be wary of adopting this in their docs as they may not have the bandwidth of troubleshooting potential issues that may come up if one installs via conda. The conda-forge activities are (mostly) community-driven volunteer efforts

[2022-05-31 04:23] shashank2000 commented on #10192
@skye I can verify I still see the message even after I delete both `tpu_logs` and the lockfile. I've been running processes as Python subprocesses through a script - is there a reason to believe this could be an issue?

[2022-05-31 12:06] nicholasjng opened #10884 "Build failure on macOS M1"
M1 wheel builds are broken at HEAD again, but nothing too serious this time:

[code]

The message is very helpful, and indeed, setting the minimum macOS version in the `.bazelrc` to 10.12 fixes the build.

[2022-05-31 13:48] randolf-scholz commented on #10877
Notable observation: the V-matrix in the eigenvalue decomposition is not unique because $VΛV^⊤ = (V D) Λ (VD)^⊤$ for any matrix $D=diag(±1)$.

Running your code, we can see that the output for Jax is

[code]

whereas for autograd it is

[code]

I.e. $D = [-1, -1, -1, -1]$. Of course $‖V‖_{1,1}=∑_{ij}|V_{ij}|$ and the gradient should be identical either way.

[2022-05-31 14:01] randolf-scholz commented on #10877
So I guess there might be a sign mistake somewhere in https://github.com/google/jax/blob/d43cb36dae7e2f4cf734de29431cc371a5efeac5/jax/_src/lax/linalg.py#L706

[2022-05-31 15:22] #10884 closed

[2022-05-31 16:18] jakevdp commented on #10876
Thanks - I think we would be happy to accept a contribution of this function to `jax.random`. Are you interested in putting together a pull request?

[2022-05-31 16:19] jakevdp commented on #10875
Thanks - I think we would be happy to accept a contribution of this function to `jax.random`. Are you interested in putting together a pull request?

[2022-05-31 16:30] alextp opened #10891 "Optimization to use one-hot matmul for indexing should be configurable"
As of today a lot of client jax code relies on manually writing matmuls / einsums against one-hot tensors to do efficient indexing on TPUs. This is error-prone and harder to read than take_along_axis and other ways of expressing the operation.

Since this can potentially lose some precision can it be a configurable flag, either at startup or as an argument to the indexing operations that allows fo

[2022-05-31 16:52] jakevdp opened #10892 "[x64] scatter implementation silently generates 64-bit computations"
In cases where `scatter` operations are called on mismatched types, it can silently lead to 64-bit operations that are then cast back to the input types.

For example, this code:
[code]
will return an array of type int32, but within the implementation converts the array to float64 before converting it back:
[code]
The reason for this is the conversion here: https://github.com/google/jax/blob/fd61a

[2022-05-31 17:55] hawkinsp commented on #10892
Shouldn't this case be an error?

[2022-05-31 18:20] jakevdp commented on #10892
I think that's probably a good idea... but in order to allow people to do things like `x.at[ind].add(1)` we need to attempt to promote `y` to the dtype of `x`. Perhaps we can error if `x.dtype != result_type(x, y)`? What do you think?

[2022-05-31 18:20] carlosgmartin commented on #10875
@jakevdp Sure. Since #10876 depends on this one, should I submit a PR for this one first, or one PR for both simultaneously?

[2022-05-31 20:00] girving opened #10897 "Support for wrapping a slow Python function in an asynchronous DeviceArray"
I have a slow Python computation that produces a pytree (in the motivating case, it loads weights over a network).  I know the shapes and dtypes in advance, and would like to be able to wrap up my function as a `jnp.DeviceArray` so that it can be used as if it was a normal array by further jax computation.  Assuming for the moment that instead of a pytree our function returns a single array, the c

[2022-06-01 00:09] hawkinsp commented on #10892
Yes. I think under no circumstances should we promote `x`, only `y`.

[2022-06-01 09:00] girving commented on #10897
I should say that I am confused whether I should want to pass something like `concurrent.futures.Future` or pass a function and have Jax handle the threading.  The former requires me (as user of Jax) to have a `concurrent.futures.Executor` which is annoying, so if it's reasonable for Jax to manage things that would be my weak preference.

[2022-06-01 14:27] Doraehhh opened #10916 "jvp rules don't validate static args in the same way as their primitives"
Please:

- [x] Check for duplicate issues.
- [x] Provide a complete example of how to reproduce the bug, wrapped in triple backticks like this:

`cummax, cummin, cumprod` will succeed when using `value_and_grads` but fail if directly call

[code]

[code]

[code]

- [x] If applicable, include full error messages/tracebacks.

[code]

version: 0.3.13

[2022-06-01 15:04] Doraehhh opened #10917 "`psum` will fail when using `value_and_grads`"
Please:

- [x] Check for duplicate issues.
- [x] Provide a complete example of how to reproduce the bug, wrapped in triple backticks like this:

`psum` will fail when using `value_and_grads` but it will succeed if call it directly

[code]

- [x] If applicable, include full error messages/tracebacks.

[code]

[2022-06-01 15:08] Doraehhh opened #10918 "`softmax` will fail when using `value_and_grads`"
Please:

- [x] Check for duplicate issues.
- [x] Provide a complete example of how to reproduce the bug, wrapped in triple backticks like this:

`softmax` will fail when using `value_and_grads` but succeed when calling it directly

[code]

- [x] If applicable, include full error messages/tracebacks.

[code]

[2022-06-01 15:13] Doraehhh opened #10919 "`average` will succeed if `axis=False` but fail when using `value_and_grads`"
Please:

- [x] Check for duplicate issues.
- [x] Provide a complete example of how to reproduce the bug, wrapped in triple backticks like this:

`average` will succeed if `axis=False` but fail when using `value_and_grads`

[code]

- [x] If applicable, include full error messages/tracebacks.

[code]

[2022-06-01 15:16] jakevdp commented on #10918
The `axis` argument should be an integer or sequence of integers, as mentioned in the docs. The fact that `axis=False`, an invalid input, has inconsistent behavior, is not something we check for, and I think that can probably be chalked-up to user error in this case. What do you think?

[2022-06-01 15:18] Doraehhh opened #10920 "`bincount` will fail with `value_and_grads` if `length=False`"
Please:

- [x] Check for duplicate issues.
- [x] Provide a complete example of how to reproduce the bug, wrapped in triple backticks like this:

[code]

- [x] If applicable, include full error messages/tracebacks.

[code]

[2022-06-01 15:20] Doraehhh commented on #10918
In my opinion, I expect that the behavior of `value_and_grads` should output the same with direct call. So, maybe they should have the same error checking mechanism. I am not quite sure.

[2022-06-01 15:24] jakevdp commented on #10917
Thank you for the report. Perhaps you can combine all the issues you're reporting into one, to avoid DDOSing the issue tracker? 😀

[2022-06-01 15:24] jakevdp commented on #10917
Closing as a duplicate of #10916

[2022-06-01 15:24] #10917 closed

[2022-06-01 15:25] jakevdp commented on #10918
Thanks - closing as a duplicate of #10916

[2022-06-01 15:25] #10918 closed

[2022-06-01 15:25] #10919 closed

[2022-06-01 15:26] #10920 closed

[2022-06-01 15:29] jakevdp commented on #10897
My understanding is that the asyncronous dispatch used by JAX is within the C++ layer, and so there's not any direct access to this from Python-level async constructs, but someone might be able to tell me I'm wrong 😁

[2022-06-01 16:22] DanPuzzuoli opened #10922 "Add odeint max step size optional argument"
It'd be nice if `odeint` had an optional argument analogous to scipy `solve_ivp`'s `max_step` argument, which controls the maximum step size. I'll copy a code example below, but I'm running into an issue with `odeint` in which it steps over a feature in the ODE `rhs` after a long-ish period for which `rhs=0.`

One minor issue is that `max_step` unfortunately has a naming collision with `odeint`'s

[2022-06-01 18:57] romanngg opened #10927 "`lax.pad` reverse-mode AD fails on scalar inputs"
https://colab.research.google.com/gist/romanngg/8284adda14131eca8d63d69929044277/lax_pad_reverse_mode_fail.ipynb

[code]
gives
[code]

[2022-06-01 19:09] gehring opened #10929 "`Assertion` and `TypeError: Value Zero` with `custom_linear_solve` in some cases"
I've been trying to get to the bottom of some weirdness I'm encountering when using a matrix-free linear solver with gradients. I've aggressively trimmed and simplified everything to make a small reproducible example (see below) of what I've been encounter. It's not impossible that I'm doing something nonsensical that happens to not raise an error in some cases, especially after all the simplifica

[2022-06-01 20:06] jakevdp opened #10932 "Abort trap in jax.numpy code"
[code]
output:
[code]

[2022-06-01 20:12] jakevdp commented on #10932
I think it may have to do with a complex remainder operation

[2022-06-01 20:17] jakevdp commented on #10932
Here's a more compact repro:
[code]

[2022-06-01 20:23] #10927 closed

[2022-06-01 22:15] #10932 closed

[2022-06-02 06:03] Doraehhh commented on #10916
I am not sure which way is better. But there are ~20 APIs suffer from such issue.

[2022-06-02 11:27] dionhaefner opened #10949 "Convolutions leak host memory on Colab GPU runtimes"
Example:

[code]

Output:

[code]

[Reproducer on Colab](https://colab.research.google.com/drive/1MUYN9pFuVeKBrh7OqLpgenHy_L3XjT9a?usp=sharing)

[2022-06-02 13:04] #10696 closed

[2022-06-02 15:16] matthewdhoffman opened #10951 "truncated_normal can't handle extreme bounds"
`jax.random.truncated_normal` produces deeply wrong results when you set the lower bound too high or the upper bound too low. For example,
[code]
results in
[code]
The transition is suspiciously close to the point at which `erf` runs out of precision:
[code]
gives
[code]

So this may be a fundamental limitation of the sampling-by-inversion scheme used in `truncated_normal`.

[2022-06-02 17:06] sjt48 opened #10953 "Segmentation fault when solving large systems of ODEs"
Hi there,

I've encountered a bug that occurs when trying to solve large systems of ODEs.

I'm trying to code an implementation of the technique described [in this paper](https://arxiv.org/abs/2110.02906) for diagonalising large many-body quantum systems. At the heart of the technique is an array of size (N,N,N,N) which I pass to `odeint`, along with a function that computes the differential equat

[2022-06-02 17:10] jakevdp commented on #10916
I'm going to assign to @froystig for now because he may have more context on this.

[2022-06-02 17:55] danijar commented on #10614
@mattjj @hawkinsp I just wanted to flag this issue again, it would be great to make progress on this to improve JAX usability.

The approach of just having e.g. `static_args` that takes `Sequence[str | int]` seems nice, regardless of whether it's implemented via https://github.com/google/jax/pull/10746 or something easier.

Background: The current behavior in JAX is somewhat broken, where static_a

[2022-06-02 18:06] YouJiacheng commented on #10614
@danijar Actually if you only pass `static_argnums` or only pass `static_argnames`, static arguments can be passed as kwargs and can be passed positionally. However, if you pass `static_argnums` and `static_argnames`, the behavior is what you describe.
I try to unify this behavior in #10724

[2022-06-02 18:20] JeppeKlitgaard commented on #10614
@danijar Thank you for highlighting this. Even after having spent a good bit of time with this particular part of the JAX source, the behaviour still manages to confuse me from time to time. #10746 is intended as more of a rough sketch, but I think having an immutable dataclass object and passing that around might be a good option.

Having had a very cursory look at the code, I think in most place

[2022-06-02 20:43] powderluv commented on #8074
@hawkinsp the Build from source step shouldn't be required any longer. The nightly builds with VULKAN turned on.  Please let me know if that is not the case - we have already upstreamed all the apple M1 pieces.

You will need to pass "extra_args" to IREE to set the right  Apple M1 target triple:
https://github.com/nod-ai/SHARK/blob/1186d7c58e6046aea6a6115c608dbd77728e7aca/shark/iree_utils.py#L93-L

[2022-06-02 21:42] hawkinsp commented on #8074
Thanks! You're right, everything needed is in an `iree` nightly build. And passing the right target triple meant I got meaningfully better performance for the `f32[1000, 1000]` x `f32[1000, 1000]` matmul via the Vulkan path, so that's pretty promising.

If you're interesting in performance tuning, I'm sure we can cook up a transformer model or something that might be fun to optimize!

[2022-06-03 00:30] phoenix-meadowlark opened #10959 "Unexpected device placement for arrays created within a jax.default_device context"
This is related to https://github.com/google/jax/pull/9118 and has two parts. A colab notebook reproducing the behavior show in the code cells below can be found [here](https://colab.research.google.com/drive/1vsOpMEAn0lKUBjZPOOty4cBLqhgqNsEH?usp=sharing).

### 1. Arrays with a specific shape created by `jnp.zeros`, `jnp.ones` or `jnp.arange` are always placed on the first device that they were cr

[2022-06-03 08:43] johnjmolina opened #10965 "Hessian of linalg.norm"
Hello,

I'd like to report a possible bug I encountered when computing Hessians of functions involving jax.numpy.linalg.norm.
If the input is different from zero, results are OK, however, if the Hessian is evaluated at zero it returns nans.

Thanks in advance!

[code]

[2022-06-03 09:40] nicholasjng commented on #10965
Hey! Not a maintainer, but mathematically, that result actually makes sense: The Euclidean norm is not differentiable at the origin, and hence, since gradients do not exist, the Hessian will not exist, either.

For a proof of this, see this thread on SO (among others, this seems to be a frequently asked question): https://math.stackexchange.com/questions/1175277/why-isnt-the-l-2-norm-differentiabl

[2022-06-03 09:58] johnjmolina commented on #10965
Thanks! Yes of course, I should have noticed this before posting.
I'm not sure if its really a bug, but I still get nan's when computing the hessian of np.linalg.norm(v)**2 (at v=0), even though this one mathematically should be defined.

[2022-06-03 10:11] #10965 closed

[2022-06-03 13:41] sokrypton commented on #679
@hawkinsp the unpickled function still appears to require compilation after being unjitted. Is this typical?
Here is an example in google-colab
https://colab.research.google.com/drive/1VkJGTn0-eXa4_mj_ogmsBrDNiDkXq4LL

[2022-06-03 13:53] sokrypton opened #10966 "save jitted functions to avoid recompiling large models"
I didn't see an option to reopen an issue, so I'm starting a new one here:
https://github.com/google/jax/issues/679

jax appears to support cloud-pickling jit compilation according to the test:
https://github.com/google/jax/blob/main/tests/pickle_test.py

But testing it today, on a random function I wrote, this does not appear to be the case.
the unpickled function still requires jit compilation.

[2022-06-03 14:25] gianlucadetommaso opened #10967 "Discrepancy between np.take and jnp.take"
There seem to be an unexpected discrepancy between the behaviour of take in `jax.numpy.take` and `numpy.take` for indices out-of-bound. Here is a minimal example.

`numpy.take(np.ones(2), np.array([1, 2]))` gives the error message `IndexError: index 2 is out of bounds for axis 0 with size 2`, while `jax.numpy.take(np.ones(2), np.array([1, 2]))` returns `DeviceArray([1., 1.], dtype=float32)`.

The

[2022-06-03 14:45] hawkinsp opened #10969 "Jax multi-gpu randomly hangs forever"
### Discussed in https://github.com/google/jax/discussions/10763

<div type='discussions-op-text'>

<sup>Originally posted by **jrabary** May 19, 2022</sup>
Hi,

We are facing a problem where a training and validation code based on jax/flax hangs randomly on a multi-gpu host.
Using a single GPU is working correctly but once we add multi-gpu support it hangs in an unpredictable way.
The GPUs usage

[2022-06-03 15:03] sokrypton commented on #10967
interesting... I wanted to see exactly what it was returning when value is unavailable.

<img width="746" alt="image" src="https://user-images.githubusercontent.com/4187522/171880316-b53f4fbe-d328-40ec-9e71-b9efc95d7ef2.png">

[2022-06-03 16:14] sokrypton commented on #10967
I'm guessing the reason for this is because at jit compile time it's not known what indices will be available, as these can dynamically change.

[2022-06-03 16:37] jakevdp commented on #10967
This is a known behavior in JAX; you can read about it here: https://jax.readthedocs.io/en/latest/notebooks/Common_Gotchas_in_JAX.html#out-of-bounds-indexing

[2022-06-03 16:38] jakevdp commented on #10967
With some indexing constructs in JAX, you can control the out-of-bounds behavior to a degree; see https://jax.readthedocs.io/en/latest/_autosummary/jax.numpy.ndarray.at.html

[2022-06-03 16:53] jakevdp commented on #10951
Thanks for the report, I'm taking a look

[2022-06-03 17:26] #8017 closed

[2022-06-03 17:37] YouJiacheng commented on #10967
@jakevdp Could we validate dynamic value inside transformed function, e.g. `vmap` and `grad`?(Not during tracing, but during interpreting).
If we can do so, it might be good to validate dynamic value everywhere except inside jitted function as a debugging functionality. (might be controlled by a flag)
(But considering the significantly inferior performance of un-jitted JAX, it might be useless to

[2022-06-03 17:47] rsanthanam-amd opened #10973 "[ROCm] DLPack support"
Please add DLPack support for ROCm.

[2022-06-03 17:48] rsanthanam-amd commented on #10973
/cc @hawkinsp @sharadmv

[2022-06-03 17:51] jakevdp commented on #10967
Yeah, it would be possible to validate indices for concrete avals within autodiff, but I don't think that's the preferred solution because it introduces an asymmetry between JIT and non-JIT code. I think that `checkify` is a better route to adding this kind of validation, and I think @mattjj & @LenaMartens have been thinking about this a bit.

[2022-06-03 18:20] YouJiacheng commented on #10967
Thanks @jakevdp ‘s response, I considered the consistency between JIT and non-JIT code too. I agree that isn't the preferred solution. And thanks for letting me know `checkify` can do this kind of validation!

[2022-06-03 18:46] YouJiacheng commented on #10966
There are some related works in https://github.com/google/jax/tree/main/jax/experimental/compilation_cache

[2022-06-03 19:03] YouJiacheng opened #10974 "incremental compilation with manual mark"
We have persistent compilation cache(despite being only available on TPU), but we cannot easily do incremental compilation during debugging(performance of non-JIT code is unacceptable).

Imagine we have a complicated function `f`, but we only change some sub-functions during debugging.
Currently JAX will re-compile the whole function `f`.

It would be great if we can manually mark some sub-functio

[2022-06-03 19:16] hawkinsp commented on #10969
After locally upgrading NCCL to 2.12.12 the repro hasn't deadlocked yet for me on 8xV100 (...of course that doesn't mean it *won't* deadlock, but it's encouraging.) I'm using the repro from https://github.com/google/jax/discussions/10763#discussioncomment-2812199

If you'd like to try this yourself, then you can either install the community-authored Conda build of JAX, which I believe uses its own

[2022-06-03 19:58] patrick-kidger commented on #10974
+1 for "sub XLA graphs" as something that would be really *really* useful.

Incremental recompilation is one use-case. Another use case I've got is when doing something like -- excuse the pseudocode -- `jax.jit(for _ in range(...): big_function())`.

I'd love to be able to compile `big_function` only once, since at the moment this produces very long compile times. (As the loop is unrolled and each

[2022-06-03 20:07] patrick-kidger commented on #10953
It won't help resolve this precise bug, but you could try [Diffrax](https://github.com/patrick-kidger/diffrax), which is a full library for differential equation solving in JAX.

Depending on how things pan out for you, this may either be (a) a workaround, or (b) an improvement over `odeint` anyway.

(Of course it's possible that the same issue might occur with both, which would at least tell us s

[2022-06-03 20:13] DanPuzzuoli commented on #10922
@patrick-kidger we are actually in the process of adding `diffrax` as a dependency to the project in which this came up :) .

In any case it would still be a nice feature to have in `odeint`

[2022-06-03 20:28] lukemetz opened #10976 "jax_jit.cc support for Tracer: don't cache_miss"
Working with complex jit-ed functions can lead to long compile times and hurt interactive workflows. One option is to jit only pieces of the function. This works great if only jit is the top level function transformation in all cases. If this is not the case, say when using other transforms, things dramatically slow down due to python overhead. For example:

[code]

Upon investigation, jax's c++ j

[2022-06-03 20:44] lukemetz commented on #2095
Has there been any updates on this? I am working with an example which is ~30x slower with half of the time in `trace_to_subjaxpr_nounits` and half of that in a `toposort` each iteration. Being able to cache more of these computations would be awesome!

[2022-06-04 00:23] zoobot opened #10981 "jaxlib on nvidia jetson nano? Is it possible?"
Hi! I can install jax but not jaxlib on debian stretch with python3.9.

What version do I need to get this to work? Is it even possible?

Thanks for any help!!

Dockerfile:
[code]

I get this error:
[code]

[code]

[2022-06-04 01:43] sharadmv opened #10982 "Tracker: decomposing scan"
With jaxprs now supporting effect types, we can express side-effects like the State monad, where references can be read from and written to (i.e. mutation). We can use state to implement a simpler `scan` control flow primitive via a `for` primitive that supports reads/writes.

This issue will track the implementation progress:
- [ ] `get/swap/addupdate` primitives
   - [ ] `impl` rules
   - [ ] `a

[2022-06-04 08:04] jrabary commented on #10969
I have made some observations that may help to solve this issue. In my code, it looks like the hang appears when I switch more often between the `train_step` and `eval_step`. I have a code that hangs approximately after the same number of steps.
In the first version of this code, my evaluation dataset was a finite tf.Dataset so I had to create the data iterator before running the evaluation step,

[2022-06-04 08:06] jrabary commented on #10969
@hawkinsp Is there a (official) docker image that we can use to build jax locally ?

[2022-06-04 10:39] YOUSIKI commented on #10969
[**@jrabary**](https://github.com/jrabary) commented on [2022年6月4日 GMT+8 16:04](https://github.com/google/jax/issues/10969#issuecomment-1146563793 "2022-06-04T08:04:43Z - Replied by Github Reply Comments"):

Well, I used TensorFlow data pipeline to load data in my experiments. And I always create two infinite datasets only once (one for training and one for evaluation). But my training script alwa

[2022-06-04 12:11] sjt48 commented on #10953
Thanks @patrick-kidger, I might give that a shot. I was aware of Diffrax, but I figured I'd start with `odeint` first, thinking it would be simpler (although in the end `odeint` isn't really flexible enough for what I need in later parts of this calculation, and I had to use a bit of a hacky solution). I'll give Diffrax a try and see if I find any different behaviour.

[2022-06-04 13:08] Doraehhh opened #10984 "`value_and_grad` returns different value than direct invocation for some APIs"
`value_and_grad` returns different value than direct invocation for the APIs below:

- `jax.numpy.arange`

[code]

- `jax.numpy.trapz`

[code]

- `jax.numpy.fft.fftfreq`

[code]

- `jax.lax.dynamic_index_in_dim`

[code]

- `jax.lax.dynamic_slice_in_dim`

[code]

- `jax.lax.dynamic_update_index_in_dim`

[code]

- `jax.lax.dynamic_update_slice_in_dim`

[code]

[2022-06-04 13:34] Doraehhh opened #10985 "`arr.copy_to_device(None)` leads to Abort"
`device_put_replicated` will crash if device is None

[code]

[2022-06-04 15:33] hawkinsp commented on #10969
I left the repro running overnight and it's still going well. Given that it used to deadlock with 10s of minutes on 8xV100 I'm now reasonable confident it has fixed the problem.

Here's a TF fork with a NCCL upgrade (courtesy of the engineer who is doing that upgrade; I didn't do the work here):
https://github.com/hawkinsp/tensorflow/tree/nccl

You should be able to check out that branch/fork of T

[2022-06-04 16:05] danijar commented on #10614
Is this true for all functions? It's not what I've been seeing with jit or pmap.

Another failure case right now is d default arguments. If I mark an input with default value as static, it raises an error if the value isn't pissed in.

[2022-06-04 16:23] jrabary commented on #10969
@hawkinsp To make sure I understand. Should I first build this TF fork, install it and then build Jax ?

[2022-06-04 16:40] jrabary commented on #10969
Finally works. I forgot to checkout the mccl branch.

[2022-06-04 21:52] jrabary commented on #10969
Got the following error after the build

[code]

@hawkinsp Any idea ?

[2022-06-05 07:57] YouJiacheng commented on #10984
This issue stem from:
[code]
@jakevdp should we convert python-float to float32 to unify it? But that will cause discrepancy between jnp and np.

[2022-06-05 19:39] mfschubert commented on #1032
@yunlongxu-numagic Glad that it is helpful! I actually just made some changes which allow some of the functionality you are looking for (I believe). You can now select the argument you wish to differentiate with respect to, although presently you may only differentiate with respect to a single argument. I also added support for `has_aux`.

Going forward, I think it would be useful to support diffe

[2022-06-05 21:29] martin-marek commented on #3970
I came across this problem when [implementing](https://github.com/martin-marek/bsc-project)](https://github.com/martin-marek/bsc-project) an HMC sampler, which depends on the input data only through the log-posterior density $\log p(\theta|\mathbf{x})$. The log-posterior of the whole dataset is not equal to the sum of log-posteriors that we would compute for each batch separately: $\log p(\theta|\

[2022-06-06 00:58] dbl001 commented on #7163
Can Jax support tensorflow-macos and tensorflow-metal?

[2022-06-06 01:35] sharadmv commented on #3970
This exact issue was, for me, motivated by doing pmap of Hamiltonian Monte Carlo. It's pretty tricky to get the gradients right in general. I encourage you to take a look at this guide that uses TFP: https://www.tensorflow.org/probability/examples/Distributed_Inference_with_JAX.

The idea is that we introduce "pbroadcasts" when unmapped random variables interact with mapped random variables. The t

[2022-06-06 02:34] linjing-lab opened #10987 "Support complete numpy functions and some SciPy functions"
Please:

- [ ] Check for duplicate requests.
- [ ] Describe your goal, and if possible provide a code snippet with a motivating example.
Support complete `numpy` functions and some `SciPy` functions

[2022-06-06 06:29] gnecula commented on #10223
For JAX, CustomCall is not a primitive by itself, it is an implementation mechanism for some primitives on some platforms. For example, the [`threefry` primitive](https://github.com/google/jax/blob/800667a5ff313ede66cbdf1baaf586970b5c9b8d/jax/_src/prng.py#L405), which is used in the JAX PRNG implementation, is translated on GPU using a CUDA CustomCall.

Is the requested support needed to change th

[2022-06-06 07:54] regevs commented on #10794
I realized that by default `jax` utilizes all my CPUs. When I force it to use a single CPU (using `taskset -c 0 mpiexec -np 1` as described in #1539), the result is still more or less the same. On CPU:
[code]

On GPU:
[code]

However, in line with @jakevdp's comment on host synchronization, I do see that if the data shape is `(500000, 800)` instead of `(800, 500000)`, GPU is much faster, ie, for C

[2022-06-06 09:57] k355l3r-5yndr0m3 opened #10989 "Cannot compute convolution"
I followed https://jax.readthedocs.io/en/latest/notebooks/convolutions.html and tried the first example of 1-dimensional convolution, copy-and-pasting the code onto a python file. But when I ran it, it failed and produced this error message:

`To ignore this failure and try to use a fallback algorithm (which may have suboptimal performance), use XLA_FLAGS=--xla_gpu_strict_conv_algorithm_picker=fal

[2022-06-06 11:50] jakevdp commented on #10987
Thanks for the request! The unimplemented NumPy functions are tracked in https://github.com/google/jax/issues/70, along with some notes about which ones we don't intend to implement.

As for supporting some SciPy functions, I don't think we have any issue specifically tracking that. We've not created any detailed roadmap for SciPy function support, but the general tenor of the team's goal has been

[2022-06-06 12:00] adamantboy opened #10991 "How Jax lower jaxpr control flow into XLA?"
### Discussed in https://github.com/google/jax/discussions/10990

<div type='discussions-op-text'>

<sup>Originally posted by **adamantboy** June  6, 2022</sup>
how jaxpr_subcomp deal with control flow primitives, when these eqns are lowered into XLA HLO? For example, cond, while, scan.</div>

[2022-06-06 12:13] ibulu commented on #10969
Experiencing the same issue. The issue is happening with compute instances with 8xV100 (SXM2) GPUs. But not with 2xV100 (PCIE) or 4xV100 (PCIE) instances.

[2022-06-06 12:20] mjsML commented on #10969
@hawkinsp we faced a similar-ish behavior with t5x ... I'll tag few people later when I'm able to DM them (to know who is the most relevant person)

[2022-06-06 12:57] ibulu commented on #10969
is the community author build in the condo-forge channel?

[2022-06-06 13:13] ibulu commented on #10969
spoke too soon :-) It is happening with 4xV100 instance too

[2022-06-06 15:15] Gattocrucco opened #10994 "Implementing `stop_hessian` in reverse mode (how to transpose `stop_gradient`?)"
I am using a trick to compute the Fisher information matrix from a log likelihood with JAX by taking the Hessian with partially disabled second order derivatives. In particular I apply `stop_gradient` to the tangents in the custom jvps of my linear algebra operations. However this works only with forward derivatives; in reverse mode JAX complains about missing the transpose rule for `stop_gradient

[2022-06-06 17:40] patrick-kidger commented on #10989
Is this the error complaining about not being able to select a convolutional algorithm?

If so that's a nightmare bug that I've had to wrestle with before. Non-deterministically either of the following sometimes seems to help:

[code]

[code]

in each case added to the very start of your Python script.

[2022-06-06 18:52] YouJiacheng commented on #10994
[code]

[2022-06-06 20:23] Gattocrucco commented on #10994
However, if stop_gradient return zero in transpose rule, and stop_gradient is used in another function's jvp, then in this function's vjp, stop_gradient will be transposed to zero function - in your use case, f's vjp will be zero!

To restore consistency, it is sufficient to wrap `ct` in `stop_gradient` again:

[code]

[2022-06-06 20:28] YouJiacheng commented on #10994
@Gattocrucco Hmmm, if you use `stop_gradient(ct)`, you will get `jax.jacfwd(jax.jacrev(h))(1.0) == 0.5` instead of 1.

[2022-06-06 20:32] Gattocrucco commented on #10994
Ach

[2022-06-06 22:09] saopeter opened #11002 "Feature request: JAX implementation of scipy.special.jv"
Hi,

I'm working on a research problem that involves computations of Bessel functions of the first kind, of multiple different integer orders, and I'm trying to leverage JAX for autodiff and fast computation on GPUs.

The specific function required by the equations I'm working with is implemented by scipy in scipy.special.jv. JAX's implementation of scipy.special exposes a limited number of functi

[2022-06-06 22:23] Birch-san commented on #8074
thanks for everyone's effort so far in getting jax to work with M1 GPU.

I tried this out today on the [dalle-playground](https://github.com/saharmor/dalle-playground) jax model, but I got an error:
`failed to legalize operation 'mhlo.scatter' that was explicitly marked illegal` _([full details here](https://gist.github.com/Birch-san/fb3d77f102bb177e4095df5c9be5702f))_.

is this currently unimplem

[2022-06-06 22:35] powderluv commented on #8074
oh this looks exciting. Can you please share your entire command history after installing the iree_compiler/runtime ?  Can I run it from the command line instead of VScode ?

[2022-06-06 22:57] Birch-san commented on #8074
yeah, definitely possible to run without VSCode.

my command history for setting up [`dalle-playground`](https://github.com/saharmor/dalle-playground) was pretty messy. broadly speaking it can be as simple as this:

## Setup Anaconda

Install Anaconda via [command-line arm64 installer](https://www.anaconda.com/products/distribution), then:

### (optional) install PyTorch nightly (to get M1 GPU sup

[2022-06-07 02:52] k355l3r-5yndr0m3 commented on #10989
It worked. Thanks

[2022-06-07 02:52] #10989 closed

[2022-06-07 04:45] jewillco opened #11005 "Bitwise XOR missing as a `lax.reduce` operation"
The `lax.reduce` function includes bitwise AND and OR as possible reduction operations, but does not include XOR. Likewise, there is no specialized XOR-reduction function in JAX.

[2022-06-07 05:08] albertfgu opened #11007 "Memory bug with slight change in parameterization"
I have a model where the core computational kernel is a broadcast-reduce pattern that implicitly requires a large tensor, but XLA usually optimizes it away to not materialize the tensor. However, an innocuous change in the parameter initialization in Flax causes the memory to blow up.

This is the core computation:
[code]
I'll use `N` to denote the length of `lambd`, and `L` to denote the length o

[2022-06-07 05:24] Doraehhh opened #11008 "`jax.numpy.interp` will crash"
`jax.numpy.interp` will crash

[code]

[2022-06-07 06:21] chsigg commented on #9604
Fixed with https://github.com/tensorflow/tensorflow/commit/6d6d7fece1752523699993d7a30ee7790e84adba. I will leave it to Jake to close this issue.

[2022-06-07 07:23] Gattocrucco commented on #10994
I still don't have a solution but I have clarified my question: how to implement a function `stop_hessian`. The current half-broken attempt is:

[code]

[code]

[2022-06-07 08:31] jblespiau opened #11010 "jax.random.uniform raises an `InconclusiveDimensionOperation` for very large shapes"
[code]

fails with:

[code]

[2022-06-07 09:35] sjt48 commented on #10953
Quick update on this: Diffrax also segfaults for large values of N. The error is slightly different, but the backtrace also goes back to a problem with `xla_extension.so`, so it looks like the problem is deeper than the choice of ODE solver.

[2022-06-07 09:46] thibmonsel opened #11011 "Jax profiling tracer - possible incompatibility with python 3.9(.12)"
Im following the documentation for jax [profiling](https://jax.readthedocs.io/en/latest/profiling.html).

Im executing the code
[code]
A perfetto link is opened beforehand)
The error found  :
[code]
It seems that jax profiler doesn't work with python 3.9.12.
[code]
Otherwise, I find it unclear how to launch a profiler with perfetto for jax on my local machine.

[2022-06-07 11:16] alvarosg opened #11012 "`jnp.where` casting `float64` to `float32`"
Reproducer:

[code]

Expected behavior is that output would also have `float64` case in the `float64` case.

[2022-06-07 11:23] Birch-san commented on #8074
I've filed an [issue with iree](https://github.com/google/iree/issues/9361) to improve support for the `mhlo.scatter` operation used in this jax model.

in the meantime: is there a way to utilise more of the _CPU_? I think I'm noticing the same thing as https://github.com/google/jax/issues/5022 — when I ask the jax model to generate 1 image on-CPU, it takes a few minutes (2mins with dalle-mini, 27

[2022-06-07 11:49] jakevdp commented on #11012
Did you enable 64 bit types? See https://jax.readthedocs.io/en/latest/notebooks/Common_Gotchas_in_JAX.html#double-64bit-precision

[2022-06-07 12:19] alvarosg commented on #11012
Oh, that fixes it. Thanks!

[2022-06-07 12:29] alvarosg opened #11014 "`np.result_type` fails with bfloat16"
Disclaimer: I am not sure if this is a JAX, bug a Numpy bug, or not a bug at all, so any help triaging would be welcome!

Reproducer:

[code]

When I run the code above with `bfloat16`, I get inconsistent results between the output dtype of an op, and the dtype returned by `result_type`. (either the wrong type if using `jnp.result_type`, or a Type error if using `np.result_type`.

All issues go aw

[2022-06-07 13:59] hawkinsp commented on #8074
@Birch-san Yes, the MHLO op support in IREE isn't complete and has some known deficiencies. see for example the hotlist of issues: https://github.com/google/iree/issues?q=is%3Aissue+is%3Aopen+label%3Aintegrations%2Fmhlo many of which come from running the JAX tests. But it's early days yet! I'm sure the IREE folks would appreciate you filing issues as you discover them, assuming they aren't alread

[2022-06-07 14:21] LenaMartens commented on #7602
This was implemented in https://github.com/google/jax/pull/8395, and turned on by default in https://github.com/google/jax/pull/10941, thanks @sharadmv!

[2022-06-07 14:21] #7602 closed

[2022-06-07 14:27] Birch-san commented on #8074
yeah, happy to file any issues I find 🙂 but I can't get past that first one, so I think that's all I can report for now on the IREE side.

okay, I suppose pursuing parallelism on the JAX level would require me to get deep into rewriting the model (not my specialty).
I have spare CPU cores, so I can run multiple tasks concurrently. with dalle-mega, I can generate 1 image on-CPU in 27 mins (117% CPU

[2022-06-07 14:34] jwnys commented on #3186
Not sure if it's entirely relevant, but I'll mention what helped me instead.
If you don't want to give up computational speed to reduce your memory (which is what you get with remat), what worked for me (getting memory requirements down from >150GB to <32GB) was to unroll the scan, using unroll=len(xs). I needed Hessians of a scan function, and this somehow resolved everything for me... I'm still

[2022-06-07 14:52] Birch-san commented on #8074
sure, I'll file an issue about CPU parallelism too. thanks for your theories. 🙂

[2022-06-07 16:31] Birch-san commented on #5506
@nestordemeure thanks for posting the repro; I'm having a similar issue trying to utilise all cores on an M1 Max, where it's presumed that [IREE doesn't utilize all CPU cores](https://github.com/google/jax/issues/8074#issuecomment-1148758064).

[code]

looks like higher % utilization than on your CPU. not perfect either.

[2022-06-07 17:18] Birch-san commented on #8074
@stellaraccident I've raised https://github.com/google/iree/issues/9368 to report the "1 CPU core" problem.

thanks for explaining how to pass flags.

I tried placing this at the start of `app.py`:

[code]

but it didn't make any difference; CPU usage for generating 1 image in dalle-mini was 125% either way, and took 139secs either way.

is there a breakpoint I can place anywhere in the iree pytho

[2022-06-07 17:23] akharedeepak opened #11018 "jit not handling object"
Please:

- [ ] I am using jit to speed up the code. However, there is a discrepancy between the result produced by jited function and non-jited function. I know it is because I am passing an object (grid) as an argument. But I am interested in developing a similar function that can take the object as an argument; that way, I don't have to pass many arguments.

Here is a minimal example to reproduc

[2022-06-07 17:37] hawkinsp commented on #8074
@Birch-san Can you confirm that you're actually running the IREE backend (`JAX_PLATFORMS=iree` or similar) when measuring performance? Note you will probably hit the `mhlo.scatter` problem you reported above.

[2022-06-07 17:43] Birch-san commented on #8074
@hawkinsp oh, that's embarrassing.
you're right -- I was **not** using `JAX_PLATFORMS=iree` for my on-CPU test. and as you say: if I _do_ turn it on, it explodes with the `mhlo.scatter` complaint.

presumably that explains why `--task_topology_group_count=8` had no effect.

@stellaraccident I guess I'll need to update the iree issue. it sounds like it's still an issue that ought to exist, but I th

[2022-06-07 17:45] stellaraccident commented on #8074
We're happy to take the issue: this should be more automatic.

But this is what we need to focus on fixing to unblock: https://github.com/google/iree/issues/9361

[2022-06-07 17:49] Gattocrucco commented on #5344
I encountered this old issue now by chance. I had practically the same problem (object-oriented caching of the matrix decomposition for Gaussian process regression) and I patched something which mostly works, though there are still some rough corners. Code, in case it might be useful: https://github.com/Gattocrucco/lsqfitgp/blob/a40240388dc8ea436f31fd8aabda7ec9417aeb3a/lsqfitgp/_linalg/_decomp.py#

[2022-06-07 17:51] sharadmv commented on #11011
The `create_perfetto_link` is a feature we just added and isn't in a release yet. You'll need to use JAX at HEAD until we make a new release. Sorry about the confusion.

[2022-06-07 19:29] ibulu commented on #10969
this solution seems to be working so far...fingers crossed ;-)

[2022-06-07 21:05] Gattocrucco commented on #11002
Maybe you could adapt an existing algorithm into a numba-jittable function and see #1870 and/or https://github.com/josipd/jax/blob/master/jax/experimental/jambax.py to plug the function into a jax primitive.

[2022-06-08 02:38] jakevdp commented on #11018
Hi - thanks for the question! This is a common situation, and is addressed in the FAQ: [JIT changes the exact numerics of outputs](https://jax.readthedocs.io/en/latest/faq.html#jit-changes-the-exact-numerics-of-outputs)

Note that float32, which it appears you are using in your example, has 23 bits of mantissa, meaning that it's typical for floating point roundoff errors to accrue in the seventh d

[2022-06-08 02:48] jakevdp commented on #11014
Hi, thanks for the question! It looks like you are finding differences between numpy's promotion behavior and JAX's promotion behavior. These differences are intentional, and are documented in [JAX Type Promotion Semantics](https://jax.readthedocs.io/en/latest/type_promotion.html).

If you want numpy-style promotion, you can use `np.result_type`. If you want JAX-style promotion, you can use `jnp.r

[2022-06-08 04:17] jakevdp commented on #9165
I'm not aware of any fix related to this bug, because it was closed shortly after being reported. Looking into it now, it seems that this may come up in cases where collections like tuples or lists are passed to `jnp.iscomplexobj` within a `jit` context. For example:
[code]
[code]
Does that seem similar to the issue you're having?

[2022-06-08 04:18] jakevdp commented on #9165
Reopening, because I think it's worth fixing `jnp.iscomplexobj` to handle this case.

[2022-06-08 04:30] golanor commented on #9165
I'll try to create a MWE to recreate the error I'm seeing, I noticed it when trying to add support for complex numbers to diffrax - https://github.com/patrick-kidger/diffrax/pull/112

[2022-06-08 05:47] jrabary commented on #10969
Are you using the main branch of jax for the build ?
My build is successful but when I import jax I get a `rocm_lu_pivots_to_permutation`.

[2022-06-08 09:13] YongCHN opened #11025 "could not build successfully for master branch"
hi, i use the build/Dockerfile to create the docker and run the build_wheel_docker_entrypoint.sh inside the docker. then i met the follow errors. can anyone help take a look?

Building XLA and installing it in the jaxlib source tree...
./bazel-5.1.1-linux-x86_64 --output_user_root=/build/root run --verbose_failures=true --config=avx_posix --config=mkl_open_source_only --config=cuda :build_wheel --

[2022-06-08 09:29] #11025 closed

[2022-06-08 10:23] alvarosg commented on #11014
Thanks for your reply, it answers the question about how things are meant to be, but it still does not answer explain some of the behavior.

For example, if I take your code, and replace:
[code]
with:
[code]
And leave the rest the same, then I get:
[code]
I would not expect `np.ones`, to behave so differently from np.array().

Also, the behavior described by Matthew above does seem to make a lot o

[2022-06-08 11:34] thibmonsel commented on #11011
makes sense now thanks !

[2022-06-08 11:34] #11011 closed

[2022-06-08 12:47] jakevdp commented on #11014
Thanks - all of that has to do with numpy (not JAX) dtype promotion. Since `bfloat16` is a custom dtype that numpy has no knowledge of, I think it's somewhat expected that numpy type promotion does strange things with it. I would suggest that when working with bfloat16, you use JAX operations, because JAX is aware of the dtype and handles it correctly.

Here's the JAX version of what you did above

[2022-06-08 13:47] dbl001 commented on #10860
On Google CoLab Pro, 'jax' recognizes the GPU but not the TPU.

[2022-06-08 14:25] jakevdp commented on #11014
I'm going to close this issue, since I believe JAX is handling bfloat16 correctly in all cases, and the remaining poor behavior is due to numpy's handling of custom dtypes. Thanks for the report!

[2022-06-08 15:30] ibulu commented on #10969
yep. I used the main branch

[2022-06-08 15:41] hawkinsp commented on #10969
@ibulu Are you using `jax` from head together with your newly-built `jaxlib`? Are you sure? I think the symptom you have here is a version mismatch.

At head, the function is called `hip_lu_pivots_to_permutation`, so my guess is your `jax` is too old for your `jaxlib`. What versions do you have installed?

[2022-06-08 15:52] hawkinsp commented on #10860
My guess is that you had one or more environment variables set in the session where the GPU was not found that caused GPU initialization to fail. Ones that may be relevant include `PATH`, `LD_LIBRARY_PATH` and `CUDA_VISIBLE_DEVICES`.

[2022-06-08 15:53] hawkinsp commented on #10991
It looks like this was answered fully by the discussion.

[2022-06-08 15:53] #10991 closed

[2022-06-08 16:04] alvarosg commented on #11014
Sorry, I did not have time to reply before this was closed.

But using JAX ops tends to want to put things on accelerators, right? So for CPU only loads, e.g. prefetching we tend to use either TensorFlow or plain Numpy.

So whose responsibility is to maintain a custom type for numpy, is it numpy or is it JAX, or is it XLA?

As far as I can tell, it is JAX which is doing `np.dtype(jax._src.dtypes.b

[2022-06-08 16:10] hawkinsp commented on #10860
TPUs not being found is another issue.

See: https://github.com/google/jax/tree/main/cloud_tpu_colabs for documentation about that. Note in particular you need
[code]
at the top of the colab; see the examples. But also note the JAX/Colab/TPU stack is in flux, see the notes on that documentation page about the newer Cloud TPU VMs.

[2022-06-08 16:13] dbl001 commented on #10860
That worked! Thank You!
btw - Do you happen to know whether JAX will eventually support Apple Metal?

[2022-06-08 16:51] jakevdp commented on #11014
The custom `bfloat16` dtype is currently [defined in tensorflow](https://github.com/tensorflow/tensorflow/blob/1f0782337808704e564883f77d89e51b50d60808/tensorflow/python/lib/core/bfloat16.h); JAX extracts this definition and bundles it as part of `jaxlib`. There has been recent discussion about whether `bfloat16` should instead be defined elsewhere as a stand-alone numpy dtype extension, but I'm n

[2022-06-08 17:12] jakevdp opened #11026 "DOC: update PRNG discussion to reflect current numpy best-practices"
This is mainly a tracking issue so I don't forget to address https://github.com/data-apis/array-api/issues/431#issuecomment-1150178431

[2022-06-08 17:20] ibulu commented on #10969
no issues on my end @hawkinsp . The solution you suggested is working for me!

[2022-06-08 17:55] jakevdp commented on #11008
Thanks for the report; I think this has already been fixed on the main branch as part of https://github.com/google/jax/pull/10931. Can you confirm?

[2022-06-08 18:00] jewillco commented on #11005
No -- I don't know how to add that. Are there bitwise AND and OR reductions
already? Or are there only those reductions for logical operations?

-- Jeremiah Willcock

On Wed, Jun 8, 2022 at 10:57 AM Jake Vanderplas ***@***.***>
wrote:

[2022-06-08 18:03] jakevdp commented on #10985
Thanks for the report! It looks like this comes from the fact that the `device` argument to `copy_to_device` is not validated; for example:
[code]

[2022-06-08 18:29] tlu7 commented on #11002
For being jittable, we may need to turn the recurrence relations into vectorization. Similar approach has been used for implementing the associated Legendre functions in jax.scipy.special.lpmn

[2022-06-08 18:46] jewillco commented on #11005
I was looking at _get_monoid_reducer in
https://jax.readthedocs.io/en/latest/_modules/jax/_src/lax/lax.html#reduce;
is that relevant to what reduction ops are available?

-- Jeremiah Willcock

On Wed, Jun 8, 2022 at 11:18 AM Jake Vanderplas ***@***.***>
wrote:

[2022-06-08 19:15] alvarosg commented on #11014
Thanks for the extra explanation.

It is great to hear this. I guess the reason I was getting nervous was because my thinking was something like:
"If numpy is not self consistent with its own `np.result_type` method, e.g.:
[code]
what other computations may be silently outputting the wrong thing when using `bfloat16`?"

I just don't know the details of what it involves to write a custom type for n

[2022-06-08 20:09] jakevdp commented on #11005
Yes, that's relevant here. And you'll see the list of currently available reducers here: https://github.com/google/jax/blob/879a94a05405a84d677d0ab049cfefe0169dc22b/jax/_src/lax/lax.py#L970-L990

[2022-06-08 20:20] jakevdp commented on #11005
Note that even without the specialization, you can currently compute an xor reduction manually:
[code]

[2022-06-08 20:49] jakevdp commented on #11010
Thanks for the report. It looks like removing the `np.uint32` cast in the shape here fixes the error: https://github.com/google/jax/blob/c84dcc3660e73ea63a2dcf1c9a49e13a85a205ae/jax/_src/prng.py#L545

Assigning to @froystig, as he may have more context on this code.

[2022-06-08 21:39] jakevdp commented on #9604
Thanks!

[2022-06-08 21:46] jakevdp commented on #10369
I think this should be fixed by the bfloat16 `item()` change that @pschuh is working on.

[2022-06-08 22:34] rkern commented on #11026
One more niggle, in case this language survives the first revision, on the [Sharp Bits](https://jax.readthedocs.io/en/latest/notebooks/Common_Gotchas_in_JAX.html) page:

While I agree with most of that (that's why it's not numpy's default anymore), our implementation has never suffered from any initialization issues. We've always used the initialization that the cited paper calls out as avoiding t

[2022-06-09 05:06] #10231 closed

[2022-06-09 05:23] chsigg commented on #9604
Unfortunately, the change got rolled back. I will resubmit as soon as the failure that it triggered is resolved. I'm hoping it's only a test that is too restrictive.

[2022-06-09 06:50] jrabary commented on #10969
Finally managed to build it. So far, there is no hang.

[2022-06-09 11:21] alvarosg commented on #11014
Thanks so much! This sounds like I should file the bug in the TF repo then, thanks!

[2022-06-09 11:29] jakevdp commented on #11014
You certainly could, but given how numpy type promotion works, I don’t think there’s any change that TF could make to that code that would improve the situation. It’s fundamentally a numpy dtype promotion bug.

[2022-06-09 11:35] jakevdp commented on #11014
I think you're looking for `tf.bfloat16.as_numpy_dtype`, but again, this is not a TF bug, it is a numpy bug, and the appropriate place to report this issue is in the numpy repo, however numpy is not currently interested in fixing this. If you're interested in a path to a fix, you should weigh in on https://github.com/numpy/numpy/issues/19808.

[2022-06-09 12:05] YouJiacheng opened #11036 "Allow reshaped buffer donation"
[code]
I expect this function should be optimized to something like `.view` in pytorch.
But I got

See an explanation at https://jax.readthedocs.io/en/latest/faq.html#buffer-donation.

[2022-06-09 13:17] alvarosg commented on #11014
Fair enough, I will just do that. Thanks again for all of your time!

[2022-06-09 16:13] brettkoonce commented on #10162
I installed rocm 5.1.3, and have a similar failure during the build process as well:

[code]

[2022-06-09 17:04] carlosgmartin commented on #10875
@jakevdp Do you think `jax.scipy.gennorm.pdf`/`logpdf`/`cdf` should be added as well?

[2022-06-09 17:22] jakevdp commented on #10875
Sure, I think that would be a useful contribution - thanks!

[2022-06-09 20:11] Gattocrucco commented on #5344
About the internals: in the last commits I removed a bit of the messing (it's a work in progress). By "messing" I mean taking `jax.stop_gradient` in the custom JVPs, now that's gone and they are honest custom JVPs.

Anyway, the code maybe seems a bit complicated at first sight because there are various things implemented, but the core idea is simple. JAX actually does not care that all functions i

[2022-06-09 20:16] Gattocrucco commented on #5344
Now that I have written it down, it comes to my mind that maybe the remaining problems would be solved as well by mock-passing all the decomposition products as variadic arguments to the intermediate wrapper.

[2022-06-10 10:20] onnoeberhard commented on #10662
Thanks a lot for the examples. Sorry for the delay (I had a paper deadline); I have now included the main points of this discussion into the "sharp bits" page and opened a pull request.

[2022-06-10 10:20] #10662 closed

[2022-06-10 15:42] gderossi opened #11055 "Feature request: Add support for Chebyshev and other polynomials"
I am working on a project that utilizes Chebyshev polynomials and might use other types of polynomials in the future, and I would like to leverage jit and auto differentiation through JAX. numpy supports Chebyshev and other polynomial types through the new polynomial package API, but this package has not been implemented in JAX. There was some brief discussion in #70 about whether it was even desi

[2022-06-10 16:05] hawkinsp commented on #11055
In general, if something is in the NumPy API and it's useful, we welcome PRs! I don't know whether or not those particular APIs will be ergonomic or useful given the various constraints of JAX, but the best way to find that out would be to write a prototype, as you are doing. Let us know!

[2022-06-10 16:42] hawkinsp commented on #10860
See https://github.com/google/jax/issues/8074 for Metal support.

[2022-06-10 18:07] tbukfrc opened #11056 "Feature request: Add CUDA unified memory support."
I commonly run out of my 8GB of memory when attempting to inference with different models. It would be nice to be able to use CUDA unified memory (shared video memory with system ram for anything that doesn't fit in vram). Tensorflow 2 supports this, and it is great for preventing OOM failures, and the performance hit is a lot better than using CPU. I've tried looking for this feature, but it appe

[2022-06-10 18:28] gehring commented on #10929
@mattjj Would you have some time to check this out?

[2022-06-10 21:10] srush commented on #10969
Thanks for all the help.

Having trouble getting this to build. Running into this error.

[code]

[2022-06-10 21:15] ibulu commented on #10969
had the same error...following solved the issue for me...as the error suggests, the old mccl version is still installed...adding "TF_NCCL_VERSION=2.12.12" in front of the python build/build.py .... solved the issue for me

[2022-06-10 21:37] srush commented on #10969
@ibulu You're a hero. Thanks so much.

One other change we had to make was to fix this line in the jax build.

[code]

Running now :crossed_fingers:

[2022-06-10 21:43] hawkinsp commented on #10976
This is something we have talked about implementing (C++ `jit` for tracer values) for quite some time, but have never gotten to doing. It makes sense to do, we just need to do it!

[2022-06-11 00:08] maxwillzq opened #11062 "import jax2tf will fail"
[code]

Just simply import jax2f will trigger this bug.
The error message is:

[code]

jax_version is 0.3.8

My notebook is here if you want to reproduce it
https://gist.github.com/maxwillzq/6e0bb7c420f5d143a71d3aa43426d663

[2022-06-11 01:44] hawkinsp commented on #10878
The issue is that the internal method you are calling to clear the cache does not actually clear all the necessary caches. https://github.com/google/jax/pull/11064 adds a new method `.clear_cache()` on `jit`-ted functions that should solve your problem.

[2022-06-11 09:23] Gattocrucco commented on #5344
Another solution: declare the class to be a jax pytree, such that `self` can pass across jit and derivative boundaries:

[code]

[2022-06-11 12:39] ibulu commented on #10966
ahh...this would be such a helpful feature!

[2022-06-11 13:30] innat commented on #11062
@maxwillzq upgrade the JAX. (In colab, right now, it uses `0.3.8`.)

[code]

[2022-06-11 15:50] ethanluoyc opened #11066 "Segmentation fault in a multithreaded application."
Please:

- [x] Check for duplicate issues.
- [ ] Provide a complete example of how to reproduce the bug, wrapped in triple backticks like this:

I am sorry for not having a dead-simple example that can be used to reproduce this issue at this point. It seems to happen in a specific setting where I tried to train a pixel-based agent with DeepMind's Acme library.
The code to reproduce the problem can

[2022-06-11 19:13] randyau opened #11068 "building from source fails due to mlir BUILD referring to MlirHloModule.cc instead of MlirHloModule.cpp"
building jax from source with --enable_cuda flag,
freshly cloned from the repo
on an WSL2 ubuntu install

gets this error in building:
ERROR: /mnt/e/linux/ubuntu/jax/jaxlib/mlir/_mlir_libs/BUILD.bazel:90:13: no such target '@org_tensorflow//tensorflow/compiler/mlir/hlo:python/MlirHloModule.cc': target 'python/MlirHloModule.cc' not declared in package 'tensorflow/compiler/mlir/hlo' (did you mean 'p

[2022-06-11 19:56] schainmariano opened #11069 "Numerical discrepancy when calculating the jacobian on TPU vs CPU"
Calculating a Jacobian returns substantially different answers on CPU vs. TPU.

In the example below, we calculate the Jacobian, sum its rows and compare it to the gradient of the sum (calculated using gradient). When running on CPU, the answers are indeed almost identical, however, when running on TPU we get a large discrepancy.

[code]

When running g on TPU we get

[code]
and on CPU we get
[cod

[2022-06-12 00:56] ludgerpaehler commented on #11068
See the linked pull-request I just opened - the real change happened inside of the Tensorflow repository, where the MlirHLO compiler lies, and where cpp files were renamed to cc files. When bumping the version of the Tensorflow repo in the `WORKSPACE` file to a more current one, this issue is fixed.

[2022-06-12 03:39] #11066 closed

[2022-06-12 04:07] sharadmv commented on #11069
I think this is a matmul precision issue.

TPUs by default do bf16 matmuls. You can use the [`jax.default_matmul_precision`](https://jax.readthedocs.io/en/latest/_autosummary/jax.default_matmul_precision.html?highlight=default_matmul_precision) context manager/flag to set the default precision to `'float32'` which should match the CPU results (at the cost of being ~9x slower I believe?).

[code]

[2022-06-12 10:19] Gattocrucco opened #11075 "Generic functions with jax arrays, and incoherent `issubclass` and `isinstance` for `jnp.ndarray`"
**TLDR:** The Python type dispatch mechanism for generic functions does not work within jax tracing with `jnp.ndarray` as type. Making `issubclass(Tracer, jnp.ndarray)` come out true is still not sufficient.

I often have to work around the fact that jax arrays cannot be dealt with by numpy ufuncs because I have to write functions which accept both kind of arrays. I tried to use the Python standar

[2022-06-12 13:44] jakevdp commented on #11075
As you've realized, the issue comes down to the fact that JAX heavily uses duck-typing in its transforms (i.e. replacing true arrays with tracers in the execution of functions), and thus is not directly compatible with APIs that rely on strict type checking. We've hacked around that a bit for `isinstance`, but I don't imagine anyone believes that's a comprehensive fix to making JAX work with inter

[2022-06-12 19:40] Gattocrucco commented on #11075
Ok, granted that I don't know jax internals so I may be saying something which breaks into a flaming mess, I would create dummy subclasses matching the traced types, and then expose unions concrete type+tracer type to be used in typing. Example: `JVPTracer` would have a subclass `JVPArrayTracer`. This subclass makes no additional definition. `JVPTracer` instead of an `__init__` has a `__new__` tha

[2022-06-12 21:30] adam-hartshorne opened #11076 "Failed to build with Jaxlib v0.3.10 (and latest branch) on Windows"
Attempting to build  jaxlib v0.3.10 (or the latest branch) on windows 10 using python 3.9 / Cuda v11.2 with the following command,

`python .\build\build.py --enable_cuda --cuda_path="C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v11.2" --cudnn_path="C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v11.2" --cuda_version="11.2" --cudnn_version="8.1.0" --noenable_rocm --noenable_tpu`

results

[2022-06-13 13:37] jakevdp commented on #11075
Interesting - I think the real problem here is that Python has two meanings of the word "type": there's "type" in the sense of `isinstance`, and "type" in the sense of `mypy`-style static type checking, and in all but the most common of cases, details of how the latter are handled can differ depending on whether you're using mypy, pytype, or pyright. So to make any change like this, you'd first ne

[2022-06-13 13:47] #10892 closed

[2022-06-13 13:56] Doraehhh commented on #10984
Any update?

[2022-06-13 16:55] mrahtz commented on #2535
+1 - we've just been bitten by this.

Our use-case is that we're dealing with pytrees representing the activations of a large sharded model. We want to be able to do various manipulations on those activations - for example, allocating a similarly-shaped pytree of zeros as a mask, using something like `jax.tree_map(jnp.zeros_like, activations)`. This isn't happening as part of a training loop, it's

[2022-06-13 17:57] gderossi commented on #11055
I think the Chebyshev code is ready for a PR, but I'm running into some issues with the tests. pytest -n auto tests/ gets to about 70-75% before one of the nodes crashes and is replaced. I can't see progress numbers after that, but the tests continue for a while longer before stalling forever or crashing. This happens both with my additions and with a clean copy of the main JAX branch. I'm working

[2022-06-13 18:51] hawkinsp commented on #11055
I think the best thing you can do at this point is narrow it down to a single test that fails, and then share instructions to reproduce and I can take a look. Crashing is never supposed to happen, so that's a bug.

[2022-06-13 18:56] Gattocrucco commented on #11075
You are right, I naively expected `functools.singledispatch` to understand `typing.Union`s as OR of classes since it supports type annotations, but it actually doesn't:

[code]

[code]

And since in the starting example I determined that `singledispatch` does not care about `isinstance` neither `issubclass`, there really needs to be actual inheritance. Modifying the scheme above, JAX would make `J

[2022-06-13 20:45] gderossi commented on #11055
Running all of the tests individually one by one worked fine, for both the main branch and for my modified branch, so I think the crashes and stalling must have been hardware issues on my end. I did get one failure in pjit_test.py for both versions of the library though, which reported that "Some donated buffers were not usable" and "Donation is not implemented for cpu". This might be a bug? I wou

[2022-06-13 23:17] froystig commented on #10897
The off-thread discussion suggested defining a thunk-backed jax array, without saying the word "future" at first. Specifically, think of a python object (call it `LazyDeviceArray`) with the same interface as jax's (say `DeviceArray`), but whose construction takes a function:
[code]
An instance of `LazyDeviceArray` carries the information needed to correspond to a jax type (typically shape and dtyp

[2022-06-14 06:20] sergiuiacob1 opened #11087 "jaxlib 0.1.61 without CUDA support not available in storage.googleapis.com"
A while ago some of us were depending on jaxlib 0.1.59, but that got removed from https://pypi.org/project/jaxlib/#history so the workaround was to upgrade jaxlib to 0.1.61.

Since upgrading is not always desirable/possible (i.e. dependencies, backwards compatibility etc), we switched to installing jaxlib 0.1.61 from https://storage.googleapis.com/jax-releases/jax_releases.html instead of https://

[2022-06-14 08:35] patel-zeel opened #11089 "reconstruction error: `ravel_pytree` v/s `tree_flatten`"
Please:

- [x] Check for duplicate issues.
- [x] Provide a complete example of how to reproduce the bug, wrapped in triple backticks like this:

[code]

- [x] If applicable, include full error messages/tracebacks.
[code]

## Description

I thought that reconstructed trees should be the same with both `tree_flatten` and `ravel_pytree`. But something is going wrong here. I would appreciate any help.

[2022-06-14 11:46] ludgerpaehler commented on #11068
Try again now from main - it should work now :)

[2022-06-14 13:40] hawkinsp commented on #11062
This is already fixed with an up to date `jax`.

`pip install --upgrade jax` in your colab will fix.

[2022-06-14 13:40] #11062 closed

[2022-06-14 13:41] #10878 closed

[2022-06-14 13:46] sergiuiacob1 commented on #11087
I'm using `pip install -f https://storage.googleapis.com/jax-releases/jax_releases.html jaxlib==0.1.61`

[2022-06-14 14:04] hawkinsp commented on #11089
I think this comes down to two things:
* `tree_flatten` preserves the object identity of the arrays, whereas `ravel_pytree` does not.
* `dict` comparison appears to have a fast path of some sort such that two dict values with the same object identity are treated as equal without calling their `==` operator.

Here's a simpler demonstration:

[code]

Note that the exact same thing happens with class

[2022-06-14 14:04] #11089 closed

[2022-06-14 14:06] patel-zeel commented on #11089
Great! This makes perfect sense @hawkinsp. Thank you for taking your time and effort for this.

[2022-06-14 14:11] hawkinsp commented on #11068
This is now fixed at head due to https://github.com/google/jax/pull/11073 (Thanks for the PR @ludgerpaehler !)

[2022-06-14 14:11] #11068 closed

[2022-06-14 14:19] hawkinsp commented on #10878
Please try out the new `.clear_cache()` method and let me know if that fixes your problem!

[2022-06-14 14:24] jenkspt opened #11092 "Can't jit `view` with reinterpret from int32 to int64"
[code]

[code]

[2022-06-14 15:14] hawkinsp commented on #11092
Using the `experimental` `enable_x64` scope is buggy. (It is tagged `experimental` for a reason.)

For now, try enabling x64 mode globally at the start of the program, like this:
[code]

[2022-06-14 15:27] hawkinsp commented on #11056
It's possible we could support this, but one thing I will note is that unless your hardware has unified memory this may be significantly slower (think ~10x) than explicitly copying arrays to GPU as you need.

Can you say a bit more about the use case? What kind of model do you want to run? How large are the weights and inputs? Which arrays do you want to keep on CPU?