[2021-08-02 06:46] shoyer commented on #1007
There are probably work-arounds in other specific cases, but this is a pretty fundamental limitation in XLA.

[2021-08-02 10:49] jpuigcerver opened #7438 "jax.lax.reduce does not accept constants as init_value"
Hi,

I'm using jax.lax.reduce to create a (sort of) fingerprint function, here's a simplified version of my code to reproduce the problem.

[code]

When I use a jitted version of the function, I get an AssertionError in jax.lax.reduce.
[code]

Raises:

[code]

The input array is not a constant, but the initial_value is. So, I assume that the problem is there.

[2021-08-02 11:14] sbodenstein opened #7439 "id_tap on CPU crashes with exceptions"
This crashes a CPU kernel, but prints the exception on a GPU/TPU kernel:
[code]

[2021-08-02 11:56] externalsupplierstaff opened #7440 "nan in gradient due to failure in pow"
Hi, I'm working in a simple optimization problem with image transformations. However, the gradient function fails and I can not understand why, as there is an array without nan values to the power of a number, which is not supposed to fail but gives nan. Furthermore, the numbers are not big. I would appreciate some help :)

by the way, the grad function works for different input values (e.g. `x=[0

[2021-08-02 12:41] jakevdp commented on #7437
Hi - thanks for the question! It turns out the culprit is not `jnp.indices`, rather this is a long-standing bug/wart in JAX (see #1583). `jnp.indices` returns a device array, but when you write `a, b = jnp.indices(...)` it calls the `__iter__` method, which outputs static numpy arrays.

There's a fix in the works at #3821 (not sure why it stalled, maybe @mattjj knows?).

Until that is resolved, a

[2021-08-02 13:23] GJBoth opened #7442 "xmap slower than nested vmap"
I'm working on a problem which requires vectorization over several axes. `vmap` has been a godsend in simplifying everything, but to vectorize multiple axes I need to nest vmap (four times in our case) to vectorize all. I tried `xmap` as the documentation states it vectorizes over everything and I get back results matching the nested `vmap` approach, but unfortunately it's much slower (approx 4x t

[2021-08-02 13:45] joshwolff1 opened #7444 "Unknown cloud_tpu_init KeyError"
Google Cloud TPU, v3-v8
[code]

[2021-08-02 15:00] jakevdp commented on #7421
If you define it this way:
[code]
it should work even for scalar inputs.

Perhaps the optimizer should call `jnp.asarray` on its inputs to avoid this issue... would you be interested in contributing a PR?

[2021-08-02 15:25] externalsupplierstaff commented on #7440
Probably because the power of a negative number is not defined!

[2021-08-02 15:47] hawkinsp commented on #7440
It sounds like you resolved your own issue? Can we close this?

[2021-08-02 15:56] mgrankin commented on #7421
Hello @jakevdp and thank you for the reply. I believe JAX treats scalars as 0-dimentional arrays and because of that calling `jnp.asarray` won't change anything. Probably, it's better to add `jnp.zeros(1)` to the input to use broadcasting.

[code]

I'll submit a PR for that.

[2021-08-02 16:33] AnkitSiva opened #7449 "`vmap` slower than manual vectorization part 2"
Hey folks, I'm seeing an interesting issue that's a follow up to [this closed issue]( https://github.com/google/jax/issues/6312).

I was trying out the auto vectorization to move some of our hand batched code. The intent of the code block below is to multiply k-size (here 3) subsets of the n columns of a dataset and sum them to see what proportion of those datasets are all ones in those k columns.

[2021-08-02 16:44] jakevdp commented on #7421
Ah, I see – I misunderstood the issue.

Will comment on your PR.

[2021-08-02 17:44] thanhnguyentang commented on #4674
hi @vkramanuj, did you resolve this problem? Could you please share how you resolved it? I run into the same problem and could not find any other discussion rather than this thread.

[2021-08-02 17:54] jakevdp commented on #2347
Thanks!

[2021-08-02 17:54] #2347 closed

[2021-08-02 18:20] jakevdp commented on #7276
Hi @romanodev - don't worry about implementing everything at once if it's blocking you. Even just implementing `mode='full'` would be useful, and you could adjust the tests to skip unimplemented combinations.

[2021-08-02 18:45] jakevdp commented on #7336
duplicate of #5982

[2021-08-02 18:46] #7336 closed

[2021-08-02 18:47] jakevdp commented on #7336
(for what it's worth, this is a difficult bug to fix and is one of the primary reasons this feature is still only experimentally supported)

[2021-08-02 18:48] externalsupplierstaff commented on #7440
Yes, although I will follow up, because I was still having issues. I solved with some masks. My problem is the one discussed in [this issue](https://github.com/google/jax/issues/1052) and related.

I solved it in the following way

[code]

with output
[code]

[2021-08-02 18:48] #7440 closed

[2021-08-02 19:06] jakevdp commented on #70
I don't know of anyone working on these functions, although I think `min_scalar_type` cannot be made compatible with JIT because of its semantics. Please let us know if you have questions!

[2021-08-02 20:33] jakevdp commented on #7431
Thanks for the report & the clear repro. This seems like something that @hawkinsp might have ideas about.

[2021-08-02 20:56] skye commented on #7444
We've updated the JAX install command for TPU (https://github.com/google/jax#pip-installation-google-cloud-tpu). Can you try:
`pip install "jax[tpu]>=0.2.16" -f https://storage.googleapis.com/jax-releases/libtpu_releases.html`

I'm not sure that will fix the problem, but it'll be helpful to make sure everything's properly installed and up-to-date. Please send the output of importing jax if there's

[2021-08-02 21:21] jakevdp commented on #7153
We do not currently provide jaxlib wheels for windows; see #5795.

[2021-08-02 21:35] joshwolff1 commented on #7444
Thank you for getting to this quickly. Unfortunately, I was under an extreme time crunch to get a server back and had to use AWS to do this so this no longer applies to me. Thank you though

[2021-08-02 22:18] jakevdp commented on #7390
Thanks for the report - I'm not sure why this changed between versions, but I think I know the fix. I'll try to get it in today

[2021-08-02 23:49] thanhnguyentang commented on #4674
What I have observed in my case is the cuSolver runtime error shows up for the first run, but if I simply ignore it and rerun that code, it will proceed without the error.

[2021-08-03 00:01] samuela commented on #3124
Does `ravel_pytree` still exist? I'm not able to find it in the docs: https://jax.readthedocs.io/en/latest/search.html?q=ravel_pytree&check_keywords=yes&area=default

[2021-08-03 00:04] jakevdp commented on #3124
It does still exist:
[code]
It looks like it's not listed in JAX's documentation

[2021-08-03 02:27] froystig commented on #7438
The "constant" here corresponds to the value of `magic` being closed over in the definition of `combine_fn`, in the expression `y + magic + jax.lax.shift_left...`

[2021-08-03 02:45] yovadia opened #7461 "Odd output from jax.ops.index_update when jitted"
[code]

[2021-08-03 04:06] hawkinsp commented on #7431
The issue is that the implementation of float16 matrix multiplication in XLA/CPU appears to be very slow. XLA/CPU actually just calls an Eigen kernel for float16 matmuls, and it seems to be very slow indeed. A similar kernel is also used by TF, and it is equally slow.

https://github.com/google/jax/pull/7462 works around by computing float16 matmuls in float32 and casting back on CPU.

[2021-08-03 07:42] jpuigcerver commented on #7438
Hi Roy. Thanks for the clarifcation. This code used to work a few month ago, why can't `magic` be closed over `combine_fn`?

[2021-08-03 08:46] peterroelants opened #7465 "vmap using in_axes doesn't handle named arguments"
Passing keyword arguments to a function vectorized with `jax.vmap(in_axes=..., out_axes=...)` does not seem to work and results in an `AssertionError`.

For example:
[code]
results in:
[code]

Version used: `jax: 0.2.18`

[2021-08-03 08:50] peterroelants commented on #7465
Please note that named arguments work when `in_axes` and `out_axes` are not needed and not used, as was fixed in https://github.com/google/jax/pull/5387 and closed in https://github.com/google/jax/issues/912.
E.g. The following works:
[code]

The issue seems to specifically related to the [`jax.vmap`](https://jax.readthedocs.io/en/latest/jax.html#jax.vmap) `in_axes` and `out_axes` arguments.

[2021-08-03 12:24] clemisch opened #7468 "GPU memory usage despite platform set to "cpu""
Dear jax team,

I've noticed that jax uses a small amount (137 MiB) of GPU memory, even when the platform is set to `cpu`.

[code]

This led to crashes on a server where the GPUs are completely full (not best practice, I know), even though no computation is performed on the GPU.

Is this intended behavior? Is `jax_platform_name` deprecated?

---

A workaround is setting `CUDA_VISIBLE_DEVICES` to a

[2021-08-03 12:28] hawkinsp commented on #7468
JAX now initializes all available platforms eagerly, including GPU if present. `jax_platform_name` determines which platform is preferred by default.

So this is working as intended, but you've identified one very good workaround if it's a problem (set `CUDA_VISIBLE_DEVICES` to the empty string).

If this is a problem we could possibly revive some sort of flag to remove certain platforms from the

[2021-08-03 12:30] pharringtonp19 commented on #2851
I find that the output from the third function call actually lives on the cpu.

[code]
Output

[code]

[2021-08-03 12:36] clemisch commented on #7468
Thanks for the quick reply @hawkinsp. The workaround is fine for me.

Fyi, the only difference is this printout

[code]

which previously was suppressed when setting `jax_platform_name = "cpu"` .

[2021-08-03 13:47] #7390 closed

[2021-08-03 14:15] jakevdp commented on #7438
Another quick note: as mentioned in the [`jax.lax.reduce` docstring](https://jax.readthedocs.io/en/latest/_autosummary/jax.lax.reduce.html) there are strict requirements on the function and the init value for the result to be correct, and I don't think this is the case for your example (`magic` is not an identity of `combine_fn`) so even with a workaround for the constant issue, your code would no

[2021-08-03 15:11] #7431 closed

[2021-08-03 15:57] skye commented on #7444
Ah ok. I'm gonna close this, but please let us know if you try again and run into this!

[2021-08-03 17:14] froystig commented on #7377
The next jaxlib release will include a fix, by way of https://github.com/tensorflow/tensorflow/commit/5009f5c251b967c40791486e2447f14e3f5256d0. I've added a jax-side test in 86c48ccb7c116d207d235b319912c2de8b7ce41a. Thanks!

[2021-08-03 17:14] #7377 closed

[2021-08-03 18:53] froystig commented on #7438
A lot has changed over the past year that could have affected this, including our entire approach to staging out functions and what we hoist as a constant, so bisection would require some effort and might not be too enlightening. The current state is that we don't support closure-captured values, but we probably want to.

Setting aside @jakevdp's observation (which is worth looking into separately

[2021-08-03 18:59] froystig commented on #7326
How about simply documenting this more clearly? The caller sets both the maximum step count and the tolerance, so it might be reasonable for them to expect a "whichever happens first" policy, provided we make that clear.

[2021-08-03 20:43] jakevdp commented on #7437
I'm going to close this - we can continue to track the issue in #1583

[2021-08-03 20:43] #7437 closed

[2021-08-03 21:50] zhangqiaorjc commented on #7413
@hawkinsp should we get an XLA/CPU person to look at the DotGeneral emitter for those cases?

[2021-08-03 22:30] zhangqiaorjc commented on #7439
seems like a regression, jaxlib 0.1.68 produces the exception

[code]

But jaxlib 0.1.69 crashes

[code]

[2021-08-03 22:35] levskaya commented on #7426
I've encountered this sort of thing before as well.  What I noticed is that we'd really like a `static_argnum` argument for remat/checkpoint to avoid this sort of abstraction error under jit or scan, etc. when using checkpoint/remat.

Here's a public colab showing a jax and flax-linen version of remat that supports static_argnums as one possible fix for this issue:

https://colab.research.google.c

[2021-08-03 22:49] zhangqiaorjc commented on #7449
@mattjj this is a followup from the original issue

[2021-08-03 23:05] zhangqiaorjc commented on #7461
I verified that with

[code]

the results match.

Maybe something wrong with our jit.

[2021-08-03 23:08] #7329 closed

[2021-08-03 23:16] mattjj commented on #7461
(Hey Yaniv!)

I suspect this is an XLA:CPU bug. It doesn't reproduce on TPU:
![image](https://user-images.githubusercontent.com/1458824/128097931-bea945b7-ede0-432a-bfcd-54213f603fc1.png)

(It seems like a plausible bug too: inputs and outputs are incorrectly aliased so we're e.g. writing the new x[1] before reading it for the update to x[2].)

[2021-08-03 23:19] mattjj commented on #7461
It also doesn't repro on GPU.

[2021-08-03 23:47] #7468 closed

[2021-08-03 23:55] zhangqiaorjc commented on #7461
Filed bug with XLA:CPU

[2021-08-04 00:24] froystig commented on #7426
Some kind of error is expected since `bool_fn` branches on an abstract value (`flag`) rather than a concrete one (derived from a static argument). Using `partial`—or lambda abstraction more generally—is the common way to render an argument static, as your example does. Some transformations, like `jit`, offer an explicit `static_argnums` option as an alternative, but `checkpoint` doesn't.

We shoul

[2021-08-04 00:52] froystig commented on #5312
Paging @jekbradbury for thoughts on adding to `jax.nn`.

[2021-08-04 01:36] froystig commented on #5312
Also cc @avital and @jheek from the flax thread mentioned above.

[2021-08-04 08:16] Edenhofer commented on #7461
I think the issue I just wanted to file is very much related to this one. In a large model with wrong JVP and VJP I was able to trim down the code to wrong `index_update` calls:

[code]

Changing any line in the above resolves the issue. However, it is pretty easy to break it again, e.g. via

[code]

[2021-08-04 08:36] Edenhofer commented on #7461
Prior versions of JAX and jaxlib such as "jax[cpu]==0.2.13" and "jaxlib==0.1.65" seem to be affected as well. Note, I did not perform a proper git bisect and instead just looped over `pip install` calls and executed the above lines in a script.

[2021-08-04 11:08] yovadia commented on #7461
Thanks for looking into this! (hi Matt!)

[2021-08-04 14:20] Edenhofer opened #7490 "FFT on CPU noticeably slower than SciPy's FFT"
The FFT implementation in JAX seems to be noticeably slower than the one in SciPy even though both use some flavor of the PocketFFT FFT implementation.

[code]

On an AMD Ryzen 7 4800H (with Radeon Graphics) with JAX 0.2.18 and jaxlib 0.1.69 installed from PyPI, I get the following timings:

[code]

The timings improve if I compile JAX(lib) myself though it still compares unfavorably to SciPy (com

[2021-08-04 14:24] hawkinsp commented on #7490
The PocketFFT version used by JAX is pretty close to PocketFFT's C++ branch head. There have been no performance-relevant changes since.

One possibility: is the scipy version multithreaded? I didn't plug PocketFFT's threading support into JAX.
Another possibility is the PocketFFT C and C++ branches have different performance.

[2021-08-04 14:39] jpuigcerver commented on #7438
@froystig Your solution worked like a charm 👍

[2021-08-04 14:51] hawkinsp commented on #7490
If all are single-threaded, then I'd be tempted to try writing a small C/C++ benchmark that compares the C and C++ implementations of PocketFFT for your specific input sizes. My best guess is this is a PocketFFT C vs C++ difference. Is that something you might be willing to do?

[2021-08-04 15:17] Edenhofer commented on #7490
Meaning you believe `python3 build/build.py` with `--target_cpu_features native` (which should in turn set `-march=native`) would make JAX's FFT as fast as SciPy's?

The difference in performance between NumPy and SciPy can be, if I am not mistaken, purely explained by this difference in implementation. Personally, I am much more interested in how to get JAX on par with SciPy (both use the C++ imp

[2021-08-04 16:52] Edenhofer commented on #7490
Can you elaborate a little on how this could explain the timings? Since both SciPy and JAX use the C++ flavor of PocketFFT, I don't understand how the C version could be faster. NumPy, which uses the latter, is slower in this benchmark. If you have the hunch that there is a problem in PocketFFT, I am more than happy to contact its author Martin Reinecke. He works next door and would surely be happ

[2021-08-04 17:12] froystig commented on #6415
Closing because I expect that the issue is addressed based on its description in this thread. Please reopen if it is not!

[2021-08-04 17:12] #6415 closed

[2021-08-04 17:34] hawkinsp commented on #7490
My apologies: I thought scipy was using the C version of PocketFFT.

Actually, it turns out the explanation is much simpler than I thought: we appear to be casting your (real) input to complex and then doing a complex to complex fft, when we should be doing a real to complex fft. This appears to account for most of the time difference:

[code]

If you cast the scipy input to a complex value, it wi

[2021-08-04 19:03] deasmhumhna commented on #7426
@froystig I'm new to JAX so forgive me if it's obvious but you're saying `jax.jit(lambda x: jax.checkpoint(bool_fn)(x, flag=False))(jnp.ones((10,), jnp.float32))` is expected to throw an error even though the `flag` parameter is provided in the lambda function before jitting?

`jax.jit(jax.checkpoint(bool_fn), static_argnames='flag')(jnp.ones((10,), jnp.float32), flag=False)` also fails which seem

[2021-08-04 21:51] deasmhumhna commented on #7426
I understand now. Thanks for the explanation.

[2021-08-04 22:00] shoyer commented on #7490
We can probably speed this up in JAX, but I'm not sure it's absolutely essential. The best optimizations here probably can't match what you can realize using real-valued FFTs in your own code.

[2021-08-04 22:08] KienHuynh commented on #7444
I'm having the exact error message, even after installing jax using:
`pip install "jax[tpu]>=0.2.16" -f https://storage.googleapis.com/jax-releases/libtpu_releases.html`
I'm using a TPU v2-8, created with --tf-version=2.4.1.

[2021-08-04 22:43] skye commented on #7444
Can you share the full TPU create command you're using? (Doesn't have to include full project name, etc.)

If you're not already, we recommend using the new Cloud TPU VM architecture, which requires using `gcloud alpha` commands. See https://cloud.google.com/tpu/docs/jax-quickstart-tpu-vm.

[2021-08-04 22:54] KienHuynh commented on #7444
I used this one:
[code]

Anyway, I will try the gcloud alpha command to create a new one. Thanks.

[2021-08-04 23:09] skye commented on #7444
Ok yeah, you should try Cloud TPU VMs! They're much better for running JAX, see [this blog post](https://cloud.google.com/blog/products/compute/introducing-cloud-tpu-vms) for a short explanation why.

Installing jax[tpu] on the old architecture will actually cause issues, as you're seeing. We should probably add a note to the README about this, I'll leave this issue open to track that.

[2021-08-04 23:29] digantamisra98 commented on #4523
@hawkinsp It would be nice to re-evaluate this request as of now considering Mish got added to standard PyTorch ([PR](https://github.com/pytorch/pytorch/pull/58648), [Feature Request Issue](https://github.com/pytorch/pytorch/issues/58375#issuecomment-842654130)) based on similar evaluation criteria.
Additionally the paper has received nearly 270 citations as per [Scholar](https://scholar.google.co

[2021-08-05 02:49] ahfs commented on #5501
@gerdm Missing Xcode could be the reason. If you haven't installed Xcode, get it from [here](https://apps.apple.com/ca/app/xcode/id497799835?mt=12). Make sure you open it to finish the installation. And then follow the steps in @dcxSt's comment. It worked for me.

[2021-08-05 08:17] clgarciga opened #7501 "Can't back out probabilities from log probs, numerical issue"
Hello,

I'm trying to run code block 16 from https://fehiepsi.github.io/rethinking-numpyro/04-geocentric-models.html, reproduced below with some extra comments and all the import statements first:

[code]

Then, when running code block 17 from https://fehiepsi.github.io/rethinking-numpyro/04-geocentric-models.html, instead of the expected output, I get essentially a blank graph. This is because al

[2021-08-05 08:20] koubadomik commented on #5501
@gerdm you should install xcode (not only cmd tools) - as mentioned https://github.com/google/jax/issues/5501#issuecomment-847237225. Following these steps worked for me.

[2021-08-05 09:59] juliuskunze opened #7502 "take_along_axis needs much TPU memory"
Running

[code]

on TPU results in

[code]

Notice how the unpadded size is <1GB, but padding suddenly requires 64GB. The [TPU performance guide](https://cloud.google.com/tpu/docs/performance-guide) encourages having two different dimensions with sizes being multiples of 8 and 128 respectively since TPU stores data in blocks of 8 x 128 and XLA sometimes pads to that size.

Why is memory blowup due

[2021-08-05 11:57] Edenhofer commented on #7490
Ah, that makes perfect sense! Thanks for the explanation!

Personally, I think it would be nice to have some kind of dtype check in JAX's FFT. Isn't it possible to copy the respective lines from SciPy?

Furthermore, while the rfft does indeed bring JAX to the performance of SciPy, the poor performance seems to persist for `np.complex128`:
[code]

[code]

Speaking about real-valued FFTs, I would be

[2021-08-05 12:36] Flamefire opened #7507 "Use bazel --version to check the bazel version"
Please use `bazel --version` to check the version of Bazel. The currently used variant ignores the bazel-startup-options and actually starts a full bazel server which is a) overkill and b) wrong in case of options like `--output-user-root` and no or readonly home folders

Potential change:
[code]

I kept the regexp generic enough so that you can still fall back to the current `bazel version` call

[2021-08-05 12:52] hawkinsp commented on #7490
I don't think we can use ducc0 ourselves in JAX, because it has a GPL license and JAX has an Apache license. However, nothing would stop someone from plugging it in as part of a separate library. We can walk someone through how to do that if interested. It would look very similar to the way PocketFFT is integrated into JAX.

A significant fraction of the time difference between JAX and SciPy can b

[2021-08-05 12:55] mattjj commented on #7501
@fehiepsi offered to take a look at this!

[2021-08-05 13:28] Edenhofer commented on #7490
That's a pity. Thanks, I would be very much interested in that!

I can't reproduce these numbers for `np.clomplex128`. The only reason I left out the jitted part is because it is as performant as the non-jitted part for me:
[code]
These timings are of course excluding the time it took for JAX's jit to warm-up.

[2021-08-05 13:51] fehiepsi commented on #7501
Hi @clgarciga, that code only works for [a portion of Howell1 data](https://fehiepsi.github.io/rethinking-numpyro/04-geocentric-models.html#Code-4.11). Could you double-check?

[2021-08-05 13:52] manuel-delverme opened #7510 "jax_debug_nans"
The [current implementation of quantile](https://github.com/google/jax/blob/606cbe036af2d18201709a7a33214d9246d1c495/jax/_src/numpy/lax_numpy.py#L5645) function generates NaNs that are detected when jax_debug_nans is activated.

[code]
[code]

Traceback
[code]

[2021-08-05 16:13] jakevdp commented on #7510
Thanks for the report – we don't run many tests with debug_nans=True, which we probably should. This is akin to #7208, which I'm slowly chipping away at.

[2021-08-05 16:46] yashk2810 commented on #7507
Opened a PR for this: https://github.com/google/jax/pull/7516

[2021-08-05 17:48] #7507 closed

[2021-08-05 20:43] clgarciga commented on #7501
Welp, I feel dumb. All fixed once I filtered the data. Thanks @mattjj @fehiepsi.

[2021-08-05 20:43] #7501 closed

[2021-08-05 23:40] jakevdp commented on #7510
Quick question on this: it looks to me like they only way that `jnp.quantile` introduces `nan` values is when the input already contains a `nan`, in which case I think it's correct for `debug_nans` to catch it.

Do you have an example of code that leads to this error when no NaNs are present in the input?

[2021-08-06 03:51] ZYHowell opened #7529 "xla_call incompatible with xla.primitive_computation"
Primitive `xla_call` has a parameter named `backend`, while `xla.primitive_computation` has a parameter with the same name. Maybe it's better for `primitive_(sub)computation` to receive a dict of all kwargs.

An easy reproducable example is as:
[code]

The example above raises an exception with traceback:
[code]

[2021-08-06 07:11] Flamefire commented on #7507
Have you tried that? Because for me the output of `bazel --version` is e.g. `bazel 3.2.1`
So you MUST adjust the regexp to `re.search("bazel *([0-9\\.]+)", version_output)` so this keeps working unless earlier versions of bazel did output something different for `bazel --version` (not `bazel version` which indeed is different)

[2021-08-06 09:29] stefansommer opened #7531 "Issue with jax.lax.scan and jit"
Dear JAX team,

thank for your excellent library!

As far as I can tell, the code below shows an issue with jax.lax.scan and jit. lax.scan gives result different compared to without jit, compared to a reference python scan from the scan documentation and a direct application of the function the scan runs over. Moreover, making changes to the code that should not affect the result changes the outpu

[2021-08-06 12:18] hawkinsp commented on #7507
@Flamefire I think @yashk2810 already fixed this in https://github.com/google/jax/pull/7523

[2021-08-06 12:43] Flamefire commented on #7507
Indeed. Thanks for pointing that out :+1:

[2021-08-06 13:29] dimasad opened #7533 "jit changes behaviour of sparse.coo_matmat with transposed argument"
JIT gives erroneous results for the multiplication of a sparse matrix with a transposed dense matrix.

[code]

[2021-08-06 13:40] manuel-delverme commented on #7510
Closing because i can not reproduce it,
the bug was happening with out nans in the input vector

[2021-08-06 14:15] jakevdp commented on #7510
Ok, no problem. If you come across it again feel free to re-open this issue or to open a new one, and we can do our best to help!

[2021-08-06 15:59] mattjj commented on #7531
Thanks for the excellent bug report!

By the way, if you want to get 'scan without jit', you can use `with jax.disable_jit(): ...`. That is basically a debug mode which, in addition to making `jit` a no-op, also swaps out control flow constructs with their Python equivalents (e.g. [here's what `scan` does](https://github.com/google/jax/blob/c94f41290cc5c28fba059e172279994107c3103e/jax/_src/lax/con

[2021-08-06 16:03] mattjj commented on #7529
Thanks for surfacing this! These are internal API functions, and AIUI we don't expect ever to call `xla.primitive_subcomputation` with an `xla_call` primitive.

But you make a great point, this is a problem with splatting out keyword arguments!

Unless this is blocking your work somehow, I might mark this as a low-priority bug...

cc @LenaMartens tangentially because she was looking at unrelated "

[2021-08-06 16:08] jakevdp commented on #7533
Are you seeing this only on a GPU backend?

[2021-08-06 16:14] jakevdp commented on #7533
I don't reproduce the issue on CPU; I suspect it has to do with the lowering to cusparse. We need to change the layout definition here for a transposed matrix: https://github.com/google/jax/blob/c94f41290cc5c28fba059e172279994107c3103e/jaxlib/cusparse.py#L285

But I'm not certain how to tell at this level whether the input buffer is transposed... perhaps XLA operators somehow expose their strides?

[2021-08-06 16:31] rustrust opened #7534 "Simple MNIST convnet example"
I am new to JAX. Can I trouble the JAX community to post an official MNIST convnet example? My machine isn't powerful enough to run the resnet50 example in a reasonable amount of time.

[2021-08-06 17:05] jakevdp commented on #7534
Here's one example that may be helpful: https://colab.research.google.com/github/google/flax/blob/main/examples/mnist/mnist.ipynb

It uses flax, which is one of the higher-level neural network libraries built on JAX.

[2021-08-06 17:12] dimasad commented on #7533
Yes, I'm seeing this on a GPU backend only.

[2021-08-06 17:58] stefansommer commented on #7531
Thanks for the quick response! I did a clean virtualenv and install of jaxlib when testing it. `python show jaxlib` gives `Version: 0.1.69`. Can I manually install the latest XLA:CPU to test with that?

[2021-08-06 17:58] FedericoV opened #7535 "Expose jax.core.eval_context() as part of the public API"
Currently, this works:

[code]

But this does not work unless you use jax.core.eval_context():

[code]

The API should probably be renamed to something like - fold_at_compile_time or something similar, but, it's useful functionality to end users.

[2021-08-06 18:01] mattjj commented on #7461
For any googlers reading this, the internal P1 bug is b/195462810. We'll update this thread when progress is made on the bug.

The best workaround I can think of for now is to use GPU or TPU backends.

[2021-08-06 18:40] romanngg opened #7538 "Wrong `vjp` of `ops.segment_sum` with negative entries in `segment_ids`"
Example:
https://colab.research.google.com/gist/romanngg/13156dc441aa14dd20aebb6df8a3337b/vjp_segment_sum_wrong.ipynb

Above I define two identical functions `f1` and `f2`, but `f2` has a dummy negative `segment_id`.

For both functions the output does not depend on `x[1]` (due to negative `segment_id` assigned to it in `f2`).

`jacfwd` is the same `[[1., 0.]]` (and seems correct to me) for both `

[2021-08-06 18:53] mattjj commented on #7535
Naming suggestions from @froystig:

[2021-08-06 21:21] romanodev commented on #7276
@jakevdp, great! I will resume this next week.

[2021-08-07 07:31] wangleiphy opened #7542 "`jnp.apply_along_axis` errors, but numpy works"
[code]

[2021-08-07 08:19] lennonhill commented on #7531
The example runs fine since a204f545f9efec28aa01f3c1cf089fa7d50b839c, meaning that this should be fixed with jaxlib 0.1.70.

[2021-08-07 11:50] stefansommer commented on #7531
I can confirm the issue does is gone with jaxlib 0.1.70. Thank you very much for helping out on this!

[2021-08-07 11:50] #7531 closed

[2021-08-07 14:51] jakevdp commented on #7542
Thanks for the report!

This comes from the fact that one-argument `jnp.where` has output shape that is dependent on values in the input, and therefore is not compatible with JAX transformation. A more direct way to surface this error is:
[code]
Because `apply_along_axis` is implemented via `vmap`, the function you pass to it must be compatible with JAX transforms.

You can work around this by usi

[2021-08-07 15:38] wangleiphy commented on #7542
Thanks! It is clear to me now.
It is good to know there is a `size` argument of `jnp.nonzero`!

BTW, I was doing this as a work around before knowing the `size` trick:
[code]
I guess `jnp.nonzero` will be more efficient for this purpose.

[2021-08-08 07:36] ulricharmel opened #7545 "grads works but check_grads throws Tracer Array Conversion Error"
I have some code with the following lines of code which works with grads. I want to run check_grads on it but check grads throws Tracer Array conversion error even though the variable passed is a jax array.
[code]

[2021-08-08 08:17] peterroelants opened #7546 "NoneType coming from gradient function when using transformed parameters"
I have been trying to create constrained parameters, for example a scale parameter that is strictly positive, to be used for example by a normal distribution. Inspired slightly by [`tfp.util.TransformedVariable`](https://www.tensorflow.org/probability/api_docs/python/tfp/util/TransformedVariable).

I have been trying to use `PyTrees`(https://jax.readthedocs.io/en/latest/pytrees.html#extending-pytr

[2021-08-08 18:43] pharringtonp19 commented on #673
@mattjj Does this mean we cannot `vmap` over solvers in a fixed point layer?

I have a fixed point function `fixed_point1(solver, f, params, variables)`, and I was curious about whether I could apply `vmap` over the solver?

The following example is based on the (your!) [implicit layers tutorial](https://www.youtube.com/watch?v=MX1RJELWONc&t=1515s)

[code]

How would I run something like the follo

[2021-08-09 05:07] jakevdp commented on #673
There's no way to vmap directly over an array of functions, but you can achieve roughly the same thing by vmapping over [`lax.switch`](https://jax.readthedocs.io/en/latest/_autosummary/jax.lax.switch.html). Here's a simple example:
[code]

[2021-08-09 15:53] DiffeoInvariant opened #7550 "Preserving memory between compiled function calls"
I have a JAX function whose jacobian I need to compute; it's a function from R^(m\times n) to R^(m\times n), so I'm using (JIT-compiled) `jax.jacfwd`. However, computing this jacobian requires several hundred MB of intermediate allocations, which ends up slowing down the computation noticeably. This function is called at least several hundred to several thousand times per program run with the same

[2021-08-09 16:23] mkunesch commented on #7546
Hey!

I think the problem is that when checking the datatype of the input `value_and_grad` also unflattens the PyTree with None values (returned from `_check_input_dtype_grad`) even though the output isn't used. For your custom PyTree this isn't possible.

It might not be hard to fix - I filed a small PR which should solve it - but I don't know whether jax is meant to support custom PyTrees that r

[2021-08-09 17:16] peterroelants commented on #7546
Hi @mkunesch, thank you for having a look, and for filing that PR.

It's indeed weird that `None` is returned, which implies that all PyTree leafs could be optional. Ideally, Jax should keep the implicit typing of the PyTrees leaves intact by returning an object of the same type, and not `None`.

I think another case where returning this `None` could be an issue, is when the custom PyTree objects

[2021-08-09 17:23] peterroelants commented on #7546
I just realized some unrelated potential issue with the code above. I noticed that the gradient will also be wrapped in the same object. Which means that this gradient will also undergo the transformation in `__init__` and `tree_flatten`, to wrap/unwrap it in the same object.
I think this might have some undesired effects depending on how the gradient is applied

[2021-08-09 20:50] ianwilliamson commented on #1259
+1 that support for GPU-backed `eig` would be great.

[2021-08-09 21:03] mkunesch commented on #7546
Yes, whatever logic you have in the custom node would also be applied to the grads - in general I think the PyTree should just give the structure and should work for arbitrary elements. Even if the PR is merged it would probably be better not to have the logic in a custom node.

[2021-08-09 21:56] jakevdp commented on #7533
I took a closer look at this and realized that in the transposed version, you're computing the matrix product of a (3,3) matrix and a (4, 3) matrix, which should be an error! The issue is poor input validation, which should be fixed by #7557.

The reason that there are different answers between GPU/JIT and non-jit approaches is that the two proceed based on different sets assumptions about the inp

[2021-08-09 22:21] dimasad commented on #7533
Sorry, I think I was distracted while making this minimum working example, in my application where this bug first surfaced the dimensions matched and the JIT messed up the results. I've changed the dimension of the `x` matrix in the example to a square matrix and the error persists.

In the up side, I guess this helped improve the package in other ways with the validation.

[2021-08-09 22:28] jakevdp commented on #7533
Great, thanks for checking! I'll try to get to the bottom of the new & improved repro.

[2021-08-09 23:28] jakevdp commented on #7545
Thanks for the report! It will be difficult to provide any help without seeing the code that generated this error. Can you create a minimal example that reproduces the error and paste it in this issue? Thanks!

[2021-08-09 23:30] froystig commented on #6867
Perhaps it cannot happen in your application, but it is a possibility in general, so `closure_convert` cannot assume otherwise.

Did this work out? For the record, I had in mind a definition along the following lines:

[code]

I'll close the issue since it seems that the discussion has addressed it, but please reopen if there is more to it.

[2021-08-09 23:30] #6867 closed

[2021-08-09 23:51] jakevdp commented on #7533
I think I found the issue – should be fixed by #7560

[2021-08-10 02:25] reza-amd opened #7561 "script "examples/advi.py" throws "ValueError" exception"
Run:
 ```python3 jax/examples/advi.py```
Output:
[code]

[2021-08-10 07:25] ulricharmel commented on #7545
It's is a long code but I will try and make a minimal example.

[2021-08-10 08:14] shawwn opened #7565 "Update "How JAX primitives work" for TPUs"
In [How JAX primitives work](https://jax.readthedocs.io/en/latest/notebooks/How_JAX_primitives_work.html), there exists `TODO: for GPU? and TPU?`:

[code]

What would be involved in updating this to actually work on a TPU? I'd be willing to do it if you point me in vaguely the right direction.

`lax.standard_primitive` seems to be the thing that handles it for JAX:

[code]

And then I think `inter

[2021-08-10 08:47] shawwn commented on #7565
Answering my own question, I tested it on a TPU just now. It seems to work:

[code]

Exciting. I suppose I'll submit a PR to update the notebook and see if it's accepted.

[2021-08-10 09:21] blor0 opened #7567 "bfloat16 pmap cuda11.1 results in error"
I received the following error message when using bfloat16 with pmap with jaxlib 0.1.69 + cuda111 (no issue without pmap):

RuntimeError: Unimplemented: Requested AllReduce not implemented on GPU; replica_count: 2; partition_count: 1, group_mode: kCrossReplica, operand_count: 2; NCCL support: 1; first operand array element-type: BF16

The bug(?) can be reproduced as follows (code copied from Paral

[2021-08-10 09:54] cgarciae commented on #7567
I believe `bfloat16` only works on TPUs for now.

[2021-08-10 11:32] tomhennigan commented on #7567
bf16 collectives are supported in XLA on all GPUs since tensorflow/tensorflow@43c7026.

On Ampere cards bf16 GeMM is supported since tensorflow/tensorflow@9d1970a and Conv since tensorflow/tensorflow@4731fe5.

I'd suggest installing the latest jaxlib (`0.1.70`) to pick up these XLA changes and trying again.

[2021-08-10 13:04] PhilipVinc commented on #5312
Any thought on this (or everyone's on holiday)?

[2021-08-10 14:59] manifest opened #7570 "Consider defining public API explicitly"
Mypy requires public API of a package being exported using either `__all__` or `import ... as ...` syntax.

[code]

Currently, projects that are using jax need to set`--no-implicit-reexport=False`.

There are some references on that matter.

- [PEP-0484](https://www.python.org/dev/peps/pep-0484/#stub-files)

- [MyPy docs](https://mypy.readthedocs.io/en/stable/command_line.html#cmdoption-mypy-no-im

[2021-08-10 15:06] blor0 commented on #7567
Issue remains after installing 0.1.70. As noted, bf16/cuda works fine without pmap.
Thanks again

[2021-08-10 15:15] jakevdp commented on #7570
Thanks for the report – I'm a bit confused about what mypy requires here, becasue we currently do explicitluy import `zeros` within the `__init__.py` file, which appears to be the recommendation in the docs you linked to: https://github.com/google/jax/blob/17a606a95d8f059e2a069dd1cfa8b2dfb8e93255/jax/numpy/__init__.py#L64

Do you know what we should be doing differently?

[2021-08-10 17:36] #7533 closed

[2021-08-10 17:42] jakevdp commented on #7570
Thanks - that's unfortunate that mypy requires such extensive duplication of boilerplate. The explicit imports take up 43 full lines; I don't relish the thought of writing `import xyz as xyz` several hundred times, nor is it appealing to have to keep two parallel lists of those functions in sync.

Do you know if there's any other way to appease mypy here?

[2021-08-10 17:51] manifest commented on #7570
Unfortunately, these two seem to be the only options :-/

[2021-08-10 18:46] #7561 closed

[2021-08-10 20:03] rustrust commented on #7534
OK there is a working convnet example.

For others who come across this, this example works well:
https://github.com/google/flax/tree/main/examples/mnist

Don't forget to install cuDNN!

[2021-08-10 21:19] jakevdp commented on #7546
FYI, you'll likely run into other issues using this kind of structure with JAX; for example because of your conversion to a python float, it will fail with JIT:
[code]
[code]
Even with that fixed, there are other situations (e.g. `vmap`) where the pytree will also be instantiated with null values. The best course would be to try to make your pytree implementation more flexible in what arguments it

[2021-08-10 22:04] PhilipVinc commented on #7570
I find a decorator like https://stackoverflow.com/questions/41895077/export-decorator-that-manages-all useful to cut down on the boilerplate.

Maybe a similar idea could be used here?

[2021-08-10 22:18] jakevdp commented on #7570
Good thought – although that particular solution requires that `obj.__name__` exists and matches the name of `obj` in the namespace, so it wouldn't work for all entries:
[code]

[2021-08-11 01:45] hawkinsp commented on #6713
I was about to file this bug a second time. Let me dust off the old one instead...

[2021-08-11 05:35] peterroelants commented on #7546
I see, thanks for that feedback. Similar, the gradient issue mentioned above made me realize that it would be better to return the untransformed variable while flattening, and only use the `__new__` constructor and not the `__init__` initialization when unwrapping.

For example see:
[code]

[2021-08-11 05:36] peterroelants commented on #7546
@mkunesch Thank you for the quick fix of the `None` problem. I'll be closing this issue.

[2021-08-11 05:36] #7546 closed

[2021-08-11 10:52] PhilipVinc commented on #7570
Hmm yes, that trick mainly works for functions and classes.

But since we are talking about public interface, and jax already does a very good job at having clean namespaces, why don't you just export all symbols with their current name given by `dir()`, ignoring everything with a leading underscore, as that signals it being internal?

Does the example below catch everything?

[code]

[2021-08-11 12:42] ulricharmel commented on #7545
[code]
Hi @jakevdp  above is an example reproducing the error. You are welcome to comment on my code as I am new to Jax (only one wee). Thanks

[2021-08-11 13:44] ysngshn commented on #4823
I have also tried training resnet20 for cifar10, the setting that makes the process deterministic is with `XLA_FLAGS='--xla_gpu_autotune_level=2 --xla_gpu_deterministic_reductions' TF_CUDNN_DETERMINISTIC=1`. In my case, `TF_CUDNN_DETERMINISTIC=1` is necessary. For `xla_gpu_autotune_level`, alternatively one can set it to 1 or not setting it at all and the result is still the same, but setting it t

[2021-08-11 14:31] hawkinsp commented on #6637
I'm guessing this issue is stale, since we've received PRs to fix the windows build since. Please open a new issue if you're stilll having problems!

[2021-08-11 14:31] #6637 closed

[2021-08-11 14:57] gnecula commented on #7397
Fixed by #7566

[2021-08-11 14:57] #7397 closed

[2021-08-11 15:58] romanngg opened #7586 "`jax.image.resize` failing `linear` interpolation if output shape is `0`"
[code]
Gives
[code]
Although arguably the output should just be an empty array of the same type as input (and it works with `method="nearest"`).

[2021-08-11 16:00] #6614 closed

[2021-08-11 16:17] jakevdp commented on #7545
Thanks - it looks like the issue is that somewhere in the `check_grads` machinery, numpy arrays rather than jax arrays are being passed into your function via the `params` argument. I can't say I totally understand where or why that's happening, but you can fix it by calling `jnp.asarray` on the inputs that lead to the problem. i.e. change this line:
[code]
to this:
[code]
The error comes from the

[2021-08-11 16:29] hawkinsp commented on #7538
The issue is that XLA scatter and XLA gather have slightly different semantics for out-of-bounds indices, and gather is the gradient of scatter. I filed an XLA feature request to modify the semantics of gather, but I think we can work around this in `segment_sum` for now.

[2021-08-11 18:31] jakevdp commented on #7570
How important do you think this is, given that jax currently has very few useful annotations for functions that accept and return arrays, and given the fact that it's not very clear how to effectively add such annotations? (see, e.g. the discussion at #943)

Is package-attribute-level checking worth worrying about when function-parameter-level checking has no real clear solution?

[2021-08-11 21:13] manifest commented on #7570
If we want to have support for type hints in Jax eventually, it seems that there is no way around PSF :-)
Personally, I started to use `__all__` just for that single purpose.

`Union`, as proposed in #943, or some `Generic` type seems as a valid option for Jax Arrays, but that may be fixed later.

That said, that's perfectly fine to me to mute mypy warning for Jax if that's a resolution.

[2021-08-11 21:33] #7586 closed

[2021-08-12 00:00] hawkinsp commented on #7538
#7595 fixes this, but it's going to take a while to get it checked in, because it will involve some cleaning up of other code, and not least because I'm going on vacation...

[2021-08-12 00:01] hawkinsp commented on #7538
As a workaround you could probably replace the out-of-bounds indices with the index of an dummy array element that you throw away afterwards.

[2021-08-12 00:41] #7129 closed

[2021-08-12 02:14] reza-amd opened #7598 "[ROCm] JAX-ROCm docker images"
Hi,

As part of our effort to support JAX on ROCm framework, we have published our preview release under the following DockerHub repository.
https://hub.docker.com/repository/docker/rocm/jax

We appreciate it if you help us with the following items:

- Announcing this release to the JAX community to try it and gives us feedback to improve our support
- We have asked users in the Readme to submit i

[2021-08-12 02:20] peizhaoli05 commented on #6046
I encounter the same issue. I am using CUDA 11.1 with Jax 0.2.18.

[code]

[2021-08-12 07:01] ulricharmel commented on #7545
Thanks @jakevdp. That makes it run.

[2021-08-12 10:31] tkoziara opened #7600 "Running on WSL2 with cuda-11.{3,4}"
Hi

Just installed jax cpu/gpu versions on WSL2 with python 3.8.5 using NVIDIA's WSL quadro driver and cuda-11.4 cudnn8_8.2.2.26. When running a simple code snippet from your readme (attached below), I was getting `Could not load dynamic library 'libcuda.so.1'` and after creating symbolic link from `/usr/local/cuda-11.4/targets/x86_64-linux/lib/stubs/libcuda.so` to the missing library and adding t

[2021-08-12 12:40] hawkinsp commented on #6046
@peizhaoli05 The `ptxas` found by JAX on your system (typically in your PATH or `/usr/local/cuda` is too old). Make sure an up-to-date `ptxas` appears in your path. If that doesn't solve the problem, you'll probably need to use a newer version of CUDA.

[2021-08-12 12:42] hawkinsp commented on #7600
We support CUDA 11.3 and CUDA 11.4 on Linux, so my guess is this a WSL-specific issue. We don't ourselves test this configuration, so this is something the community will need to figure out...

[2021-08-12 13:04] tkoziara commented on #7600
Thanks. I'll try compilation.

[2021-08-12 13:29] LenaMartens opened #7602 "Re-implement `named_call` to not use a `call_primitive`"
Not sure yet how this would be implemented, but we want to refactor `named_call` to be scope based/track the name_stack through some global machinery. Currently it uses a `call_primitive`, which works similarly to eg. `jit`, but with the only effect of adding a string to XLA metadata when lowered.

Advantages of this new `named_call` implementation:
  - can be used as a context-manager (ie. you do

[2021-08-12 14:26] patrick-kidger opened #7603 "`vmap` doesn't handle non-JAX-types in non-vmap'd outputs"
Not sure if this counts as a bug or a feature request.

[code]

If we're not vmap'ing the value anyway, it'd be nice if non-JAX-types can be valid outputs from vmap'd functions.

In contrast the in-axis equivalent does work:
[code]

[2021-08-12 14:44] patrick-kidger commented on #7603
FWIW there is the following workaround:

[code]

[2021-08-12 15:36] mkunesch commented on #3451
The error message now (version `0.2.18`) is:

```TypeError: sum requires ndarray or scalar arguments, got <class 'tuple'> at position 0.```

so I think this has been solved. Please reopen the issue if that's incorrect!

[2021-08-12 15:36] #3451 closed

[2021-08-12 15:56] mkunesch commented on #5226
This has been solved by #5446 (the provided code snippet now raises a `ValueError`). Please reopen if this is incorrect!

[2021-08-12 15:56] #5226 closed

[2021-08-12 16:06] mkunesch commented on #2926
Since the original issue has been addressed by #3426 and there is a warning for jit of pmap now I'll close this issue. Please feel free to reopen or file a new issue!

[2021-08-12 16:06] #2926 closed

[2021-08-12 16:39] hawkinsp commented on #1839
@juliuskunze Neat! Are you interested in perhaps sending a PR adding them to JAX, perhaps under the `jax.scipy` namespace?

[2021-08-12 16:53] jakevdp commented on #7545
Great!

[2021-08-12 16:53] #7545 closed

[2021-08-12 17:06] jakevdp commented on #7570
I just tried adding this to the bottom of the file:
[code]
and it didn't seem to fix the issue above, despite the fact that `"zeros"` appears in `__all__`. It looks like `__all__` has to be defined literally rather than programmatically.

I think this means there's no avoiding listing of every name in the `__init__` file twice: once to import into the namespace, and a second time to satisfy mypy.

[2021-08-12 17:13] brettkoonce commented on #7567
I am hitting this pmap issue as well via a different route with bf16 and an ampere card.

pip jax + jaxlib 0.1.70:

Flax modifications here:
https://github.com/brettkoonce/flax/commit/64e86cbf482e39e5a95bf9b7c00cc8770d9aadc4

Trace:
[log.txt](https://github.com/google/jax/files/6977268/log.txt)

[2021-08-12 17:18] jakevdp commented on #7603
I think this is by design: functions passed to vmap are traced, and therefore their outputs are required to be valid JAX types, which can be a normal numeric scalar or array, or a custom type that you have registered.

The `in_args` version works because the tracing in vmap is only with respect to batched arguments; note however that if you wrap the function in `JIT` (which traces with respect to

[2021-08-12 18:02] manifest commented on #7570
That seems the case. I can confirm that only explicit definition of the function names works.

[code]
[code]

I've also tried numpy. It works just fine with mypy strict mode. At least the latest version. You should consider enabling type checking for it.

[code]
[code]
[code]

[2021-08-12 18:19] manifest commented on #7570
That's quite weird, but seems to be a working solution. Just in case you decide to go this way :-)

[code]

[2021-08-12 18:31] jakevdp commented on #7570
I'm not sure that works... I believe it's importing `func` over and over, rather than the name stored within the variable `func`. Thou you may be able to import via `importlib` to do this kind of thing...

[2021-08-12 18:44] manifest commented on #7570
True. Eigher `import X as X` or `__all__` with exact strings.

Numpy seems to [import all functions](https://github.com/numpy/numpy/blob/main/numpy/core/multiarray.py#L12) of a private module and use `__all__` to define its [public API](https://github.com/numpy/numpy/blob/main/numpy/core/multiarray.py#L42).

[2021-08-12 19:09] manifest commented on #7570
Another option #7607, just to compare these two.

[2021-08-12 19:40] patrick-kidger commented on #7603
I don't see that "functions passed to vmap are traced" implies that "their outputs are required to be valid JAX types".

The `in_axes`-specified inputs are wrapped in a `BatchTrace` and each JAX operation handles them appropriately. But here, the non-JAX output does not depend on any of the JAX inputs, so it's fine.

To use your jit analogy, it depends only on `static_argnums`.

[2021-08-12 20:19] jakevdp commented on #7603
Sorry, I guess I'm not understanding your intent here: are you trying to describe how things *are*, or how they *ought to be*? I was describing the former.

[2021-08-12 20:58] patrick-kidger commented on #7603
Likewise, the former.

As far as I can see, the requirement that unbatched outputs be JAX types is not necessary from a technical standpoint. The existence of the workaround is evidence of this. As such, I think it's a bug that this exception is being thrown spuriously.

[2021-08-12 21:07] eamartin commented on #4310
Allocating either a fraction of the total memory or a fixed number of GB would be very useful.
I found this issue through a similar experience to @gehring .

I have a GPU with 32GB of memory, and I hoped to run 3 processes each with ~10GB of memory.
When I run all of them with XLA_PYTHON_CLIENT_MEM_FRACTION=0.3, I can see that each process allocates 30% of the remaining memory:
[code]

[2021-08-12 21:10] jakevdp commented on #7603
Thanks, that makes sense! In that case, I disagree with your point about non-jax types and static argnums within JIT. JIT functions require outputs to be valid jax types, regardless of whether they are derived from static or traced inputs. As a trivial example:
[code]
Since `vmap` uses some of the same tracing mechanisms, it likewise requires JAX-compatible outputs.

As to whether this could be ch

[2021-08-12 21:29] patrick-kidger commented on #7603
Hmm fair point about JIT not currently supporting this either. I think the same argument -- that this isn't necessary from a technical standpoint -- actually applies to JIT as well. Indeed the `RefHolder` workaround works there too.

Anyway, fair enough if this would be complicated to handle. I'll stick to using `RefHolder` as a workaround.

[2021-08-12 21:38] proutrc commented on #2012
When attempting to build JAX on our AMD based system, with `gfx908`, I noticed this at the top of the bazel build output:

[code]

Does this mean `gfx908` is not a currently supported target, only the ones on the list?

[2021-08-12 21:57] inailuig commented on #2012
@proutrc Try building with `--rocm_amdgpu_targets gfx908`, my impression is that it should be supported by now, although I have no way of verifying this.

Maybe ask @deven-amd and @reza-amd who should know more.

The list is just what I put in at the time, however it should probably be updated to resemble what the folks at amd are officially supporting now.

[2021-08-12 22:04] froystig commented on #7175
As @tomhennigan put it in https://github.com/google/jax/pull/7575#issuecomment-896556986:

There are loss definitions available in optax, jaxopt, RLAX, and other tested and maintained libraries, all of which are compatible with JAX's autodiff transformations.

I'll close this issue since it is out of jax's scope for the time being. We can still continue the discussion, of course.

[2021-08-12 22:04] #7175 closed

[2021-08-13 03:07] A-Alaa opened #7613 "`jax.nn.sigmoid` raises `Exception: Leaked trace` errors"
I got some luck to find that `jax.nn.sigmoid` was causing a very vague error for the last two days. The following code may reproduce this problem:

[code]

And I get the following raised exception: `Exception: Leaked sublevel 1.`, **only when the loss function is jitted**.
The logged traceback doesn't point to the sigmoid line at all (attached output: [jax-error.txt](https://github.com/google/jax/

[2021-08-13 03:44] mattjj commented on #7613
Thanks so much for reporting this, and for the repro!

Wow, that's a bad internal error. cc @LenaMartens in case it's Haiku-related. I'd love to try to make a repro without Haiku involved, to see if it's possible, since that would narrow things down a lot...

[2021-08-13 03:53] mattjj commented on #7603
Thanks for raising this, and for the discussion!

The main reason we want transformed functions (like vmapped or jitted functions) to have outputs which are pytrees of jax types is that otherwise an object is opaque, and it could be a container smuggling a Tracer. That kind of smuggling leads to really bad errors.

For folks who know what they're doing and really want to work around the issue, pyt

[2021-08-13 03:53] #7603 closed

[2021-08-13 03:55] mattjj commented on #7534
In general, [the higher-level library repos](https://github.com/google/jax#neural-network-libraries) are indeed the best place to find these examples.

[2021-08-13 03:55] #7534 closed

[2021-08-13 03:55] A-Alaa commented on #7613
The same error happens without haiku.

[code]

[2021-08-13 03:56] mattjj commented on #7602
I'm going to self-assign this because it touches a lot of internals, though I may try to work with someone on it...

[2021-08-13 04:05] mattjj commented on #7550
Thanks for the question!

Do you mean that you want to save the time spent allocating/deallocating memory via system calls, i.e. _not_ the time spent on compute and reading/writing to that allocated memory? (If so, I'm surprised that would take a lot of time!)

Is it feasible to write the loop not as Python loop but as a `jax.lax.fori_loop`? The body of your loop would have to satisfy some require

[2021-08-13 04:10] mattjj commented on #7613
@A-Alaa Hrm, that repro script in your latest message doesn't crash for me (against the current JAX main 74f96f123), at least on the CPU backend (and this error doesn't seem like it would be backend-dependent...).

[2021-08-13 04:12] mattjj commented on #7613
Actually, the original doesn't repro either. Could this be fixed at HEAD?

[2021-08-13 04:13] mattjj commented on #7613
Ah, I confirmed that it doesn't work against jax==0.2.18 (the current pypi version), but it does work against HEAD.

The solution is to cut a new pypi release of jax!

[2021-08-13 04:16] A-Alaa commented on #7613
The error also occurs at G Collaboratory environment:
https://colab.research.google.com/drive/1AlSWZzRO8RqGz7WkSFXoQrm6SikjjcwL?usp=sharing

[2021-08-13 04:29] mattjj commented on #7598
Thanks so much for this amazing work, and for bringing it to our attention!

I'll announce this to Google-internal users. We don't have a clear communication line to external folks... got any suggestions for what we should do on this front? We could mention it in the README.

@yashk2810 could you weigh in on this? (Note there's also #7323 as pointed out in the OP.)

(Assigning to Yash for now, to

[2021-08-13 04:31] A-Alaa commented on #7613
- Did it pass the unit tests at the corresponding versions?
- Also, the error messages were not as helpful as they were in older versions, it could have saved a lot of time :(

Many thanks for this awesome library, it naturally helps write very clean code. I am very grateful for the team contributions in this library and their contributions in the literature of AD and Neural ODEs.

By the way, I w

[2021-08-13 04:33] mattjj commented on #7542
Thanks for raising this! I'm going to close it because I _think_ it's solved, but please reopen if I'm mistaken.

[2021-08-13 04:33] #7542 closed

[2021-08-13 04:39] mattjj commented on #7613
Great question. I don't know the history, so I can't say for sure, but I don't know of any failures. I should add a test case for this before closing the issue.

I don't think the error messages have changed. This code should run without error! Instead, this is just a really bad internal error message, and some bug must have been temporarily introduced to trigger it. (I'm not sure what the bug was

[2021-08-13 04:42] mattjj commented on #7613
Just pushed [jax==0.2.19 to pypi](https://pypi.org/project/jax/0.2.19/)! Can you confirm the bug no longer reproduces against that version?

[2021-08-13 04:46] mattjj commented on #7613
I think the reason it seems like the error got worse is that the error must've been happening in the backward pass of AD, so the `sigmoid` function from the forward pass was already out of the picture, leading to this traceback from your text file (where jax-internal frames are hidden in ipython):

[code]

[2021-08-13 05:01] A-Alaa commented on #7613
Solved now!
Thanks a lot

Even after first-time compilation, when branches consists of complicated functions like `odeint`, the `lax.cond` executes all branches in then select the results from the two branches based on the condition value. I will post a new request after closing this issue.

[2021-08-13 05:16] mattjj commented on #7613
A bisection suggests that 21907346370320209a26fbf7a4f619bb62978352 fixed this bug (thanks, @LenaMartens!), and fd7b286ec9e8c89488494506a3591e6698f8fa05 introduced it or at least exposed it (curse you, @mattjj!), or at least was the first commit where the above jax-only repro started failing. (According to my process, it seems that jax==v0.2.12 also had an error, though maybe a different one, and I

[2021-08-13 05:29] yashk2810 commented on #7323
I am working on exporting BUILD files so that we can use `bazel test` externally too. I can't give you an exact date as to when it will happen, because we are going through an infrastructure revamp but it is on the roadmap and it should happen soon. I am actively working on it :)

[2021-08-13 05:32] yashk2810 commented on #7598
I replied on this issue about OSSing BUILD files for testing.

Once BUILD files are opensourced, I can look into running `bazel tests` using internal infra. I can't guarantee a timeline but when BUILD files are opensourced for testing that should atleast give you a way to test using bazel.

How does that sound?

[2021-08-13 05:35] yashk2810 commented on #7598
This is interesting. Maybe I can hook something for this when I work on the release process for JAX. But if you have a way to do this, you can try that out!

[2021-08-13 06:03] mattjj commented on #7613
I think the last thing to do is to update colab. We'll get that done asap. In the meantime, I'm going to close this one.

Thanks again for reporting it!

[2021-08-13 06:03] #7613 closed

[2021-08-13 06:19] A-Alaa opened #7616 "`odeint` causes `Exception: Leaked` errors"
With the new version of jax `0.2.19` the following error is raised when `odeint` is used: `Exception: Leaked....`

To reproduce:

[code]

The code and the output error can be found in the following G colaboratory: https://colab.research.google.com/drive/11-1C9fUjSOzR2Ece1-_YNqeGVLSECU3U?usp=sharing

[2021-08-13 06:34] mattjj commented on #7616
cc @LenaMartens for leak-checker-related stuff.

That's... a weird error message!

[2021-08-13 08:24] gnecula commented on #7439
The issue comes from the fact that with ` jaxlib 0.1.68` the host_callback module on CPU uses a different implementation mechanism than on GPU and TPU: instead of outfeed it uses by default an XLA CustomCall. This will eventually be rolled out to GPU also, but not TPU. (You can force the use of outfeed even on CPU with `JAX_HOST_CALLBACK_OUTFEED=True`)

The proper solution is to get the XLA Custom

[2021-08-13 08:38] patrick-kidger commented on #7603
That makes a lot of sense. Thanks for the response!

[2021-08-13 10:24] LenaMartens commented on #7616
whoops, I added _all_ the leaked tracers to this error message, which seems to be overkill when there's many! I'll send a PR.

Your reproducer also fails before`0.2.19`, with `Exception: Leaked sublevel 1.`.  It's because of the leak checker, which is enabled through `jax.config.update('jax_check_tracer_leaks', True)`. If you set that flag to `False` your code runs without issue. I think there is

[2021-08-13 12:39] juliuskunze commented on #1839
@hawkinsp https://github.com/google/jax/pull/7617

[2021-08-13 13:02] pharringtonp19 commented on #6483
unable to run this code on colab tpu: get the following error: `RuntimeError: Unimplemented: Only 1 computation per replica supported, 8 requested.`

[2021-08-13 13:16] proutrc commented on #2012
Thanks, my core issues seems to be revolving around this error:

`ERROR: /gpfs/alpine/stf007/scratch/rprout/jax-spck/jax/jaxlib/BUILD:308:17: in cc_binary rule //jaxlib:rocblas_kernels.so: target '@org_tensorflow//tensorflow/compiler/xla/service:custom_call_status' is not visible from target '//jaxlib:rocblas_kernels.so'. Check the visibility declaration of the former target if you think the depen

[2021-08-13 13:57] danielsnider commented on #5159
+1 I'm looking for the `memory_ratio` code from this [timestamp](https://youtu.be/MX1RJELWONc?t=1503) in the video.

![image](https://user-images.githubusercontent.com/1737560/129367546-8e91b820-7e32-4f2a-b33f-5abb81bdaf26.png)

I cannot find this in the [NeurIPS colabs](https://implicit-layers-tutorial.org/).

[2021-08-13 14:35] reza-amd commented on #2012
The BUILD failure issue you see is due to the  #7480 that I will fix soon (+ the fix for ```rocm_amdgpu_targets```).
Meanwhile, you can checkout the parent of this commit, ```git checkout 6249d664``` to have a successful build.

[2021-08-13 15:27] gnecula commented on #7439
It seems that doing this depends on rolling out a [new feature for CustomCall](https://github.com/tensorflow/tensorflow/blob/ea0b101ff548d4c59bc83acc5adf4bff91a33184/tensorflow/compiler/xla/service/hlo.proto#L60-L63), to enable it to return a status.

[2021-08-13 16:13] harwiltz opened #7621 "Memory leak when computing the hessian of a jitted function"
Please:

- [x] Check for duplicate issues.
- [x] Provide a complete example of how to reproduce the bug, wrapped in triple backticks like this:

[code]
Also, note that the equivalent code with `jax.grad` (or `jax.jacfwd` for multidimensional functions) replacing `jax.hessian` *does not* cause a memory leak.

As a result of this leak, my python process ends up getting killed by my OS (due to OOM),

[2021-08-13 16:26] ysngshn opened #7622 "Trying to get a PRNGKey on cpu results in strange gpu memory allocation"
I am trying to get a `jax.random.PRNGKey` on cpu to manage the source of randomness for some host function. If I understand correctly, one should do something like:
[code]
This indeed returns a key on cpu, and subsequent operations like `jax.random.normal` also stays on cpu, so far so good!

However, I just realized that when executing the line `key = jax.jit(jax.random.PRNGKey, backend='cpu')(0)`

[2021-08-13 16:41] mattjj commented on #7622
Hrm, I don't know why this would happen, though I would guess it's an effect of backend-initialization. That is, when you run the first JAX operation (_not_ when JAX is imported), all available backends are initialized. That means that if you haven't already initialized the backends, the first operation on CPU will cause the GPU backend (if available) to be initialized.

Is this 140MB allocation a

[2021-08-13 16:48] mattjj commented on #7621
Thanks for the question!

At first I thought could be an artifact of [asynchronous dispatch](https://jax.readthedocs.io/en/latest/async_dispatch.html). (The `jit` dispatch path is different from the non-`jit` dispatch path, so that may play a role in why `f` and `jf` behave differently.)

But I ran this version, which forces synchronizations, and it seems like memory is still growing without bound

[2021-08-13 16:48] ysngshn commented on #7622
Thanks for the quick reply! This is mainly out of curiosity. Backend initialization indeed seems a plausible explanation. Ideally I guess one wouldn't expect gpu backend be initialized when working only on the cpu backend. Also, the default 90% allocation is not triggered, wouldn't this potentially generate some issues?

[2021-08-13 16:55] mattjj commented on #7622
We might be able to make this initialization lazier... @skye do you know if there are any reasons not to do that?

Maybe, but I don't know of any it's caused yet! Any guesses?

[2021-08-13 17:04] LenaMartens commented on #7616
So I can reproduce this with just `odeint(lambda x, _: x, jnp.zeros((1,)), jnp.array([0.0]))` and `jax_check_tracer_leaks=True`, but only in a Colab and non-deterministically (which is scary).  When I extract it into a test I can't seem to reproduce the error.

In the past we've had issues with Colab keeping references to out-of-scope variables, I wonder if something similar is going on here...I t

[2021-08-13 17:06] DiffeoInvariant commented on #7550
Hi Matt, thanks for the response! I am indeed talking about saving the time spent in system calls, e.g. by using a pool allocator that doesn't free its allocated memory between jitted function calls -- it's hard to tell exactly how much time the system calls account for, but given how much the function allocates and how often it is called, it is likely a nontrivial amount of the total runtime of m

[2021-08-13 17:14] ysngshn commented on #7622
I do remember having to disable gpu preallocation to avoid some cuda oom error, which is also mentioned in the JAX documentation, but that was for some other code (which also uses jax.random for some dataloader function on cpu) which might be totally unrelated.

Anyway I feel like this is something interesting to point out. Thanks a lot for the quick replies!

[2021-08-13 17:23] harwiltz commented on #7621
@mattjj Nice catch, I wasn't aware of the `JAX_LOG_COMPILES` variable. I wonder if declaring the function `h = hessian(jf)` outside the loop and calling `h(x)` within the loop would still cause the issue. I'll give it a try (though admittedly I don't know much about how `jit` works, so this may not make sense ;) )

[2021-08-13 17:36] tataudat opened #7623 "Jaxlib build failed: Check the visibility declaration of the former target if you think the dependency is legitimate"
When I tried to run `python build/build.py --enable_cuda` to build jaxlib from source, this error occur:

[code]

All the dependencies are satisfied. Output from `nvidia-smi`:

[code]

[2021-08-13 18:02] mattjj commented on #7623
@yashk2810 , can you take a look? Seems like a visibility error...

[2021-08-13 18:08] yashk2810 commented on #7623
Yeah, we just need to update the commit status here: https://github.com/google/jax/blob/main/WORKSPACE#L11

I can send a PR shortly.

[2021-08-13 18:13] yashk2810 commented on #7623
https://github.com/google/jax/pull/7624 should fix

[2021-08-13 18:27] skye commented on #7622
I'm guessing you somehow have GPU preallocation disabled. You can check by setting the env var `TF_CPP_MIN_LOG_LEVEL=0`, which turns on extra JAX logging (and TensorFlow logging, we use the same logging library). After running an operation with jax, it should print:
[code]
if preallocation is disabled, or:
[code]
if preallocation is enabled.

That said, I'm not sure what the 140MB allocation is ab

[2021-08-13 18:53] proutrc commented on #2012
@reza-amd this worked - thank you

[2021-08-13 19:48] mattjj commented on #7621
This _should_ be getting cache hits, so it's definitely a bug. The situation should be basically the same as for `grad`, so there's some difference between `grad` and `hessian` which we need to pin down...

[2021-08-13 20:12] #7623 closed

[2021-08-13 20:12] mattjj commented on #7613
We're in the process of updating Colab, but it'll take a few days because it's blocked on something else.

[2021-08-13 20:39] ysngshn commented on #7622
I tried the same code in a python interpreter launched with `TF_CPP_MIN_LOG_LEVEL=0 python`, I am getting a line saying
[code]
while `nvidia-smi` tells me that only 140 MB is allocated.

[2021-08-13 20:40] mattjj commented on #7621
I see the issue. It's a problem with `vmap`. It's a bit hard to unpack in full detail, so for now I'm just going to leave some notes for myself and other jax devs: in [this cache key](https://github.com/google/jax/blob/a3387aeb0c26e8334d874160a00db7d5e174264b/jax/linear_util.py#L255), on each invocation we're getting different values because `key[0][7][1][0].payload` is a different [temporary axis

[2021-08-13 21:10] skye commented on #7622
That's very strange. Can you provide the full jax + nvidia-smi output?

[2021-08-13 21:10] mattjj commented on #7621
More notes to self:

We added temporary axis names in #917 for soft_pmap (now replaced by xmap). But the issue here is about vmap using temporary axis names.

The reason we needed them for soft_pmap/xmap is that those implementations split axes, and so they need to generate new names which could be used in collectives (and hence have to be distinguished from one another, etc).

But here with vmap,

[2021-08-13 21:33] mattjj commented on #7621
Adam and I added this TempAxisName stuff to vmap in #4005. I wonder if that was just a bug...

[2021-08-13 23:49] harwiltz commented on #7621
@mattjj cool stuff. Thanks! When my schedule frees up I'm going to learn more about the inner workings of jax, hopefully I can be of more help next time.

[2021-08-14 03:30] mattjj commented on #7621
[Autodidax](https://jax.readthedocs.io/en/latest/autodidax.html) is a good resource for that! Though because it doesn't (yet) have named axes and collectives, it doesn't have anything related to this particular issue.

[2021-08-14 12:54] ysngshn commented on #7622
I have put the jax + nvidia-smi output in this [gist](https://gist.github.com/ysngshn/d868e512139bc163d358905745f34564)

[2021-08-14 13:06] dataplayer12 opened #7629 "Enable exporting jax graphs to onnx format"
I would like to be able to export jax graphs to onnx format for inference. Please note that for many practitioners a new framework is no go unless the results of training can be exported in a standard format for fine tuning/inference. Would the developers be open to this idea? I could also contribute if someone can guide me on where to get started.

[2021-08-14 18:06] joshwolff1 commented on #7444
Hello - I am trying to do this again and running into the same issue. Currently ssh'ed into VM with TPU v3-8

[2021-08-14 18:07] tomhennigan commented on #7629
This is possible by first converting JAX->TF and then converting to ONNX. Here is an example: https://colab.research.google.com/gist/tomhennigan/8075058b6e36e2573610dcff6efaa14d/example-of-jax-tf-onnx.ipynb

Depending on your setup, you may want to export from TF differently (e.g. convert model parameters to tf.Variables such that they are stored in the "external tensor storage" dict).  This shoul

[2021-08-14 18:14] tomhennigan commented on #7622
FWIW I've spotted the same thing recently, still not sure what is allocating but I don't think this allocation is coming via the CUDA runtime or driver APIs (i've tried hooking those and printing when allocations happen).

For a minimal repro:

[code]

I suspect so...

[2021-08-14 18:16] joshwolff1 commented on #7444
I followed this verbatim and it doesn't work - same error as above

Thank you for your help so far

https://cloud.google.com/tpu/docs/jax-quickstart-tpu-vm

[2021-08-14 18:24] joshwolff1 commented on #7444
Here is a video of me going through the setup exactly, just so u can see what I mean

https://youtu.be/xsmelxcByII

[2021-08-14 18:40] joshwolff1 commented on #7444
Note: I got the same error with

gcloud compute tpus execution-groups create --name=aix-test-jax **--zone=us-central1-f** --tf-version=2.4.1 --machine-type=n1-standard-1 **--accelerator-type=v2-8**

The changes are in bold -- I wanted to test v2-8 versus v3-8 --- no difference

[2021-08-14 19:03] joshwolff1 commented on #7444
I followed the link you added above and ran the below commands. Received same error

[code]

[2021-08-15 00:14] patrick-kidger commented on #7621
I just wanted to check if I may have hit another instance of this bug, or if I've hit something else altogether.

This seems to manifest as a three-way interaction between `jit`, `vmap` and `jvp`, and moreover (probably a separate bug) exhibits different behaviour depending on whether you use `def` or a `lambda` (!)

[code]

The error goes away if any of:
- The `jvp` is removed and `g` called dire

[2021-08-15 02:22] sunilkpai commented on #6544
Hi @jakevdp what's the roadmap for sparse-sparse multiplication? I've seen one such implementation using autograd primitives in [ceviche](https://github.com/fancompute/ceviche/blob/master/ceviche/primitives.py) designed by a friend of mine, but was wondering if this might be available here in jax's experimental module at some point?

[2021-08-15 05:38] dataplayer12 commented on #7629
Thanks for the prompt response. This solves the issue for now. If I face problems in exporting more complex graphs than the examples provide, I might reopen the issue.

[2021-08-15 05:38] #7629 closed

[2021-08-15 14:24] jakevdp commented on #6544
Work on sparse-sparse matmul is in progress in #7180

[2021-08-15 15:24] #7621 closed

[2021-08-15 17:25] mattjj commented on #7621
I think it's an instance of the same bug. Running your code against current HEAD, I only see 'called' printed once.

[2021-08-16 04:49] reza-amd commented on #2012
Fix for ROCm build issue was submitted in PR #7633.

We have also released a docker container (currently in preview stage) for ROCm build in [here](https://hub.docker.com/repository/docker/rocm/jax). The nightly builds containers will also be added soon.

[2021-08-16 15:19] egorssed commented on #5501
Hey, I acted as **dcxSt** advised. I had the same problem as **gerdm**. I managed to install everything without errors using the following sequence of actions.
Installed Xcode like [here](https://github.com/google/jax/issues/5501#issuecomment-847237225) installed homebrew and Bazel like [here](https://newbedev.com/error-cannot-install-in-homebrew-on-arm-processor-in-intel-default-prefix-usr-local)

[2021-08-16 15:29] egorssed commented on #5501
Hey, I acted as **dcxSt** advised. I had the same problem as **gerdm**. I managed to install everything without errors using the following sequence of actions.
Installed Xcode like [here](https://github.com/google/jax/issues/5501#issuecomment-847237225) installed homebrew and Bazel like [here](https://newbedev.com/error-cannot-install-in-homebrew-on-arm-processor-in-intel-default-prefix-usr-local)

[2021-08-16 16:07] HHalva opened #7634 "logsumexp: "invalid value (nan) encountered in convert_element_type""
I get this following error in logsumexp:
[code]
Unfortunately, I have not been able to reproduce this in any reasonably sized version -- I only seem to encounter it within a much larger jitted and scanned code that I am not able to share at the moment due to anonymity requirements (earlier version of the code currently under review).  I tried to figure out what's going on by debugging the logsumex

[2021-08-16 16:32] jakevdp commented on #7634
Thanks for the report. One point of clarification: is this with `jax_debug_nans` enabled?

[2021-08-16 16:41] HHalva commented on #7634
It is indeed.

[2021-08-16 17:20] HHalva commented on #7634
(the issue happened originally without jax_debug_nans). However, I just updated JAX&JAXlib in hopes that might help but am now instead getting

So seems like there is maybe something else going on as well -- will try to fix that first and then see if this issue still persists.

[2021-08-16 17:49] mattjj commented on #7550
Ah, I am more familiar with Nintendo's SNES.

Thanks for explaining! Correct me if I'm wrong, but it sounds like the fundamental issue here is that we want to speed up this JAX code as much as possible, which could include (1) speeding up the compiled HLO representing a single execution as well as (2) speeding up its repeated execution.

If that indeed is the fundamental issue, I think we have to

[2021-08-16 20:12] HHalva commented on #7634
So what seems to have happened:  1. there was a NaN coming from somewhere 2. I turned on jax_debug_nans in attempt to find out where it's coming from 3. This pointed to the logsumexp function 4. As per your comments, I turned off jax_debug_nans and debugged manually (by first disabling jit) 5. I found out the NaN was coming from matrix inversion -- completely different place than where jax_debug_n

[2021-08-16 20:16] sudhakarsingh27 opened #7635 "RET_CHECK failure hlo->has_sharding() Side-effect HLO must have sharding"
I'm experimenting with scaling language models (on GPUs) written in JAX using `pjit` and model parallel layer implementation. For this purpose, I created a transformer-proxy model (attached file) which is a heavily cut down version of this [complete transformer](https://github.com/kingoflolz/mesh-transformer-jax) with its basic building blocks ([TransformerLayerShardV2](https://github.com/kingoflo

[2021-08-16 20:23] jakevdp commented on #7634
Ah, thanks for the update. Sorry for the suboptimal behavior in `debug_nans`. It sounds like an issue we should investigate – is it possible to reproduce the issue compactly?

[2021-08-16 20:36] jasonkyuyim commented on #5723
Setting the XLA flag works for me as well. But it comes with the warning

`The CUDA linking API did not work. Please use XLA_FLAGS=--xla_gpu_force_compilation_parallelism=1 to bypass it, but expect to get longer compilation time due to the lack of multi-threading.`

This sounds undesireable to not be multithreading. Can we get a more permanent solution?

[2021-08-16 23:13] lgeiger opened #7637 "Support integer convolution on GPU"
For research on quantized neural networks and for some performance critical situations it would be excellent if JAX would support fast integer convolutions on GPU to bring the GPU backend inline with CPU and TPU.

This is a follow-up on https://github.com/tensorflow/tensorflow/issues/49140, but I am posting it here as well since to me it seems like the missing pieces lie in the interface between X

[2021-08-16 23:38] lgeiger commented on #5850
Looks like this issue can be closed since all function have been implemented 🚀
`np.s_` was the last remaining function which was added in #7114.

[2021-08-16 23:46] jakevdp commented on #5850
Thanks!

[2021-08-16 23:46] #5850 closed

[2021-08-17 00:14] skye commented on #7444
You need to use the `glcoud alpha` commands as detailed in the quickstart. That's the only way to create TPU VMs, otherwise you're creating the original TPU Nodes (see https://cloud.google.com/tpu/docs/system-architecture-tpu-vm#tpu_nodes).

[2021-08-17 08:06] Flamefire opened #7639 "bazel shutdown call ignores arguments"
The line at https://github.com/google/jax/blob/4e6aef581b90db1c1ab292a1e7f17eb97e2377ab/build/build.py#L518 should be changed to `shell([bazel_path] + args.bazel_startup_options + ["shutdown"])` so that options like `--output_user_root` are honored.

[2021-08-17 09:00] FlorianH-1QBit opened #7640 "Performance issue on GPU: dot product of two complex128 vectors"
Good morning, and thanks for your awesome work on JAX!

I've run into a performance issue using GPU, when contracting two complex128 vectors. It's almost 1000x slower than contracting two float64 vectors of the same size.

Here is benchmarking code, adapted from https://github.com/google/jax/issues/3068 (I don't think this issue here is the same as the one reported there):

[code]

Here is the res

[2021-08-17 09:02] HHalva commented on #7634
I created a much simplified version of my code that captures similar behaviour. If I run this as it is, it points to the error being in logsumexp but if I comment out with` jax.disable_jit():` then it appropriately shows the error being in Cholesky. Now I suppose the issue then is the interplay between debug_nans=True and disable_jit(), and a much simpler example would have sufficed -- should I no

[2021-08-17 09:05] HHalva commented on #7634
Also, if instead of  `jax.disable_jit()` I comment out the jit decorator of the `run` function, as a way to disable jit, then behaviour is as expected.

[2021-08-17 11:21] cloudhan opened #7641 "Latest Refactor to use `absl::StatusOr` breaks Windows build."
Using absl in cuda cpp is causing new type of compiling error.

[code]

See the logs for more details:
[log1.txt](https://github.com/google/jax/files/6999476/log1.txt)
[log2.txt](https://github.com/google/jax/files/6999477/log2.txt)

Ultimately, it is similar to https://github.com/tensorflow/tensorflow/commit/36314ba572f743e6bda359c345977583a9b46be8

[2021-08-17 11:22] cloudhan commented on #7641
[Related actions](https://github.com/cloudhan/jax-windows-builder/actions/runs/1135880864)

[2021-08-17 11:29] cloudhan commented on #7641
@zhangqiaorjc Could you please take a look.

[2021-08-17 13:21] rjagerman opened #7643 "ValueError when calling `jax.nn.softmax`, `jax.nn.log_softmax` and `jax.nn.logsumexp` with a zero-size array"
Calling `jax.nn.softmax`, `jax.nn.log_softmax` or `jax.nn.logsumexp` with a zero-size array raises a ValueError. Instead, I would have expected `softmax` and `log_softmax` to return a zero-size array, and, `logsumexp` to return `-inf`. A naive (but not numerically stable) implementation of these methods can handle this case correctly:

[code]

The other functions in `jax.nn` seem to work fine with

[2021-08-17 15:36] PhilipVinc commented on #7634
Are you using complex numbers by any chance? I have somewhat recently made a PR (#6855) to support complex numbers in `logsumexp`. The code path used for `complex64/128` is different by the one used for the other dtypes.

[2021-08-17 16:06] jakevdp commented on #7643
Thanks for the report! For `logsumexp`, I believe this is intended behavior of the implementation, which is defined within `jax.scipy.special` and by design matches the behavior of `scipy.special`:
[code]
Now it may be that we want different behavior for `jax.nn.logsumexp` – but one might also argue that an error in this case is a useful signal to a user that something unexpected is going on. What

[2021-08-17 16:37] jakevdp commented on #7634
Thanks for the repro: I think the issue is that `tree_stuff(eta_pi, eta_A)` is dead code (it returns a value that is unused within the function). One optimization done by `jit` is removal of dead code.

So, without `jit` it executes and gives an error. With `jit`, the dead code is removed and a different error comes from the next line, `Q = invmp(V, jnp.eye(V.shape[0]))`

This appears to all be wo

[2021-08-17 16:41] terhorst opened #7645 "jax.scipy.stats.beta.pdf handles x=0, x=1 incorrectly"
[code]

Same issue and resolution as #7256 basically--use xlogy/xlog1py here:
https://github.com/google/jax/blob/f6f1debf700b55ad8c0ecc1daa0ed1f677c2bf00/jax/_src/scipy/stats/beta.py#L30-L31

[2021-08-17 16:45] jakevdp commented on #7645
Thanks for the report!

[2021-08-17 17:17] yashk2810 commented on #7639
Sounds good to me. Can you include an output showing if this works?

Also, if you want, you can send a PR :)

[2021-08-17 17:44] #7645 closed

[2021-08-17 17:54] Flamefire commented on #7639
Using it already with success: https://github.com/easybuilders/easybuild-easyconfigs/pull/13758/files#diff-bc1d17061c7afd8013084f11171332424020c3af87c19be5ba4bee3a909cd475

I have a read-only .bazel folder in my HOME to avoid bazel writing stuff there which is how I noticed

[2021-08-17 17:58] terhorst commented on #7645
Thanks for the quick fix

[2021-08-17 18:13] rjagerman commented on #7643
That is a good point and the current behavior of JAX may not be entirely wrong. Thinking about it, these operations do not really have well defined behavior for a zero-size array. Even if we define summation over an empty array to be zero, we would end up with log(0) for `logsumexp` and division by zero for `softmax`/`log_softmax`, both of which are undefined.

This is a rather fringe edge case, s

[2021-08-17 18:36] HHalva commented on #7634
No complex numbers.

Hmm interesting. This does sounds like it makes sense here, but in my original code the output of `tree_stuff` is definitely used within `run`.

[2021-08-17 18:41] jakevdp commented on #7634
Thanks - trying to simplify things a bit I do find something strange:
[code]
When the function is run without jit, it succeeds. When it is jitted and jit is disabled, it fails. I'm not sure what is going on with that.

[2021-08-17 18:46] HHalva commented on #7634
Yes I only saw issues whenever I had `with jax.disable_jit():`. Disabling all jit decorators manually didnt produce any issues.

[2021-08-17 18:55] HHalva commented on #7634
(though when I run your simplified code I don't see any errors, perhaps because the matrix V is not inverted anywhere)

[2021-08-17 19:30] jakevdp commented on #7634
That's my point: the error does not seem related to a matrix inversion.

[2021-08-17 19:36] HHalva commented on #7634
Apologies, I had not activated my proper jax conda env so it was running it with much older 0.1.55 . Switching to CPU JAX 0.2.19 error precisely as you describe

[2021-08-17 19:52] jakevdp commented on #7634
Here's an even more stripped-down version of the error, showing that `debug_nans` triggers with only if `scan` is run under `disable_jit`:

[code]

[2021-08-17 19:57] jakevdp commented on #7634
This seems to be a consequence of the alternate implementation of `scan` under `disable_jit`: https://github.com/google/jax/blob/476642578be3092db77adf0bdeca5cd4867f12e1/jax/_src/lax/control_flow.py#L1252-L1263

[2021-08-17 20:03] HHalva commented on #7634
Why would it be that changing the "official" logsumexp code from
`sign = jnp.where(jnp.isnan(out), np.nan, 1.0).astype(out.dtype)
`
to something else  like
`sign = jnp.where(jnp.isnan(out), 0., 1.0).astype(out.dtype)`
doesnt cause error in your new simplified example. Is there some problem with using ´np.nan¨ from original numy?

[2021-08-17 20:30] jakevdp commented on #7634
Fix is in #7648

[2021-08-17 20:34] HHalva commented on #7634
Awesome that makes sense -- thanks very much!

[2021-08-17 20:35] #7634 closed

[2021-08-17 21:30] brettkoonce commented on #7567
jax 0.2.19 + building jaxlib from latest master works, for what it's worth!

[2021-08-17 21:33] jakevdp commented on #7567
Looks like this is already addressed in the latest jaxlib release, so I'm going to close the issue. Thanks for the report!

[2021-08-17 21:33] #7567 closed

[2021-08-18 01:32] cheshire opened #7654 "JAX should not create duplicate HLO computations for reductions"
@hawkinsp when generating HLO with many reductions, JAX duplicates reduction computations. Despite that not affecting codegen much, the resulting HLO dumps get overly huge and hard to work with due to such computations. Similarly to tf2xla it would be very difficult if JAX could deduplicate such computations.
![unnamed](https://user-images.githubusercontent.com/348959/129822274-a74cb97d-474f-41d4-

[2021-08-18 03:46] JorgenPhi opened #7655 "SEGFAULT when using debugpy and celery"
Please:

- [X] Check for duplicate issues.
- [X] Provide a complete example of how to reproduce the bug, wrapped in triple backticks like this:

[code]

Calling `run_optimizer_2.delay()` or `run_optimizer_2()` from the debug console will cause the segfault.

- [X] If applicable, include full error messages/tracebacks.
[code]

Not sure what's up here. Potentially not an issue with JAX, but it works

[2021-08-18 07:30] mreineck commented on #7490
That's correct, but if we are talking about the FFT component only, I think I could make that available under BSD terms. Please let me know if you'd be interested in that.

(The directly FFT-related files in ducc0 still have the BSD licensing header, as far as I remember, but some of the support header files don't, so they'd need to be adjusted.)

[2021-08-18 07:35] mreineck commented on #7490
Just to clarify earlier parts of the discussion: the C version of pocketfft is the older one which should not be used anymore, unless the available environment is C only. The C++ version of pocketfft has better performance and many more capabilities and has the nice property of coming as a single header.
If you have access to C++17, I recommend the FFT component of ducc0, which is the evolution of

[2021-08-18 09:33] niklasschmitz opened #7657 "`from_dlpack` on transposed torch arrays gives wrong indexing"
When using the jax.dlpack interface with strided&transposed arrays I'm getting wrong values when indexing, whereas printing gives the correct array structure.

I think this is similar to #4196 and as explained by @zhangqiaorjc  https://github.com/google/jax/issues/4196#issuecomment-689680107, but here no explicit error is thrown. Also doing a deepcopy with `jax2torch(a.clone())` or `jax2torch(copy

[2021-08-18 14:06] PhilipVinc commented on #5312
Bump @jekbradbury what do you think about this proposal?

[2021-08-18 16:14] jakevdp commented on #7657
Thanks for the clear report – it looks like strides information is somehow being ignored by XLA. I'll raise the issue with the XLA folks.

[2021-08-18 18:24] IlyaOrson commented on #7600
I just did a fresh cuda/cudnn working installation in wsl with the same versions and jax worked out of the box.

[code]

[2021-08-18 18:50] pharringtonp19 commented on #7199
@froystig Would breaking a `vmap`  into a `sequential_vmap` alleviate memory usage?

[2021-08-18 19:50] jakevdp commented on #7640
Thanks for the report!

I looked into it, and it looks like this issue has just recently been fixed in XLA:GPU; see https://github.com/tensorflow/tensorflow/commit/bad34ad29f8b5e04c1feca4777a504c280a651d2

This change should make it into the next jaxlib release, at which point this slowdown should be rectified.

[2021-08-18 19:51] #7640 closed

[2021-08-18 20:30] milind-soni commented on #2991
can you guide me how to go about it please.

[2021-08-18 20:43] milind-soni commented on #2079
can you please tell me how to get started with implementing this. I am a beginner to open source.

[2021-08-18 21:02] froystig commented on #7199
The original request is about modifying the behavior of a function under `vmap`. If you're asking about replacing the use of `vmap` entirely with a sequential map, then yes: we have `lax.map` and using it might require less memory relatively. Did I read your question correctly?

[2021-08-18 21:10] n-gao commented on #4873
Setting `NVIDIA_TF32_OVERRIDE=1` does not fix the issue for me. Ther performance is identical with or without. Is there any update on this issue?

[2021-08-18 21:14] jakevdp commented on #2079
Hi - thanks for the interest! Are you asking how to get started with open source github contributions in general, or how to get started with JAX in particular?

[2021-08-18 21:26] zhangqiaorjc commented on #7657
If you are ok with doing a copy to host then the following is a workaround

[code]

Note that this would copy to host and then copy to device. But it should handle the cases where `a` comes from a torch pipeline with slicing/transpositions which can produce strides that XLA minor_to_major doesn't handle

[2021-08-18 21:31] zhangqiaorjc commented on #7641
I want to check with @hawkinsp (when he's back from vacation) on what's our policy for absl dependencies.

I wonder if there's a Windows-toolchain-compatible and open sourced Status that we can use instead of absl::Status. It might be xla::Status?

[2021-08-18 21:46] milind-soni commented on #2079
Thanks for the quick reply. I want to get started with implementing the partition and argpartition functions.

[2021-08-18 22:01] bloops opened #7665 "xmap doesn't support unary einsums"
Using einsum within an xmap with a single operand gives errors.

[code]

[2021-08-18 22:21] jakevdp commented on #2079
OK - as mentioned above, I don't know if there's really any good way to do that at the moment. XLA has no partial sorts, so the only option would be to implement e.g. a partial [quicksort](https://en.wikipedia.org/wiki/Quicksort) from scratch using [control flow operators](https://jax.readthedocs.io/en/latest/jax.lax.html#control-flow-operators). A similar approach for implementing binary search w

[2021-08-18 22:26] milind-soni commented on #2079
Got it. would love to have a shot at some other beginner issue. Can you suggest something?

[2021-08-18 23:49] cloudhan commented on #7641
I double checked it, seems only statusor.h will introduce varient.h, so the fix will be pretty easy

[2021-08-19 00:00] proutrc commented on #2012
@reza-amd

I have ran into further issues while testing this build, unfortunately. It does build successfully, but I am experiencing a runtime error that seems to revolve around JIT compilation on the target backend. I am curious if you all have seen this before? It may be worth comparing your AMD test environment to our HPC environment.

I can see the GPU from JAX, as shown below, but trying to r

[2021-08-19 00:15] reza-amd commented on #2012
@proutrc
I just checked this with our released docker container, and your code snippet is working fine there.
I will work on this issue and provide the fix soon, but I highly recommend to use our released docker container for now.
You can pull it by:
[code]

[2021-08-19 02:11] cloudhan commented on #7641
OK, it is not that easy to rule out `statusor.h`

[2021-08-19 08:11] khdlr opened #7667 "logsumexp oddity with inf's in input and negative `b`"
[Upon trying to build a softmin operator](https://github.com/khdlr/softdtw_jax/blob/main/softdtw_jax/softdtw_jax.py#L87-L88), I've come across odd behaviour in the `jax.nn.logsumexp`. According to the documentation, the following two ways of calling `logsumexp` should be equivalent:

[code]

It seems that [in the implementation](https://github.com/google/jax/blob/88902d16360f2cada61293f6842d417c28

[2021-08-19 08:13] khdlr commented on #7667
No wait, I read the docs wrong. It clearly says that b is the "Scaling factor for **exp(a)**"... Never mind this issue!

[2021-08-19 08:13] #7667 closed

[2021-08-19 08:55] cloudhan commented on #7641
@zhangqiaorjc Is it possible to use [xla's StatusOr](https://github.com/tensorflow/tensorflow/blob/0af45c032607555bfaa60f68f8661db578cab155/tensorflow/compiler/xla/statusor.h)?

It is used in [non_max_suppression_op.cu.cc](https://github.com/tensorflow/tensorflow/blob/0af45c032607555bfaa60f68f8661db578cab155/tensorflow/core/kernels/image/non_max_suppression_op.cu.cc)

[2021-08-19 09:18] niklasschmitz commented on #7657
Thanks for the quick response! The proposed workaround works for me.

Another option I found to work in my example is to do a .contiguous() copy on the torch side to avoid the host-roundtrip
[code]

[2021-08-19 11:20] pharringtonp19 commented on #7199
@froystig Apologies, I see that this was not the right place to ask that question -- You did answer my question, though, so thanks

[2021-08-19 18:48] reza-amd commented on #7598
@mattjj , Thanks so much for your attention on this matter.

Mentioning this in README would be great.

@yashk2810

How does that sound?

Thanks so much for your help. It sounds good. Meanwhile we still use the approach mentioned  in the [documentation](https://jax.readthedocs.io/en/latest/developer.html#running-the-tests).

[2021-08-19 19:03] jekbradbury commented on #5312
It sounds like there's consensus from researchers on a subset of initializers, and I think we'd be happy to include those.

[2021-08-20 04:52] #5081 closed

[2021-08-20 05:09] froystig opened #7676 "implement a wider PRNG"
Consider the 4x32 variant of threefry as well as philox on GPU.

Follows discussion in #5081.

[2021-08-20 05:10] froystig commented on #5081
#6899 allows for custom PRNG implementation. Filed #7676 to follow up and use this to add a wide PRNG.

[2021-08-20 06:01] gnecula opened #7677 "[jax2tf] Converted functions should respect jax.jit, and force TF jit"
Currently `jax2tf.convert` simply inlines `jax.jit` scopes in the JAX code to be converted, and expects the user to explicitly use `tf.function(jit_compile=True)` on the converted code if they want TF jit compilation. If the user does not add explicitly TF jit compilation, this can result in situations where the converted functions run much slower than the original functions.

E.g.,:

[code]

The

[2021-08-20 08:45] n-gao commented on #4873
According to the official [documentation](https://docs.nvidia.com/cuda/cutensor/user_guide.html), `NVIDIA_TF_OVERRIDE=0` can only disable tensor cores, it cannot enable them.

[2021-08-20 10:10] gnecula commented on #3271
Fixed by #4226

[2021-08-20 10:10] #3271 closed

[2021-08-20 10:13] gnecula commented on #4942
This has been fixed already

[2021-08-20 10:13] #4942 closed

[2021-08-20 10:13] gnecula commented on #2474
We have since greatly improved the type annotations and we are comfortable with mypy in GH and pytype internally.

[2021-08-20 10:13] #2474 closed

[2021-08-20 16:42] rahulpower2012 commented on #5985
which version of cudnn did you use?

[2021-08-20 16:51] henrysky commented on #5985
I forget but currently  jaxlib 0.1.70 compile successfully on Win10 py39 msvc2019 CUDA11.4, CuDNN 8.2.2

I think as long as a CuDNN version that is compatible with cuda11.2 will work for that wheel.

[2021-08-20 18:52] jakevdp commented on #2079
It looks like the number of [good first issue](https://github.com/google/jax/labels/good%20first%20issue) issues has dwindled recently... there may be a few routines in #70 that would be a good. `np.insert` could be an interesting one, also `np.polyfit` and `np.polydiv`

[2021-08-20 19:12] jakevdp commented on #70
I updated the list to only include remaining functions that would be good candidates for implementation in JAX.

[2021-08-20 21:44] terhorst commented on #2947
Has anything happened elsewhere in jax in the past ~15 months that would provide a better solution? I ran into exactly this problem when porting over `scipy.special.expi` and `scipy.special.expn`. For positive `x`, these functions are computed using series approximations and/or continued fractions that terminate according to a convergence criterion. They are extended to negative `x` via the identi

[2021-08-21 00:34] froystig commented on #7199
No problem. Glad that helped!

[2021-08-21 00:50] soraros commented on #2947
As a workaround, you could do this:

[code]

I guess it's what @jekbradbury meant by adding the mask inside the condition of the while loop.

[2021-08-21 06:54] rahulpower2012 commented on #5985
Thank you @erwincoumans. I will try it.

[2021-08-21 17:53] rahulpower2012 commented on #5985
This workaround worked for me. It failed twice while compiling but surely was not giving the same TPU error. Compiled successfully in the third attempt. I compiled jaxlib 0.1.69 on python 3.8. CUDA version 11.0 and cuDNN version 8.1.1 with compute capability 6.1. Thanks @skye

[2021-08-21 18:09] rahulpower2012 commented on #5985
Here is the release https://github.com/rahulpower2012/jax/releases/tag/jaxlib-v0.1.69-windows

[2021-08-21 18:19] pharringtonp19 opened #7691 "Small Update to Parallel Evaluation in Jax"
The notebook on [Parallel Evauation in Jax](https://jax.readthedocs.io/en/latest/jax-101/06-parallelism.html) states "that unlike vmap, only the leading axis (0) is supported by pmap at the time of writing this guide."

However, it seems that `pmap` now supports more than just the leading axis.

[code]

Output:

[code]

[2021-08-21 20:14] #7691 closed

[2021-08-22 01:55] shoyer commented on #7199
More general "custom batching" could be interesting for use-cases like `host_callback.call`, where some external library that may support its own parallelism strategies. E.g., I think this could be useful for @ianwilliamson's MEEP wrapper: https://github.com/NanoComp/meep/pull/1569

This could definitely be a good place to start, even if only as the first step towards the general solution.

[2021-08-22 17:24] terhorst opened #7693 "jnp.piecewise compiles on every call in some cases"
Arose when submitting PR #7692.

[code]

Checking the logs, I see:

[code]
Every call to `f1` causes a compilation, whereas the equivalent `f2` does not.

[2021-08-22 18:12] terhorst commented on #7693
Marking `f1` with `@jit`makes the problem go away. So is this a bug? Unsure.

[2021-08-22 18:34] zhangqiaorjc commented on #7657
`x.contiguous()` does a d2d copy, and avoids the host roundtrip. It does sound like a better solution here. Thanks!

[2021-08-22 18:36] zhangqiaorjc commented on #7641
@yashk2810 is working with another coworker on replacing absl::Status in this file

[2021-08-22 18:45] soraros commented on #7693
I think the problem is more why even jitted `g` got traced twice when `jnp.piecewise` is present.

[2021-08-22 20:40] froystig commented on #7199
I tend to agree, like having written `linear_call` as a first step towards custom transposition. Perhaps worth trying to see what it surfaces.

[2021-08-22 21:11] tkoziara commented on #7600
@IlyaOrson Was it on a laptop with quadro card?

[2021-08-22 22:10] yashk2810 commented on #7641
We just rolled out a fix here: https://github.com/google/jax/pull/7674. Can you try again from HEAD?

I don't think the error should happen again.

No, the binary size increases by >100 MB when we pull in TF's deps for this.

The recent refactor of moving absl out of .cu.cc files should work for every compiler. Its working or gcc now so msvc should also work I hope.

[2021-08-23 02:42] cloudhan commented on #5743
this can be closed by [this change](https://github.com/google/jax/commit/2d321c26e6d96c6b4e77ada096a07c209c98fcd4#diff-4a0bef7f4b92e71c6bfdea2a3cc9aeb7335a73541de5c14fbef1a5d6004e852e)

[2021-08-23 03:52] IlyaOrson commented on #7600
Ah no, it was on a gtx with the geforce driver.

[2021-08-23 11:12] cloudhan commented on #7641
Fixed in latest, can be verified with [this github actions](https://github.com/cloudhan/jax-windows-builder/actions/runs/1157155121)

[2021-08-23 11:13] #7641 closed

[2021-08-23 15:31] AnkitSiva commented on #7449
@zhangqiaorjc could you add the `performance` tag to this issue? Thanks!

[2021-08-23 16:11] soerenab commented on #5501
Hey @egorssed, I ran into the same error as you. In contrast to you, I had actually initially not paid enough attention to how to install Xcode, Homebrew and Bazel. Once I followed those steps closely, the installation of jax worked out successfully. In particular, I believe that I had previously used a version of Bazel that was not meant for ARM64 / M1 architecture.

I also wrote down all steps i

[2021-08-23 16:20] jakevdp commented on #7693
Thanks for the report! The reason for the re-compilation when `piecewise` is not jitted is from these lines: https://github.com/google/jax/blob/d349086ca5c676f5bcbb26b07b2c8e5946598431/jax/_src/numpy/lax_numpy.py#L5807-L5808

Each function passed to `piecewise` is wrapped before passing it to `lax.switch` in order to pass args and kwargs.

I think the easiest fix for this would probably be to JIT-

[2021-08-23 16:30] alexmathfb commented on #1635
Do you plan to support batches as done in ```torch.matrix_exp```?

https://pytorch.org/docs/stable/generated/torch.matrix_exp.html

[2021-08-23 17:16] jakevdp commented on #1635
Batching is supported through the [vmap](https://jax.readthedocs.io/en/latest/jax.html#vectorization-vmap) transform; for example:
[code]

[2021-08-23 17:59] jakevdp commented on #7693
Hmm, turns out it's not so simple as that, because `funclist` can contain a mix of static and non-static arguments (either functions or possibly-traced constants). Still doable, but not as easy as adding `@jit`

[2021-08-23 19:16] jakevdp commented on #7693
I think the root cause of this is from the `switch` statement: each time `switch` encounters a function it re-traces it:
[code]
I'm not sure whether this is intended or not.

[2021-08-23 19:24] soraros commented on #7693
If you change `f` to
[code]
subsequent calls don't retrace anything.

[2021-08-23 19:49] soraros commented on #7693
I may be oversimplifying the situation, but finding a workaround seems rather easy. Changing
[code]
to
[code]
works, with the added benefit/(unexpected behaviour?) that even not jitted function don't get trace twice. Consider

[code]

[2021-08-23 21:39] #6445 closed

[2021-08-23 21:54] skye commented on #7654
@hawkinsp (when you're back) can you reassign this or mark P2 as necessary? I'm not sure what the context on this is. Thanks.

[2021-08-24 03:00] reza-amd opened #7700 "testSphHarmOrderZeroDegreeOne() in lax_scipy_test.py is not working for GPU runtime."
The following script replicate [this](https://github.com/google/jax/blob/6158ddccd6ddf7c60dbb1e304497542518cb817b/tests/lax_scipy_test.py#L411) unit test in JAX.

[code]
Running this code in a Colab with GPU runtime will not satisfy the unit-test condition (specified in the last line). CPU runtime is fine.

CPU runtime in Colab:
[code]
GPU runtime in Colab:
[code]

[code]

[2021-08-24 10:59] hriebl opened #7701 "Jitted log(0.**0.) returns nan"
The jitted expression `log(0.**0.)` returns `nan`. The same happens if the exponent is an integer, that is for `log(0.**0)`, but not if both the base and the exponent are integers, that is for `log(0**0)`.

I imagine this behavior is caused by JIT rearranging `log(0.**0.)` to `0. * log(0.) = 0. * (-inf) = nan`, but it feels inconsistent to me, because `0.**0.` is defined as `1.` in JAX NumPy. Also

[2021-08-24 11:44] alexmathfb commented on #1635
Thanks, I should've just read the documentation, sorry for the stupid question.

[2021-08-24 13:25] wookayin opened #7702 "Please allow @jax.jit on staticmethods"
The following code does not work,

[code]

with an error `TypeError: Expected a callable value, got <staticmethod object at 0x7fe007e767f0>`. This is because a `staticmethod` is NOT a callable, [until Python 3.10](https://bugs.python.org/issue43682).

In #1251 one possible workaround is suggested:

[code]

which is a bit ugly. I don't see any reason staticmethod cannot be jit-ed as other non-metho

[2021-08-24 14:01] jakevdp commented on #7702
Thanks for the report! That's really interesting – I wasn't aware that `staticmethod` objects are not `callable`. I can't think of any reason why we shouldn't be able to extend [`_check_callable`](https://github.com/google/jax/blob/1e3c4833c97302caf6046ff99656b8ff21430b8d/jax/_src/api.py#L157-L161) to recognize static methods: would you like to put together a pull request?

For the time being, a w

[2021-08-24 14:17] mhauru commented on #2490
This is now implemented in `jax.experimental`: https://github.com/google/jax/blob/main/jax/experimental/compilation_cache/compilation_cache.py
(I had nothing to do with the implementation.)

Not sure if the docs have this yet, but all you need to do is import it and call `compilation_cache.initialize_cache(path-to-where-you-want-to-keep-the-cache)`.

[2021-08-24 14:28] egorssed commented on #5501
@soerenab, many thanks to you!
Painstakingly overcoming an urge to break my head against the wall I finally succeeded in installing Jax!

However, I still had to made some corrections to your installation algorithm.

3.Install homebrew
I had some "Fetch error" with the command
`arch -x86_64 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"`
I remembe

[2021-08-24 14:57] mattjj opened #7703 "make pmap error with unhashable values as static_broadcasted_argnums"
Thanks to @andsteing for noticing this.

[code]

[2021-08-24 16:18] dionhaefner commented on #2490
This looks awesome, but unfortunately it only works on TPU so far:

https://github.com/google/jax/commit/8190286b5368edc17553dba3f7fbd5f2a7496134#diff-121975a1a88d61a259f8423655e23a1b389eb18c399b267395d2aba5a196bae9R70-R71

[2021-08-24 17:18] wookayin commented on #7702
Thank you for your message.

Actually I found [some relevant test cases](https://github.com/google/jax/blob/jax-v0.2.19/tests/api_test.py#L322-L340) that are checking if classmethod (staticmethod) is not supported, which are introduced in bdd65453. /cc @jblespiau (an author of those tests); Any particular reasons we had this before?

[2021-08-24 17:23] yashk2810 commented on #7700
Can you paste the logs just so that everyone who sees this doesn't have to run the script.

Form what I know, this doesn't work with cuda 10.2 but works with cuda 11.1+

[2021-08-24 17:35] jakevdp commented on #7702
Interesting - I don't see any discussion of this in the associated PR (#4169)

[2021-08-24 17:40] jakevdp commented on #7700
CC/ @tlu7

[2021-08-24 18:24] zhangqiaorjc commented on #7655
@JorgenPhi Could you minimize the repro to not use Celery and only use jax?

[2021-08-24 18:50] jblespiau commented on #7702
I cannot remember, but I think this was always the case, and that, while doing the C++ codepath for jax.jit, I added these tests to document this (so there was no discussion in the PR, because there was no change of behavior).

Generally speaking, JAX is following a functional paradigm and decorating static (or non-static) methods is somehow breaking this, as the usual practice is to jax.jit plain

[2021-08-24 19:42] zhangqiaorjc commented on #7701
yes, `jit` runs `f` through XLA, which seems to does exactly that optimization but op-by-op mode of `f` doesn't do that, and thus the apparent inconsistency

[code]

[code]

[code]

[2021-08-24 20:17] tvogels opened #7707 "Standalone pytrees"
I think pytrees are among the neatest parts of jax's API, and they are useful in many non-jax projects, too. While you can already use `jax.tree_utils` for structures of, for example, pytorch tensors, it would be nicer to avoid jax as a dependency in a pytorch project. I think it would be great if pytrees were a separate project/module form jax.

Part of the motivation for this request is that I s

[2021-08-24 20:23] cgarciae commented on #7707
Checkout [dm-tree](https://pypi.org/project/dm-tree) from Deep Mind.

[2021-08-24 20:36] jakevdp commented on #7643
I think we've concluded things are OK as they are - feel free to reopen the issue if you have more thoughts about this!

[2021-08-24 20:36] #7643 closed

[2021-08-24 20:38] tvogels commented on #7707
Ah, thanks for the pointer! That sounds like what I was looking for.

[2021-08-24 20:38] #7707 closed

[2021-08-24 20:39] PhilipVinc commented on #7707
Still, it would be amazing if the community collaborated and both pytorch AND jax used the same tree package.
Then downstream packages could define only once packing/unpacking routines for pytrees and get compatibility with both packages...

[2021-08-24 20:45] tvogels commented on #7707
@PhilipVinc, I agree, even if this initially requires (trivially) wrapping the common tree package for compatibility.

[2021-08-24 20:55] dieterichlawson opened #7708 "Split keys over named batch axis"
A pattern that I find myself using often in jax is defining a `loss`, and then defining an outer `average_loss` that `vmap`s the inner `loss` function and then averages, i.e.
[code]
I can use `fold_in` and a named axis to make this cleaner:
[code]
But these two approaches don't give the exact same results. It would be nice to have an 'official' way to split keys over batch axes.

[2021-08-24 21:39] froystig commented on #7708
Even if we don't dictate an official recipe, we should see if we can make these behave equivalently.

[2021-08-24 21:53] froystig opened #7709 "hoist named axis key-folding logic from threefry's random_bits implementation"
The threefry2x32 PRNG's `random_bits` implementation handles named shapes by folding axis indices into the key. With #6899 in place, we should attempt to hoist this logic out of threefry and apply it uniformly across key implementations. In turn, hopefully RNG implementations need not be concerned about named shapes, only positional ones.

Related:
* #7676, which should benefit by not needing to w

[2021-08-25 06:41] Corentin-pro opened #7712 "Jaxlib : Compiling/Building from source failed (Linux, cuda enabled)"
Trying to build `jaxlib` from source as stated in [the documentation](https://jax.readthedocs.io/en/latest/developer.html#building-jaxlib-from-source) fails.

## Commit used

The `jax-v0.2.19` fails because of wrong repository/hash (see [other issue](https://github.com/google/jax/issues/7623)), this is fixed in `main`

Both `main` or `jaxlib-v0.1.70` have been tested with same output, here 'main'

[2021-08-25 07:43] chaoming0625 opened #7713 "Iter DeviceArray changes its type"
Please:

- [x] Check for duplicate issues.
- [x] Provide a complete example of how to reproduce the bug, wrapped in triple backticks like this:

[code]

The indexing of the DeviceArray is right:

[code]

However, ``iter`` this DeviceArray get ``numpy.ndarray``:

[code]

[2021-08-25 07:44] chaoming0625 commented on #7713
My JAX version is: '0.2.17'

[2021-08-25 07:54] mattjj opened #7714 "histogram2d error when specifying `range`"
[code]

Suggested fix from the user: [this line](https://github.com/google/jax/blob/7a40aa0114e46a7a8975e04b175dfbc7b0b388ef/jax/_src/numpy/lax_numpy.py#L1054) should probably have `range[i]`. (That seems to fix it, but I didn't try writing tests!)

@jakevdp could you take a look?

[2021-08-25 08:41] tetterl commented on #476
@skye @hawkinsp any update on the comment from @nrontsis ? Is https://github.com/google/jax/pull/7207 actually part of the solution or will this only support TPUs?

[2021-08-25 12:37] jakevdp commented on #7713
Thanks for the report! This is a long-standing known issue (see e.g. #1583) and there is a potential fix in #3821. The fix stalled I think because returning DeviceArrays here has tricky performance implications. @mattjj may be able to comment more.

[2021-08-25 16:03] #7271 closed

[2021-08-25 16:38] skye commented on #476
Yes, my summer intern implemented a persistent on-disk cache for jit'd functions! (Including pmap, xmap, and pjit as well.) Unfortunately this is TPU-only for now, because XLA only implements de/serialization methods for TPU executables. @nrontsis notes that the HLO module of an executable can be serialized, but the cache serializes the compiled executable itself, so that no compilation is require

[2021-08-26 20:34] froystig opened #7733 "ahead-of-time lowering and compilation"
Following the experiment in #6034, plus other thoughts and motivation accrued since, we should support a notion of lowering and compilation "ahead of time," i.e. upon explicit request. Some things to note:

* Lowering means producing XLA HLO. Compiling means running it through the XLA compiler
* Compiling produces optimized HLO and renders a computation ready for execution.
* Lowering and compilat

[2021-08-27 00:09] jakevdp opened #7737 "Regularize jax.numpy API"
I've been picking away at this for the past year or so (since  #3038), but I wanted to track it a bit more formally here.

We want the jax.numpy API to have two properties:

- static arguments should generally be checked with `core.concrete_or_error()`. This helps localize concretization errors and provides a more uniform user experience.

- dynamic arguments should generally be validated with `_c

[2021-08-27 01:27] seanmor5 opened #7740 "Outfeed with tuple shape on CPU never finishes"
Hello,

I am almost positive this is a bug with XLA's CPU Xfeed Manager. Here is a repro from `infeed_test.py` changed to outfeed a tuple:

[code]

This will run forever on CPU. I have not tested on GPU or TPU yet. I believe the problem is the fact that the CPU Xfeed Manager calls `WaitForNotification` here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/xla/service/cpu/c

[2021-08-27 16:05] n-gao opened #7743 "Multiple issues with running code on multiple A100s"
There seem to be multiple issues with running code on multiple A100 cards (via `pmap`). Running the same code on a single GPU is fine. I can't reproduce all of it but I will attach one scenario.

I have no idea what could cause these issues as they are very specific. Here is an example:
[code]
It compiles quite long and then prints:
[code]
Altering the code above slightly may resolve the issue I h

[2021-08-27 19:34] Ebanflo42 opened #7745 "Installation instructions not working for CUDA 11.4"
This is with python 3.9.6 and pip 21.2.4.

On the README it says

[code]

Easy enough. Then:

[code]

This ran into an error because of the jaxlib dependency:

[code]

I tried `pip install jaxlib` and then tried re-installing with the same command. That did not work, so I uninstalled jaxlib and then ran `pip install jaxlib==0.1.67`, but trying to installing jax itself still yields the above error

[2021-08-28 01:11] cgarciae opened #7748 "Spec undefined behaviour: cloning semantics for jit-related functions"
Hey JAX team!

@shoyer was kind enough to point out that I am depending on undefined behaviour on this [twitter thread](https://twitter.com/cgarciae88/status/1431402237020999686) when updating incoming Pytrees in place. Example:

[code]
The following is happening:
1. `optimizer` is a Pytree so it passes through `jit`.
2. `update` is mutating optimizer in place
3. The previous currently works becau

[2021-08-28 01:18] cgarciae commented on #7748
BTW: a discussion around this would immensely help to stir Treex's API as state management is a core issue.

https://github.com/cgarciae/treex

[2021-08-28 04:38] norabelrose commented on #5501
I've successfuly installed the build of `jaxlib` from @dfm, but I can't get `jax` itself to build correctly on my M1 MacBook Air. After following @soerenab's and @egorssed's instructions I end up with the following sequence of errors:
[code]
These are pretty cryptic errors to me, does anyone have any idea what might be going on?

[2021-08-28 11:47] Ebanflo42 commented on #7745
Thanks for pointing out that issue.

I'm currently trying to get this to work on a cluster running Debian 10 buster. I will try to figure out where the outdated package is.

[2021-08-28 12:04] Ebanflo42 commented on #7745
Alright, first I found that jax had actually been installed in my home directory without conda and with python 2, so I removed that because I have no need for it. Then I ran `rm -r ~/.cache/pip`. Now `pip install --upgrade "jax[cuda111]" -f https://storage.googleapis.com/jax-release.html` doesn't try to use the cached version, however:

[code]

It looks like the installation command is actually in

[2021-08-28 12:17] jakevdp commented on #7745
Hm, that's a bit strange, but I suspect it has to do with pip's new(ish) dependency resolver trying to satisfy version requirements for other packages you have installed. Can you try pinning the JAX version? i.e.
[code]

[2021-08-28 12:27] #7153 closed

[2021-08-28 14:06] Ebanflo42 commented on #7745
Great! The install works now and the GPU is utilized. Thanks for the help!

[2021-08-28 14:06] #7745 closed

[2021-08-28 14:25] jakevdp commented on #7745
Great, glad it's working! Sorry I didn't notice that URL typo earlier.

[2021-08-29 00:14] zhangqiaorjc commented on #7655
Without a minimal repro, it's hard to make progress here. Closing for now. Please reopen if this is a persistent issue and you believe JAX has a bug.

[2021-08-29 00:14] #7655 closed

[2021-08-29 11:55] avani17101 commented on #70
np.poly, np.polyfit and np.poly1d have transitioned as mentioned in https://numpy.org/doc/stable/reference/routines.polynomials.html.
Shall we transition it as well?

[2021-08-29 18:24] tomhennigan opened #7752 "Dot of dn=((0,),(0,)) for a=[100, 100] b=[100, 1] crashes on GPU with latest JAX release"
Trivial dot crashes on GPU with latest JAX release (reported at deepmind/dm-haiku#204).

Changing the last dim of `b` to anything other than `1` seems to fix things.

[code]

Full reproducer at https://colab.research.google.com/gist/tomhennigan/ae29278953f4637b085765f5aeabe5f8/copy-of-dm-haiku.ipynb

I tested in Colab with the latest JAX/jaxlib installed using:

[code]

Tested on a T4 GPU:

[code]

[2021-08-29 19:06] mgostIH commented on #3047
The issue remains, polyval is either extremely slow or just fails to even run when compiled with JIT and dealing with large polynomials evaluated on a lot of points. Is the fix at #3076 not good to get merged or is this just forgotten?

[2021-08-29 23:01] jekbradbury commented on #3047
The fix was blocked on an issue with unrolling that should be moot now (since scan supports unrolling natively).

[2021-08-29 23:06] jakevdp commented on #70
I'm not sure whether we'd want to try to replicate numpy's polynomial interface in JAX. The nice thing about `np.poly*` is that they basically just operate on arrays, which fits JAX's model more readily that manipulation of custom polynomial objects.

[2021-08-29 23:50] jekbradbury commented on #7635
This sounds similar to a bug that was reported and fixed internally a few weeks ago. Can you make sure this repros on the latest versions of JAX and jaxlib? Happy to look into it further if so, and sorry for the wait!

[2021-08-29 23:53] jekbradbury commented on #7637
All situations where JAX code causes an XLA crash are bugs (in either JAX or XLA). I'm not actually sure whether the issue here is that XLA doesn't support something or that JAX doesn't forbid it at the Python level (where we aim to identify and error on "this pattern is unimplemented" situations). Maybe @cheshire has more context?

[2021-08-29 23:55] jekbradbury commented on #7654
I believe the issue is that the XLA builder API duplicates subcomputations even if JAX makes an effort to share them. But once it stops doing that JAX should probably try to share subcomputations as much as possible.

[2021-08-29 23:57] jekbradbury commented on #7693
cc @froystig for what seems like potentially missed caching in `lax.switch`

[2021-08-30 00:11] jekbradbury commented on #7740
That sounds plausible! I'm tentatively assigning someone from the runtime side to take a look.

[2021-08-30 00:19] manuel-delverme commented on #7510
[code]

[2021-08-30 00:22] jekbradbury commented on #7743
In your first issue, where it prints "Failed to find best GEMM algorithm", does it still run okay? (Or is it very slow or something?)

In your second, I don't really have much to add—maybe try using Nsight to get more info on what the GPU is doing, and/or the JAX profiler to get more info on what JAX and its runtime are doing? See https://jax.readthedocs.io/en/latest/profiling.html.

[2021-08-30 00:25] manuel-delverme commented on #7510
Internally logsumexp does:
[code]

Which is where the nan comes from.

[2021-08-30 00:30] manuel-delverme commented on #7510
Screenshot of jax trying to be helpful
![image](https://user-images.githubusercontent.com/1309922/131270617-12fd6d37-3879-40ac-b357-9e18f48d50a3.png)

[2021-08-30 00:47] jakevdp commented on #7510
Can you check whether #7648 fixes the issue you're seeing? It's not yet made it into a release, so you'd have to install from the main branch.

[2021-08-30 01:13] jekbradbury commented on #7748
I think this specific code is okay. In general performing in-place updates of Python objects is fine as long as you:
- _always_ pass such objects as explicit arguments and return values of every function that you wrap with a JAX transformation like `jit`, `vmap`, `scan`,`named_call`, etc. Failing to do this violates the "contract" of JAX transformations (they need the functions they transform to b

[2021-08-30 01:13] #7748 closed

[2021-08-30 01:52] manuel-delverme commented on #7510
![werks](https://user-images.githubusercontent.com/1309922/131274593-518fd380-6515-47e2-bf19-e2614d887f87.jpg)

[2021-08-30 01:52] #7510 closed

[2021-08-30 07:54] n-gao commented on #7743
The code runs fine, though, it's also a very small code snippet without lots of computing. Compilation takes very long. This isn't the only case where it occurs but it was the easiest one to extract and isolate.

[2021-08-30 14:53] hawkinsp commented on #7655
I'm not familiar with celery, but if I had to guess: is it possible `celery` uses `fork()` under the hood? That won't work. `fork` is incompatible with multithreaded programs, and `jax` is multithreaded internally.

[2021-08-30 15:53] kuzlovsky commented on #6921
Hello Skye,

I get a similar error when running this code: [nf-tutorial-jax](https://github.com/ericjang/nf-jax/blob/master/nf-tutorial-jax.ipynb)

If I make the model tiny by changing the code to "Dense(16), Relu, Dense(16)" then the error disappears.

Attaching the package versions I am using in requirements.txt, CUDA Version 10.1.243

Converting the notebook to python and running it gives an er

[2021-08-30 16:29] tomhennigan commented on #6921
Perhaps google/jax#7752 is related?

[2021-08-30 16:34] jakevdp opened #7759 "Add documentation regarding in-place updates within transformations"
See https://github.com/google/jax/discussions/7753#discussioncomment-1251593

[2021-08-30 17:03] shoyer commented on #7737
Another example of this would be being strict about requiring tuples (rather than lists) for all static arguments like `axes`. This came up for `jax.numpy.fft` in https://github.com/google/jax/pull/7758

[2021-08-30 17:29] seanmor5 commented on #7740
Strangely enough, I just re-ran the Colab Notebook from scratch and it worked - not really sure what changed...

[2021-08-30 17:39] rghelichi opened #7760 "Jax does not find GPU while Tensorflow can!"
Please:

- [ x] Check for duplicate issues.
- [ x] Provide a complete example of how to reproduce the bug, wrapped in triple backticks like this:
I am installing the jax using the following command:
'pip install --upgrade "jax[cuda111]" jaxlib==0.1.67 -f https://storage.googleapis.com/jax-releases/jax_releases.html'
it gives me the following error:
jax depends on jaxlib@ https://storage.googleapis

[2021-08-30 17:50] jakevdp commented on #7760
Hi - Using `jax[cuda111]` specifies a CUDA version of jaxlib for each JAX release, which is different than 0.1.67. Those two constraints cannot be mutually satisfied, so pip keeps downloading older versions of JAX trying to find satisfyable constraints until it hits the bug in version 0.2.15 mentioned here: #7083.

To fix the issue, I would suggest specifying your jaxlib GPU wheel directly; i.e.
[

[2021-08-30 18:14] rghelichi commented on #7760
Thanks for the quick response:
I ran the command you recommended it gave me the following error:
[code]
It can't find the jaxlib version with cuda111

[2021-08-30 18:24] jakevdp commented on #7760
What operating system are you on? JAX only provides GPU-compatible wheels for `manylinux` systems. The list of jaxlib/python/cuda versions available can be seen at https://storage.googleapis.com/jax-releases/jax_releases.html

[2021-08-30 18:40] froystig commented on #7693
It's not tracing the single branch at all, it's [simply calling it](https://github.com/google/jax/blob/bbfd8f7cfc540d7a93b9c8e7b4460fef4af9f560/jax/_src/lax/control_flow.py#L636-L637) in line. That's a correct optimization, and I think a desirable one.

In what sense is this a root cause?

[2021-08-30 18:44] rghelichi commented on #7760
I am using Ubuntu 20.04 with Cuda 11.4
I downloaded the whl files and tried to pip install it directly by using
`pip install jaxlib-0.1.67+cuda111-cp39-none-manylinux2010_x86_64.whl`
it gives me the following error:
`ERROR: jaxlib-0.1.67+cuda111-cp39-none-manylinux2010_x86_64.whl is not a supported wheel on this platform.`

[2021-08-30 18:53] hawkinsp commented on #7760
@rghelichi In the initial report you said you were using Python 3.8, but that seems to be the Python 3.9 wheel. What Python version are you using?

If that doesn't help, please share both the version of `pip` you have installed, as well as the output of `uname -a`.

[2021-08-30 18:55] rghelichi commented on #7760
Python 3.8.10
pip 21.2.4
Linux gpu-model-check 5.8.0-1038-gcp #40~20.04.1-Ubuntu SMP Thu Jul 15 11:55:03 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

[2021-08-30 18:56] hawkinsp commented on #7760
Did the Python 3.8 wheel work? (i.e., `cuda111/jaxlib-0.1.67+cuda111-cp38-none-manylinux2010_x86_64.whl` )?

[2021-08-30 19:01] hawkinsp commented on #7701
https://github.com/tensorflow/tensorflow/commit/f8cd67e70773caad0c2f14d2f19f8d3cef970757 fixes the problem. It will almost certainly be part of the next jaxlib release.

[2021-08-30 19:01] #7701 closed

[2021-08-30 19:01] cheshire commented on #7637
The error seems to be pretty self-descriptive, right? From the table at https://docs.nvidia.com/deeplearning/cudnn/api/index.html#cudnnConvolutionForward it seems that int8xint8->int32 convolutions are not supported, and int8 output has to be used.

[2021-08-30 19:06] rghelichi commented on #7760
Thanks for the suggestion it is installed but after trying the example on the website:
[code]
2021-08-30 19:00:50.159020: W external/org_tensorflow/tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcupti.so.11.1'; dlerror: libcupti.so.11.1: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/cuda-11.4/lib64:/usr/loca

[2021-08-30 19:31] machineko opened #7762 "jax.numpy autocomplete not working in vscode cause of PEP 561 problems"
More about this in -> https://github.com/microsoft/pylance-release/issues/1737#issuecomment-908574952

vscode autocompletion
![131223662-3ce951c3-9b59-41d9-b617-6f3a010bedfe](https://user-images.githubusercontent.com/42299606/131394457-106902a0-8665-4e68-bc72-645b0ecf1d07.png)

[2021-08-30 19:33] jakevdp commented on #7762
Possible duplicate of #7570?

[2021-08-30 19:35] #7762 closed

[2021-08-30 21:12] jakevdp commented on #7760
@yashk2810 any ideas about this?

[2021-08-30 21:30] yashk2810 commented on #7760
I don't know why this is happening because I haven't tried building jax with 11.4 yet.

But can you try a soft symlink for libcupti.so.11.4 to point to libcupti.so.11.1?

11.1 wheels should work on 11.4. Also is there a reason you are not using 0.1.70? (can you try with this and see if it works without the symlink?)

[2021-08-30 22:40] hriebl commented on #7701
Great, thank you for the quick fix, @zhangqiaorjc, @hawkinsp!

[2021-08-30 22:50] reinerp opened #7763 "`random.split` should support splitting starting at a particular index, such as `step` number"
Background: during training, we can deterministically derive the PRNG seed from the current step number, by `seed=hash(step_number)`. This can sometimes be convenient because it avoids the need to checkpoint the PRNG seed, as the step number is all the state that is needed.

The computation `seed=hash(step_number)` can be implemented, albeit _inefficiently_, in JAX:

[code]

Sadly, this is ineffic

[2021-08-30 23:00] jakevdp commented on #7763
Thanks for the suggestion! This is a really good time to bring this up, because @froystig has just finished a refactoring of the PRNG code so that users can override the API, including `_split`. This means that if we are planning to make any changes to what options `_split` might accept, now would be the time (before downstream libraries implement their own random generators with their own `split`

[2021-08-30 23:08] jakevdp commented on #7763
Also, one quick comment: you should be aware that `random.split(N - 1)` does not return values that are identical to the first `N - 1` entries of `random.split(N)`:
[code]
It seems like your approach might implicitly assume that.

[2021-08-31 03:50] reinerp commented on #7763
Thanks for pointing that out, I'm glad you caught that issue about `random.split(N-1)` vs `random.split(N)`!

I hadn't realized that `random.threefry_2x32` is publicly visible. Indeed, that does what I'm looking for!

[2021-08-31 04:17] froystig commented on #7763
Would `random.fold_in(key, step)` work?

By the way, `random.threefry_2x32` doesn't want to be visible any longer, and issues a deprecation warning:

https://github.com/google/jax/blob/5f46206898a9052a140b51da6a1ed24731a20d47/jax/_src/random.py#L1449-L1452

As of #6899, PRNG implementations are swappable, so one shouldn't rely on the default PRNG internals (e.g. threefry) or mix uses of `prng.thre

[2021-08-31 10:18] apaszke commented on #7708
It seems like this is because `split` folds twice as many indices as `fold_in`, but it's not explained anywhere. It might have to do with the design of threefry. Any clues @mattjj @hawkinsp

[2021-08-31 10:30] kuzlovsky commented on #6921
I run the code for #7752 and it worked fine:
[code]

[2021-08-31 13:11] hawkinsp commented on #7760
@rghelichi That's a warning, not an error. If you ignore that message, does everything work? If that's the case, all we need to do is suppress the warning.

[2021-08-31 14:27] rghelichi commented on #7760
Thank you guys for the amazing support.
@yashk2810 the soft link worked and the warning didnt show up again.
@hawkinsp is there a way to be sure that it is actually using the GPU correctly? I am running on GCP with 2 GPUs (NVIDIA A100)

[2021-08-31 16:15] reinerp commented on #7763
`random.fold_in(key, step)` looks great, thanks for pointing me to i!

[2021-08-31 16:59] kuzlovsky commented on #6921
@hawkinsp were you able to reproduce the issue with [nf-tutorial-jax](https://github.com/ericjang/nf-jax/blob/master/nf-tutorial-jax.ipynb)?

[2021-08-31 17:45] hawkinsp commented on #7752
This appears to reproduce on CUDA 11.0 only, as best I can tell.

[2021-08-31 18:27] hawkinsp commented on #7752
I am now mostly confident this is a `ptxas` bug.

* It reproduces under CUDA 11.0 but not under CUDA 11.2.
* JAX/XLA produce identical PTX code under both versions.
* It does not reproduce if I use the `ptxas` version from CUDA 11.2 with an otherwise CUDA 11.0 installation.

I conclude this is likely a `ptxas` bug. Since it already seems to be fixed, I doubt it's worth asking NVidia about it; prob

[2021-08-31 18:27] #7752 closed

[2021-08-31 19:21] hawkinsp commented on #6921
I believe the issue you are seeing in `nf-tutorial-jax` is a CUDA 11.0 bug (in `ptxas`). My best suggestion for now is "use a newer CUDA installation, although obviously that's difficult to do on Colab. Most likely there's not much we can do on the JAX side since it isn't our code that is buggy. I verified that CUDA 11.2 works. Hopefully Colab upgrades sometime soon.

[2021-08-31 19:44] jekbradbury commented on #7763
Yeah, I think that's the API intended for this. One recent question that was raised is whether we could also make them give the same results (i.e. make `split(key) == (fold_in(key, 0), fold_in(key, 1))`).

[2021-08-31 19:44] #7763 closed

[2021-08-31 20:31] froystig commented on #7763
Some discussion to this end is in #7708.

[2021-08-31 22:33] yashk2810 commented on #7712
This looks like an error in boringssl dependency. Maybe try bumping up the version here: https://source.corp.google.com/piper///depot/google3/third_party/tensorflow/workspace2.bzl;l=694?q=f:tensorflow%20boringssl&ct=os&sq=package:piper%20file:%2F%2Fdepot%2Fgoogle3%20-file:google3%2Fexperimental

and then use this flag `override_repository`.

[code]

Note: The path to org_tensorflow should be absol

[2021-09-01 03:08] bloops commented on #7665
I have made some partial progress in https://github.com/google/jax/pull/7772. (Not sure how to link the PR to this issue.)

I am not sure how to support diagonals and traces which is what I initially wanted in my use case. This is because xmap's in_axes doesn't seem to accept duplicated named axes for the same operand.

[2021-09-01 15:27] #3047 closed

[2021-09-01 21:43] romanngg opened #7780 "`jacfwd` and `jacrev` fail on different-typed inputs/outputs"
This example breaks both `jacfwd` and `jacrev`:

[code]

Then
[code]
Gives
[code]

And
[code]
Gives
[code]

I believe the Jacobian should be
[code]

[2021-09-01 22:17] froystig commented on #7780
I wonder whether this is addressed by #7158. That PR was meant to fix #7157, which is about mixed float/complex types, but hopefully also addresses the case where distinct floating point types are mixed as well.

It is currently waiting on my closer review in response to changes made from the previous round, and doing that is on my queue... Meanwhile @NeilGirdhar has kindly been rebasing it regula

[2021-09-01 22:49] rosbo opened #7782 "Failed to install JAX with CUDA support using pip"
Running

[code]

Fails with the following:

[code]

The [jax_releases.html](https://storage.googleapis.com/jax-releases/jax_releases.html) file does include a version that satisfies these requirements.

It looks like the Content-Type on GCS was changed earlier today (Sept 1st, 2021) from `text/html` to `application/octet-stream`.

[2021-09-01 23:07] rosbo commented on #7782
Thanks for looking into the GCS `Content-Type` issue.

FYI, getting the same error with `pip install jax[cuda110]==0.2.18 -f https://storage.googleapis.com/jax-releases/jax_releases.html` (should be fixed once the `Content-Type` issue is fixed):

[code]

[2021-09-01 23:10] yashk2810 commented on #7782
I have a fix ready. Testing it right now

[2021-09-01 23:45] yashk2810 commented on #7782
This has been fixed.

[2021-09-01 23:45] #7782 closed

[2021-09-02 06:05] matthewfeickert opened #7785 "`content-type` for GCS wheel URL page not set consistently(?)"
Hi JAX team. :wave: We (the `pyhf` team) have a slightly odd problem to report that came from https://github.com/scikit-hep/pyhf/pull/1579 following the removal of `jaxlib` `v0.1.58` from PyPI for storage reasons (c.f. https://github.com/google/jax/discussions/7608#discussioncomment-1269382).

---

**TL;DR:** Is it possible that the `content-type` is not being set consistently for https://storage.

[2021-09-02 07:41] NeilGirdhar commented on #7780
Yes, #7158 is supposed to address heterogenous types as well!  I added the test in this issue in case that helps.  Thanks for making the connection :smile:

[2021-09-02 09:26] oracle3001 opened #7786 "Jaxlib 0.1.71 Fails to Build on Windows"
With Python 3.9, Cuda 11.2, Bazel 4.1, build run with the following command

python .\build\build.py --enable_cuda --cuda_path="C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v11.2" --cudnn_path="C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v11.2" --cuda_version="11.2" --cudnn_version="8.1.0" --noenable_rocm --noenable_tpu

results in the following error.

[code]

[2021-09-02 09:38] cloudhan commented on #7786
It seems to be your OS configuration problem. Symlinks in windows requires admin privilege by default, to circumvent this problem, you can refer to [Symlinks in Windows 10!](https://blogs.windows.com/windowsdeveloper/2016/12/02/symlinks-windows-10/)

[2021-09-02 14:25] yashk2810 commented on #7785
I refreshed the content of the file so the cache should have been refreshed. @rosbo pointed out that GCS has a caching mechanism where your content will stay cached unless updated.

So I refreshed the content. Can you try again and see if it works now? (Its working for me)

[2021-09-02 14:27] kratsg commented on #7785
I still see (Mac OS, CA):

[code]

Are you seeing `text/html`? (This is what `pip` [expects](https://github.com/pypa/pip/blob/80b95249ebb7cfe9a69f158db090dc62471bac2b/src/pip/_internal/index.py#L819-L831)).

[2021-09-02 14:29] yashk2810 commented on #7785
Yup, I am seeing text/html.

[2021-09-02 14:31] yashk2810 commented on #7785
https://cloud.google.com/storage/docs/xml-api/reference-headers#cachecontrol

Can you try this: `curl -is https://storage.googleapis.com/jax-releases/jax_releases.html?ignoreCache=1 | grep -i "^Content-Type:"`

[2021-09-02 14:45] matthewfeickert commented on #7785
Okay, so the CI is sometimes passing and mostly still failing, but as the file has been refreshed (thanks @yashk2810) that must just be due to caching on GitHub's side and so it should eventually sort itself out.

I guess in the future if we still have problems we can just use the `ignoreCache` version with `--find-links`

[code]

[2021-09-02 15:02] matthewfeickert commented on #7785
I'll go ahead and close this now as this _should_ be resolved technically. I'll reopen if we have further questions. Thanks very much for the quick response!

[2021-09-02 15:02] #7785 closed

[2021-09-02 15:07] NeilGirdhar commented on #7024
So is there anything I can do finally to make this go faster?

[2021-09-03 01:33] lgeiger commented on #7637
@jekbradbury Thanks the response.
I looked a bit deeper into the [XLA CUDNN rewriter](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/xla/service/gpu/cudnn_fused_conv_rewriter.cc) and I can successfully run int8 CUDNN convolutions on a T4 using either:
[code]
or
[code]

I think it would be much more user friendly if it would be possible to do this directly by setting `pref

[2021-09-03 01:56] froystig opened #7795 "bring the Jaxpr checker up to the current language state"
The Jaxpr checker serves as a de facto definition of the IR. It also helps us catch bugs in the system. We should review whether it covers our current intended state of the IR, especially considering recent potential additions including:

- [ ] weak types
- [ ] named shapes

Currently these in particular are [explicitly ignored by the checker](https://github.com/google/jax/blob/7fbbb9585853e3d2c53

[2021-09-03 03:02] #7063 closed

[2021-09-03 04:28] Corentin-pro commented on #7712
The `override_repository` doesn't exists on the main branch at least (just pulled):

[code]

[2021-09-03 04:30] yashk2810 commented on #7712
I think you'll need to use the bazel_options flag if you are passing it to build.py

[2021-09-03 06:10] Corentin-pro commented on #7712
Tell me how it works (and also what version to bump for boringssl) because `build.py: error: argument --bazel_options: expected one argument`

[2021-09-03 06:26] kuzlovsky commented on #6921
Hello,

Thank you @hawkinsp, actually I was using CUDA Version 10.1.243 after installing cuda_11.4.1_470.57.02_linux.run I can confirm that the error went away.

Might be adding a note to the docs that CUDA 10 is buggy or dropping it's support.

You can close this ticket, @Baschdl can reopen if latest CUDA does not work for him.

Regards,
Joe

[2021-09-03 06:43] josephrocca commented on #5231
Similar to myjr52, I was able to solve this simply by replacing this:
[code]
with this (you'll have the change `cuda111` based on your output of `nvcc --version` - mine is `11.1`):
[code]

[2021-09-03 09:28] raghuramshankar opened #7796 "Trying to import jax raises ImportError"
Trying to import `Jax` raises `ImportError`:

[code]

This gives me the error:

[code]

Python and jax version:
[code]

My system info:
Linux Manjaro (Arch Linux) with the latest kernel.
[code]
Adding `Partial` to the list in `/home/user/.local/lib/python3.9/site-packages/jax/tree_util.py` line 40 solved the issue for me and I am able to successfully `import jax`.
I also noticed that `partial` is

[2021-09-03 12:27] cottrell commented on #2367
Will ask in a separate thread but it seems the docs are missing entries on how to create pytrees (from existing ones) for example to manipulate params.

For example, if you want to see sensitivities w.r.t. params.

[2021-09-03 13:03] jakevdp commented on #7796
Hi - thanks for the report!

I'm a bit confused about what's going on, because you mention that you're using JAX 0.2.19, and you mention adding `Partial` at line 40 of `jax/tree_util.py`, but if I look at that line within the 0.2.19 source tree `Partial` is already there: https://github.com/google/jax/blob/jax-v0.2.19/jax/tree_util.py#L40

I would do two things: first, check the output of this:
[c

[2021-09-03 13:27] Baschdl commented on #6921
I have to get access to the machine where it happened again to test it and to check the CUDA version. Feel free to close it for now.

[2021-09-03 13:29] hawkinsp commented on #6921
Thanks. Our current belief is that CUDA 11.1 is the lowest version free of this bug.

[2021-09-03 13:29] #6921 closed

[2021-09-03 14:09] PgLoLo opened #7797 "Very slow "compile" of jax.random.split"
I've got a very strange behaviour when the call to `jax.random.split` (simple call, without `jit`, `vmap` or anything else) would deadlock with the warning "Very slow compile?  If you want to file a bug...". Actually, compile is not just slow, it's infinite.

Minimal reproducer:
[code]

[2021-09-03 14:56] PgLoLo commented on #7797
What additional information from "XLA_FLAGS=--xla_dump_to=/data/data/errors" should I add to help find the race?

[2021-09-03 16:45] jakevdp commented on #7797
What version of jax and jaxlib do you have installed?

[2021-09-03 17:19] terhorst opened #7804 "Precompile jitted function"
Is it possible to pre-compile a jitted function _before_ the first invocation? Obviously it must happen at some point internally, but it might be useful to expose this as an API. I have two cases in mind:

1. For those of us who distribute software based on JAX, it would be helpful to inform the user that the program is currently unresponsive because it is compiling.
2. For anyone who develops on

[2021-09-03 17:32] jakevdp commented on #7804
No, this is not currently possible, but is in the works (see https://github.com/google/jax/issues/7733)

[2021-09-03 17:51] terhorst commented on #7804
Ah thanks, missed that.

[2021-09-03 17:51] #7804 closed

[2021-09-03 21:30] ioannis12 commented on #7796
hello,
I think I have the same problem, when I try to import jax I get an error message "kernel died, restarting kernel".
I use spyder 4.1.0.

[2021-09-03 22:09] samuela opened #7809 "Unraveling an array with dtype bool results in pytree arrays with dtype float32"
Please:

- [x] Check for duplicate issues.
- [x] Provide a complete example of how to reproduce the bug, wrapped in triple backticks like this:

[code]

- [x] If applicable, include full error messages/tracebacks.
n/a

I'm running Python 3.9 with jax 0.2.19 and jaxlib 0.1.70.

[2021-09-03 22:54] GeoffNN opened #7810 "`repr` error on empty BCOO sparse matrix"
I tried to initialize an empty BCOO matrix by:
[code]

Just using the repr on `M` gives the following error: `<repr(<jax.experimental.sparse.ops.BCOO at 0x7f15fb4c9590>) failed: IndexError: tuple index out of range>`, which is unexpected.

On the other hand, initializing `M` with

```M = jsparse.BCOO((jnp.zeros(0, dtype='float32'), jnp.zeros((0, 2), dtype='int32')), shape=(100, 100)) ```

gives th

[2021-09-03 23:44] jakevdp commented on #7809
Hi - thanks for the report. I think this may be intended, given the lines here: https://github.com/google/jax/blob/c69eedd6f8bd360f23b8793c074648addd1e23d7/jax/flatten_util.py#L55-L56

The output dtype is explicitly set to the type promotion output of the input dtypes.

Maybe @mattjj has some context on this?

[2021-09-03 23:46] jakevdp commented on #7810
Thanks for the report!

I think we need some input validation on `__init__` – this is a bit difficult, though, because jax transforms sometimes instantiate pytrees with placeholder objects... so we'd have to somehow skip the validation in those cases.

[2021-09-04 00:13] samuela commented on #7809
I was worried about that... My hope was that ravel/unravel would only transform array shapes and not dtypes, but perhaps there a good reason it should coerce dtypes as well?

[2021-09-04 00:47] romanngg opened #7815 "Failing to differentiate jitted `lax._reduce_window_sum` / `lax.reduce_window`"
In this  example I define 4 identical pooling functions,
https://colab.research.google.com/gist/romanngg/fdd96829faaf0a7e666bccc5fd27ba58/pooling_fail.ipynb

[code]

but as you can see differentiating their jitted versions doesn't work, producing different errors, e.g.
for `lax.reduce_window`:
[code]
or for `lax._reduce_window_sum`:
[code]

[2021-09-04 01:15] GeoffNN commented on #7810
I've also noted the following strange behavior:

[code]

while
[code]

[2021-09-04 01:49] jakevdp commented on #7810
As above, this is because the indices do not have the expected shape, which is [nse, 1] for a one-dimensional sparse array.

[2021-09-04 01:55] jakevdp commented on #7810
Yeah, `indices` need to be of shape `[nse, n_sparse]`. You can see this is the case, despite the empty array repr not being clear on this:
[code]

[2021-09-04 01:57] jakevdp commented on #7810
And yes, I think that instantiating `BCOO` with an incorrectly-shaped index should result in an immediate error. But as mentioned above this is difficult because of how JAX transforms use placeholders within pytrees.

[2021-09-04 07:16] PgLoLo commented on #7797
jax==0.2.19
jaxlib==0.1.70+cuda111

The same problem reproduces with cuda10.2 (On the same machine with the same nvidia driver, just different conda environment)

[2021-09-04 08:34] PgLoLo commented on #7797
By the way, GPU Tesla V100, if it metters.

[2021-09-04 09:43] josephrocca commented on #6039
For those that get here via a Google search like I did, and who, while skimming, missed the solution that hawkinsp gave, the solution is to prevent JAX from preallocating too much memory by setting the `XLA_PYTHON_CLIENT_MEM_FRACTION` environment variable to something lower than 0.9:

[code]
Or:
[code]
My GPU has 8GB of memory (about 6.5GB after OS takes its share), which is still small by normal

[2021-09-04 13:16] zxytim opened #7816 "CUDA_ERROR_ILLEGAL_ADDRESS encountered upon certain condition"
## Code

[code]

## Symptoms
`CUDA_ERROR_ILLEGAL_ADDRESS` is garanteed to trigger when the following conditions are met:
1. jit is enabled
2. Runs on a slightly smaller batch size (e.g., `batch_size - 1`) compared to initialization (which triggers a jit re-compilation)
3. When batch size is greater than 16

I've tested `batch_size=8` and it works like a charm.

## Reproduction Command Line
[code]

[2021-09-04 13:36] zxytim commented on #7816
If I change `GroupNorm` to `LayerNorm` (the one in the `flax.linen` package), `python3 debug.py --batch-size 16 --jit` will exit gracefully as well.

[2021-09-04 16:43] hawkinsp commented on #7816
There are a number of known `CUDA_ERROR_ILLEGAL_ADDRESS` bugs for CUDA < 11.1 that are out of our control (they are bugs in `ptxas`). Can you upgrade to a CUDA >= 11.1? I strongly suspect that will fix your bug.

[2021-09-04 16:43] hawkinsp commented on #7816
(I should add: we intend to drop CUDA 10.2 support in the next release and only support 11.1+ for precisely this reason.)

[2021-09-04 20:49] samuela commented on #5723
I'm also seeing this issue. I'm on NixOS 20.09.3301.42809feaa9f, jaxlib 0.1.71, and here's my nvidia-smi:
[code]
Passing `XLA_FLAGS=--xla_gpu_force_compilation_parallelism=1` does work, but I'd rather not get hit with that slowdown.

[2021-09-05 03:41] erwincoumans commented on #5501
Thanks. I get an error related to wrong numpy version, which one should we use?

[code]

[2021-09-05 19:10] samuela commented on #5723
I just upgraded to NixOS 21.05.2796.110a2c9ebbf to get driver version 470.57.02, and the issue has gone away.

[2021-09-06 04:01] raghuramshankar commented on #7796
Hi,

Thank you for your reply.
I am using Jax as a solver for [Pybamm](https://github.com/pybamm-team/PyBaMM) simulations. I just found that the issue was with the installation of the Pybamm library, and not with the Jax library. [Here](https://github.com/pybamm-team/PyBaMM/issues/1470) is the issue that was raised over there regarding the same.
Sorry for not catching this earlier, I did not expec

[2021-09-06 09:20] PhilipVinc opened #7820 "Jax PRNGKeyArray report `dtype` field on tab completion"
A very minor issue: the new `PRNGKeyArray` report, when using tab completion, that they have a `dtype` field, but `hasattr(key, "dtype")` returns False, and trying to access it fails.

Maybe the `__dir__` entry must be updated?

[code]

[2021-09-06 09:24] PhilipVinc opened #7821 "Jax PRNGKeyArray.shape is a method, not a property"
Was this an intended change?

[code]

[2021-09-06 11:29] sbodenstein opened #7822 "Compiling an OOM function crashes on TPU"
This spins for a while and then crashes the kernel, but only on a TPU kernel (works fine for CPU/GPU):
[code]

[2021-09-06 12:53] Roy-Kid commented on #1871
something like #include<Python.h>? I wonder if there is a more elegant approach to invoke jax in c++. I need to write a plugin for OpenMM and the reason I use jax is that it is small and flexible than tf.

[2021-09-06 14:53] khdlr opened #7823 "Keyword arguments to jnp.ndarray.clip() do not follow the documentation"
The following should work according to the docs (https://jax.readthedocs.io/en/latest/_autosummary/jax.numpy.ndarray.html), and it does work when using `numpy` instead of `jax.numpy`:

[code]

However, in contrast to the docs, `jnp.ndarray.clip` actually expects the arguments to be called `a_min` and `a_max` respectively, just like `jnp.clip` does – i.e. `jnp.zeros(3).clip(a_min=1)` works.

[2021-09-06 14:59] jakevdp commented on #7823
Thanks for the report – currently the DeviceArray `clip` method delegates directly to `jnp.clip`: https://github.com/google/jax/blob/0dee3550250cf8e0afe8f1c0d24399844648584f/jax/_src/numpy/lax_numpy.py#L6332-L6333

It looks like that has to be changed, given the different API between the function and the method. Are you interested in sending a PR?

[2021-09-06 16:25] khdlr commented on #7823
Yes, I'm happy to submit a PR, guess this is a good "first issue" to start contributing :)

[2021-09-06 18:44] NeilGirdhar opened #7826 "Consider checking that static fields of dynamic arguments are hashable"
The following code
[code]
Gives a strange error when the jit tries to look up using array-valued static fields
[code]
It might be worth improving the check in `jax/api_util::argnums_partial_except` and `argnames_partial_except` to also check that the static fields of dynamic arguments are hashable.

[2021-09-06 19:06] mattjj commented on #7826
Great idea!

I really appreciate you opening this issue, and always helping to make JAX better. These improvements really add up!

[2021-09-06 19:22] harwiltz opened #7827 "Potential cache miss bug when vmapping random functions over seeds"
I was prompted to run this test when I noticed a substantial performance discrepancy between two similar functions of mine, but I am not sure if this is a bug or if I'm just doing something wrong (or misinterpreting the results).

Suppose we want to sample `N` independent `d`-dimensional vectors from some distribution, say a standard Gaussian. I can think of two ways to do this:

1. Sample a Gauss

[2021-09-06 20:34] patrick-kidger opened #7828 "Merging PyTrees with `None` leaves"
Let
[code]
acting on `pytree`, `masks` which are PyTrees of identical structure; the latter assumed to have Boolean leaves.

I would like to define a function `merge` for which `merge(split(...))` is the identity.

(More generally, we might consider taking some tuple of PyTrees with common structure, and merging them all together, replacing the `None`s in each PyTree with the leaves (or subtrees)

[2021-09-06 22:43] cgarciae commented on #7828
Hey @patrick-kidger !

If you set `is_leaf=lambda x: x is None` in `tree_map` and friends you can force `None`s as leafs. I used something similar in Treex for what you described.

[2021-09-07 00:41] rongcuid opened #7829 "Absurdly slow compilation on CPU"
On a CPU run, JIT compiling a loss function that involves forwarding through a complex model causes Very Slow Compilation. I also suspect that it deadlocks, because the program does not respond to interruption and has to be killed by SIGKILL. I tried #7797, but that is not the problem. I also checked a few closed issues, but those are related to loops, and I use nothing of that. I used vmap in man

[2021-09-07 01:26] patrick-kidger commented on #7828
Aha, that's a nice trick -- solves the problem perfectly. Thanks a lot!

[2021-09-07 01:26] #7828 closed

[2021-09-07 02:47] levskaya commented on #5485
_Tempore omnia vulnera sanabuntur_

I wanted to re-check the results here given how much work has gone on in JAX this year concerning dispatch overheads.

Across the board JAX dispatch times are down -a lot-.  The overhead of using flax vs stax is now extremely slight in dispatch-sensitive tests (lots of tiny launches) and non-existent on any reasonably large computation.

on my macbook, small set

[2021-09-07 02:47] #5485 closed

[2021-09-07 06:46] shoyer commented on #7829
Can you try running `jax.make_jaxpr` on your code? How long is the output from `make_jaxpr`?
https://jax.readthedocs.io/en/latest/jax.html#jax.make_jaxpr

If `make_jaxpr` runs quickly, this indicates that the slowness is likely within the XLA compiler rather than JAX itself. If it's an issue with the XLA CPU backend specifically, it might also help to run your code on a GPU or TPU.

[2021-09-07 10:26] #6959 closed

[2021-09-07 12:47] rongcuid commented on #7829
Hello, both `jax.jit` and `jax.make_jaxpr` returns immediately. Worse is that the `loss_fn` which was taken gradients of could be compiled in reasonable time when I single stepped it. When I tried to run it directly, it seems to get stuck forever.

While I do have access to a GPU, I am trying to debug on a laptop that does not have one.

[2021-09-07 13:54] khdlr opened #7837 "Implement `mirror` and `reflect` modes for jax.scipy.ndimage.map_coordinates"
Title pretty much says it all, it would be great to have the `mirror` and `reflect` modes for `scipy.ndimage.map_coordinates`.

[2021-09-07 15:58] fedelebron opened #7840 "`device_put_sharded` seems to increase host memory use."
Using the free TPU Colab instances:

[code]

This shows:

[code]

I expected no significant memory use from the call to `device_put_sharded`. That is, `device_input` should be a light handle to on-TPU memory buffers, which are copies of the pre-existing `shards`. Instead it's using 1.3GB of extra RAM, somewhere (?).

<img width="851" alt="Screen Shot 2021-09-07 at 8 48 00 AM" src="https://user-ima

[2021-09-07 17:59] boegel opened #7842 "building jaxlib 0.1.71 from source with GCC installed in non-standard location fails"
When building `jaxlib` 0.1.71 from source with a GCC 10.3 installation that is located in a non-standard location (say `/apps/GCC/10.3`), I'm running into the following build failure:

[code]

We have seen this type of problem before: it occurs when the environment in which a tool that was built earlier (`mlir-tblgen` in this case) is reset by Bazel when using that tool: because `$LD_LIBRARY_PATH`

[2021-09-07 18:01] shoyer commented on #7829
Can you clarify? I thought `jax.jit` was hanging.

[2021-09-07 18:01] boegel commented on #4493
@proutrc For `jaxlib` 0.1.70, we have a fix for the `mlir-tblgen` issue, see [this patch](https://github.com/easybuilders/easybuild-easyconfigs/blob/develop/easybuild/easyconfigs/j/jax/TensorFlow-4039feeb743bc42cd0a3d8146ce63fc05d23eb8d_mlir-build-env.patch).

However for `jaxlib` 0.1.71, I'm running into the same problem again, and I'm not sure how to fix it there because things have shifted arou

[2021-09-07 18:27] joaogui1 commented on #2991
@milind-soni I looked around Scipy until I found the implementation and then proceeded to translate it to jax, guess that's the general idea (the implementation was probably written in C though, so you'll need some understanding of it to do a good port)

[2021-09-07 18:40] rongcuid commented on #7829
Calling `jax.jit(loss_fn)` is instantaneous, as is `make_jaxpr`.  Jit returns a `CompiledFunction` object, but when actually executing the `grad_fn` the program seems to hang. In fact, it does not respond to anything, be it interruption, or even debugger pause.

[2021-09-07 18:49] #7823 closed

[2021-09-07 18:50] rongcuid commented on #7829
Apparently, when I single stepped it in the debugger (with `loss_fn` decorated and `train_step` undecorated), the function can progress after a few minutes of execution. So the `loss_fn` decoration is probably not the cause.

The `train_step` decoration, however, appears to hang when the function _returns_.

[2021-09-07 19:02] zhangqiaorjc commented on #7740
I tried this locally and it's fine.

[code]

Notice that infeed and outfeed are stateful operations, so if your colab cell execution got interrupted due to say ImportError, and you simply re-run the same cell a second time, there's no guarantee what will happen.

I'm going to close this for now. Please re-open if it reoccurs.

[2021-09-07 19:02] #7740 closed

[2021-09-07 19:04] N0r9st commented on #7118
@hawkinsp I think I have the same issue.
My code:
[code]
After running I am getting
[code]
`nvcc --version` output:
[code]
`nvidia-smi` output:
[code]

[2021-09-07 21:24] Chillee commented on #7829
@rongcuid To clarify, `jax.jit` and `jax.make_jaxpr` do not do the compilation/jaxpr creation, they simply wrap the function in a new function that does the compilation/jaxpr creation when you call them.

You need to call `jax.make_jaxpr(f)(*args)` to actually create the jaxpr.

Similarly, after you do `f2 = jax.jit(f)`, the first time you call `f2(*args)` is when Jax does the actual compilation.

[2021-09-07 22:07] rongcuid commented on #7829
I get an enormous output like this:

[output.txt](https://github.com/google/jax/files/7124569/output.txt)

[2021-09-07 22:47] shoyer commented on #7829
This suggests to me that maybe something in your code _is_ effectively doing a loop to generate lots of code for XLA. It might be worth experimenting with your code to see if commenting out part of it makes things much faster.

[2021-09-07 23:06] zhangqiaorjc commented on #7740
a note for future: this actually repro'ed once on colab and colab only, it doesn't happen otherwise and disappears after colab restart; since it rarely repros, it might take a while to find root cause

what i noticed is that the colab log shows

[code]

And while the internal log otherwise is interleaved with lots of XLA/CPU compiler log output. I wonder if python thread gets stuck on outfeed dequ

[2021-09-08 08:42] mr128254 opened #7853 "jax.numpy.histogram2d error when passing 'range' kwarg"
When using `jax.numpy.histogram2d` together with the `range` keyword argument, an error occurs.

[code]

Error:
[code]

[2021-09-08 18:12] adam-coogan opened #7856 "Avoid materializing huge intermediate variable"
Hi! I'm wondering whether there's a way to lazily evaluate matrix-vector products like in [keops](https://github.com/getkeops/keops/), especially on GPU. As a toy example, I'd like to compute
[code]
Evaluating this on large inputs gives an out of memory error:
[code]
Is it possible to avoid materializing `dist2_ij` and `kernel_ij`?

(Seems related to #787.)

[2021-09-08 18:17] froystig commented on #7820
Good catch. At the latest, this will go away once we [pass the upgrade period](https://github.com/google/jax/blob/64884e613403a406242c46b6fcafb53bf0a81039/jax/_src/prng.py#L120-L122), which is hopefully soon enough.

[2021-09-08 18:57] froystig commented on #7837
cc @shoyer and @hawkinsp

[2021-09-08 19:18] khdlr commented on #7837
I submitted a PR for this over at #7838

[2021-09-08 20:54] mattjj commented on #7010
Just got another +1 for this issue. Another foot lost.

[2021-09-08 20:57] froystig commented on #7815
The first error has all of the information:
[code]
We need to implement AD for this primitive.

Regarding the second error, we should always try to avoid generating invalid HLO that results in XLA runtime errors, but note that this one came about by differentiating a non-public function from jax internals, which isn't allowed.

One idea there is to validate window dimension in the jaxpr checker, s

[2021-09-08 21:00] froystig commented on #7826
@NeilGirdhar, is this something that you would be interested in contributing?

[2021-09-08 21:11] froystig commented on #7837
Thanks! I was going through our recent issues and had not seen that yet.

[2021-09-08 21:42] froystig commented on #7827
It might be best to `block_until_ready()` on the output of each invocation of `alg1`/`alg2`. Either way, you are correct that automatic batching is producing a slower program than direct sampling with shape `(N, d)`. If we also run:

[code]

We will see that jax's view of either function seems substantially different.

We should look into this. In the meantime, a workaround seems to be to compile,

[2021-09-08 21:49] romanngg commented on #7815
Thanks Roy, maybe naive question, but shouldn't this rule be already implemented if I'm able to differentiate it without jit (and it only throws the NotImplementedError if I jit it), so I wonder if there's some bug in interacting between jit and AD?

[2021-09-08 21:58] yashk2810 commented on #7842
When I build jaxlib with RBE where the compiler location is present somewhere else, there are some env_vars that are specified in the configs to help bazel find the right location. Maybe you can try them out?

https://github.com/tensorflow/toolchains/blob/master/toolchains/remote_config/rbe_config.bzl#L19-L31 (the `compiler` parameter is how the path is specified)

I can see env_vars like `BAZEL_C

[2021-09-08 23:07] froystig commented on #7815
Thanks for highlighting that! I overlooked it in the notebook that you shared.

What's happening is a bit tricky, but has to do with how we handle a special case of `lax.reduce_window` as an optimization just before binding the underlying primitive (which has no AD rule):

https://github.com/google/jax/blob/e7e5140dc9fd192154e866794424d073e5c8d2b0/jax/_src/lax/lax.py#L1387-L1393

This tries to ide

[2021-09-08 23:15] froystig opened #7860 "invalid HLO reduction window dimensions when lowering AD of `lax.reduce_window` over (+, 0) monoid"
Extracted from #7815, found by @romanngg. Reproduces with:

[code]

[2021-09-08 23:15] froystig commented on #7815
I posted #7860 for the bug and we can keep this as the feature request.

[2021-09-08 23:50] froystig commented on #7856
If I understand the question correctly: today you would essentially have to express the "lazy" computation directly, with loops (or `jax.lax.map`). We could wonder whether XLA might do this as an optimization under `jit`, but it is unlikely in general across kernels. On the jax side, it is a rather open-ended feature request to introduce a sublanguage for lazy matrix-vector expressions in a way ak

[2021-09-09 13:15] bantin opened #7861 "jax.random.poisson does not broadcast to shape of rate param"
jax.random.poisson does not broadcast to the shape of the rate parameter. This is a problem for me--I need to JIT compile a function which samples from a Poisson distribution--but because JAX doesn't broadcast the shape of the rate parameter, I end up passing in the shape of the rate parameter to Poisson, and this gives a  `TracerArrayConversionError`.

By contrast, np.random.poisson broadcasts to

[2021-09-09 13:29] bantin commented on #7861
Looking at the source, it seems like it's just a matter of a few tweaks: changing the default shape to `None` and then adding a line like

[code]
This seems to be how the other functions in jax.random handle this. I can make a PR if helpful

[2021-09-09 13:31] hawkinsp commented on #7861
We always welcome PRs! A PR that fixes the problem together with a testcase that demonstrates it would be very welcome.

[2021-09-09 13:43] NeilGirdhar commented on #7826
@froystig Okay, I just got unblocked on my research, but I should be able to find some time for this soon.  Also looking forward to the review of https://github.com/google/jax/pull/7158 😄

[2021-09-09 15:22] hawkinsp commented on #7860
This appears to be an XLA issue. I filed an internal bug for the XLA folks (b/199391930).

[2021-09-09 16:01] jakevdp commented on #7853
I think this is similar to #7715

[2021-09-09 17:36] froystig commented on #7826
Up to you! Someone on the team will be happy to handle this otherwise (possibly at lower priority). I thought to ask in response to your initial comment, since you seem to have a good handle on the fix.

[2021-09-09 17:54] yashk2810 commented on #5501
JAX has now released a first version of jaxlib built for mac ARM architecture (v0.1.71).

(Preferred way) Upgrade your jax version to the latest version (`pip install -U jax`) and then `pip install jax[cpu] -f https://storage.googleapis.com/jax-releases/jax_releases.html`.

OR

You can install it via `pip install jaxlib -f https://storage.googleapis.com/jax-releases/jax_releases.html`

Please try

[2021-09-09 17:58] hawkinsp commented on #5501
Note also: we don't actually *test* these wheels. See above. We're building them as a convenience to the community but we're relying on y'all to test them for the moment...

[2021-09-09 18:04] gerdm commented on #5501
Hi @yashk2810!

I just followed your installation instructions (the Preferred way), but it fails to run on my end

[code]

Do you know what might've caused this problem?

[2021-09-09 18:15] hawkinsp commented on #5501
@gerdm Nope, we'll have to debug that one. The way the wheels are built is by cross-compilation, as described above, so perhaps someone can see if they get the same behavior when building jaxlib 0.1.71 cross-compiled (or natively on arm64)?

We only have intermittent access to arm64 hardware, so we appreciate community help here!

[2021-09-09 18:20] yashk2810 commented on #5501
Looks like this problem was fixed in the rust repo like this: https://github.com/rust-lang/rust/pull/73086/files

[2021-09-09 18:24] hawkinsp commented on #5501
@yashk2810 Interesting. We just ask LLVM what the features of the local machine are: https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/compiler/xla/service/cpu/simple_orc_jit.cc;drc=2876b0ebfd0080910d9eefb36d413cedb4a6ab8e;l=58 so it's not immediately obvious what we should do here.

[2021-09-09 18:55] dfm commented on #5501
I can confirm that I reproduce the same error as @gerdm when building from source on my M1. I haven't tried cross compiling yet. The same build environment worked for jaxlib v0.1.70 so it looks like an issue was introduced between versions. I'm not super familiar with the whole bazel build process, so I'm not sure how helpful I can be for tracking it down, but happy to help if I can!

[2021-09-09 18:57] hawkinsp commented on #5501
@dfm Well that's good news and bad news. It means our wheel build works (good!). But something obviously broke in JAX (really in XLA or LLVM, most likely... bad!)

[2021-09-09 20:27] GallagherCommaJack opened #7866 "bfloat16 conv crashing on ampere"
[code]

should produce the error:
[code]

[2021-09-09 20:28] hawkinsp commented on #7866
What versions of CUDA, CuDNN, jax, and jaxlib do you have?

[2021-09-09 20:29] GallagherCommaJack commented on #7866
CUDA 11.4
CuDNN 8.2
jax: 0.2.20
jaxlib: 0.1.71

[2021-09-09 20:29] #7047 closed

[2021-09-09 20:30] GallagherCommaJack commented on #7866
card i'm testing on is an rtx 3090

[2021-09-09 20:53] hawkinsp commented on #7866
I suspect this is because jaxlib is built against CuDNN 8.1. Things would probably work if you (or we) built a jaxlib from source against CuDNN 8.2.

[2021-09-09 21:04] yashk2810 commented on #7866
Jaxlib for Cuda 11.1 is built against CuDNN 8.0.5 AFAIK

[2021-09-09 21:05] hawkinsp commented on #7866
There's still a bug here, because it shouldn't crash, but perhaps we should switch our releases to a newer CuDNN across the board.

[2021-09-09 21:07] yashk2810 commented on #7866
When I tried to do that (Using a wheel built with Cuda 11.2 and running on Cuda 11.1), the tests started failing saying that Cudnn version does not work for Cuda 11.1 since its 8.1 and Cuda 11.1 expects 8.0.5.xx

[2021-09-09 21:11] hawkinsp commented on #7866
@yashk2810 NVidia claim CuDNN 8.2 is compatible with CUDA 11.1+: https://docs.nvidia.com/deeplearning/cudnn/support-matrix/index.html#cudnn-versions-824

[2021-09-09 21:26] nestordemeure opened #7867 "No GPU/TPU found"
I am using Jax (`jaxlib==0.1.70+cuda101`) on an `Ubuntu 18.04.5` with `Cuda 10.1` installed. Things were working fine until about a week ago when it stopped detecting the GPU and displayed the following error message:

[code]

I don't know what caused it to stop working as I did not touch my Python / nvidia / cuda / cudnn instalation between the time it worked and the time it failed to detect the

[2021-09-09 22:34] yashk2810 commented on #5501
I built this wheel from TF head and jax head: https://storage.googleapis.com/jax-releases/mac/jaxlib-0.1.72-cp39-none-macosx_11_0_arm64.whl

Can you try this out and see if the error goes away?

[2021-09-09 23:20] soraros opened #7870 "repr for DeviceArray doesn't work when aval is None"
Consider this code:
[code]

I think the cause is this:
https://github.com/google/jax/blob/00528a42e530a7a04e82bdffd6e6f98d3558b5d3/jax/interpreters/xla.py#L1309-L1312

[2021-09-10 02:35] gerdm commented on #5501
@yashk2810,

I uninstalled jaxlib and installed the wheel you shared, but I get the following error

[code]

[2021-09-10 03:33] yashk2810 commented on #5501
This answer seems to imply that your python installation went wrong somewhere: https://stackoverflow.com/questions/39477023/error-mach-o-but-wrong-architecture-after-installing-anaconda-on-mac

Can you check that and try again?

Thank you for trying out. I (and the JAX team) appreciate it :)

[2021-09-10 04:10] yashk2810 commented on #5501
There are lots of users who have hit the mach-o but wrong architecture error so doesn't look like a JAX issue to me.

[2021-09-10 06:09] romanngg commented on #7815
Thanks a lot for such detailed explanation Roy!

[2021-09-10 09:59] sbodenstein commented on #5878
Any updates on fixing this issue? Its causing cryptic failures for users of a logging library I've written.

[2021-09-10 13:42] josephrocca commented on #2095
Yep, I think it'd be a good idea to cache all function transformations where it's possible and makes sense. I got tripped up by this [here](https://github.com/google/jax/discussions/7871) (which originated from [this issue](https://github.com/huggingface/transformers/issues/13492)) - I was used to writing `jit(f)(x)` and so I assumed that I could write `jit(grad(f))(x)`, but the latter requires re

[2021-09-10 14:47] dfm commented on #5501
@yashk2810: Thanks! Unfortunately I find that your wheel built at head reproduces the same LLVM error on my machine. I'm hoping to get a chance to try to fix it on my side, but haven't had a moment yet.

[2021-09-10 15:38] yashk2810 commented on #5501
Interesting, according to @gerdm log that error does not happen. Can you paste your log and the way to installed it and the OS?

[2021-09-10 15:59] dfm commented on #5501
Sure! Here you go:

[code]

Then in Python:

[code]

(All other `jnp` functions I've tried fail with the same error, we're not limited to `sqrt`...)

<details>
<summary>Output from 'conda env export':</summary>

[code]
</details>

[2021-09-10 16:56] soraros commented on #7870
Fixed in #7874

[2021-09-10 16:56] #7870 closed

[2021-09-10 19:54] dfm commented on #5501
@yashk2810: I did a tiny bit of digging and I think that @hawkinsp's worries were probably right. Knowing very little about how the build infrastructure works, my best guess is that the relevant change is that TF used to configure `llvm-project` manually:

https://github.com/tensorflow/tensorflow/blob/4039feeb743bc42cd0a3d8146ce63fc05d23eb8d/third_party/llvm/llvm.bzl#L310-L317

But now this is [de

[2021-09-10 20:04] hawkinsp commented on #5501
Yes, that seems right. This logic in particular looks wrong: https://github.com/llvm/llvm-project/blob/81d5412439efd0860c0a8dd51b831204f118d485/utils/bazel/llvm-project-overlay/llvm/config.bzl#L78

[2021-09-11 00:38] sharadmv opened #7878 "`named_call` ignores some transformations"
`named_call` is a call primitive that adds metadata to the HLO for use in profiling and debugging. In implementation, `named_call` avoids abstracting its inputs like `jit` to support use-cases like:
[code]
If `x` were abstracted (like with `jit`), we couldn't use it in a Python `if` statement.

This approach has a downside: non-dynamic traces (`vmap`, `ad`, etc.) can entirely miss the `named_call`

[2021-09-11 03:54] #7821 closed

[2021-09-11 09:06] josephrocca opened #7883 "JAX TPU install instructions not working on Google Colab"
If I run the following on a fresh Google Colab notebook (following the README.md instructions):
[code]
I get this error:
[code]
The relevant part seems to be `WARNING: Skipping page https://storage.googleapis.com/jax-releases/libtpu_releases.html because the GET request got Content-Type: application/octet-stream.The only supported Content-Type is text/html` - for some reason `storage.googleapis.co

[2021-09-11 11:19] dfm commented on #5501
I can confirm that that logic is the culprit. If I swap out that line as follows (this also isn't the right logic, but it was a test):

[code]

Then jaxlib seems to works as expected. (For reference, here's the patch that I applied to the jax source at v0.1.71 that seemed to propagate the change I wanted: https://gist.github.com/dfm/bc2cf413bb4ad0b1d6fb11a96a406ef4)

[2021-09-11 13:01] jakevdp commented on #7883
Colab TPU runtimes come with JAX pre-installed. Is there any reason that you can’t use the pre-installed version?

[2021-09-11 14:54] sayakpaul opened #7884 "`jax2tf` is failing with `__call__() missing 1 required keyword-only argument: 'train'`"
Hi.

I am trying to convert a Vision Transformer model to TensorFlow and serialize it as a SavedModel following the guidelines from here: https://github.com/google/jax/blob/main/jax/experimental/jax2tf/examples/README.md.

I am able to generate all the artifacts needed to run the conversion but it seems like the `tf_graph` (out of which one would extract the concrete function) is not getting const

[2021-09-12 01:04] josephrocca commented on #7883
@jakevdp Ah, I see. Those Colab TPU setup instructions fix it:
[code]
I wonder if it would be worth noting that in the TPU installation instructions, since Colab is fairly commonly used for playing with TPUs? I've suggested something here: https://github.com/google/jax/pull/7886

[2021-09-12 08:00] sayakpaul commented on #7884
@gnecula if we update the TensorFlow version to `tf-nightly` (`2.7.0-dev20210911`) then the error goes away.

Another question I wanted to ask. Is there any workaround to enable fine-tuning of the converted models? [This](https://github.com/google/jax/blob/main/jax/experimental/jax2tf/examples/saved_model_lib.py#L108-L113) tells me it is NOT supported but I still wanted to know.

[2021-09-12 15:45] gnecula commented on #7884
I am glad you found that the `tf-nightly` fix. We only test with tf-nightly, but for reasons having to do with some details of how certain TF ops are working. I did not realize that the handling of `kwargs` may have changed in TF.

It is possible to fine-tune the converted models, first-order reverse-mode AD works, and it is JAX-accurate. I will remove that comment, it is stale.

[2021-09-12 15:57] sayakpaul commented on #7884
Thank you very much for the clarification @gnecula! I am planning to open-source the entire work done for converting the JAX Vision Transformer models to TensorFlow SavedModel. Would you folks be open to give that a mention from the `jax2tf` README? Might be helpful for the community.

[2021-09-12 15:57] #7884 closed

[2021-09-12 22:58] Kareem-negm opened #7892 "Google summer of code jax 2022"
### Discussed in https://github.com/google/jax/discussions/7891

<div type='discussions-op-text'>

<sup>Originally posted by **Kareem-negm** September 12, 2021</sup>
Hello JAX team,

I wanted to inquire about the projects that Jax will participate in in the google summer of code 2022,
In 2021 I wanted to contribute with Jax, but all the projects were about converting code from Matlab to Jax

Thank

[2021-09-13 08:38] gnecula commented on #5878
Sadly, I have progress to report, except that I have reproduced the issue and saw that the error arises in the partial eval rule for the outside_call primitive. I wrote that code but with low confidence, and this issue is proof that there is still something I do not understand.

I can try to dig more into it, but it may be more useful if @mattjj finds some time to take a look also.

[2021-09-13 08:44] gnecula commented on #7884
I'd be happy to link in the README materials that the community would find helpful. Please point me to the material that you would like linked.

[2021-09-13 11:55] sergiuiacob1 opened #7894 "`jnp.nanpercentile` does not work correctly after `jnp.nanmean`"
## Replicating the issue

[code]

## Code output
[code]

## Expected result
I'm expecting the second piece of code to return the same value – `5.5`. The second part contains a `nanmean` step, which should compute average values per columns. Since the values are the same on both rows, the `nanmean` result should be `[5.5, 6.25, 5.5, 7.25, nan]`.

If I apply my `percentile` function on the data dire

[2021-09-13 12:55] Bihaqo opened #7896 ""'GLIBCXX_3.4.26' not found" when installing Jax on GCP"
Reproducing:
* create a VM with V100 GPU on Google Cloud with "Deep Learning Image: Base m79 CUDA11.0" image;
* run
[code]

And finally run `import jax` from Python.

[code]

I tried doing
[code]
as some suggested on the internet, but that didn't help.

[2021-09-13 12:56] hawkinsp commented on #7896
That error is coming from `scipy`, which JAX depends on, not JAX.  You need a working `scipy` installation. (e.g. `import scipy` needs to work).

[2021-09-13 12:56] #7896 closed

[2021-09-13 13:20] jakevdp commented on #7894
Thanks for the report – what version of JAX are you using? I don't see this issue in JAX v0.2.19, and this looks similar to an issue that was fixed in #6439 (which made it into version 0.2.13)

[2021-09-13 13:54] Bihaqo commented on #7896
I see, thanks for spotting this!
Nevertheless, it's impossible to use Jax right now and I think it can be beneficial to mention this problem in the installation docs (e.g. say that you need to install older version of scipy because the latest one is buggy or something).

[2021-09-13 13:59] hawkinsp commented on #7896
FWIW, I think the issue is your scipy installation is broken in some way or incompatible with your VM image. I don't think that's something we can mention in our docs.

[2021-09-13 15:01] Bihaqo commented on #7896
If it's indeed the case, it would probably mean that it's broken for others as well. I created the VM 3 hours ago from the GCP default DeepLearning+GPU image and the only thing I did on that VM is following Jax installation instructions, here is the entire list of commands I executed:
[code]

My point is that at the moment there is no working and documented way of getting Jax working on GCP. (Mayb

[2021-09-13 15:38] sergiuiacob1 commented on #7894
I'm using `0.2.9`. I'm indeed not seeing this issue with version `0.2.13`. I'll close this since it has been fixed in a later version.

[2021-09-13 15:38] #7894 closed

[2021-09-13 18:05] jakevdp commented on #7853
On closer look, I believe this was fixed by #7715. Running your snippet with the most recent JAX release (v0.2.20) does not result in an error.

Can you check whether your original issue is fixed if you update JAX? Thanks!

[2021-09-13 18:06] jakevdp commented on #7853
Marking as duplicate of #7714

[2021-09-13 18:07] jakevdp commented on #7796
Thanks! I'll close the issue then. Feel free to open another if you run into any other problems!

[2021-09-13 18:07] #7796 closed

[2021-09-13 21:49] #7570 closed

[2021-09-14 01:24] norabelrose opened #7909 "Implement returning convergence in scipy.sparse.linalg solvers"
My feature request is simple: Instead of always returning `None` in the `info` field, the the matrix-free linear solvers in `jax.scipy.sparse.linalg` should return some sort of container object (i.e. a namedtuple or a dict) that contains `converged`, `singular`, and/or `num_iter` fields which could be used to determine whether the algorithm actually converged.

My use case is that I am currently i

[2021-09-14 04:44] #7883 closed

[2021-09-14 04:45] sanjoy commented on #7866
CC @cheshire

[2021-09-14 05:56] xhochy commented on #5501
@dfm Any idea on how to trigger that error only using `jaxlib`? That would be nice as a test in the conda package of `jaxlib` to verify that everything is working (`jax` and `jaxlib` are built separately on conda-forge).

[2021-09-14 06:17] mr128254 commented on #7853
v0.2.20 does fix the issue. Thanks!

[2021-09-14 06:17] #7853 closed

[2021-09-14 07:55] Bihaqo commented on #7896
FYI: the problem went away when trying to repeat the exact same actions under a venv, i.e. after
[code]

[2021-09-14 08:41] juliangall opened #7910 "Should the predict function in README.md return inputs rather than outputs?"
The example in the readme file has:

[code]

The return value should surely be the **inputs** variable (not **outputs**), as this is the output of the final tanh activation in the loop.

[2021-09-14 11:22] nonconvexopt opened #7912 "Build from source instruction for window in doc has error in using pacman"
As you can see in [additional-notes-for-building-jaxlib-from-source-on-windows](https://jax.readthedocs.io/en/latest/developer.html#additional-notes-for-building-jaxlib-from-source-on-windows) section in doc,

`pacman -S patch realpath`

should be changed to

`pacman -S patch coreutils`

Reference: [https://command-not-found.com/realpath](https://command-not-found.com/realpath)

[2021-09-14 12:07] alierenak opened #7913 "Memory Error: Largest contiguous region of free memory is not enough"
Please:

- [X] Check for duplicate issues.
- [X] Provide a complete example of how to reproduce the bug, wrapped in triple backticks like this:

**Relevant information**
- I am using TPU-VM 3.8
- Batch size per device is 128 which is totally 1024 (recommended setting)
- Vocabulary size is 50264 (I observe when vocab size is bigger it happens in earlier steps)
- Max sentence length is also 128.
- M

[2021-09-14 12:11] PhilipVinc commented on #7909
Hi @norabelrose

This issue is a duplicate of #4322. I have opened a week ago PR #7825 (which you can use in the meantime) to address exactly this issue.

The main issue right now is discussing with google's people what interface to implement: jax implements the standard scipy interface is to return a single number which is `0` if convergence happened and `niter` if convergence failed.
Unfortuntae

[2021-09-14 13:13] jakevdp commented on #7909
Thanks @PhilipVinc - I think you've hit the core of the issue: `jax.scipy` by design implements the API of scipy. There is no doubt that the scipy API could be improved in places, but I'm not sure that the JAX mirror is the place to do that.

In terms of `jax.scipy.optimize` in particular, this is one reason for the creation of the [JAXopt](https://github.com/google/jaxopt) package, which provides

[2021-09-14 13:25] hawkinsp commented on #7909
And indeed, I think we're considering removing `jax.scipy.optimize` in favor of `jaxopt` (or just making it a thin shim that calls `jaxopt` if you have it installed).

[2021-09-14 17:15] zhangqiaorjc commented on #7913
@skye This is related to the feature request of adding TPU HBM defragmentation feature for TPU 1VM.

[2021-09-14 17:16] zhangqiaorjc commented on #7912
Would you like to contribute a PR to fix the doc?

[2021-09-14 17:17] zhangqiaorjc commented on #7910
Thanks for finding a typo. Would you like to contribute a PR to fix this?

[2021-09-14 17:18] zhangqiaorjc commented on #7867
@yashk2810 could this be related to some cuda build changes we have recently?

[2021-09-14 17:27] jakevdp commented on #7910
Actually, I believe this is correct as written. The variable names are a bit confusing, but the intent is to return the result of the final dot product, not the result of the final `tanh` activation function.

[2021-09-14 17:28] yashk2810 commented on #7867
I don't think so. This is with jaxlib 0.1.70 with Cuda 10.1 (we don't support that anymore).

Plus there were no breaking build changes.

[2021-09-14 18:03] zhangqiaorjc commented on #7910
@jakevdp  Oops..I read the snippet in isolation. Could we maybe add a comment at least? This is confusing on a cursory look...

[2021-09-14 18:07] jakevdp commented on #7910
We've discussed this previously and ended up renaming variables, and talked about adding a comment but never got consensus on what to add (a sampling of similar issues with relevant discussions: #31, #119, #4048, #4560, #5230, #5236, #7888)

[2021-09-14 19:35] juliangall commented on #7910
Thanks everyone. A comment will be helpful. My preference would be to have the code do what is necessary to express its intent, and not to "throw away" the final ```tanh``` activation. However, I am sure others will feel differently.

[2021-09-14 19:38] jakevdp commented on #7910
Thanks! I'm going to close this, since I think the issue should be addressed by #7915

[2021-09-14 19:38] #7910 closed

[2021-09-14 23:39] ajwittmond opened #7918 "Boolean indexing inconsistent with numpy in the case of a scalar index"
Scalar boolean applied to jax arrays behave differently than when applied to numpy arrays, as the following example demonstrates:
[code]
In particular, this is surprising since one might expect the last expression to have the same output as `jnp.where(True, jx, 1)` as `nx[True] = 1` results in `nx` being identical to `np.where(True, nx, 1)`.

[2021-09-15 00:27] nonconvexopt commented on #7912
Sure, it is my pleasure.

I also found another error that in Windows:

In the example command to build JAX from source
`python .\build\build.py `
  --enable_cuda `
  --cuda_path='C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v10.1' `
  --cudnn_path='C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v10.1' `
  --cuda_compute_capabilities='x.x' `
  --cuda_version='x.x' `
  --cudnn_version='x.x

[2021-09-15 04:14] cgarciae opened #7919 "PyDags proposal: a mechanism to preserve relative identities for Pytrees"
## Motivation
When `jax.tree_unflatten` is called new instances of all pytree objects are created and their original identities are lost. While this is expected for basic container types like lists, dicts, and tuples, for other types such as Pytree Modules this can be inconvenient as it makes tasks like parameter sharing difficult. Here is an example that currently doesn't work of trying to share

[2021-09-15 04:49] zhangqiaorjc commented on #7919
@hawkinsp

[2021-09-15 09:24] sergiuiacob1 opened #7921 "pip only installs jax from the repository source code"
I'm expecting that installing from github source code would install jax and jaxlib.

[code]

It doesn't find `jaxlib` because of how the package is nested inside `jax/jaxlib`.

Installing just jax works:
[code]

I also tried installing jaxlib using pip3's VCS support, but I have an error:
[code]

I think it happens because the file `jax/jaxlib/setup.py` is looking for `jaxlib/version.py`, however

[2021-09-15 09:49] apaszke commented on #7921
jaxlib is not a pure Python package and needs to be built separately, which is why we provide prebuilt wheels that are hosted in other locations. [Installation instructions](https://github.com/google/jax#installation) should have all the details. Please feel free to reopen this if this doesn't help.

[2021-09-15 09:49] #7921 closed

[2021-09-15 09:52] apaszke commented on #7919
I might be missing something in the proposal, but what if you unflatten twice with different elements? You can't reuse the same objects to construct two distinct pytrees.

[2021-09-15 11:31] cgarciae commented on #7919
Hey @apaszke! Unflattening many times is not a problem, implementation-wise you would probably create a new dictionary to keep track of the identities and store the first unflattened  instance each time you call unflatten. For example, the following should hold:

[code]

[2021-09-15 12:26] hawkinsp commented on #5501
@dfm Can you try applying the following patch to LLVM and verifying the resulting wheel works for you?

[code]

[2021-09-15 15:44] dfm commented on #5501
@hawkinsp: I gave that a shot and it fails because, unless I'm misunderstanding something, bazel doesn't seem to support nested `select`s like this (I can pull up the exact error, but I didn't save it originally). Unfortunately it also looks like there is a bug in the released versions of bazel which means that `/src/conditions:darwin_arm64` doesn't work. The simplest diff that I could find to imp

[2021-09-15 15:49] hawkinsp commented on #5501
@dfm Yeah I worried that might not work because of the nested selects. Your version looks reasonable to me. Do you want to send that to upstream LLVM (I can, if you don't want to, but you did the work!)? That's all we need to do here to get JAX fixed!

[2021-09-15 16:11] sirmurphalot opened #7922 "Second derivative of scipy.special.gammainc"
I need to take the derivative of a Gamma CDF with respect to the shape parameter _alpha_.   I can do this pretty easily with
[code]
and Jax's `grad` function.  What doesn't work is that this Gamma CDF derivative is part of a density that I feed into TensorFlow Probability's NoUTurnSampler, which requires a second derivative with respect to _alpha_.  Here is where I hit a wall:
[code]
which I assum

[2021-09-15 16:18] shoyer commented on #7919
It might be worth looking at how Python's pickle solves this problem. It does essentially the same thing (preserving identity through serialization) by default:
[code]

In principle, this might be a reasonable thing for JAX to do with pytrees. I haven't looked into how the implementations differ, though.

[2021-09-15 16:24] dfm commented on #5501
@hawkinsp: Sure, thanks! I'm happy to see if I can figure out the llvm review system and report back :D

[2021-09-15 17:14] inoryy opened #7923 "ValueError when printing output of pjit on a CPU"
When printing the output of a `pjit` on a CPU with forced devices via `xla_force_host_platform_device_count`  there is an error of the form:

This can be reproduced even with the example from `pjit` docs:

[code]
Which leads to an error: `<...> from shape (8) into shape (1)` with a stack trace as follows:

[code]

It seems there are device_count=8 device buffers each containing an array of shape `

[2021-09-15 17:38] froystig commented on #7909
cc @shoyer and @mblondel for the move to jaxopt-backed `optimize`.

[2021-09-15 17:45] zhangqiaorjc commented on #7922
@mattjj

[2021-09-15 17:47] hawkinsp commented on #7922
@srvasude perhaps also

[2021-09-15 17:53] shoyer commented on #7909
I think my _loose_ preference here would be to do an ugly backwards compatible work-around like that suggested in https://github.com/scipy/scipy/issues/10474#issuecomment-915249531. I wouldn't actually subclass from tuple, but we could certainly do unpacking/indexing like a pair of elements for backwards compatibility.

If we are going to go to the trouble of setting up a new module with its own c

[2021-09-15 18:04] froystig commented on #7878
I believe that this could be addressed if only `post_process_call` had the power to modify the call primitive's params. Conceptually speaking the post-process point is where we'd catch this otherwise.

So taking on this issue may mainly boil down to changing the `post_process_call` convention, and then using it for the fix.

[2021-09-15 18:10] jakevdp commented on #7918
Thanks for the report! I vaguely remember us looking into this before, but I can't find any discussion of it. Scalar boolean indices are kind of weird though....
[code]
OK, so they act kind of like `np.newaxis`, with size 0 an 1. But wait:
[code]
it only seems to care about the first boolean scalar passed, and throws out the rest. But...
[code]
No, it doesn't throw out the last one, it does an `an